﻿
<div style=" margin-top: 20px; "></div>
<div class="ess-uploader-filelist ess-table-container ess-table-container-style2 mb-3">
    <table class="ess-table-default">
        <thead>
            <tr>
                <th class="th-table"><div class="th-text">{{Text['SYSTEM']['ATTACHMENT']}}</div></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="attachment in document.FileSet.Attachments">
                <td ng-if="attachment.FilePath == null">
                    <a style="cursor:pointer" ng-click="getFileAttach(document.FileSetID, attachment.FileID)">{{$index + 1}}. {{attachment.FileName}}</a>
                </td>
                <td ng-if="attachment.FilePath != null">
                    <a style="cursor:pointer" ng-click="getFileFromPath(attachment)">{{$index + 1}}. {{attachment.FileName}}</a>
                </td>

            </tr>


            <tr ng-if="document.FileSet.Attachments.length == 0">
                <td>{{Text['SYSTEM']['NOATTACHMENT']}}</td>
            </tr>
        </tbody>
    </table>
</div>

