﻿<div class="page-body">
    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">
            <div class="row ess-report-summary-data-row ess-document-info-summary-row mx-0">
                <div class="col-lg-2 col-md-4 col-sm-6 col-12 ess-document-info-summary">
                    <div class="ess-document-info-summary-ibox">
                    </div>
                    <div class="ess-document-info-summary-data">
                        <div class="ess-document-info-summary-label"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;{{Text['FLEXIBLEBENEFIT']['REQUESTNO']}}</div>
                        <div class="ess-document-info-summary-value" ng-show="document.RequestNo != 'DUMMY'">{{document.RequestNo}}</div>
                        <div class="ess-document-info-summary-value" ng-show="document.RequestNo == 'DUMMY'">-</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12 ess-document-info-summary ess-document-info-summary-icon">
                    <div class="ess-document-info-summary-data">
                        <div class="ess-document-info-summary-label"><i class="fa fa-list-ol" aria-hidden="true"></i>&nbsp;{{Text['REQUESTHEADER']['REQUESTTYPE']}}</div> <!--ประเภทคำขอ-->
                        <div class="ess-document-info-summary-value">{{document.RequestTypeSummary}}</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12 ess-document-info-summary ess-document-info-summary-icon">
                    <div class="ess-document-info-summary-data">
                        <div class="ess-document-info-summary-label"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>&nbsp;{{Text['REQUESTHEADER']['STATUS']}}</div>
                        <div class="ess-document-info-summary-value">
                            <span ng-if="!document.CurrentFlowItemCode">-</span>
                            {{Text['STATUS'][document.CurrentFlowItemCode]}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12 ess-document-info-summary ess-document-info-summary-icon">
                    <div class="ess-document-info-summary-data">
                        <div class="ess-document-info-summary-label"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;{{Text['REQUESTHEADER']['REQUESTOR']}}</div> <!--ผู้ขอ (สร้างทำรายการ)-->
                        <div class="ess-document-info-summary-value">{{document.RequestorNo}}:</div>
                        <div class="ess-document-info-summary-value">{{document.RequestorName}}</div>
                        <div class="ess-document-info-summary-value">{{document.RequestorPositionName}}</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12 ess-document-info-summary ess-document-info-summary-icon">

                    <div class="ess-document-info-summary-data">
                        <div class="ess-document-info-summary-label"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;{{Text['REQUESTHEADER']['CREATOR']}}</div>
                        <div class="ess-document-info-summary-value">{{document.CreatorNo}}:</div>
                        <div class="ess-document-info-summary-value">{{document.CreatorName}}</div>
                        <div class="ess-document-info-summary-value">{{document.CreatorPositionName}}</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12 ess-document-info-summary ess-document-info-summary-icon">

                    <div class="ess-document-info-summary-data">
                        <div class="ess-document-info-summary-label"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{Text['REQUESTHEADER']['CREATEDDATE']}}</div>
                        <div class="ess-document-info-summary-value" ng-show="document.RequestNo != 'DUMMY'">{{document.CreatedDate | date:'dd/MM/yyyy H:mm'}} {{Text['SYSTEM']['TIME_O']}}</div>
                        <div class="ess-document-info-summary-value" ng-show="document.RequestNo == 'DUMMY'">-</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ess-inner-wrapper" style="text-align:center" ng-if="document.RequestTypeID=='202'||document.RequestTypeID=='524'
             ||document.RequestTypeID=='608'||document.RequestTypeID=='907'||document.RequestTypeID=='912'||document.RequestTypeID=='1107'
             ||document.RequestTypeID=='1108'||document.RequestTypeID=='1307'||document.RequestTypeID=='1308'||document.RequestTypeID=='1602'||document.RequestTypeID=='1702'">
            <h1 style="color:red"><b>{{Text['SYSTEM']['CANCELLATION_DOCUMENT']}}</b></h1>
        </div>
    </div>
</div>
