﻿
<div class="ess-wrapper" id="div_document_attachment_manager">
    <!--<div class="ess-document-info-wrapper">-->
    <div class="ess-inner-wrapper">
        <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
            <div class="col-12 ess-tab-section-bar1">
                <!--<i class="icon icon_type_blue"></i>-->
                <div class="ess-tab-section-bar-hdr" style="margin-left:10px;">{{Text['SYSTEM']['ATTACHMENT']}}</div>
                <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            </div>
        </a>
        <div class="collapse show w-100 ess-document-attachment-edit-panel" id="attachemnt">
            <div class="row mb-4" style="margin-top:10px;margin-left:10px;" ng-show="isEditor">
                <div class="col-12 d-sm-flex align-items-center">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 ess-personal-info-attached-panel">
                    <div style="text-align:right">{{Text['SYSTEM']['ATTACHMENT_REMARK']}}</div>
                    <div class="ess-uploader-container" style="position:relative;" ng-show="isEditor">
                        <input style="position:absolute; width: 100%;height: 100%;z-index: 3;opacity: 0;" type="file" id="CORE_document-attachment-file-input" ng-model="formInput.file" on-after-validate="onAfterValidateFunc" base-sixty-four-input>
                        <i class="fa fa-plus-circle"></i> <input style="background-color:#f1f1f1; border:none ; text-align:center" type="text" readonly="" placeholder="{{Text['SYSTEM']['ATTACHMENT_UPLOAD']}}">

                    </div>
                    <div class="ess-uploader-filelist ess-table-container ess-table-container-style2 mb-3 mt-3">
                        <table class="ess-table-default">
                            <thead>
                                <tr>
                                    <th class="th-table"><div class="th-text">{{Text['SYSTEM']['ATTACHMENT_TITLE']}}</div></th>
                                </tr>
                            </thead>
                        </table>
                        <div class="attachment" ng-repeat="attachment in document.FileSet.Attachments" ng-show="!attachment.IsDelete">
                            <div class="attachment-icon"><!--<img src="images/icons/attach_document.png" />--><i class="fa fa-files-o" aria-hidden="true"></i></div>
                            <div class="attachment-detail">
                                <div class="detail-filename">{{attachment.FileName}}</div>
                                <div class="detail-filetype">{{attachment.FileType}}</div>
                            </div>
                            <div class="attachment-download">
                                <a href="" class="ess-btn-l-icon ess-btn-downloadfile" ng-click="getFileFromPath(attachment)" ng-if="!attachment.IsDelete && attachment.FileID > -1">
                                    <!--<i class="icon icon_airrow_down_blue"></i>-->
                                    <i class="fa fa-download" style="cursor:pointer;" title="Download File"></i>
                               
                                </a>
                            </div>
                            <div class="attachment-delete" ng-show="isEditor">
                                <a id="CORE_btnFileIDisMoreThanZero{{$index}}" ng-if="!attachment.IsDelete && attachment.FileID > -1" href="" ng-click="deleteFileAttach($index)" class="delete"><i class="fa fa-trash-o" style="cursor:pointer; color:orangered"></i></a>
                                <a id="CORE_btnFileIDisLessThanZero{{$index}}" ng-if="!attachment.IsDelete && attachment.FileID == -1" href="" ng-click="deleteFileAttach($index)" class="delete"><i class="fa fa-trash-o" style="cursor:pointer; color:orangered"></i></a>
                            </div>
                        </div>

                        <div ng-show="document.FileSet.Attachments.length <= 0" class="ess-table-data-notfound">
                            {{Text['SYSTEM']['NOATTACHMENT']}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-lg-flex justify-content-center">
                    <div class="ess-personal-info-attached-noted col-lg-12">
                        <span ng-bind-html="renderHtml(Text['FILEATTACHMENTREMARK']['#'+document.RequestTypeID])">
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>






