﻿<div class="alert alert-warning">
    <!--<p class="em-font">{{Text['EXPENSE']['WARNING_ACCOMMODATION_WORKFLOW_CHANGE']}} {{ content.documentWarningText | number:2 }} {{Text['SYSTEM']['BAHT']}}</p>-->
    {{content.documentWarningText}}
</div>
