﻿<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>{{document.ErrorText}}</strong>
</div>
<style>
    .alert {
        padding: 20px;
        background-color: #EC7063;
        color: white;
        text-align: center;
        position: fixed;
        top: 2px;
        left: 2%;
        width: 96%;
        z-index: 999999 !important;
        opacity: 0.95;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>