﻿
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <a href="" class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#essDocumentInfo" role="button" aria-expanded="true" aria-controls="essDocumentInfo">
            <div class="col-12 ess-tab-section-bar1">
                <div class="ess-tab-section-bar-hdr">{{Text['SYSTEM']['HISTORY_TITLE']}}</div>
                <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            </div>
        </a>
        <div class="collapse show" id="essDocumentInfo">
            <div ng-repeat="flow in document.RequestFlowList">
                    <div ng-show="!isEditor">
                        <div class="row ess-document-step-row" ng-show="!flow.IsCurrentItem">
                            <div class="col-md-2 col-sm-2 ess-document-step-col">
                                <div class="ess-document-step-name-bdr"><i class="fa fa-check-square-o" ng-show="flow.IsCurrentItem"></i>&nbsp;&nbsp;{{Text['STATUS'][flow.ActionCode]}}</div>
                            </div>
                            <div class="col-md-2 col-sm-2 ess-document-step-col">
                                <div class="fa fa-clock-o" ng-if="(flow.ActionDate | date:'dd/MM/yyyy') > (MinDate | date:'dd/MM/yyyy')">&nbsp;</div>
                                <div class="ess-document-step-timestamp" style="margin-right:5px">
                                    <span ng-if="(flow.ActionDate | date:'dd/MM/yyyy') > (MinDate | date:'dd/MM/yyyy')" class="ess-document-step-timestamp-date">
                                        {{flow.ActionDate | date:"dd/MM/yyyy HH:mm"}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 ess-document-step-col" style="display:block; align-self: center">
                                <div ng-if="flow.Receipient" class="ess-document-stake-name col-12">{{flow.Receipient}}</div>
                                <div ng-if="!flow.Receipient" class="ess-document-stake-name col-12">{{flow.ActionBy}}</div>
                                <div ng-if="(flow.Receipient != flow.ActionBy) && (flow.ActionDate != '0001-01-01T00:00:00') " class="ess-document-stake-name col-12" style="color:gray">{{flow.ActionBy}} ({{Text['SYSTEM'].ActionInsteadOf}})</div> <!-- && (flow.ActionCode === 'VERIFY' || flow.ActionCode === 'WAITFORVERIFY') -->
                            </div>
                            <div class="col-md-4 col-sm-4 ess-document-step-col">
                                <div ng-if="flow.Receipient">{{flow.ReceipientPosition}}</div>
                                <div ng-if="!flow.Receipient">{{flow.ActionByPosition}}</div>
                            </div>
                        </div>
                        <div class="row ess-document-step-row doc-flow-active-bar" ng-show="flow.IsCurrentItem">
                            <div class="col-md-2 col-sm-2 ess-document-step-col">
                                <div class="ess-document-step-name-bdr"><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;{{Text['STATUS'][flow.ActionCode]}}</div>
                            </div>
                            <div class="col-md-2 col-sm-2 ess-document-step-col">
                                <div class="fa fa-clock-o" ng-if="(flow.ActionDate | date:'dd/MM/yyyy') > (MinDate | date:'dd/MM/yyyy')">&nbsp;</div>
                                <div class="ess-document-step-timestamp">
                                    <span ng-if="(flow.ActionDate | date:'dd/MM/yyyy') > (MinDate | date:'dd/MM/yyyy')" class="ess-document-step-timestamp-date">
                                        {{flow.ActionDate | date:"dd/MM/yyyy HH:mm"}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 ess-document-step-col" style="display:block; align-self: center">
                                <div ng-if="flow.Receipient" class="ess-document-stake-name col-12">{{flow.Receipient}}</div>
                                <div ng-if="!flow.Receipient" class="ess-document-stake-name col-12">{{flow.ActionBy}}</div>
                                <div ng-if="(flow.Receipient != flow.ActionBy) && (flow.ActionCode === 'VERIFY') " class="ess-document-stake-name col-12" style="color:gray">{{flow.ActionBy}} ({{Text['SYSTEM'].ActionInsteadOf}})</div>
                            </div>
                            <div class="col-md-4 col-sm-4 ess-document-step-col">
                                <div ng-if="flow.Receipient">{{flow.ReceipientPosition}}</div>
                                <div ng-if="!flow.Receipient">{{flow.ActionByPosition}}</div>
                            </div>
                        </div>
                    </div>
                </div>     

        </div>
    </div>
</div>
