﻿<!--//{{document.CurrentFlowItemCode}} // {{document.FlowID}}//-{{document.CurrentItemID}}-{{document.FlowID}}-{{document.CurrentFlowItemCode}}-{{document.CurrentFlowItemID}}-{{document.FlowKey}}-->
<div style="width:100%" class="ess-milestone-nav">
    <div id="AdminCheck" ng-if="document.FlowIDForCheck!='3'">
        <ul class="progressbar" style="--step:4">
            <li class="{{document.FlowID=='-1' ? 'active':'done'}}">{{Text['STATUS']['CREATE']}}</li>
            <li class="{{document.CurrentFlowItemCode=='DRAFT'||document.CurrentFlowItemCode=='WAITFOREDIT' ? 'active':document.CurrentFlowItemCode=='WAITFORAPPROVE'||document.CurrentFlowItemCode=='WAITFORACCEPT'||document.CurrentFlowItemCode=='WAITFORVERIFY'||document.CurrentFlowItemCode=='WAITFORPOSTDATA' ? 'done':document.CurrentFlowItemCode=='COMPLETED'||document.CurrentFlowItemCode=='CANCELLED' ? 'done':''}}">
                <span ng-if="document.CurrentFlowItemCode=='DRAFT'">{{Text['STATUS']['DRAFT']}}</span>
                <span ng-if="document.CurrentFlowItemCode=='WAITFORPOSTDATA'">{{Text['STATUS']['WAITFORPOSTDATA']}}</span>
                <span ng-if="document.CurrentFlowItemCode!='DRAFT'&&document.CurrentFlowItemCode!='WAITFORPOSTDATA'">{{Text['STATUS']['DRAFT']}}</span>
            </li>

            <li class="{{document.CurrentFlowItemCode=='WAITFORAPPROVE'||document.CurrentFlowItemCode=='WAITFORACCEPT'||document.CurrentFlowItemCode=='WAITFORVERIFY'||document.CurrentFlowItemCode=='WAITFORPOSTDATA' ? 'active':document.CurrentFlowItemCode=='COMPLETED'||document.CurrentFlowItemCode=='CANCELLED' ? 'done':''}}">
                <span ng-if="document.CurrentFlowItemCode=='WAITFORAPPROVE'">{{Text['STATUS']['WAITFORAPPROVE']}}</span>
                <span ng-if="document.CurrentFlowItemCode=='WAITFORACCEPT'">{{Text['STATUS']['WAITFORACCEPT']}}</span>
                <span ng-if="document.CurrentFlowItemCode=='WAITFORVERIFY'">{{Text['STATUS']['WAITFORVERIFY']}}</span>
                <span ng-if="document.CurrentFlowItemCode=='WAITFORPOSTDATA'">{{Text['STATUS']['WAITFORPOSTDATA']}}</span>
                <span ng-if="document.CurrentFlowItemCode!='WAITFORAPPROVE' && document.CurrentFlowItemCode!='WAITFORACCEPT' && document.CurrentFlowItemCode!='WAITFORVERIFY'
                  && document.CurrentFlowItemCode!='WAITFORPOSTDATA'">{{Text['STATUS']['WAITFORAPPROVE']}}</span>
            </li>

            <li class="{{document.CurrentFlowItemCode=='COMPLETED'||document.CurrentFlowItemCode=='CANCELLED' ? 'done':''}}">
                <span ng-if="document.CurrentFlowItemCode=='COMPLETED'">{{Text['STATUS']['COMPLETED']}}</span>
                <span ng-if="document.CurrentFlowItemCode=='CANCELLED'">{{Text['STATUS']['CANCEL']}}</span>
                <span ng-if="document.CurrentFlowItemCode!='COMPLETED'&&document.CurrentFlowItemCode!='CANCELLED'">{{Text['STATUS']['COMPLETED']}}</span>
            </li>
        </ul>
    </div>
    <div id="SaveDirect" ng-if="document.FlowIDForCheck=='3'">
        <ul class="progressbar" style="--step:3">
            <!--<li class="done">{{Text['STATUS']['CREATE']}}</li>-->
            <li class="{{document.FlowID=='-1' ? 'active':'done'}}">{{Text['STATUS']['CREATE']}}</li>
            <li class="{{document.CurrentFlowItemCode=='DRAFT'||document.CurrentFlowItemCode=='WAITFORPOSTDATA' ? 'active':document.CurrentFlowItemCode=='COMPLETED'||document.CurrentFlowItemCode=='CANCELLED' ? 'done':''}}">
                <span ng-if="document.CurrentFlowItemCode=='DRAFT'">{{Text['STATUS']['DRAFT']}}</span>
                <span ng-if="document.CurrentFlowItemCode=='WAITFORPOSTDATA'">{{Text['STATUS']['WAITFORPOSTDATA']}}</span>
                <span ng-if="document.CurrentFlowItemCode!='DRAFT'&&document.CurrentFlowItemCode!='WAITFORPOSTDATA'">{{Text['STATUS']['DRAFT']}}</span>
            </li>
            <li class="{{document.CurrentFlowItemCode=='COMPLETED'||document.CurrentFlowItemCode=='CANCELLED' ? 'done':''}}">
                <span ng-if="document.CurrentFlowItemCode=='COMPLETED'">{{Text['STATUS']['COMPLETED']}}</span>
                <span ng-if="document.CurrentFlowItemCode=='CANCELLED'">{{Text['STATUS']['CANCEL']}}</span>
                <span ng-if="document.CurrentFlowItemCode!='COMPLETED'&&document.CurrentFlowItemCode!='CANCELLED'">{{Text['STATUS']['COMPLETED']}}</span>
            </li>
        </ul>
    </div>
</div>