﻿<!-- heading -->

<div class="nav-profileBar" ng-controller="BarProfileController" style="overflow: initial">

    <div class="ess-header-wrap">
        <div id="primary-navigation" class="ess-primary-navigation">
            <div class="ess-menu dropdown">
                <a id="CORE_btnHambergerButton" href="" ng-click="toggleExpendMainMenu();" aria-expanded="false" are-lable="Toggle navigation">
                    <i class="icon menu_hamberger{{iconIsExpendMainMenu}}"></i>
                </a>
            </div>
            <div class="ess-logowrap" ng-controller="MenuController">
                <a id="CORE_btnGoBackHome" href="" ng-click="clickMenu(this, 'frmViewContent/0')"><i class="icon ess-dhr2"></i></a>
            </div>
        </div>

        <div id="ess-content-header" class="ess-content-header-panel">
            <!--<div ng-controller="MenuController" ng-init="init();">
                <ul class="ess-nav-inbox">
                    <li class="ess-nav-item ess-nav-cta-box" ng-repeat="submenu in menus | filter: submenu.url = 'frmViewContent/11'">
                        <a id="CORE_11_btnGotoPage11_{{$index}}" ng-show="submenu.groupID == '10'" href="" class="ess-nav-cta ess-nav-approve" data-placement="bottom" title="{{submenu.text}}" role="button" ng-click="clickMenu(this, submenu.url);">
                            <span class="ess-nav-cta-icon">
                                <i class="icon icon_inbox_mini"></i>
                            </span>
                            <span class="ess-nav-approve-qty" ng-show="submenu.count>0">{{submenu.count}}</span>
                        </a>
                    </li>
                    <li class="ess-nav-item ess-nav-cta-box" ng-repeat="submenu in menus | filter: submenu.url = 'frmViewContent/33'">
                        <a href="" class="ess-nav-cta ess-nav-approve" data-placement="bottom" title="{{submenu.text}}" role="button" ng-click="clickMenu(this, submenu.url);">
                            <span class="ess-nav-cta-icon">
                                <i class="icon icon_outbox_mini"></i>
                            </span>
                            <span class="ess-nav-approve-qty" ng-show="submenu.count>0">{{submenu.count}}</span>
                        </a>
                    </li>
                    <li class="ess-nav-item ess-nav-cta-box" ng-repeat="submenu in menus | filter: submenu.url = 'frmViewContent/31'">
                        <a href="" class="ess-nav-cta ess-nav-approve" data-placement="bottom" title="{{submenu.text}}" role="button" ng-click="clickMenu(this, submenu.url);">
                            <span class="ess-nav-cta-icon">
                                <i class="icon icon_private_box_mini"></i>
                            </span>
                            <span class="ess-nav-approve-qty" ng-show="submenu.count>0">{{submenu.count}}</span>
                        </a>
                    </li>
                </ul>
            </div>-->
            <div class="mobile-menu">
                <a nohref role="button" class="menu-settings" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <i class="icon icon-gear"></i>
                </a>
            </div>
            <ul class="ess-nav navbar-collapse collapse" id="navbarSupportedContent">
                <li class="ess-nav-item ess-kvis-icon">
                    <img ng-src="{{CompanyLogo}}" width="130" />
                </li>

                <li class="ess-nav-item dropdown ess-user-topbar">
                    <div class="ess-nav-item-user">
                        <div class="ess-nav-item-userimg">
                            <span class="ess-userimg" style="background-image: url('{{profile.ImageUrl}}'),url('./images/unknown.png');background-size:cover;"></span>
                        </div>
                        <div class="ess-nav-item-userdata" ng-class="{'show':isExpendMainMenuLogout}">
                            <a nohref class="ess-nav-link-hello">{{Text['SYSTEM'].WELCOME}}</a>
                            <a id="CORE_btnExpandLogoutDialog" class="ess-nav-link dropdown-toggle" style="cursor:pointer;" data-toggle="dropdown" ng-click="toggleExpendMainMenuLogout()" role="button" aria-haspopup="true" aria-expanded="false">
                                <div class="ess-nav-link-user">
                                    <span ng-bind-html="createHtml(profile.Name)"></span> (<span ng-bind-html="createHtml(profile.EmployeeID)"></span>)
                                    <div class="ess-nav-link-userposition" ng-bind-html="createHtml(profile.Position)"></div>
                                </div>
                            </a>
                            <div class="dropdown-menu" ng-class="{'show':isExpendMainMenuLogout}">
                                <!--<a id="CORE_btnOpenManualEN" ng-if="profile.Language=='EN'" class="dropdown-item" href="../Client/manual/KVIS-DESS_UserManual_EN.pdf" target="_blank" ng-click="toggleExpendMainMenuLogout();"><span class="dropdown-icon"><i class="fa fa-book"></i></span> {{Text['SYSTEM'].MANUAL}}</a>
                                <a id="CORE_btnOpenManualTH" ng-if="profile.Language=='TH'" class="dropdown-item" href="../Client/manual/KVIS-DESS_UserManual_TH.pdf" target="_blank" ng-click="toggleExpendMainMenuLogout();"><span class="dropdown-icon"><i class="fa fa-book"></i></span> {{Text['SYSTEM'].MANUAL}}</a>-->
                                <a id="CORE_btnOpenManual" class="dropdown-item" href="{{manualPath}}" target="_blank" ng-click="toggleExpendMainMenuLogout();"><span class="dropdown-icon"><i class="fa fa-book"></i></span> {{Text['SYSTEM'].MANUAL}}</a>
                                <a id="CORE_btnOpenProfilePage" class="dropdown-item" href="#!/frmViewContent/1" ng-click="toggleExpendMainMenuLogout();"><span class="dropdown-icon"><i class="fa fa-user"></i></span> {{Text['SYSTEM'].PROFILE}}</a>
                                <a id="CORE_btnLogout" class="dropdown-item" href="" ng-click="toggleExpendMainMenuLogout();" role="button" onclick="logout()"><span class="dropdown-icon"><i class="fa fa-sign-out"></i></span>  {{Text['SYSTEM'].LOGOUT}}</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
