﻿<div ng-controller="SwitchPositionController">
    <div class="divCenterScreen card border-dark ">
        <div class="navbar navbar-expand-md navbar-dark navbar-custom">
            {{Text['SYSTEM'].SELECT_POSITION_PLEASE}}
        </div>
        <div class="card-body text-dark ">
            <select class="form-control" name="pos-selected" ng-model="SelectedPosition" ng-init="SelectedPosition = CurrentEmployeeAllPosition[0]">
                <option ng-repeat="position in CurrentEmployeeAllPosition" ng-value="position">{{position.ObjectID}} : {{CurrentEmployeeLanguage == 'EN' ? position.TextEn : position.Text}} ({{position.BelongToName}})</option>
            </select>
            <div style="margin-bottom:20px"></div>
            <div class="row col-12 justify-content-end">
                <a ng-click="selectPositionAfterLogin()" role="button" href="" style="display:flex;" id="CORE_0_btnPositionSelected">
                    <div class="ess-button addbtn ng-binding">
                        <i class="fa fa-check"></i> {{Text['SYSTEM'].SELECT}}
                    </div>
                </a>
            </div>
        </div>      
    </div>
</div>