﻿/* Background color sets */
.dess-bg-primary-1 {
    background-color: #004390;
}
.dess-bg-primary-1-light {
    background-color: #0077ff;
}
.dess-bg-primary-1-lighter {
    background-color: #99c9ff;
}
.dess-bg-primary-1-lightest {
    background-color: #e6f1ff;
}
.dess-bg-primary-2 {
    background-color: #0982a7;
}
.dess-bg-info {
    background-color: #0982a7;
}
.dess-bg-info-light {
    background-color: #0baada;
}
.dess-bg-info-lighter {
    background-color: #9ee4fa;
}
.dess-bg-info-lightest {
    background-color: #e7f8fe;
}

/* Text color sets */
.dess-text-primary-1 {
    color: #004390;
}
.dess-text-primary-1-light {
    color: #0077ff;
}
.dess-text-primary-1-lighter {
    color: #99c9ff;
}
.dess-text-primary-1-lightest {
    color: #e6f1ff;
}
.dess-text-primary-2 {
    color: #0982a7;
}
.dess-text-info {
    color: #0982a7;
}

.navbar-custom, .ess-page-header-panel, .ess-headersub-1, .ess-headersub-2 {
    background: linear-gradient(-45deg, #0982a7,hsla(218, 100%, 26%, 1));
    /*#004390   -> น้ำเงิน*/
}

/*.ess-page-header-panel {
    background: linear-gradient(-45deg, #0982a7,hsla(218, 100%, 26%, 1));
}
*/
/***********************************************************************สี Sub Header*/
/*.ess-headersub-1 {
    background: linear-gradient(-45deg, #0982a7,hsla(218, 100%, 26%, 1));
}

.ess-headersub-2 {
    background: linear-gradient(-45deg, #0982a7,hsla(218, 100%, 26%, 1));
}*/

/***********************************************************************สี Header collapse */
.ess-tab-section-bar1 {
    display: flex;
    align-items: center;
    padding: 1px 10px 1px 25px;
    color: white;
    border-radius: 10px 10px 0 0;
    background-color: #10D389;
}

.ess-tab-section-education-bar {
    display: flex;
    align-items: center;
    padding: 1px 10px 1px 25px;
    color: white;
    border-radius: 10px 10px 0 0;
    background-color: #10D389;
}


.ess-tab-personal-bar {
    display: flex;
    align-items: center;
    padding: 1px 10px 1px 25px;
    color: white;
    height: 40%;
    border-radius: 10px 10px 0 0;
    background-color: #004390;
}

.ess-tab-personal-modal {
    display: flex;
    align-items: center;
    padding: 1px 10px 1px 25px;
    color: white;
    height: 40%;
    border-radius: 4px 4px 0 0;
    background-color: #004390;
}



/************************************************************************สี hover พวก next page*/
.page-link:hover {
    background-color: #0056b3 !important;
    color:#ffffff;
}

/************************************************************************DASHBOARD*/
.c100.default .bar, .c100.default .fill {
    border-color: #00587a !important;
}

.c100.default:hover > span {
    color: #00587a;
}

.c100.default.dark .bar, .c100.default.dark .fill {
    border-color: #00587a !important;
}

.c100.default.dark:hover > span {
    color: #00587a;
}

.dashboard-RightsGranted {
    /*สิทธิ์ที่ได้รับ*/
    color: #00587a !important;
}

.dashboard-UserLeave {
    /*ใช้ไป*/
    color: #008891 !important;
}

.dashboard-BalanceLeave {
    /*คงเหลือ*/
    color: #adeecf !important;
}

.dashboard-WaitApprove {
    /*อยู่ระหว่างดำเนินการ*/
    color: #9ccddb !important;
}


/************************************************************************สีลิงค์ หน้า PA*/
.ess-tab-document-wrap .ess-nav-link-pa {
    /*สีลิงค์ตอน active */
    background-color: #ffffff;
    /*สีเส้นข้างล่าง active*/
    border-bottom: 3px solid #C2C2C2;
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 20px 10px 10px;
    min-width: 150px;
    height: 100%;
    background-color: #E4E5E6;
    color: #808080;
    border-right: 2px solid #ffff;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

    .ess-tab-document-wrap .ess-nav-link-pa:hover, .ess-tab-document-wrap .ess-nav-link-pa:focus {
        background-color: #004390;
        color: #ffffff;
        border-bottom: 3px solid #004390;
    }

    /************************************************************************first load PersonalContent page*/
    .ess-tab-document-wrap .ess-nav-link-pa.active {
        /*สีลิงค์ตอน active */
        background-color: #004390;
        /*สีเส้นข้างล่าง active*/
        border-bottom: 3px solid #004390;
        position: relative;
        color: #ffffff;
        justify-content: center;
        text-align: center;
    }

/************************************************************************Tab กล่องเอกสาร*/
.ess-tab-document-wrap .ess-nav-link {
    display: flex;
    align-items: center;
    padding: 10px 20px 0px 10px;
    border-width: 1px 1px 0;
    border-color: #d6d7d8;
    border-style: solid;
    min-width: 150px;
    height: 100%;
    margin-right: 3px;
    background-color: #ffffff;
    color: #808080;
    border-bottom: 1px solid #dee2e6;
}

    .ess-tab-document-wrap .ess-nav-link.active {
        background-color: #004390;
        border-bottom: 3px solid #004390;
        position: relative;
        color: #ffffff;
        padding: 10px 20px 10px 10px;
    }

    /************************************************************************สีลิงค์เมนู หน้า PA*/
    .ess-tab-document-wrap .ess-nav-link:hover, .ess-tab-document-wrap .ess-nav-link:focus {
        background-color: #004390;
        color: #ffffff;
        border-bottom: 3px solid #004390;
    }

/************************************************************************สีตัวเลขหน้า BoxContent รายการเอกสารต่าง ๆ*/
.ess-document-number {
    font-size: 16px !important;
    display: inline-block;
    background-color: #004390;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
}

/************************************************************************bg ของส่วน clock in-out main page*/
.custom-page {
    margin: 0 auto;
    background-image: url('../../main-ui/clockinout_default.jpg');
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-size: cover;
}

@media (max-width: 420px) {
    .custom-page {
        margin: 0 auto;
        background: url('../../main-ui/clockinout_default.jpg');
        background-size: contain;
        background-repeat: round;
    }
}

/************************************************************************Scrollbar*/
.scrollbar {
    float: left;
    height: 90%;
    overflow: auto;
}

.scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-default::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #a8afb4;
}


/************************************************************************สีลิงค์ในประกาศ*/
.carousel-caption a:link, a:visited {
    color: #000080;
}

.carousel-caption a:visited {
    color: #000080;
}

.carousel-caption a:hover {
    color: #ffffff !important;
}

/************************************************************************สีกล่องเอกสารอนุมัติ*/
.ess-document-list {
    background-color: #F8F9F9;
}

/************************************************************************TABLE*/
.ess-table-container {
    /* border-radius: 10px;
    border: 1px solid #ecebeb;*/
    /*padding-bottom: 10px;*/
    background-color: #fff
}

.freeze {
    width: 100%;
    overflow-y: scroll auto;
    overflow-x: auto;
    position: relative;
    max-height: calc(100vh /1.5);
}

.ess-table-default {
    border-collapse: collapse;
    width: 100%;
}

    .ess-table-default th {
        background-color: #3174c1;
        color: #fff;
        position: sticky;
        top: 0;
        text-align: center;
    }

    .ess-table-default td {
        border: 1px solid #ecebeb;
        padding: 4px;
    }

    .ess-table-default tr:first-child td {
        vertical-align: middle;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .ess-table-default tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .ess-table-default tr:hover {
        background-color: #efffff;
    }

.ess-div-default-attachmen {
    border-left: 1px solid #8C8B8B;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ess-table-default-pa {
    border-collapse: collapse;
    width: 100%;
    

}

    .ess-table-default-pa th {
        background-color: #10D389;
        color: #fff;
        position: sticky;
        top: 0;
        text-align: center;
    }

    .ess-table-default-pa td {
        border: 1px solid #ecebeb;
        padding: 4px;
    }

    .ess-table-default-pa tr:first-child td {
        vertical-align: middle;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .ess-table-default-pa tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .ess-table-default-pa tr:hover {
        background-color: #efffff;
    }



.ess-table-default-table-pa {
    border-collapse: collapse;
    width: 100%;
    padding-left: 40px;
}

    .ess-table-default-table-pa th {

        position: sticky;
        top: 0;
        text-align: left;
    }

    .ess-table-default-table-pa td {
     
        padding: 4px;
    }

    .ess-table-default-table-pa tr:first-child td {
        vertical-align: middle;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .ess-table-default-table-pa tr:nth-child(even) {
        background-color: rgba(242, 242, 242, 0.00);
    }

    .ess-table-default-table-pa tr:hover {
        background-color: rgba(239, 255, 255, 0.00);
    }

.ess-table-data-notfound {
    text-align: center;
    color: #4b4b4b;
    margin: 10px;
}

.ess-collapse-leavereport .ess-btn-showhide-detail {
    /* border-bottom: 1px solid #c2c2c2;*/
    background-color: #004390;
    border-radius: 10px 10px 0 0;
    color: #fff;
    padding: 5px;
    margin-top: 10px
}


/************************************************************************สีกระดิ่ง vote*/
.pinkBg {
    background-color: #00587a !important;
    background-image: linear-gradient(90deg, #00587a, #008891);
}


.vote .tooltip {
    background: rgb(0,136,145,.45); /*Color code*/
    bottom: 100%;
    color: #fff;
    text-align: center;
    display: block;
    left: 10px;
    margin-bottom: -30px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.partial-position-select {
    margin: 30px;
    padding: 30px;
    background: linear-gradient(180deg, rgba(2,0,36,1) 21%, rgba(0,105,171,1) 53%, rgba(0,212,255,0.0774509632954744) 95%);
    border-radius: 20px;
}

/************************************************************************สี Phone directory*/
.business-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #fff 0%,#fff 50%,#004390 80.5%,rgba(0,67,144, .4) 100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.business-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #f2f3f4 0%,#fff 50%,#004390 80.5%,rgba(191, 234, 255, .4) 100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.flippable-business-card .back {
    background-color: #f2f3f4;
    color: #004390;
}