﻿/*
    main color

    color1: #d95137;
    color2: #ff943a;
    color3: #f9d7cb;
    color4: #f2f2f4; // white

*/

.bar-content .bar_title {
    background-color:#d95137;
}
.bar_expandlist .bar_expand-status {
    background-color:#ff943a;
}
.item-btn .itemin_btn:active, .item-btn .itemin_btn:hover,.itemin_btn,.itemlist_block .itemin_btn{
    background-color:#d95137;
}
.profile-name {
    color:#d95137;
}

.profile-id {
    color:#d95137;
}
.btn-profile {
    color:#d95137 !important; 
}
.taskactive {
    color: #d95137 !important;
}
.nav-control .control-sub {
    background-color:#d95137;
}
.md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color:#d95137;
}
.taskactive .task_titlehead .inCircle {
    background-color:#d95137;
    border-color:#d95137 !important;
}
.inCircle,.navCircle_list {
    border-color:#d95137 !important;
}

.taskactive .navCircle_list:after, .taskactive .navCircle_list:before {
    background-color:#d95137;
}
.itemin_nametask {
    color:#ff943a !important;
}
.contentHead .bar_right:hover {
    background-color:#d95137;
}
.bar_search {
    background-color:#d95137;
}
    .bar_search .search_block .btn-default, .bar_search .search_block .form-control {
        background-color:#d95137;
        border-color:#f2f2f4;
    }
