﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <h2 class="text-center" style="color:red"><b>{{Text['OM_UNIT_MANAGEMENT'].DELETE_REQUEST}}</b></h2>
    </div>
</div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="OrganizationDeleteViewerController">
            <div ng-init="init()">
                <div class="ess-tab-section-bar1">
                    <div class="ess-personal-info-sub-hdr">{{Text[Textcategory].HEADER_DEL}}</div>
                </div>
                <div class="ess-personal-info-edit-panel">
                    <div class="row col-12">
                        <div class="col-md-8 col-sm-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].ORG_ID}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="document.Additional.OrganizationID">{{document.Additional.OrganizationID}}</div>
                                <div ng-show="!document.Additional.OrganizationID">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].BEGIN_DATE}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div>{{BeginDate}}</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].END_DATE}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div>{{EndDate}}</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].SHORTNAME_EN}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="document.Additional.ShortNameEN">{{document.Additional.ShortNameEN}}</div>
                                <div ng-show="!document.Additional.ShortNameEN">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].SHORTNAME_TH}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="document.Additional.ShortNameTH">{{document.Additional.ShortNameTH}}</div>
                                <div ng-show="!document.Additional.ShortNameTH">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].FULLNAME_EN}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="document.Additional.FullNameEN">{{document.Additional.FullNameEN}}</div>
                                <div ng-show="!document.Additional.FullNameEN">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].FULLNAME_TH}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="document.Additional.FullNameTH">{{document.Additional.FullNameTH}}</div>
                                <div ng-show="!document.Additional.FullNameTH">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].HEAD_PERSON}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="LeaderOfHeadPerson">{{LeaderOfHeadPerson}}</div>
                                <div ng-show="!LeaderOfHeadPerson">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].HEAD_POSITION}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="LeaderOfHeadPosition">{{LeaderOfHeadPosition}}</div>
                                <div ng-show="!LeaderOfHeadPosition">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">
                                    {{Text[Textcategory].LEVEL_OF_ORG}}
                                </span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="OrganizationLevel">{{OrganizationLevel}}</div>
                                <div ng-show="!OrganizationLevel">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].ORDER_NO}}</span>
                                <i class="fa fa-info-circle ess-org-sibling-information" data-target="#siblingDataModal" data-toggle="modal" href="" ng-click="siblingOrganization()"></i>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="document.Additional.OrderNo">{{document.Additional.OrderNo}}</div>
                                <div ng-show="!document.Additional.OrderNo">-</div>
                            </div>
                        </div>
                        <div class="col-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].COSTCENTER}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="CostCenter">{{CostCenter}}</div>
                                <div ng-show="!CostCenter">-</div>
                            </div>
                        </div>
                        <div class="col-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].HEAD_ORG}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="HeadOfOrganization">{{HeadOfOrganization}}</div>
                                <div ng-show="!HeadOfOrganization">-</div>
                            </div>
                        </div>
                        <div class="col-12 ess-personal-info-panel-s mb-3" ng-if="OrgLevelByCriteria.length > 0">
                            <div class="freeze scrollbar-default">
                                <table class="ess-table-default">
                                    <tr>
                                        <th class="text-center" style="width:30%">
                                            {{Text[Textcategory].HEADORG_LEVEL_NO}}
                                        </th>
                                        <th class="text-center" style="width:70%">
                                            {{Text[Textcategory].HEADORG_LEVEL_DESC}}
                                        </th>
                                    </tr>
                                    <tr ng-repeat="level in OrgLevelByCriteria">
                                        <td class="text-center">{{level.split(' : ')[0]}}</td>
                                        <td>{{level.split(' : ')[1]}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ess-personal-info-general">
                <div class="modal fade" id="siblingDataModal" role="dialog">
                    <div class="modal-dialog  modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>{{Text['OM_UNIT_MANAGEMENT'].SIBLING_ORG}}</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <!--<i class="fa fa-window-close" aria-hidden="true"></i>-->
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="ess-personal-info-general-frame">
                                    <div style="margin-bottom:5px"></div>
                                    <div class="row">
                                        <div class="form-group col-md-12" ng-if="unitPriorityList.length > 0">
                                            <table class="ess-table-default">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" colspan="2" style="background-color:black; color:white;">{{Text[Textcategory].HEAD_ORG}} : {{document.Additional.OrganizationData.HeadOfOrganizationID}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center" style="background-color:gray;">{{Text[Textcategory].ORDER_NO}}</th>
                                                        <th class="text-center" style="background-color:gray;">{{Text[Textcategory].ORGANIZATION_GENERAL_DETAIL}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in unitPriorityList">
                                                        <td class="text-center">{{item.SEQ}}</td>
                                                        <td>{{item.PRIORITY_DETAIL}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
