﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="OrganizationInactiveEditorController" ng-init="init()">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['REQUESTTYPE'].OM_UNIT_INACTIVE}}</div>
            </div>
            <div class="ess-personal-info-edit-panel p-1">
                <div class="row col-12 mt-3">
                    <form name="validateForm" novalidate style="width:100%; display:contents">
                        <div class="row col-md-4 col-sm-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].LAST_BEGINDATE}}</span>
                            </div>
                            <input id="OM_1104_txtBeginDate" class="form-control" type="text" value="{{OrganizationList[OrganizationList.length - 1].BeginDate}}" ng-disabled="true" my-date-picker />
                            <i class="fa fa-calendar ess-icon-element-in-textbox"></i>
                        </div>
                        <div class="row col-md-4 col-sm-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].LAST_ENDDATE}}</span>
                            </div>
                            <input id="OM_1104_txtEndDate" class="form-control" type="text" value="{{OrganizationList[OrganizationList.length - 1].EndDate}}" ng-disabled="true" my-date-picker />
                            <i class="fa fa-calendar ess-icon-element-in-textbox"></i>
                        </div>
                        <div class="row col-md-4 col-sm-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].LAST_ACTIVE_DATE}}</span>
                            </div>
                            <input id="OM_1104_txtLastEffectivedate" class="form-control" type="text" value="{{getDateFormat(LastEffectiveDate)}}" ng-model="LastEffectiveDate" my-date-picker required/>
                            <i class="fa fa-calendar ess-icon-element-in-textbox"></i>
                        </div>
                    </form>
                </div>
                <div class="row col-12 mt-3">
                    <div class="row col-12 ess-personal-info-data" style="width:100%">
                        <div class="freeze scrollbar-default">
                            <table class="ess-table-default">
                                <tr>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].UNIT_CODE}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].START_DATE}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].END_DATE}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].ABBR}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].ORGANIZATIONAL_UNIT}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].COST_CENTER}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].COST_CENTER_NAME}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].LEVEL_CODE}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].LEVEL}}
                                    </th>
                                </tr>
                                <tr ng-repeat="data in OrganizationList" ng-class="{'ess-last-org-item': $last}">
                                    <td>{{data.OrganizationID}}</td>
                                    <td>{{data.BeginDate}}</td>
                                    <td>{{data.EndDate}}</td>
                                    <td>{{CurrentLanguage == 'EN' ? data.ShortNameEN : data.ShortNameTH}}</td>
                                    <td>{{CurrentLanguage == 'EN' ? data.FullNameEN : data.FullNameTH}}</td>
                                    <td>{{data.CostCenterID}}</td>
                                    <td>{{data.CostCenterName}}</td>
                                    <td>{{data.OrganizationLevelID}}</td>
                                    <td>{{data.OrganizationLevelName}}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
