﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper" style="z-index:1">
    <div class="ess-inner-wrapper">
        <div ng-controller="PositionEditorController">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['OM_POSITION'].POSITION_DETAIL}}</div>
            </div>
            <form name="positionForm" novalidate>
                <div class="ess-personal-info-general-frame">
                    <div style="margin:15px">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_CODE}}</span>
                                <div class="">
                                    <input id="OM_1201_txtPositionCode" ng-disabled="IsEdit" ng-model="PositionData.PosCode" class="form-control" type="text" ng-trim="false" autocomplete="off" maxlength="8" />
                                    <div class="" ng-if="IsNewID||PositionData.ActionType=='I'"><span style="font-size: 14px; color: blue">*{{Text['OM_POSITION'].POSCODE_AUTOGEN}}</span></div>
                                    <div class="" ng-if="IsNewID||PositionData.ActionType=='I'"><span style="font-size: 14px; color: blue">*{{Text['OM_POSITION'].POSCODE_EXTERNALE_RANGE}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].START_DATE}}</span>
                                <div class="">
                                    <input id="OM_1201_txtStartDate" ng-model="PositionData.StartDate" class="form-control" type="text" value="{{getDateFormat(PositionData.StartDate)}}" ng-trim="false" autocomplete="off" my-date-picker />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].END_DATE}}</span>
                                <div class="">
                                    <input ng-disabled="IsNewID||PositionData.ActionType=='I'" id="OM_1201_txtEndDate" ng-model="PositionData.EndDate" class="form-control" type="text" value="{{getDateFormat(PositionData.EndDate)}}" ng-trim="false" autocomplete="off" my-date-picker />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_SHORT_NAME}} (TH)</span>
                                <div class="">
                                    <input id="OM_1201_txtPositionShortNameTH" ng-model="PositionData.PosShortName" class="form-control" type="text" value="" ng-trim="false" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_SHORT_NAME}} (EN)</span>
                                <div class="">
                                    <input id="OM_1201_txtPositionShortNameEN" ng-model="PositionData.PosShortNameEN" class="form-control" type="text" value="" ng-trim="false" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_NAME}} (TH)</span>
                                <div class="">
                                    <input id="OM_1201_txtPosName" ng-model="PositionData.PosName" class="form-control" type="text" value="" ng-trim="false" autocomplete="off" required />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_NAME}} (EN)</span>
                                <div class="">
                                    <input id="OM_1201_txtPosNameEN" ng-model="PositionData.PosNameEN" class="form-control" type="text" value="" ng-trim="false" autocomplete="off" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].BAND}}</span>
                                <div class="">

                                    <!--{{Language=='TH'? PositionData.BandTextTH:PositionData.BandTextEN}}-->
                                    <select id="OM_1201_txtBandValue" class="form-control ess-form-control" ng-model="PositionData.BandValue">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in BandList">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-check col-md-6">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-model="HeadFlagValue" ng-checked="IsHead" ng-change="checkValue(HeadFlagValue)">
                                <label class="form-check-label" for="exampleCheck1">{{Text['OM_POSITION'].HEAD_OF_ORGANIZATION_NAME}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].EMP_OF_POSITION}}</span>
                                <div class="" ng-if="!IsNewID&&PositionData.ActionType!='I'">
                                    <span>{{Language=='TH'? PositionData.EmpOfPosTextTH : PositionData.EmpOfPosTextEN}}</span>
                                </div>
                                <div class="" ng-if="IsNewID||PositionData.ActionType=='I'">
                                    <span>-</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].UNIT}}</span>
                                <div class="">
                                    <select id="OM_1201_txtUnitCode" class="form-control ess-form-control" ng-model="PositionData.UnitCode" ng-click="GetPositionDataDetail()">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in UnitList">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].LEVEL_OF_ORG}}</span>
                                <div class="">
                                    <span>{{PositionDataDetail==null?'-':PositionDataDetail.LevelText!=''?PositionDataDetail.LevelText:'-'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].COST_CENTER}}</span>
                                <div class="">
                                    <span>{{PositionDataDetail==null?'-':PositionDataDetail.CostCenterText!=''?PositionDataDetail.CostCenterText:'-'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].SUPERVISOR_NAME}}</span>
                                <div class="">
                                    <span>{{PositionDataDetail==null?'-':PositionDataDetail.SupervisorName!=''?PositionDataDetail.SupervisorName:'-'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].UPDATE_DATE}}</span>
                                <div class="" ng-if="IsEdit||PositionData.ActionType=='U'">
                                    <span>{{getDateTimeFormate(CurrentDate)}}</span>
                                </div>
                                <div class="" ng-if="IsNewID||PositionData.ActionType=='I'">
                                    <span>-</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].UPDATE_BY}}</span>
                                <div class="" ng-if="IsEdit||PositionData.ActionType=='U'">
                                    <span>{{PositionData.UpdateBy}}</span>
                                </div>
                                <div class="" ng-if="IsNewID||PositionData.ActionType=='I'">
                                    <span>-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

