﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div class="ess-wrapper" style="z-index:1">
    <div class="ess-inner-wrapper">
        <div ng-controller="PositionViewerController" ng-init="init()">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['OM_POSITION'].POSITION_DETAIL}}</div>
            </div>
            <div class="ess-personal-info-edit-panel">
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].POSITION_CODE}}</span> <span style="font-size: 14px; color: blue"> *{{Text['OM_POSITION'].POSCODE_AUTOGEN}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div ng-show="PositionDataOld.PosCode != PositionData.PosCode"><span class="red_text"><strike>{{PositionDataOld.PosCode}}</strike></span></div>
                            <div ng-show="PositionDataOld.PosCode != PositionData.PosCode"><span class="blue_text">{{PositionData.PosCode}}</span></div>
                            <div ng-show="PositionDataOld.PosCode == PositionData.PosCode">{{PositionData.PosCode}}</div>
                            <div ng-show="!PositionData.PosCode">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].START_DATE}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div ng-show="PositionDataOld.StartDate != PositionData.StartDate && PositionDataOld.StartDate!='0001-01-01T00:00:00'"><span class="red_text"><strike>{{getDateFormat(PositionDataOld.StartDate)}}</strike></span></div>
                            <div ng-show="PositionDataOld.StartDate != PositionData.StartDate"><span class="blue_text">{{getDateFormat(PositionData.StartDate)}}</span></div>
                            <div ng-show="PositionDataOld.StartDate == PositionData.StartDate">{{getDateFormat(PositionData.StartDate)}}</div>
                            <div ng-show="!PositionData.StartDate">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].END_DATE}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div ng-show="PositionDataOld.EndDate != PositionData.EndDate && PositionDataOld.EndDate!='0001-01-01T00:00:00'"><span class="red_text"><strike>{{getDateFormat(PositionDataOld.EndDate)}}</strike></span></div>
                            <div ng-show="PositionDataOld.EndDate != PositionData.EndDate"><span class="blue_text">{{getDateFormat(PositionData.EndDate)}}</span></div>
                            <div ng-show="PositionDataOld.EndDate == PositionData.EndDate">{{getDateFormat(PositionData.EndDate)}}</div>
                            <div ng-show="!PositionData.EndDate">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].POSITION_SHORT_NAME}} (TH)</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div ng-show="PositionDataOld.PosShortName != PositionData.PosShortName"><span class="red_text"><strike>{{PositionDataOld.PosShortName}}</strike></span></div>
                            <div ng-show="PositionDataOld.PosShortName != PositionData.PosShortName"><span class="blue_text">{{PositionData.PosShortName}}</span></div>
                            <div ng-show="PositionDataOld.PosShortName == PositionData.PosShortName">{{PositionData.PosShortName}}</div>
                            <div ng-show="!PositionData.PosShortName">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].POSITION_SHORT_NAME}} (EN)</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div ng-show="PositionDataOld.PosShortNameEN != PositionData.PosShortNameEN"><span class="red_text"><strike>{{PositionDataOld.PosShortNameEN}}</strike></span></div>
                            <div ng-show="PositionDataOld.PosShortNameEN != PositionData.PosShortNameEN"><span class="blue_text">{{PositionData.PosShortNameEN}}</span></div>
                            <div ng-show="PositionDataOld.PosShortNameEN == PositionData.PosShortNameEN">{{PositionData.PosShortNameEN}}</div>
                            <div ng-show="!PositionData.PosShortNameEN">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].POSITION_NAME}} (TH)</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div ng-show="PositionDataOld.PosName != PositionData.PosName"><span class="red_text"><strike>{{PositionDataOld.PosName}}</strike></span></div>
                            <div ng-show="PositionDataOld.PosName != PositionData.PosName"><span class="blue_text">{{PositionData.PosName}}</span></div>
                            <div ng-show="PositionDataOld.PosName == PositionData.PosName">{{PositionData.PosName}}</div>
                            <div ng-show="!PositionData.PosName">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].POSITION_NAME}} (EN)</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div ng-show="PositionDataOld.PosNameEN != PositionData.PosNameEN"><span class="red_text"><strike>{{PositionDataOld.PosNameEN}}</strike></span></div>
                            <div ng-show="PositionDataOld.PosNameEN != PositionData.PosNameEN"><span class="blue_text">{{PositionData.PosNameEN}}</span></div>
                            <div ng-show="PositionDataOld.PosNameEN == PositionData.PosNameEN">{{PositionData.PosNameEN}}</div>
                            <div ng-show="!PositionData.PosNameEN">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].BAND}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div ng-show="PositionDataOld.BandValue != PositionData.BandValue"><span class="red_text"><strike>{{BandTextOld}}</strike></span></div>
                            <div ng-show="PositionDataOld.BandValue != PositionData.BandValue"><span class="blue_text">{{BandText}}</span></div>
                            <div ng-show="PositionDataOld.BandValue == PositionData.BandValue">{{BandText}}</div>
                            <div ng-show="!PositionData.BandValue">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].HEAD_OF_ORGANIZATION_NAME}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div ng-show="PositionDataOld.HeadOfUnitFlag != PositionData.HeadOfUnitFlag"><span class="red_text"><strike>{{PositionDataOld.HeadOfUnitFlag}}</strike></span></div>
                            <div ng-show="PositionDataOld.HeadOfUnitFlag != PositionData.HeadOfUnitFlag"><span class="blue_text">{{PositionData.HeadOfUnitFlag}}</span></div>
                            <div ng-show="PositionDataOld.HeadOfUnitFlag == PositionData.HeadOfUnitFlag">{{PositionData.HeadOfUnitFlag}}</div>
                            <div ng-show="!PositionData.HeadOfUnitFlag">-</div>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].EMP_OF_POSITION}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div ng-show="PositionDataOld.EmpOfPosTextTH != PositionData.EmpOfPosTextTH"><span class="red_text"><strike>{{Language=='TH'? PositionDataOld.EmpOfPosTextTH : PositionDataOld.EmpOfPosTextEN}}</strike></span></div>
                            <div ng-show="PositionDataOld.EmpOfPosTextTH != PositionData.EmpOfPosTextTH"><span class="blue_text">{{Language=='TH'? PositionData.EmpOfPosTextTH : PositionData.EmpOfPosTextEN}}</span></div>
                            <div ng-show="PositionDataOld.EmpOfPosTextTH == PositionData.EmpOfPosTextTH">{{Language=='TH'? PositionData.EmpOfPosTextTH : PositionData.EmpOfPosTextEN}}</div>
                            <div ng-show="!PositionData.EmpOfPosTextTH">-</div>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].UNIT}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div ng-show="PositionDataOld.UnitCode != PositionData.UnitCode"><span class="red_text"><strike>{{UnitCodeTextOld}}</strike></span></div>
                            <div ng-show="PositionDataOld.UnitCode != PositionData.UnitCode"><span class="blue_text">{{UnitCodeText}}</span></div>
                            <div ng-show="PositionDataOld.UnitCode == PositionData.UnitCode">{{UnitCodeText}}</div>
                            <div ng-show="!PositionData.UnitCode">-</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].LEVEL_OF_ORG}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <span>{{PositionDataDetail==null?'-':PositionDataDetail.LevelText!=''?PositionDataDetail.LevelText:'-'}}</span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].COST_CENTER}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <span>{{PositionDataDetail==null?'-':PositionDataDetail.CostCenterText!=''?PositionDataDetail.CostCenterText:'-'}}</span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['OM_POSITION'].SUPERVISOR_NAME}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <span>{{PositionDataDetail==null?'-':PositionDataDetail.SupervisorName!=''?PositionDataDetail.SupervisorName:'-'}}</span>
                        </div>
                    </div>
                    <div ng-if="!IsNewID">
                        <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['OM_POSITION'].UPDATE_DATE}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="PositionDataOld.UpdateDate != PositionData.UpdateDate"><span class="red_text"><strike>{{PositionDataOld.UpdateDate=='0001-01-01T00:00:00'?'-':getDateFormat(PositionDataOld.UpdateDate)}}</strike></span></div>
                                <div ng-show="PositionDataOld.UpdateDate != PositionData.UpdateDate"><span class="blue_text">{{PositionData.UpdateDate=='0001-01-01T00:00:00'?'-':getDateFormat(PositionData.UpdateDate)}}</span></div>
                                <div ng-show="PositionDataOld.UpdateDate == PositionData.UpdateDate">{{PositionData.UpdateDate=='0001-01-01T00:00:00'?'-':getDateFormat(PositionData.UpdateDate)}}</div>
                                <div ng-show="!PositionData.UpdateDate">-</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['OM_POSITION'].UPDATE_BY}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="PositionDataOld.UpdateBy != PositionData.UpdateBy"><span class="red_text"><strike>{{PositionDataOld.UpdateBy}}</strike></span></div>
                                <div ng-show="PositionDataOld.UpdateBy != PositionData.UpdateBy"><span class="blue_text">{{PositionData.UpdateBy}}</span></div>
                                <div ng-show="PositionDataOld.UpdateBy == PositionData.UpdateBy">{{PositionData.UpdateBy}}</div>
                                <div ng-show="!PositionData.UpdateBy">-</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
