﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <h2 class="text-center" style="color:red"><b>{{Text['OM_POSITION'].PERMANENCE_DELETE_DOCUMENT}}</b></h2>
    </div>
    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">
            <div ng-controller="PositionPermanentDeleteViewerController">
                <div class="ess-tab-section-bar1">
                    <div class="ess-personal-info-sub-hdr">{{Text['OM_POSITION'].POSITION_DETAIL}}</div>
                </div>
                <div class="ess-personal-info-edit-panel">

                    <div class="freeze scrollbar-default">
                        <table class="ess-table-default">
                            <tr>
                                <th>
                                    {{Text['OM_POSITION'].POSITION_CODE}}
                                </th>
                                <th>
                                    {{Text['OM_POSITION'].START_DATE}}
                                </th>
                                <th>
                                    {{Text['OM_POSITION'].END_DATE}}
                                </th>
                                <th>
                                    {{Text['OM_POSITION'].ABBR}}
                                </th>
                                <th>
                                    {{Text['OM_POSITION'].FULL_POSITION}}
                                </th>
                                <th>
                                    {{Text['OM_POSITION'].HEAD_OF_ORGANIZATION}}
                                </th>
                                <th>
                                    {{Text['OM_POSITION'].BAND_CODE}}
                                </th>
                                <th>
                                    {{Text['OM_POSITION'].BAND}}
                                </th>
                            </tr>
                            <tr ng-repeat="data in PositionData">
                                <td width="10%" align="center">{{data.PosCode}}</td>
                                <td width="10%" align="center">{{getDateFormat(data.StartDate)}}</td>
                                <td width="10%" align="center">{{getDateFormat(data.EndDate)}}</td>
                                <td width="10%">{{Language=='TH'? data.PosShortName : data.PosShortNameEN}}</td>
                                <td>{{Language=='TH'? data.PosName : data.PosNameEN}}</td>
                                <td width="5%" align="center">{{data.HeadOfUnitFlag}}</td>
                                <td width="10%">{{data.BandValue}}</td>
                                <td width="10%">{{Language=='TH'? data.BandValueTextTH : data.BandValueTextEN}}</td>
                            </tr>

                            <tr ng-show="!PositionData||PositionData.length==0">
                                <td align="center" colspan="9"> {{Text['SYSTEM'].NO_DATA}}</td>
                            </tr>
                            <tr>
                                <td align="right" colspan="9"> จำนวนข้อมูล : {{ !PositionData?'0':PositionData.length}} รายการ</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
