﻿<div ng-controller="PersonalDataSettingEditorForContactDataController" class="padding-breadcrumb mainBlock" style="background:#e6e6e6;">
    <div class="row contentBody forheight">
        <div class="col-md-12 -col_centered contentBodyin forheight_sub forscroll wrapper longPage  d-clame paper ">

            <div class="col-md-12 col-md-offset-0">
                <label>{{ Text[PATextcategory].ContactData }}</label><br />
            </div>
            <div class="panel panel-default col-md-12 col-md-offset-0">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="item-btn mobile-text-center">
                                <a>
                                    <div class="itemin_btn ng-binding" ng-click="OnClickAddContact();">
                                        <span class="icon-doc_plus" style="margin-right:10px;"></span>{{ Text[PATextcategory].Add }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="-pad10"></div>
                    <!-- Desktop new version table ContactData-->
                    <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                        <div class="row ">
                            <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide" style="overflow: visible;">
                                <div id="mCSB_4" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;     outline: none;" tabindex="0">
                                    <div id="mCSB_4_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px;" dir="ltr">
                                        <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                            <thead>
                                                <tr>
                                                    <td>{{ Text[PATextcategory].CommunicationType }}</td>
                                                    <td>{{ Text[PATextcategory].Detail }}</td>
                                                    <td>{{ Text[PATextcategory].BeginDate }}</td>
                                                    <td>{{ Text[PATextcategory].EndDate }}</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in ContactData">
                                                    <td>
                                                        <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                            <label style="width: 60px;font-size: 15px; ">{{x.CategoryCode}}</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                            <input type="text" name="DataText" style="width:250px;font-size:15px;" class="bdc204 btn form-control text-left" value="{{ x.DataText }}" ng-model="x.DataText" ng-trim="false" required />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                            <label style="width: 200px; font-size: 15px;">{{x.BeginDate}}</label>

                                                            <!--<div style="position: relative; height: 50px; overflow: hidden;" ng-init="x.BeginDate = getDate(x.BeginDate)">
                                                                <input value="{{x.BeginDate | date:'dd/MM/yyyy'}}"
                                                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                       ng-click="isShowDateEnd=!isShowDateEnd"
                                                                       style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                       aria-invalid="true">
                                                                <md-datepicker ng-model="x.BeginDate"
                                                                               md-hide-icons="calendar"
                                                                               md-is-open="isShowDateEnd"
                                                                               style=" width: 100px;"></md-datepicker>
                                                                <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 21px; "></i>
                                                            </div>-->
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div style="width: 100%; display: flex; position: relative; margin-top:10px">
                                                            <label style="width: 200px; font-size: 15px;">{{x.EndDate}}</label>

                                                            <!--<div style="position: relative; height: 50px; overflow: hidden;" ng-init="x.EndDate = getDate(x.EndDate)">
                                                                <input value="{{x.EndDate | date:'dd/MM/yyyy'}}"
                                                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                                       ng-click="isShowDateEnd=!isShowDateEnd"
                                                                       style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                                       aria-invalid="true">
                                                                <md-datepicker ng-model="x.EndDate"
                                                                               md-hide-icons="calendar"
                                                                               md-is-open="isShowDateEnd"
                                                                               style=" width: 100px;"></md-datepicker>
                                                                <i class="icon-calendar ico_datestart -txt-blue" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 21px; "></i>
                                                            </div>-->
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox" style="margin-top: 10px;">
                                                            <input id="checkboxcon{{$index}}" class="styled" type="checkbox" ng-checked="x.NoSpecify == true" ng-model="x.NoSpecify" ng-change="onCheckBoxConChange($index);" />
                                                            <label for="checkboxcon{{$index}}" style="width:60px">{{ Text[PATextcategory].NoSpecify }}</label>
                                                        </div>
                                                    </td>
                                                    <td style="vertical-align: middle !important; text-align: right !important;">
                                                        <a ng-click="OnClickDeleteContact($index);"><span class="icon-doc_x"></span></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px; height: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_4_scrollbar_horizontal" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_4_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; display: block; width: 689px; left: 223px; max-width: 902px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="commonbtn -settxt-center">
                <div class="itemlist">
                    <div class="row" ng-hide="isResign">
                        <div class=" settxt-center">
                            <button type="submit" class="btn btn-default btn_submit -txt-white  ng-binding" style="background-color:red" ng-click="isResign=!isResign;">{{Text[PATextcategory].RESIGN}}</button>
                            <!--<button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-click="onClickSave($event);">{{Text[PATextcategory].Save}}</button>-->
                            <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-click="onClickEditSave();">{{Text[PATextcategory].Save}}</button>
                            <button type="submit" class="btn btn-default btn_submit  -txt-white  ng-binding" ng-click="onClickCancel();">{{Text[PATextcategory].Cancel}}</button>
                        </div>
                    </div>
                    <div class="panel panel-default col-md-12 col-md-offset-0" ng-show="isResign">
                        <div class="panel-body">
                            <div class="-pad10"></div>
                            <div class="col-md-12">
                                <div class="-col_centered font-editor">
                                    <div class="form-group row">
                                        <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[PATextcategory].RESIGNDATE }}</label>
                                        <div class="col-sm-6 detaildate_leave">
                                            <datepicker callback-on-change="setSelectedResignDate(newDate)" date-max-limit="{{ Date(); }}" date-format="d/M/yyyy" date-set="{{ ResignDate }}">
                                                <input class="form-control clickable datepicker" type="text" placeholder="" readonly />
                                            </datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="commonbtn -settxt-center">
                                    <div class="itemlist">
                                        <div class="row">
                                            <div class=" settxt-center">
                                                <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-click="OnClickResignEmployee();">{{Text[PATextcategory].Save}}</button>
                                                <button type="submit" class="btn btn-default btn_submit -txt-white  ng-binding" ng-click="isResign=!isResign;">{{Text[PATextcategory].Cancel}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<style>
    .col-md-12 {
        padding-right: 3px;
        padding-left: 3px;
    }

    .TravelExManPage.personal-data-setting-editor td {
        text-align: center !important;
        vertical-align: middle !important;
    }

    .TravelExManPage.personal-data-setting-editor .exman-res_detailtable {
    }

    .exman-res_detailtable {
        margin-bottom: 10px !important;
    }

    .TravelExManPage.personal-data-setting-editor .travelEx_tablesec01 ul.itemlist_table-res {
        padding: 40px 15px 10px 15px;
    }

    .TravelExManPage.personal-data-setting-editor thead td {
        padding-top: 10px !important;
    }

    .bdc204 {
        width: inherit;
        border-color: rgb(204, 204, 204);
    }
</style>