﻿<div ng-controller="PersonalDataSettingEditorForPersonalDataController" style="padding: 30px 5px 0px 5px;">
    <div class="bar-content">
        <div class="row bar_title">
            <div class="col-md-12">
                <div class="bar_left bar_left_single_line">
                    <div class="bar_left-title">
                        {{ Text[PATextcategory].PersonalData }} ({{Text[PATextcategory].Edit}})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body_content">
        <div class="leavetableBlock leavetableBlock_create">
            <div class="row itemlist_block">
                <div class="col-md-12">
                    <div class="col-md-12 " style="padding: 10px 0px 0px 0px;">
                        <div class="panel-body" style="padding: 10px 0px 0px 0px;">
                            <div ng-include="Path">
                            </div>
                            <div class="commonbtn -settxt-center">
                                <div class="itemlist">
                                    <div class="row">
                                        <div class=" settxt-center">
                                            <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-click="onClickEditSave();" ng-show="!CanEditPeriod">{{Text[PATextcategory].Save}}</button>
                                            <button type="submit" class="btn btn-default btn_submit -bg-blue -txt-white  ng-binding" ng-click="onClickAddSave();" ng-show="CanEditPeriod">{{Text[PATextcategory].Save}}</button>
                                            <button type="submit" class="btn btn-default btn_submit  -txt-white  ng-binding" ng-click="onClickCancel();">{{Text[PATextcategory].Cancel}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- itemlist -->
    </div>
</div>
<style>
    tr > td {
        padding: 5px 10px;
    }

    .btn.btn-default {
        min-width: 130px;
        height: 50px;
        text-align: center;
        outline: none;
    }
</style>