﻿<!-- Start breadcrumb -->
<div class="breadcrumb-container ess-breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ess-breadcrumb">
            <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['ANNOUNCEMENT'].ANNOUNCEMENT}}</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<!-- Start Header -->
<div class="ess-page-header-panel row ess-row-wrap">
    <div class="col-12 ess-page-header">
        <i class="icon icon_announcement_wh"></i>
        <h1 class="ess-page-header1">{{Text['ANNOUNCEMENT'].ANNOUNCEMENT}}</h1>
    </div>
</div>
<div class="ess-headersub-1"></div>
<div class="ess-headersub-2"></div>
<!-- End Header -->

<div class="TravelExManPage delegation-page" ng-controller="AnnouncementContentController">
    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">
            <div class="tab-pane ess-tab-pane">
                <div class="row ess-personal-info-general justify-content-end" style="margin:3px">
                    <a href="" ng-click="CreateNew('906','')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['ANNOUNCEMENT'].CREATE}}</a>
                </div>
                <div class="ess-table-container">
                    <div class="ess-report-table-border">
                        <div class="freeze scrollbar-default">
                            <table class="ess-table-default">
                                <thead>
                                    <tr>
                                        <th><div class="th-text">{{Text['ANNOUNCEMENT'].NAME}}</div></th>
                                        <th><div class="th-text">{{Text['ANNOUNCEMENT'].PRIORITY}}</div></th>
                                        <th><div class="th-text">{{Text['ANNOUNCEMENT'].ACCEPTABLE}}</div></th>
                                        <th><div class="th-text">{{Text['ANNOUNCEMENT'].SEENCOUNT}}</div></th>
                                        <th><div class="th-text">{{Text['ANNOUNCEMENT'].UNSEENCOUNT}}</div></th>
                                        <th><div class="th-text">{{Text['ANNOUNCEMENT'].ACCEPTCOUNT}}</div></th>
                                        <th><div class="th-text">{{Text['ANNOUNCEMENT'].BEGINDATE}}</div></th>
                                        <th><div class="th-text">{{Text['ANNOUNCEMENT'].ENDDATE}}</div></th>
                                        <th><div class="th-text">{{Text['ANNOUNCEMENT'].EDIT}}/{{Text['ANNOUNCEMENT'].DELETE}}</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Item in genDatas() | filter :{'Type' : '!SYSTEM'}" ng-show="AnnouncementListData.length > 0">
                                        <td class="text-left wrapper">
                                            <div ng-if="Item.IsExpire" style="color:lightgray">{{Item.Name}}</div>
                                            <div ng-if="!Item.IsExpire">{{Item.Name}}</div>
                                        </td>
                                        <td class="text-center">
                                            <div ng-if="Item.IsExpire" style="color:lightgray">{{Item.Priority}}</div>
                                            <div ng-if="!Item.IsExpire">{{Item.Priority}}</div>
                                        </td>
                                        <td class="text-center"><div ng-if="Item.Acceptable"><input type="checkbox" name="check" id="check_acceptable" ng-disabled="true" checked /></div></td>
                                        <td class="text-center">
                                            <div ng-if="Item.IsExpire" style="color:lightgray">{{Item.SeenList}}</div>
                                            <div ng-if="!Item.IsExpire">{{Item.SeenList}}</div>
                                        </td>
                                        <td class="text-center">
                                            <div ng-if="Item.IsExpire" style="color:lightgray">{{Item.EmpQuatityAccess}}</div>
                                            <div ng-if="!Item.IsExpire">{{Item.EmpQuatityAccess}}</div>
                                        </td>
                                        <td class="text-center">
                                            <div ng-if="Item.IsExpire" style="color:lightgray"><div ng-if="Item.Acceptable">{{Item.AcceptedList}}</div><div ng-if="!Item.Acceptable">-</div></div>
                                            <div ng-if="!Item.IsExpire"><div ng-if="Item.Acceptable">{{Item.AcceptedList}}</div><div ng-if="!Item.Acceptable">-</div></div>
                                        </td>
                                        <td class="text-center">
                                            <div ng-if="Item.IsExpire" style="color:lightgray">{{(Item.BeginDate | date:"dd/MM/yyyy")}}</div>
                                            <div ng-if="!Item.IsExpire">{{(Item.BeginDate | date:"dd/MM/yyyy")}}</div>
                                        </td>
                                        <td class="text-center">
                                            <div ng-if="Item.IsExpire" style="color:lightgray">{{(Item.EndDate | date:"dd/MM/yyyy")}}</div>
                                            <div ng-if="!Item.IsExpire">{{(Item.EndDate | date:"dd/MM/yyyy")}}</div>
                                        </td>
                                        <td class="text-center">
                                            <a ng-click="CreateNewWithReference('906',Item.RequestNo,'','EDIT|'+Item.ID)" ng-if="Item.Type == 'COMPLETED'">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true" style="cursor:pointer;color:royalblue" title="{{Text['ANNOUNCEMENT'].EDIT}}"></i>
                                            </a>
                                            <a ng-click="ViewObjAnnounce(Item.Type,CompanyCode)" ng-if="Item.Type != 'COMPLETED'">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true" style="cursor:pointer;color:royalblue" title="{{Text['ANNOUNCEMENT'].EDIT}}"></i>
                                            </a>
                                            <a ng-click="CreateNew('907','DELETE|'+Item.ID)">
                                                <i class="fa fa-trash-o" aria-hidden="true" style="cursor:pointer; color:orangered" title="{{Text['ANNOUNCEMENT'].DELETE}}"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <!--กรณีไม่มีข้อมูล-->
                                    <tr ng-if="AnnouncementListData.length == 0">
                                        <td colspan="9" style=" width: 100%; text-align: center; height: 50px; padding-top: 20px;font-size:18px;">{{Text['SYSTEM'].NO_DATA}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ess-pagination-wrap" id="paggingWidth" ng-show="AnnouncementListData.length > 0">
                        <nav class="ess-navbar">
                            <ul class="pagination">
                                <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages()"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>


            </div>
        </div>

    </div>

</div>
