﻿<div class="TravelExManPage delegation-page" ng-controller="DelegationController" ng-init="init();">
   
    <!--Top bar-->
    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{content.Header}}</div>
                    <!--<div class="bar_right forsearch "><span class="icon-magnify_glass"></span></div>-->
                </div>
            </div>
            <div class="row " style="background:#fff !important">
                <div class="col-xs-10 -col_centered search-visible-xs -pad10">
                    <div class="input-group search_block " style="width: 100%;">
                        <div style="width: 400px;  display: flex;    margin: 0 auto;">
                            <span style="font-size: 20px; margin-top: 6px; margin-right: 5px;color: #000;">ระยะเวลาในเดือน</span>
                            <div style="position: relative; width: 145px; height: 50px; overflow: hidden;margin-right:5px;">
                                <input value="{{dateSet.selectedMonth}}"
                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                       style="opacity: 0;text-align:center; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;background: #fff !important;color: #000;border: 1px solid #ddd;" type="text" id="place" required=""
                                       aria-invalid="true">
                                <select class="form-control" ng-model="dateSet.selectedMonth" ng-change="getDelegationList()" placeholder="month" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 120px; font-size: 15px; cursor: pointer; margin: 0px;">
                                    <option value="{{month}}" ng-repeat="month in dateSet.month">{{month}}</option>
                                </select>
                            </div>
                            <div style="position: relative; width: 110px; height: 50px; overflow: hidden;">
                                <input value="{{dateSet.selectedYear}}"
                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                       style="opacity: 0;text-align:center; position: absolute; top: 0; z-index: 1; width: 90px; font-size: 15px; cursor: pointer; background: #fff !important;color: #000;border: 1px solid #ddd;" type="text" id="place" required=""
                                       aria-invalid="true">
                                <select class="form-control" ng-model="dateSet.selectedYear" ng-change="getDelegationList()" ng-value="dateSet.selectedYear" placeholder="year" style=" opacity: 1; position: absolute; top: 0px; z-index: 2; width: 90px; font-size: 15px; cursor: pointer; margin: 0px;">
                                    <option ng-value="year" ng-repeat="year in dateSet.years">{{year}}</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="-pad10"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- ตารางการมอบหมายสิทธิ์ -->
    <div class="row contentBody forheight leaveBlock_detail" ng-show="!delegationAddAndEditorMode" aria-hidden="false" style="padding: 20px 10px 10px 10px; ">
        <div class="bar-content">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left bar_left_single_line">
                        <div class="bar_left-title ng-binding">
                            {{Text[PATextcategory].table_delegation}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body_content" style="background:white;">
            <div class="leavetableBlock leavetableBlock_create">
                <div class="row itemlist_block">
                    <div class="-col_centered " style="padding: 20px 10px 20px 10px; ">



                        <div class="item-btn mobile-text-center" style=" margin-bottom: 40px; margin-left: 15px">
                            <a ng-click="add();">
                                <div class="itemin_btn ng-binding" style="min-width: 165px;text-align: center;">
                                    <span class="icon-doc_plus" aria-hidden="true"></span> {{Text['DELEGATION'].add}}
                                </div>
                                <md-tooltip md-direction="buttom" class="em-font-15">
                                    {{Text['DELEGATION'].add}}
                                </md-tooltip>
                            </a>

                        </div>


                        <!-- moblie version table -->
                        <div class="travelExMan_content-res travelEx_tablesec02 -xs_sm-only">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="bar_expandlist" ng-repeat="x in delegationList">
                                        <div class="bar_expand-status">
                                            <div class="bar_left-icon">
                                                <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                            </div>
                                            <div class="bar_statusword">
                                                <a href="#"> {{ x.DelegateFromName }}</a>
                                            </div>
                                            <div class="exman-res_icoaction">
                                                <a ng-click="view(x);" class="btn no-radius ico_lightaction action-edit" style="background: #cef6ff;" ng-if="!x.IsEdit">
                                                    <i class="icon-doc" style="color:#6e8dbc;"></i>
                                                </a>
                                                <a ng-click="edit(x);" class="btn no-radius ico_lightaction action-edit" ng-if="x.IsEdit">
                                                    <span class="fal fa-pencil-alt"></span>
                                                </a>
                                                <a ng-click="remove(x,$event);" class="btn no-radius ico_lightaction action-del" ng-if="x.IsEdit&&x.IsDelete">
                                                    <span class="fal fa-times"></span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="bar_expand-expandDetail " style="display: none;">
                                            <div class="expandDetail_01">
                                                <ul class="itemlist_table-res -warp">
                                                    <li>
                                                        <p class="exman-res_titletable"> {{ Text[PATextcategory].duration_time }}</p>
                                                        <p class="exman-res_detailtable em-font-15">{{ x.BeginDate | date:'d/M/yyyy' }} - {{x.EndDate | date:'d/M/yyyy'}}</p>
                                                    </li>
                                                    <li>
                                                        <p class="exman-res_titletable">{{ Text[PATextcategory].delegater_person }}</p>
                                                        <p class="exman-res_detailtable em-font-15">{{ x.DelegateFromName }}</p>
                                                    </li>
                                                    <li>
                                                        <p class="exman-res_titletable">{{ Text[PATextcategory].delegated_person }}</p>
                                                        <p class="exman-res_detailtable em-font-15">{{ x.DelegateToName }}</p>
                                                    </li>
                                                    <li>
                                                        <p class="exman-res_titletable">{{ Text[PATextcategory].creater }}</p>
                                                        <p class="exman-res_detailtable em-font-15">{{ x.CreatorName }}</p>
                                                    </li>
                                                    <li>
                                                        <p class="exman-res_titletable"> {{ Text[PATextcategory].document_type }}</p>
                                                        <p class="exman-res_detailtable " ng-repeat="doc in x.DetailList" ng-if="doc.IsCheck==true">
                                                            <i class="fa fa-check-circle" style="font-size: 15px; color: #5ef143; margin-right:5px;"></i>&nbsp;<span class="em-font-15">{{doc.RequestTypeName}}</span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="exman-res_titletable">{{ Text[PATextcategory].detail }}</p>
                                                        <p class="exman-res_detailtable em-font-15">{{ x.Remark }}</p>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <!-- bar_expand-expandDetail -->
                                    </div>
                                    <div ng-if="delegationList.length == 0" style=" width: 100%; text-align: center; height: 50px; padding-top: 20px;">
                                        <span>{{Text['SYSTEM'].notfound}}</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                            <div class="row itemlist">
                                <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide" style="overflow: visible;">
                                    <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                        <thead>
                                            <tr>
                                                <td style="vertical-align:middle; text-align:center;">{{ Text[PATextcategory].duration_time}}</td>
                                                <td style="vertical-align:middle; text-align:center;">{{ Text[PATextcategory].delegater_person}}</td>
                                                <td style="vertical-align:middle; text-align:center;">{{ Text[PATextcategory].delegated_person}}</td>
                                                <td style="vertical-align:middle; text-align:center;">{{ Text[PATextcategory].creater}}</td>
                                                <td style="vertical-align:middle; text-align:center;">{{ Text[PATextcategory].document_type}}</td>
                                                <td style="vertical-align:middle; text-align:center;">{{ Text[PATextcategory].detail}}</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in delegationList">
                                                <td style="vertical-align:middle; text-align:center;">
                                                    <div class="breakword-100px em-font-15">{{ x.BeginDate | date:'d/M/yyyy' }} - {{x.EndDate | date:'d/M/yyyy'}}</div>
                                                </td>
                                                <td style="vertical-align:middle; text-align:center;">
                                                    <div class="breakword-100px em-font-15">{{ x.DelegateFromName }}</div>
                                                </td>
                                                <td style="vertical-align:middle; text-align:center;">
                                                    <div class="breakword-100px em-font-15">{{ x.DelegateToName }}</div>
                                                </td>
                                                <td style="vertical-align:middle; text-align:center;">
                                                    <div class="breakword-100px em-font-15">{{ x.CreatorName }}</div>
                                                </td>
                                                <td style="vertical-align:middle; text-align:left;">
                                                    <div class="breakword-100px em-font-15">
                                                        <span ng-repeat="doc in x.DetailList">
                                                            <span ng-if="doc.IsCheck==true">
                                                                <i class="fa fa-check-circle" style="font-size: 15px; color: #5ef143; margin-right:5px;"></i>
                                                                <span class="em-font-15">{{doc.RequestTypeName}}</span>
                                                                <span ng-if="!$last"><br /></span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="money" style="vertical-align:middle; text-align:center;">
                                                    <div class="breakword-100px em-font-15">{{ x.Remark }}</div>
                                                </td>

                                                <td style="vertical-align: middle !important; text-align:right !important;">
                                                    <a ng-click="view(x);" class="btn no-radius ico_lightaction action-edit" style="background: #cef6ff;" ng-if="!x.IsEdit">
                                                        <i class="fa fa-file-text-o" aria-hidden="true" style="cursor:pointer;" title="{{Text['DELEGATION'].view}}"></i>
                                                    </a>
                                                    <a ng-click="edit(x);" class="btn no-radius ico_lightaction action-edit" ng-if="x.IsEdit">
                                                        <i class="fa fa-file-text-o" aria-hidden="true" style="cursor:pointer;" title="{{Text['DELEGATION'].edit}}"></i>
                                                    </a>
                                                    <a ng-click="remove(x,$event);" class="btn no-radius ico_lightaction action-del" ng-if="x.IsEdit&&x.IsDelete">
                                                        <i class="fa fa-trash-o" aria-hidden="true" style="cursor:pointer; color:orangered" title="{{Text['DELEGATION'].remove}}"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div ng-if="delegationList.length == 0" style=" width: 100%; text-align: center; height: 50px; padding-top: 20px;">
                                        <span>{{Text['SYSTEM'].notfound}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Add การมอบหมายสิท -->
    <div class="row contentBody forheight leaveBlock_detail" ng-show="delegationAddAndEditorMode" aria-hidden="false" style="padding: 20px 10px 10px 10px; ">
        <div class="bar-content">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left bar_left_single_line">
                        <div class="bar_left-title ng-binding">
                            {{Text[PATextcategory].delegation_add_and_edit}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body_content" style="background:white;">
            <div class="leavetableBlock leavetableBlock_create">
                <div class="row itemlist_block">
                    <div class="-col_centered " style="padding: 20px 0px 20px 0px; ">


                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].delegater_person}}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <input value="{{persons.delegator.Name}}" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].employee_id}}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <input value="{{persons.delegator.EmployeeID}}" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].department}}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <input value="{{persons.delegator.OrgUnit}}:{{persons.delegator.OrgUnitName}}" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].position_delegated}} <span class="ico_inputordie"></span></label>
                            
                            <div class="col-sm-6 detaildate_leave">
                                <input ng-if="status.isView" value="{{selectDelegatePosition}}"
                                       class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                       style="font-size: 15px !important;"
                                       type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                                <div class="dropdown" ng-if="!status.isView">
                                    <select class="form-control"  ng-model="selectDelegatePosition" ng-options="current.ObjectID as current.PositionName for current in persons.delegator.AllPosition"></select>
                                </div>
                            </div>

                        </div>

                        <!-- center-->
                        <div style="text-align: center; height: 90px; padding-top: 19px; font-size: 27px; color: #9c9c9c; ">
                            {{Text[PATextcategory].deleget_to}}
                            <i class="fa fa-exchange" aria-hidden="true" style=" -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg);"></i>
                        </div>


                        <div class="profile_img" style=" width: 140px; height: 140px; background: #9fc3ff; margin-bottom: 20px;">
                            <div style="position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; text-align: center; padding-top: 4px; " class="-img_circle -center-y">
                                <i class="fa fa-user" style=" color: #4274e0; font-size: 148px;" aria-hidden="true"></i>
                            </div>
                            <div style=" position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%;">
                                <img style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; height: 100%; display: inherit;" class="-img_circle -center-y profile-img" src="{{persons.delegated.ImageUrl}}" onerror="this.style.display='none'" onload="this.style.display = 'inherit'">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].delegated_person}} <span class="ico_inputordie"></span></label>
                            <div class="col-sm-6 detaildate_leave" >
                                <input ng-if="status.isView" value="{{persons.delegated.EmployeeID}}:{{persons.delegated.Name}}" 
                                       class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" 
                                       style="font-size: 15px !important;" 
                                       type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                                <div style="position:relative;" ng-if="!status.isView">
                                    <md-autocomplete class="blocked-cross-btn"
                                                     ng-click="tryToSelect(searchText)"
                                                     ng-blur="checkText(searchText)"
                                                     md-require-match="true"
                                                     theme="bootstrap"
                                                     ng-disabled="false"
                                                     md-no-cache="true"
                                                     md-selected-item="autocomplete.selectedItem"
                                                     md-search-text-change="searchTextChange(searchText)"
                                                     md-search-text="searchText"
                                                     md-selected-item-change="selectedItemChange(item)"
                                                     md-items="item in querySearchEmployee(searchText)"
                                                     md-item-text="item.Name"
                                                     md-min-length="0"
                                                     required
                                                     md-autoselect="true"
                                                     placeholder="Select Employee">
                                        <md-item-template>
                                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.EmployeeID}}:{{item.Name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            No states matching "{{searchText}}" was found.
                                        </md-not-found>

                                    </md-autocomplete>
                                    <i class="caret pull-right" style=" position: absolute; right: 10px; top: 20px;" ></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].employee_id}} </label>
                            <div class="col-sm-6 detaildate_leave">
                                <input value="{{persons.delegated.EmployeeID}}" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].department}}  </label>
                            <div class="col-sm-6 detaildate_leave">
                                <input value="{{persons.delegated.OrgUnit}}:{{persons.delegated.OrgUnitName}}" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].position}}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <input value="{{persons.delegated.PositionID}}:{{persons.delegated.Position}}" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" id="place" required="" ng-disabled="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].order}}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <fieldset class="standard">
                                    <legend style="max-width: 200px; padding-left: 10px; margin-bottom: 0px; ">{{Text[PATextcategory].select_delegation_doc}}</legend>

                                    <div class="ng-scope" ng-repeat="doc in delegatedDocument">
                                        <label class="checkbox-custom-label">
                                            <input type="checkbox" ng-model="doc.IsCheck" class="ng-valid ng-dirty ng-valid-parse ng-touched" aria-invalid="false" ng-disabled="status.isView" style="">
                                            <span class="ng-binding">{{doc.RequestTypeName}}</span>
                                        </label>
                                    </div>
                                </fieldset>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].duration_time}}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <div class="row fix-min-delegate-date-box">
                                    <fieldset class="standard col-sm-12 col-md-5">
                                        <legend style="max-width: 130px; padding-left: 10px; margin-bottom: 0px; ">{{Text[PATextcategory].start_delegation_date}}</legend>
                                        <div style="position: relative; height: 50px; overflow: hidden;">
                                            <input value="{{getDateFormate(startDate)}}" ng-disabled="status.isView || !canSetStart"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   ng-click="isShowDateStart=!isShowDateStart"
                                                   style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                   aria-invalid="true">
                                            <md-datepicker ng-model="startDate" md-min-date="minDate" md-hide-icons="calendar" md-is-open="isShowDateStart" style=" width: 100px;" ng-change="checkMaxDate()"></md-datepicker>
                                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 7px; right: 10px; font-size: 25px; "></i>
                                        </div>
                                    </fieldset>
                                    <fieldset class="standard col-sm-12 col-md-5 ">
                                        <legend style="max-width: 130px; padding-left: 10px; margin-bottom: 0px; ">{{Text[PATextcategory].end_delegation_date}}</legend>

                                        <div style="position: relative; height: 50px; overflow: hidden;">

                                            <input value="{{getDateFormate(endDate)}}" ng-disabled="status.isView"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   ng-click="isShowDateEnd=!isShowDateEnd"
                                                   style="position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" id="place" required=""
                                                   aria-invalid="true">
                                            <md-datepicker ng-model="endDate" md-min-date="startDate" md-hide-icons="calendar" md-is-open="isShowDateEnd" style=" width: 100px;"></md-datepicker>
                                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 7px; right: 10px; font-size: 25px; "></i>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{Text[PATextcategory].reason_delegation}}</label>
                            <div class="col-sm-6 detaildate_leave">
                                <textarea class="form-control ng-pristine ng-valid ng-touched" rows="6" ng-model="delegationRemark" aria-invalid="false" style=" min-height: 100px" ng-disabled="status.isView"></textarea>
                            </div>
                        </div>

                        <div class="commonbtn" style=" margin-top: 40px;">
                            <div class="itemlist">
                                <div class="row">
                                    <div class="col-md-12 text-center" ng-if="!status.isView">

                                        <button tabindex="4" type="button" ng-click="cancel()" class="btn btn-lg btn-default -txt-white ng-binding" style="text-align:center">
                                            {{Text['SYSTEM'].CANCEL}}
                                            <md-tooltip md-direction="buttom" class="em-font-15">
                                                {{Text[PATextcategory].cancel_and_back}}
                                            </md-tooltip>
                                        </button>
                                        <button tabindex="3" type="button" ng-click="submit()" class="btn btn-lg btn_submit -bg-blue -txt-white ng-binding" style="text-align:center">
                                            {{Text['SYSTEM'].SAVE}}
                                            <md-tooltip md-direction="buttom" class="em-font-15">
                                                {{Text[PATextcategory].save_delegation}}
                                            </md-tooltip>
                                        </button>
                                    </div>
                                    <div class="col-md-12 text-center" ng-if="status.isView">

                                        <button tabindex="4" type="button" ng-click="back()" class="btn btn-lg btn-default -txt-white ng-binding" style="text-align:center">
                                            {{Text['SYSTEM'].BACK}}
                                            <md-tooltip md-direction="buttom" class="em-font-15">
                                                {{Text[PATextcategory].cancel_and_back}}
                                            </md-tooltip>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div> 
</div>

<style>
    .box-content {
        min-height: 50px;
        border: solid 1px rgb(203, 203, 203);
        padding: 10px;
        border-radius: 2.5px;
        position:relative;
    }
    .delegation-page td{
        vertical-align:middle !important;
    }
     @media only screen and (min-width: 992px) {
        .fix-min-delegate-date-box; {
            min-width: 415px;
        }
    }
    .bar_searchactive {
        margin-top: 0 !important;
    }

    .bar_search {
        height: 5rem;
        margin-top: -5rem;
    }
    md-dialog-content p{
        font-size:20px;
    }
    .faa-shake.animated {
        -webkit-animation: none !important;
        animation: none !important;
    }
</style>
