﻿<div class="padding-breadcrumb information_other TravelExManPage">

    <!-- Start breadcrumb -->
    <div class="breadcrumb-container ess-breadcrumb-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ess-breadcrumb">
                <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
                <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION']['PA_HEALTH']}}</li>
            </ol>
        </nav>
    </div>
    <!-- End breadcrumb -->
    <!-- Start Header -->
    <div class="ess-page-header-panel row ess-row-wrap">
        <div class="col-12 ess-page-header">
            <i class="icon icon_health_report_wh"></i>
            <h1 class="ess-page-header1">{{Text['APPLICATION']['PA_HEALTH']}}</h1>
        </div>
    </div>
    <div class="ess-headersub-1"></div>
    <div class="ess-headersub-2"></div>
    <!-- End Header -->
    <div class="ess-wrapper" ng-controller="HealthContentController">
        <div class="ess-inner-wrapper">
            <div class="tab-pane ess-tab-pane">
                <div class="ess-collapse-wrap">
                    <div class="form-inline ess-personal-info-general-hdr">
                        <!--{{Text['APPLICATION']['PA_HEALTH']}}-->
                        {{Text['SYSTEM'].YEAR}}&nbsp;:&nbsp;<span class="ess-detail-data">
                            <select class="form-control" ng-model="itemTemplateSelected" ng-change="GetHealthForYear(itemTemplateSelected)"
                                    data-ng-options="item as item.Year for item in MasterYear">
                                <option ng-value="itemTemplateSelected">{{item}}</option>
                            </select>
                        </span>
                    </div>
                    <div style="margin:20px;"></div>
                    <div class="ess-table-container">
                        <!--<div class="ess-report-table-border"> </div>-->
                        <div class="freeze scrollbar-default">
                            <table class="ess-table-default">
                                <thead>
                                    <tr>
                                        <th><div class="text-left">{{Text['PA_HEALTH'].TABLE_HEAD_TOPIC}}</div></th>
                                        <th><div class="th-text">{{Text['PA_HEALTH'].TABLE_DETECT_STANDARD}}</div></th>
                                        <th><div class="th-text">{{Text['PA_HEALTH'].TABLE_DETECT_USE}}</div></th>
                                        <th><div class="th-text">{{Text['PA_HEALTH'].TABLE_REMARK}}</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in MasterHealt">
                                        <td><span style="font-weight:bold">{{item.checkupValue}}.&nbsp;{{item.checkupTextTH}}</span></td>
                                        <td class="text-center">{{item.normCheckResult}}</td>
                                        <td class="text-center">{{item.abnormCheckResult}}</td>
                                        <td class="text-center">{{item.doctorComment}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="ess-table-data-notfound" ng-if="MasterHealt.length == 0">
                            {{Text['PA_HEALTH'].DATA_NOTFOUND}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>










