﻿<!-- Start breadcrumb -->
<!--<div class="breadcrumb-container ess-breadcrumb-container" ng-controller="RequestViewerController" ng-init="init();">-->
<div class="breadcrumb-container ess-breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ess-breadcrumb">
            <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION'].ORGANIZATION_STRUCTURE}}</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->

<div class="ess-page-header-panel row ess-row-wrap">
    <div class="col-12 ess-page-header">
        <i class="icon icon_org_chart_wh"></i>
        <h1 class="ess-page-header1">{{content.Header}}</h1>
    </div>
</div>
<div class="ess-headersub-1"></div>
<div class="ess-headersub-2"></div>

<div ng-controller="OrganizationStructureController" class="padding-breadcrumb">
    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">

            <!-- BUTTON -->
            <div class="ess-commander-wrap">
                <div class="row ess-commander-wrap-hdr">
                    <div class="col-sm-12 ess-page-header-element">
                        <div class="col-sm-12">
                            <ul class="ess-commander-line-ul">
                                <li class="ess-commander-line-li" ng-repeat="org in OrganizationStructureList">
                                    <div class="row ess-commander-line">
                                        <div class="col-md-4 ess-commander-picturecard">
                                            <div class="ess-commander-line-icon">
                                                <i class="icon icon_airrow_up"></i>
                                            </div>
                                            <div align="center" class="ess-commander-line-pic">
                                                <img ng-src="{{org.ImageUrl}}" onerror="this.src = './images/unknown.png'" onload="this.style.display = 'inherit'" />
                                            </div>
                                            <div class="ess-commander-line-nameset">
                                                <div class="ess-commander-line-id">{{org.Manager_ID}}</div>
                                                <div class="ess-commander-line-name">{{org.Manager_Name}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-3 ess-commander-namecard">
                                            <div class="ess-commander-line-label">
                                                <i class="fa fa-suitcase" aria-hidden="true"></i>&nbsp;
                                                <span><b>{{Text['SYSTEM']['ACTIONPOSITION']}}</b></span>
                                            </div>
                                            <div class="ess-commander-line-id">
                                                {{org.Manager_PositionID}}
                                            </div>
                                            <div class="ess-commander-line-name">
                                                {{org.Manager_PositionName}}
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4 ess-commander-positioncard">
                                            <div class="ess-commander-line-label">
                                                <i class="fa fa-building" aria-hidden="true"></i>&nbsp;
                                                <span><b>{{Text['SYSTEM']['ORGANIZATION']}}</b></span>
                                            </div>
                                            <div class="ess-commander-line-positionset">
                                                <div class="ess-commander-line-unit">{{org.OrgUnitNo}}</div>
                                            </div>
                                            <div class="ess-commander-line-positionset">
                                                <div class="ess-commander-line-unit">{{org.OrgUnitName}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
