﻿<div id="main-content">
    <div class="page-body">
        <!-- Start breadcrumb -->
        <div class="breadcrumb-container ess-breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)"
                            href="">{{Text['BOXLIST'].HOME}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">
                        {{Text['APPLICATION'].PA_PERSONAL_SECRET}}</li>
                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
        <!-- Start Header -->
        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].PA_PERSONAL_SECRET}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>
        <!-- End Header -->
        <!-- Start Search -->
        <div ng-controller="PersonalConfidentialContentController" ng-init="init();">

            <div class="ess-wrapper ess-button-align-right">
                <!-- <button class="btn btn-outline-secondary" data-toggle="modal" data-target=".bd-example-modal-lg"  type="button">ค้นหาพนักงาน</button>-->
                <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#detailDataModal"
                    type="button">ค้นหาพนักงาน</button>
            </div>

            <div class="ess-wrapper">
                <div class="row">

                    <div class="col-12 ess-tab-personal-bar">
                        <h5 class="ess-page-header1">ดูข้อมูลพนักงาน</h5>
                        <br>
                    </div>

                    <!--<div class="col-12 ess-inner-wrapper ">-->
                    <!--All Tab Content-->

                    <div class="row col-12 ess-inner-tab-personal">
                        <div class="col-11 ">
                            <div class="freeze scrollbar-default">
                                <table class="ess-table-default-table-pa">
                                    <tr>
                                        <th>
                                            <i class="fa fa-user-circle"> </i><span>
                                                {{Text['APPGROUP'].PaDestblSeEmployeeID}}</span>
                                        </th>
                                        <th>
                                            <i class="fa fa-address-card-o"> </i><span>
                                                {{Text['APPGROUP'].PaDestblSePosition}} </span>
                                        </th>
                                        <th>
                                            <i class="fa fa-dot-circle-o"> </i><span> Band </span>
                                        </th>
                                        <th>
                                            <i class="fa fa-users"> </i><span> {{Text['APPGROUP'].PaDestblSeUnit}}
                                            </span>
                                        </th>
                                        <th ">
                                            <i class=" fa fa-sitemap "> </i><span> ระดับหน่วยงาน </span>
                                        </th>


                                    </tr>
                                    <tr>
                                        <td width=" 20%" style="margin-left:10px;" ng-show="EmpNameTH">
                                            <span>{{EmpNameTH}}</span> <span>({{EmpCode}})</span></td>
                                        <td width="21%" style="margin-left:10px;" ng-show="EmpNameTH">
                                            <span>{{PositionTextTH}}</span> <span>({{PosCode}})</span>
                                        </td>
                                        <td width="13%" style="margin-left:10px;" ng-show="EmpNameTH">
                                            <span>{{BandTextTH}}</span> <span>({{BandValue}})</span>
                                        </td>
                                        <td width="35%" style="margin-left:10px;" ng-show="EmpNameTH">
                                            <span>{{UnitTextTh}}</span> <span>({{UnitCode}})</span>
                                        </td>
                                        <td width="17%" style="margin-left:10px;" ng-show="EmpNameTH">
                                            <span>{{UnitLevelTextTH}}</span> <span>({{UnitLevelValue}})</span>
                                        </td>
                                    </tr>
                                    <tr style="background-color:#F8C471" align="center"
                                        ng-show="!EmpNameTH||EmpNameTH=='NULL'">
                                        <td colspan="9"> {{Text['SYSTEM'].NO_DATA}}</td>
                                    </tr>
                                </table>




                            </div>

                        </div>
                        <div class="col-1">
                            <div class="ess-nav-item-user">
                                <div class="ess-nav-item-userimg" align-text="center">
                                    <span class="ess-userimg"
                                        style="background-image: url('./images/unknown.png');background-size:cover;margin-left:40px;"></span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ess-wrapper">
                <div class="ess-inner-wrapper">
                    <div class="row">
                        <ul class="nav nav-tabs ess-tab-document-wrap" id="essDocument" role="tablist">
                            <li class="nav-item ess-tab-panel" ng-repeat="item in TabPAConfidentialConfig">
                                <a ng-show="item.IsVisible"
                                    class="nav-link ess-nav-link-pa {{$index==0 ? 'active' : ''}}"
                                    id="{{item.FieldName}}-tab" data-toggle="tab" data-target="#{{item.FieldName}}"
                                    href="" role="tab" aria-controls="{{item.FieldName}}" aria-selected="true"
                                    ng-click="getDataByTab(item.FieldName)">
                                    <span class="ess-tab-link-label">{{Text['APPGROUP'][item.FieldName]}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content ess-tab-content-pa ess-report-pa-quali">
                        <div class="tab-pane  fade show {{FirstTabIndex=='TabConfidentialInfo' ? 'active' : ''}} ess-tab-pane"
                            id="TabConfidentialInfo" role="tabpanel" aria-labelledby="TAB_TabConfidentialInfo-tab">
                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end"
                                style="margin:10px">
                                <a href="" ng-show="EmpCode"
                                    ng-click="CreateNew('2401', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')"
                                    class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i>
                                    {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>
                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="freeze scrollbar-default">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('UniCode')">
                                                    {{Text['PA_PERSONAL'].StartDate}}&nbsp;<i class="fa fa-sort"
                                                                                              ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                               ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('StartDate')">
                                                    {{Text['PA_PERSONAL'].EndDate}}&nbsp;<i class="fa fa-sort"
                                                                                            ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                             ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('EndDate')">
                                                    {{Text['PA_PERSONAL'].DateOfBirth}}&nbsp;<i class="fa fa-sort"
                                                                                                ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                                 ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('Abbr')">
                                                    {{Text['PA_PERSONAL'].IDCard}}&nbsp;<i class="fa fa-sort"
                                                                                           ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                            ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('OrganizationUnit')">
                                                    {{Text['PA_PERSONAL'].BloodType}}&nbsp;<i class="fa fa-sort"
                                                                                              ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                               ng-show="!sort.descending"></i>
                                                </th>

                                                <th ng-click="changeSorting('CostCenter')">
                                                    {{Text['PA_PERSONAL'].EditAndDelete}}&nbsp;<i class="fa fa-sort"
                                                                                                  ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                                   ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatas(InfoList) | orderBy:sort.column:sort.descending"
                                                data-target="#A" data-toggle="modal" href="" style="cursor: pointer;"
                                                ng-click="ViewInfoDetail(data)">
                                                <td>{{ConvertDate(data.startDate)}}</td>
                                                <td>{{ConvertDate(data.endDate)}}</td>
                                                <td>{{ConvertDate(data.birthDate)}}</td>
                                                <td>{{data.idCard}}</td>
                                                <td>{{profile.Language == 'EN' ? data.bloodGrpTextEN : data.bloodGrpTextTH}}</td>
                                                <td>
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"
                                                       ng-click="directToRequest('2401','EDIT',data.empCode,data.Id)"></i>
                                                    / <i class="fa fa-trash" aria-hidden="true"
                                                         ng-click="directToRequest('2401','CANCEL',data.PAEduID)"></i>
                                                </td>

                                            </tr>

                                            <tr ng-show="!InfoList||InfoList.length==0">
                                                <td align="center" colspan="9"> {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                            <tr>
                                                <td align="right" colspan="9"> จำนวนข้อมูล : {{ !InfoList?'0':InfoList.length}} รายการ</td>
                                            </tr>
                                        </table>

                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="InfoList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)">
                                                        <a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a>
                                                    </li>
                                                    <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(InfoList)">
                                                        <a class="page-link" ng-click="changePage(page)" href="">{{page}}</a>
                                                    </li>
                                                    <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)">
                                                        <a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>


                                    </div>
                                    <br />
                                    <div class=" nav-solid-bar"></div>

                                    <div class="col-12">

                                        <div class="row mx-0 ess-personal-info-general" align="center"
                                            style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s"
                                                align="left" style="margin-bottom:10px;"
                                                ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span
                                                        class="ess-personal-info-label">{{Text['PA_PERSONAL'].StartDate}}</span>
                                                </div>

                                                <div ng-show="true">{{getDateFormate(StartDateText)}}</div>
                                            </div>


                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s"
                                                align="left" style="margin-bottom:10px;"
                                                ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span
                                                        class="ess-personal-info-label">{{Text['PA_PERSONAL'].EndDate}}</span>
                                                </div>

                                                <div ng-show="true">{{getDateFormate(EndDateText)}}</div>
                                            </div>

                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center"
                                            style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s"
                                                align="left" style="margin-bottom:10px;"
                                                ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span
                                                        class="ess-personal-info-label">{{Text['PA_PERSONAL'].DateOfBirth}}</span>
                                                </div>
                                                <div ng-show="true">{{getDateFormate(DateOfBirth)}} <span class="text-black-50">{{Age}}</span></div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s"
                                                align="left" style="margin-bottom:10px;"
                                                ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span
                                                        class="ess-personal-info-label">{{Text['PA_PERSONAL'].BloodType}}</span>
                                                </div>


                                                <div ng-show="true">{{profile.Language == 'EN' ? BloodTypeEN : BloodTypeTH}}</div>
                                            </div>

                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span
                                                        class="ess-personal-info-label">{{Text['PA_PERSONAL'].IDCard}}</span>
                                                </div>


                                                <div ng-show="true">{{IDCard}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s"
                                                align="left" style="margin-bottom:10px;"
                                                ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span
                                                        class="ess-personal-info-label">{{Text['PA_PERSONAL'].TaxIdentificationNumber}}</span>
                                                </div>


                                                <div ng-show="true">{{IDCard}}</div>
                                            </div>

                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="tab-pane fade show {{FirstTabIndex=='TabConfidentialAssessment' ? 'active' : ''}} ess-tab-pane"
                            id="TabConfidentialAssessment" role="tabpanel"
                            aria-labelledby="TAB_TabConfidentialAssessment-tab">
                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end"
                                style="margin:10px">
                                <a href="" ng-click="CreateNew('2402', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')" class="ess-button addbtn"
                                    style="margin:10px 0px"><i class="fa fa-plus-circle"></i>
                                    {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>
                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="freeze scrollbar-default">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('UniCode')">
                                                    {{Text['PA_PERSONAL'].Number}}&nbsp;<i class="fa fa-sort"
                                                                                           ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                            ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('Number')">
                                                    {{Text['PA_PERSONAL'].AssessmentYear}}&nbsp;<i class="fa fa-sort"
                                                                                                   ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                                    ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('AssessmentYear')">
                                                    {{Text['PA_PERSONAL'].StartDate}}&nbsp;<i class="fa fa-sort"
                                                                                              ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                               ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('StartDate')">
                                                    {{Text['PA_PERSONAL'].EndDate}}&nbsp;<i class="fa fa-sort"
                                                                                            ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                             ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('EndDate')">
                                                    {{Text['PA_PERSONAL'].AssessmentScore}}&nbsp;<i class="fa fa-sort"
                                                                                                    ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                                     ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('AssessmentScore')">
                                                    {{Text['PA_PERSONAL'].GroupAverage}}&nbsp;<i class="fa fa-sort"
                                                                                                 ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                                  ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('GroupAverage')">
                                                    {{Text['PA_PERSONAL'].EditAndDelete}}&nbsp;<i class="fa fa-sort"
                                                                                                  ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                                   ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatas(EvaluationInfList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewEvaluationInfDetail(data)">
                                                <td>{{data.evaluationTime}}</td>
                                                <td>{{data.period}}</td>
                                                <td>{{ConvertDate(data.startDate)}}</td>
                                                <td>{{ConvertDate(data.endDate)}}</td>
                                                <td>{{data.score}}</td>
                                                <td>{{data.average}}</td>
                                                <td>
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"
                                                       ng-click="directToRequest('2402','EDIT',data.startDate,data.endDate,data.empCode,data.paEvId)"></i>
                                                    / <i class="fa fa-trash" aria-hidden="true"
                                                         ng-click="directToRequest('2402','CANCEL',data.PAEduID)"></i>
                                                </td>

                                            </tr>

                                            <tr ng-show="!EvaluationInfList||EvaluationInfList.length==0">
                                                <td align="center" colspan="9"> {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                            <tr>
                                                <td align="right" colspan="9"> จำนวนข้อมูล : {{ !InfoList?'0':EvaluationInfList.length}} รายการ</td>
                                            </tr>
                                        </table>

                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="EvaluationInfList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)">
                                                        <a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a>
                                                    </li>
                                                    <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(EvaluationInfList)">
                                                        <a class="page-link" ng-click="changePage(page)" href="">{{page}}</a>
                                                    </li>
                                                    <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)">
                                                        <a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <br />
                                    <div class=" nav-solid-bar"></div>
                                    <div class="col-12">
                                        <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span
                                                        class="ess-personal-info-label">{{Text['PA_PERSONAL'].Number}}</span>
                                                </div>
                                                <div ng-show="true">{{evaluationTime}}</div>
                                            </div>


                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s"
                                                align="left" style="margin-bottom:10px;"
                                                ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span
                                                        class="ess-personal-info-label">{{Text['PA_PERSONAL'].AssessmentYear}}</span>
                                                </div>

                                                <div ng-show="true">{{period}}</div>
                                            </div>

                                        </div>
                                        <div class="row mx-0 ess-personal-info-general" align="center"
                                            style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s"
                                                align="left" style="margin-bottom:10px;"
                                                ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span
                                                        class="ess-personal-info-label">{{Text['PA_PERSONAL'].StartDate}}</span>
                                                </div>

                                                <div ng-show="true">{{StartDateText}}</div>
                                            </div>


                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s"
                                                align="left" style="margin-bottom:10px;"
                                                ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span
                                                        class="ess-personal-info-label">{{Text['PA_PERSONAL'].EndDate}}</span>
                                                </div>

                                                <div ng-show="true">{{EndDateText}}</div>
                                            </div>

                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center"
                                            style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s"
                                                align="left" style="margin-bottom:10px;"
                                                ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span
                                                        class="ess-personal-info-label">{{Text['PA_PERSONAL'].AssessmentScore}}</span>
                                                </div>
                                                <div ng-show="true">{{score}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">
                                                        {{Text['PA_PERSONAL'].GroupAverage}}
                                                    </span>
                                                </div>
                                                <div ng-show="true">{{average}}</div>
                                            </div>

                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center"
                                            style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">
                                                        {{Text['PA_PERSONAL'].SalaryIncreasePercentage}}
                                                    </span>
                                                </div>
                                                <div ng-show="true">{{upSalaryPercentage}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">
                                                        {{Text['PA_PERSONAL'].Total}}
                                                    </span>
                                                </div>
                                                <div ng-show="true">{{variableBonus}}</div>
                                            </div>

                                        </div>
                                        <div class="row mx-0 ess-personal-info-general" align="center"
                                            style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">
                                                        {{Text['PA_PERSONAL'].SalaryIncrease}}
                                                    </span>
                                                </div>
                                                <div ng-show="true">{{increaseSalary}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">
                                                        {{Text['PA_PERSONAL'].PrizeMoney}}
                                                    </span>
                                                </div>
                                                <div ng-show="true">{{compenAmount}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade show {{FirstTabIndex=='TabConfidentialHCI' ? 'active' : ''}} ess-tab-pane"
                            id="TabConfidentialHCI" role="tabpanel" aria-labelledby="TAB_TabConfidentialHCI-tab">
                            <!--Employee Data Content-->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <div class="form-inline col-sm-2">
                                            <span class="font-weight-bold">{{Text['PA_PERSONAL'].Period}}</span>
                                        </div>
                                        <div class="col-sm-10">
                                            <select class="form-control ess-form-control">
                                                <option value="">-</option>
                                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in PeriodList">{{item.DLL_DATA}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row float-sm-right">
                                        <a href="" ng-click="CreateNew('2403','NEWID')" class="ess-button editbtn ">
                                            <i class="fa fa-plus-circle"></i>
                                            {{Text['BUTTON'].UPDATE_PA_INFO}}
                                        </a>
                                        <a href="" ng-click="CreateNew('2403','NEWID')"
                                            class="ess-button addbtn ml-sm-1">
                                            <i class="fa fa-plus-circle"></i>
                                            {{Text['BUTTON'].CREATE_PA_INFO}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="freeze scrollbar-default">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('UniCode')">
                                                    {{Text['PA_PERSONAL'].No}}&nbsp;<i class="fa fa-sort"
                                                                                       ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                        ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('No')">
                                                    {{Text['PA_PERSONAL'].Checklist}}&nbsp;<i class="fa fa-sort"
                                                                                              ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                               ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('Checklist')">
                                                    {{Text['PA_PERSONAL'].NormalExResults}}&nbsp;<i class="fa fa-sort"
                                                                                                    ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                                     ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('NormalExResults')">
                                                    {{Text['PA_PERSONAL'].AbnormalExaminationResults}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('AbnormalExaminationResults')">
                                                    {{Text['PA_PERSONAL'].DrOpinion}}&nbsp;<i class="fa fa-sort"
                                                                                              ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                               ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('UniCode')">
                                                    {{Text['PA_PERSONAL'].EditAndDelete}}&nbsp;<i class="fa fa-sort"
                                                                                                  ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                                   ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatas(MedicalCheckupList) | orderBy:sort.column:sort.descending"
                                                data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                <td>{{data.sequence}}</td>
                                                <td class="text-left">
                                                    {{ profile.Language == 'EN' ? data.checkupTextEN : data.checkupTextTH}}
                                                </td>
                                                <td>{{data.normCheckResult}}</td>
                                                <td>{{data.abnormCheckResult}}</td>
                                                <td>{{data.doctorComment}}</td>
                                                <td>
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"
                                                       ng-click="directToRequest('2201','EDIT',data.EmployeeID,data.PAEduID)"></i>
                                                    / <i class="fa fa-trash" aria-hidden="true"
                                                         ng-click="directToRequest('2201','CANCEL',data.PAEduID)"></i>
                                                </td>

                                            </tr>

                                            <tr ng-show="!MedicalCheckupList||MedicalCheckupList.length==0">
                                                <td align="center" colspan="9"> {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                            <tr>
                                                <td align="right" colspan="9"> จำนวนข้อมูล : {{ !InfoList?'0':MedicalCheckupList.length}} รายการ</td>
                                            </tr>
                                        </table>

                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="MedicalCheckupList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)">
                                                        <a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a>
                                                    </li>
                                                    <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(MedicalCheckupList)">
                                                        <a class="page-link" ng-click="changePage(page)" href="">{{page}}</a>
                                                    </li>
                                                    <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)">
                                                        <a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <br />
                                    <div class=" nav-solid-bar"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show {{FirstTabIndex=='TabConfidentialPenalty' ? 'active' : ''}} ess-tab-pane"
                            id="TabConfidentialPenalty" role="tabpanel"
                            aria-labelledby="TAB_TabConfidentialPenalty-tab">
                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end"
                                style="margin:10px">
                                <a href="" ng-click="CreateNew('2404','NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')" class="ess-button addbtn"
                                    style="margin:10px 0px"><i class="fa fa-plus-circle"></i>
                                    {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>
                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="freeze scrollbar-default">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('UniCode')">
                                                    {{Text['PA_PERSONAL'].StartDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('StartDate')">
                                                    {{Text['PA_PERSONAL'].EndDate}}&nbsp;<i class="fa fa-sort"
                                                                                            ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                             ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('EndDate')">
                                                    {{Text['PA_PERSONAL'].DisciplineJobStatus}}&nbsp;<i class="fa fa-sort"
                                                                                                        ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                                         ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('DisciplineJobStatus')">
                                                    {{Text['PA_PERSONAL'].DisciplinaryOffense}}&nbsp;<i class="fa fa-sort"
                                                                                                        ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                                         ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('DisciplinaryOffense')">
                                                    {{Text['PA_PERSONAL'].EditAndDelete}}&nbsp;<i class="fa fa-sort"
                                                                                                  ng-show="sort.descending"></i><i class="fa fa-sort"
                                                                                                                                   ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatas(PunishmentList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewPunishmentInfDetail(data)">
                                                <td>{{data.evaluationTime}}</td>
                                                <td>{{data.period}}</td>
                                                <td>{{getDateFormat(data.startDate)}}</td>
                                                <td>{{getDateFormat(data.endDate)}}</td>
                                                <td>
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"
                                                       ng-click="directToRequest('2404','EDIT',data.EmployeeID,data.PAEduID)"></i>
                                                    / <i class="fa fa-trash" aria-hidden="true"
                                                         ng-click="directToRequest('2404','CANCEL',data.PAEduID)"></i>
                                                </td>

                                            </tr>

                                            <tr ng-show="!PunishmentList||PunishmentList.length==0">
                                                <td align="center" colspan="9"> {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                            <tr>
                                                <td align="right" colspan="9"> จำนวนข้อมูล : {{ !PunishmentList?'0':PunishmentList.length}} รายการ</td>
                                            </tr>
                                        </table>

                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="PunishmentList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)">
                                                        <a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a>
                                                    </li>
                                                    <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(PunishmentList)">
                                                        <a class="page-link" ng-click="changePage(page)" href="">{{page}}</a>
                                                    </li>
                                                    <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)">
                                                        <a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>
                                    <br />
                                    <div class=" nav-solid-bar"></div>
                                    <div class="col-12">
                                        <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].StartDate}}</span>
                                                </div>
                                                <div ng-show="true">{{getDateFormat(StartDateText)}}</div>
                                            </div>


                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].EndDate}}</span>
                                                </div>
                                                <div ng-show="true">{{getDateFormat(EndDateText)}}</div>
                                            </div>

                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:10px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].DisciplineJobStatus}}</span>
                                                </div>
                                                <div ng-show="true">{{}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Inspection}}</span>
                                                </div>
                                                <div ng-show="true">{{}}</div>
                                            </div>

                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:10px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].DisciplinaryOffense}}</span>
                                                </div>
                                                <div ng-show="true">{{}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].DisciplinaryAction}}</span>
                                                </div>
                                                <div ng-show="true">{{}}</div>
                                            </div>
                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:10px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].OrderNumber}}</span>
                                                </div>
                                                <div ng-show="true">{{}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Detail}}</span>
                                                </div>
                                                <div ng-show="true">{{}}</div>
                                            </div>

                                        </div>


                                    </div>



                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade show {{FirstTabIndex=='TabConfidentialAttachment' ? 'active' : ''}} ess-tab-pane" id="TabConfidentialAttachment" role="tabpanel" aria-labelledby="TAB_TabConfidentialAttachment-tab">
                            <div class="col-12">
                                <div class="ess-personal-info-data">

                                    <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                        <div class="col-12 ess-tab-section-bar1">
                                            <!--<i class="icon icon_type_blue"></i>-->
                                            <div align="left" class="ess-tab-section-bar-hdr">{{Text['PA_EDUCATION_MANAGEMENT'].ATTACHMENT}}</div>

                                        </div>
                                    </a>
                                    <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span align="right" class="ess-personal-info-label">{{Text['APPGROUP']['TabConfidentialInfo']}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">

                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2201List) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o" style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2201List||FileAttachment2201List.length==0">
                                                        <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span align="right" class="ess-personal-info-label">{{Text['APPGROUP'].TabConfidentialAssessment}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">

                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2203List) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o " style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2203List||FileAttachment2203List.length==0">
                                                        <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span class="ess-personal-info-label">{{Text['APPGROUP'].TabConfidentialHCI}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">

                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2205List) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o" style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2205List||FileAttachment2205List.length==0">
                                                        <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span align="right" class="ess-personal-info-label">{{Text['APPGROUP'].TabConfidentialPenalty}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">

                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2207List) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o" style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2207List||FileAttachment2207List.length==0">
                                                        <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <div class="modal fade" id="detailDataModal" role="dialog">
                <div class="modal-dialog modal-xl">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header ess-tab-personal-modal">
                            <h3>ค้นหาพนักงาน</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">



                                <div align="left" class="form-group col-md-2">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeUnitLevel}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                        ng-model="LevelSelected" placeholder="-" object-property="DLL_DATA"
                                        suggestions-arr="LevelList" ng-click="GetOrgUnit()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeUnit}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                        ng-model="UnitSelected" placeholder="-" object-property="DLL_DATA"
                                        suggestions-arr="UnitList" ng-click="GetPosition()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSePosition}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                        ng-model="PositionSelected" placeholder="-" object-property="DLL_DATA"
                                        suggestions-arr="PositionList" ng-click="GetEmployee()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeEmployee}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                        ng-model="EmployeeSelected" placeholder="-" object-property="DLL_DATA"
                                        suggestions-arr="EmployeeList">
                                    </multiple-autocomplete>
                                </div>
                                <div align="right" class="d-flex align-items-center">
                                    <a id="TM_1102_btnGetMonthlyTimesheet" href="" class="ess-button searchbtn"
                                        ng-click="SearchEmployeeData()"><i
                                            class="fa fa-search"></i>&nbsp;{{Text['BUTTON'].SEARCH}}</a>&nbsp;

                                </div>


                            </div>


                            <div class="">
                                <div class="tab-content ess-tab-content-pa">
                                    <div class="ess-personal-info-data">
                                        <div class="freeze scrollbar-default">
                                            <table class="ess-table-default">
                                                <tr>

                                                    <th ng-click="changeSorting('EndDate')">
                                                        {{Text['APPGROUP'].PaDestblSeEmployeeID}}&nbsp;<i
                                                            class="fa fa-sort" ng-show="sort.descending"></i><i
                                                            class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('Abbr')">
                                                        {{Text['APPGROUP'].PaDestblSeName}}&nbsp;<i class="fa fa-sort"
                                                            ng-show="sort.descending"></i><i class="fa fa-sort"
                                                            ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('OrganizationUnit')">
                                                        {{Text['APPGROUP'].PaDestblSePosition}}&nbsp;<i
                                                            class="fa fa-sort" ng-show="sort.descending"></i><i
                                                            class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('CostCenter')">
                                                        {{Text['APPGROUP'].PaDestblSeUnit}}&nbsp;<i class="fa fa-sort"
                                                            ng-show="sort.descending"></i><i class="fa fa-sort"
                                                            ng-show="!sort.descending"></i>
                                                    </th>


                                                </tr>
                                                <tr ng-repeat="data in genDatas(EmployeeDataList) | orderBy:sort.column:sort.descending"
                                                    data-target="#detailDataModal" data-toggle="modal" href=""
                                                    style="cursor: pointer;" ng-click="ViewDetailData(data)">
                                                    <td>{{data.EmpCode}}</td>
                                                    <td>{{data.EmpNameTH}}</td>
                                                    <td>{{data.PositionTextTH}}</td>
                                                    <td>{{data.UnitTextTh}}</td>

                                                </tr>
                                                <tr align="center"
                                                    ng-show="!EmployeeDataList||EmployeeDataList.length==0">
                                                    <td colspan="9">{{Text['SYSTEM'].NO_DATA}}</td>
                                                </tr>
                                            </table>

                                            <div class="ess-pagination-wrap" id="paggingWidth"
                                                ng-show="EmployeeDataList.length > 0">
                                                <nav class="ess-navbar">
                                                    <ul class="pagination">
                                                        <li class="page-item " ng-hide="pagin.currentPage <= 1"
                                                            ng-click="changePage(pagin.currentPage-1)"><a
                                                                class="page-link"
                                                                href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                        <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}"
                                                            ng-repeat="page in getPages(EmployeeDataList)"><a
                                                                class="page-link" ng-click="changePage(page)"
                                                                href="">{{page}}</a></li>
                                                        <li class="page-item "
                                                            ng-hide="pagin.currentPage  >= pagin.numPage"
                                                            ng-click="changePage(pagin.currentPage+1)"><a
                                                                class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>