﻿<div id="main-content">
    <div class="page-body">
        <!-- Start breadcrumb -->
        <div class="breadcrumb-container ess-breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST'].HOME}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION'].PA_PERSONAL_QUALI_INFO}}</li>
                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
        <!-- Start Header -->
        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].PA_PERSONAL_QUALI_INFO}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>
        <!-- End Header -->
        <!-- Start Search -->
        <div ng-controller="PersonalQualificationContentController" ng-init="init();">

            <div class="ess-wrapper ess-button-align-right">
                <!-- <button class="btn btn-outline-secondary" data-toggle="modal" data-target=".bd-example-modal-lg"  type="button">ค้นหาพนักงาน</button>-->
                <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#detailDataModal" type="button">{{Text['PA_EDUCATION_MANAGEMENT'].BUTTON_SEARCH}}</button>
            </div>

            <div class="ess-wrapper">
                <div class="row">
                    
                    <div class="col-12 ess-tab-personal-bar">
                        <h5 class="ess-page-header1">{{Text['PA_EDUCATION_MANAGEMENT'].TITLE_EDUCATION}}</h5>
                        <br>
                    </div>

                    <!--<div class="col-12 ess-inner-wrapper ">-->
                    <!--All Tab Content-->

                    <div class="row col-12 ess-inner-tab-personal">
                        <div class="col-11 ">
                            <div class="freeze scrollbar-default">
                                <table class="ess-table-default-table-pa">
                                    <tr>
                                        <th>
                                            <i class="fa fa-user-circle"> </i><span> {{Text['APPGROUP'].PaDestblSeEmployeeID}}</span>
                                        </th>
                                        <th>
                                            <i class="fa fa-address-card-o"> </i><span> {{Text['APPGROUP'].PaDestblSePosition}} </span>
                                        </th>
                                        <th>
                                            <i class="fa fa-dot-circle-o">    </i><span> {{Text['PA_EDUCATION_MANAGEMENT'].BAND}}  </span>
                                        </th>
                                        <th>
                                            <i class="fa fa-users"> </i><span> {{Text['APPGROUP'].PaDestblSeUnit}} </span>
                                        </th>
                                        <th ">
                                            <i class="fa fa-sitemap "> </i><span> {{Text['PA_EDUCATION_MANAGEMENT'].UNITLEVEL}} </span>
                                        </th>


                                    </tr>
                                    <tr>
                                        <td width="20%" style="margin-left:10px;" ng-show="EmpNameTH"><span>{{EmpNameTH}}</span> <span>({{EmpCode}})</span></td>
                                        <td width="21%" style="margin-left:10px;" ng-show="EmpNameTH"> <span>{{PositionTextTH}}</span> <span>({{PosCode}})</span></td>
                                        <td width="13%" style="margin-left:10px;" ng-show="EmpNameTH"><span>{{BandTextTH}}</span> <span>({{BandValue}})</span></td>
                                        <td width="35%" style="margin-left:10px;" ng-show="EmpNameTH"><span>{{UnitTextTh}}</span> <span>({{UnitCode}})</span></td>
                                        <td width="17%" style="margin-left:10px;" ng-show="EmpNameTH"><span>{{UnitLevelTextTH}}</span> <span>({{UnitLevelValue}})</span></td>
                                    </tr>
                                    <tr style="background-color:#F8C471" align="center" ng-show="!EmpNameTH||EmpNameTH=='NULL'">
                                        <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                    </tr>
                                </table>




                            </div>

                        </div>
                        <div class="col-1">
                            <div class="ess-nav-item-user">
                                <div class="ess-nav-item-userimg" align-text="center">
                                    <span class="ess-userimg" style="background-image: url('./images/unknown.png');background-size:cover;margin-left:40px;"></span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ess-wrapper">
                <div class="ess-inner-wrapper">
                    <div class="row">
                        <ul class="nav nav-tabs ess-tab-document-wrap" id="essDocument" role="tablist">
                            <li class="nav-item ess-tab-panel" ng-repeat="item in TabQualiConfig">
                                <a ng-show="item.IsVisible" class="nav-link ess-nav-link-pa {{$index==0 ? 'active' : ''}}" id="{{item.FieldName}}-tab" data-toggle="tab" data-target="#{{item.FieldName}}" href="" role="tab" aria-controls="{{item.FieldName}}" aria-selected="true" ng-click="getDataByTab(item.FieldName)">
                                    <span class="ess-tab-link-label">{{Text['APPGROUP'][item.FieldName]}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content ess-tab-content-pa ess-report-pa-quali">
                        <div class="tab-pane  fade show {{FirstTabIndex=='TabQualiEducation' ? 'active' : ''}} ess-tab-pane" id="TabQualiEducation" role="tabpanel" aria-labelledby="TAB_PA-tab">

                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end" style="margin:10px">
                                <a href="" ng-show="EmpCode" ng-click="CreateNew('2201', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>



                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="freeze scrollbar-default">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('UniCode')">
                                                    {{Text['PA_UNIT'].START_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('StartDate')">
                                                    {{Text['PA_UNIT'].END_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('EndDate')">
                                                    {{Text['PA_UNIT'].Leval}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('Abbr')">
                                                    {{Text['PA_UNIT'].Education_quali}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('OrganizationUnit')">
                                                    {{Text['PA_UNIT'].Institution}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('CostCenter')">
                                                    {{Text['PA_UNIT'].Country}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>

                                                <th ng-click="changeSorting('CostCenter')">
                                                    {{Text['PA_WORKHISTORY'].EditDelete}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatasEducation(EducationList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewEducationDetail(data)">
                                                <td>{{getDateFormat(data.BeginDate)}}</td>
                                                <td>{{getDateFormat(data.EndDate)}}</td>
                                                <td>{{data.EducationLevelTextTH}}</td>
                                                <td>{{data.CertificateTextTH}}</td>
                                                <td>{{data.InstituteTextTH}}</td>
                                                <td>{{data.CountryTextTH}}</td>
                                                <td><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="directToRequest('2201','EDIT',data.EmployeeID,data.PAEduID)"></i> / <i class="fa fa-trash" aria-hidden="true" ng-click="directToRequest('2202','CANCEL',data.EmployeeID,data.PAEduID)"></i></td>
                                            </tr>

                                            <tr ng-show="!EducationList||EducationList.length==0">
                                                <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                        </table>

                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="EducationList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="paginEducation.currentPage <= 1" ng-click="changePageEducation(paginEducation.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                    <li class="page-item {{paginEducation.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPagesEducation(EducationList)"><a class="page-link" ng-click="changePageEducation(page)" href="">{{page}}</a></li>
                                                    <li class="page-item " ng-hide="paginEducation.currentPage  >= paginEducation.numPage" ng-click="changePageEducation(paginEducation.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>


                                    </div>
                                    <br />
                                    <div class=" nav-solid-bar"></div>

                                    <div class="col-12">

                                        <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].BEGIN_DATE}}</span></div>

                                                <div ng-show="true">{{getDateFormat(StartDateText)}}</div>
                                            </div>


                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].END_DATE}}</span></div>

                                                <div ng-show="true">{{getDateFormat(EndDateText)}}</div>
                                            </div>

                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].EDUCATION_LEVEL}}</span></div>

                                                <div ng-show="true">{{EducationLevelText}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].CERTIFICATE}}</span></div>


                                                <div ng-show="true">{{CertificateText}}</div>
                                            </div>

                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].MAJOR}}</span></div>


                                                <div ng-show="true">{{MajorText}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].MINOR}}</span></div>


                                                <div ng-show="true">{{MinorText}}</div>
                                            </div>

                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].INSTITUTION}}</span></div>

                                                <div ng-show="true">{{InstitutionText}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].COUNTRY}}</span></div>



                                                <div ng-show="true">{{CountryText}}</div>
                                            </div>

                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].HONOR}}</span></div>


                                                <div ng-show="true">{{HonorText}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class=""><span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].GRADE}}</span></div>

                                                <div ng-show="true">{{GradeText}}</div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade show {{FirstTabIndex=='TabQualiWorkHistory' ? 'active' : ''}} ess-tab-pane" id="TabQualiWorkHistory" role="tabpanel" aria-labelledby="TAB_ADDRESS-tab">

                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end" style="margin:10px">
                                <a href="" ng-click="CreateNew('2203', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>
                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="freeze scrollbar-default">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('UniCode')">
                                                    {{Text['PA_WORKHISTORY'].StartDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('StartDate')">
                                                    {{Text['PA_WORKHISTORY'].EndDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('EndDate')">
                                                    {{Text['PA_WORKHISTORY'].CompanyName}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('Abbr')">
                                                    {{Text['PA_WORKHISTORY'].Position}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('OrganizationUnit')">
                                                    {{Text['PA_WORKHISTORY'].Industry}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('CostCenter')">
                                                    {{Text['PA_WORKHISTORY'].Country}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('CostCenter')">
                                                    {{Text['PA_WORKHISTORY'].EditDelete}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>

                                            <tr ng-repeat="data in genDatasWorkHist(WorkHistoryList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                <td>{{getDateFormat(data.BeginDate)}}</td>
                                                <td>{{getDateFormat(data.EndDate)}}</td>
                                                <td>{{data.EmployerName}}</td>
                                                <td>{{data.Position}}</td>
                                                <td>{{data.BuTextTH}}</td>
                                                <td>{{data.WorkCountryTextTH}}</td>
                                                <td><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="directToRequest('2203','EDIT',data.EmpCode,data.PaWoId)"></i> / <i class="fa fa-trash" aria-hidden="true" ng-click="directToRequest('2204','CANCEL',data.EmpCode,data.PaWoId)"></i></td>
                                            </tr>

                                            <tr ng-show="!WorkHistoryList||WorkHistoryList.length==0">
                                                <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                        </table>

                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="WorkHistoryList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="paginWorkHist.currentPage <= 1" ng-click="changePageWorkHist(paginWorkHist.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                    <li class="page-item {{paginWorkHist.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPagesWorkHist(WorkHistoryList)"><a class="page-link" ng-click="changePageWorkHist(page)" href="">{{page}}</a></li>
                                                    <li class="page-item " ng-hide="paginWorkHist.currentPage  >= paginWorkHist.numPage" ng-click="changePageWorkHist(paginWorkHist.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>


                                    </div>
                                    <br />
                                    <div class=" nav-solid-bar"></div>


                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade show {{FirstTabIndex=='TabQualiTraininghistory' ? 'active' : ''}} ess-tab-pane" id="TabQualiTraininghistory" role="tabpanel" aria-labelledby="TAB_ADDRESS-tab">
                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end" style="margin:10px">
                                <a href="" ng-click="CreateNew('2205', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>
                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="freeze scrollbar-default">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('StartDate')">
                                                    {{Text['PA_WORKHISTORY'].StartDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('EndDate')">
                                                    {{Text['PA_WORKHISTORY'].EndDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th colspan="2" ng-click="changeSorting('COURSE')">
                                                    {{Text['PA_EDUCATION_MANAGEMENT'].COURSE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>

                                                <th>
                                                    {{Text['PA_WORKHISTORY'].EditDelete}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatasTrainning(TrainingList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                <td>{{getDateFormat(data.BeginDate)}}</td>
                                                <td>{{getDateFormat(data.EndDate)}}</td>
                                                <td colspan="2">{{data.CourseName}}</td>
                                                <td><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="directToRequest('2205','EDIT',data.EmployeeID,data.PaTrId)"></i> / <i class="fa fa-trash" aria-hidden="true" ng-click="directToRequest('2206','CANCEL',data.EmployeeID,data.PaTrId)"></i></td>
                                            </tr>

                                            <tr ng-show="!TrainingList||TrainingList.length==0">
                                                <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                        </table>
                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="TrainingList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="paginTrainning.currentPage <= 1" ng-click="changePageTrainning(paginTrainning.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                    <li class="page-item {{paginTrainning.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPagesTrainning(TrainingList)"><a class="page-link" ng-click="changePageTrainning(page)" href="">{{page}}</a></li>
                                                    <li class="page-item " ng-hide="paginTrainning.currentPage  >= paginTrainning.numPage" ng-click="changePageTrainning(paginTrainning.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <br />
                                    <div class=" nav-solid-bar"></div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade show {{FirstTabIndex=='TabQualiresearchMember' ? 'active' : ''}} ess-tab-pane" id="TabQualiresearchMember" role="tabpanel" aria-labelledby="TAB_ADDRESS-tab">
                            <div align="center" class="row ess-document-tab-content-search justify-content-center">
                                <div align="right" style="margin-top:8px;" class="col-md-4">
                                    <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].ACADEMICWORKTYPE}}</span>
                                </div>
                                <div align="left" class="form-group col-md-4">
                                    <select id="PA_2201_txtBandValue" class="form-control ess-form-control" ng-model="subtype" ng-change="onSubtypeChange()">
                                        <option value="">All</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in SubTypeList">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                                <div align="right" class="col-md-4">
                                    <a href="" ng-click="directToRequest('2207', 'NEWID',EmpCode,PosCode )" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].Create_PaQuali}}</a>
                                    <!--<a id="TM_1100_btnSearch" href="" class="ess-button searchbtn" ng-click="GetDataContent()"><i class="fa fa-search"></i>&nbsp;{{Text['BUTTON'].SEARCH}}</a>&nbsp;-->
                                </div>
                            </div>

                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="freeze scrollbar-default">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('StartDate')">
                                                    {{Text['PA_WORKHISTORY'].StartDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('EndDate')">
                                                    {{Text['PA_WORKHISTORY'].EndDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th colspan="2" ng-click="changeSorting('ACADEMICWORKTYPE')">
                                                    {{Text['PA_EDUCATION_MANAGEMENT'].ACADEMICWORKTYPE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th colspan="2" ng-click="changeSorting('USERROLE')">
                                                    {{Text['PA_EDUCATION_MANAGEMENT'].USERROLE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th colspan="2" ng-click="changeSorting('TITLE')">
                                                    {{Text['PA_EDUCATION_MANAGEMENT'].TITLE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th>
                                                    {{Text['PA_WORKHISTORY'].EditDelete}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatas(Acedemicworkmemberlist) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                <td>{{getDateFormat(data.BeginDate)}}</td>
                                                <td>{{getDateFormat(data.EndDate)}}</td>
                                                <td colspan="2">{{data.SubtypeTextTH}}</td>
                                                <td colspan="2">{{data.RoleNameTH}}</td>
                                                <td colspan="2">{{data.Title}}</td>
                                                <td><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="directToRequest('2207','EDIT',data.EmpCode,data.PAReMemID)"></i> / <i class="fa fa-trash" aria-hidden="true" ng-click="directToRequest('2208','CANCEL',data.EmpCode,data.PAReMemID)"></i></td>
                                            </tr>

                                            <tr ng-show="!Acedemicworkmemberlist||Acedemicworkmemberlist.length==0">
                                                <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                        </table>
                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="Acedemicworkmemberlist.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="paginmember.currentPage <= 1" ng-click="changePagemember(paginmember.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                    <li class="page-item {{paginmember.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPagesmember(Acedemicworkmemberlist)"><a class="page-link" ng-click="changePagemember(page)" href="">{{page}}</a></li>
                                                    <li class="page-item " ng-hide="paginmember.currentPage  >= paginmember.numPage" ng-click="changePagemember(paginmember.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <br />
                                    <div class=" nav-solid-bar"></div>
                                </div>
                            </div>

                        </div>



                        <div class="tab-pane fade show {{FirstTabIndex=='TabQualiAttachment' ? 'active' : ''}} ess-tab-pane" id="TabQualiAttachment" role="tabpanel" aria-labelledby="TAB_ADDRESS-tab">
                            <div class="col-12">
                                <div class="ess-personal-info-data">

                                    <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                        <div class="col-12 ess-tab-section-bar1">
                                            <!--<i class="icon icon_type_blue"></i>-->
                                            <div align="left" class="ess-tab-section-bar-hdr">{{Text['PA_EDUCATION_MANAGEMENT'].ATTACHMENT}}</div>

                                        </div>
                                    </a>
                                    <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span  align="right" class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].EDUCATION}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">
                                                
                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2201List) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o" style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2201List||FileAttachment2201List.length==0">
                                                        <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                               <br />
                                                <span  align="right" class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].WORKHISTORY}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">
                                                
                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2203List) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o " style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2203List||FileAttachment2203List.length==0">
                                                        <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span  class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].TRAINNING}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">
                                                
                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2205List) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o" style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2205List||FileAttachment2205List.length==0">
                                                        <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span align="right" class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].ACADEMICWORKMEMBER}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen" >
                                                
                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2207List) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o" style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2207List||FileAttachment2207List.length==0">
                                                        <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="detailDataModal" role="dialog">
                <div class="modal-dialog modal-xl">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header ess-tab-personal-modal">
                            <h3>ค้นหาพนักงาน</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">



                                <div align="left" class="form-group col-md-2">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeUnitLevel}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important" ng-model="LevelSelected" placeholder="-" object-property="DLL_DATA" suggestions-arr="LevelList" ng-click="GetOrgUnit()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeUnit}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important" ng-model="UnitSelected" placeholder="-" object-property="DLL_DATA" suggestions-arr="UnitList" ng-click="GetPosition()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSePosition}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                                           ng-model="PositionSelected"
                                                           placeholder="-"
                                                           object-property="DLL_DATA"
                                                           suggestions-arr="PositionList"
                                                           ng-click="GetEmployee()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeEmployee}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                                           ng-model="EmployeeSelected"
                                                           placeholder="-"
                                                           object-property="DLL_DATA"
                                                           suggestions-arr="EmployeeList">
                                    </multiple-autocomplete>
                                </div>
                                <div align="right" class="d-flex align-items-center">
                                    <a id="TM_1102_btnGetMonthlyTimesheet" href="" class="ess-button searchbtn" ng-click="SearchEmployeeData()"><i class="fa fa-search"></i>&nbsp;{{Text['BUTTON'].SEARCH}}</a>&nbsp;
                                    <a id="TM_1100_btnClear" href="" class="ess-button editbtn" ng-click="ResetDataContent()"><i class="fa fa-refresh"></i>&nbsp;{{Text['BUTTON'].RESET}}</a>
                                </div>


                            </div>


                            <div class="">
                                <div class="tab-content ess-tab-content-pa">
                                    <div class="ess-personal-info-data">
                                        <div class="freeze scrollbar-default">
                                            <table class="ess-table-default">
                                                <tr>

                                                    <th ng-click="changeSorting('EndDate')">
                                                        {{Text['APPGROUP'].PaDestblSeEmployeeID}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('Abbr')">
                                                        {{Text['APPGROUP'].PaDestblSeName}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('OrganizationUnit')">
                                                        {{Text['APPGROUP'].PaDestblSePosition}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('CostCenter')">
                                                        {{Text['APPGROUP'].PaDestblSeUnit}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>


                                                </tr>
                                                <tr ng-repeat="data in genDatasEmployee(EmployeeDataList) | orderBy:sort.column:sort.descending" data-target="#detailDataModal" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewDetailData(data)">
                                                    <td>{{data.EmpCode}}</td>
                                                    <td>{{data.EmpNameTH}}</td>
                                                    <td>{{data.PositionTextTH}}</td>
                                                    <td>{{data.UnitTextTh}}</td>

                                                </tr>
                                                <tr align="center" ng-show="!EmployeeDataList||EmployeeDataList.length==0">
                                                    <td colspan="9">{{Text['SYSTEM'].NO_DATA}}</td>
                                                </tr>
                                            </table>

                                            <div class="ess-pagination-wrap" id="paggingWidth" ng-show="EmployeeDataList.length > 0">
                                                <nav class="ess-navbar">
                                                    <ul class="pagination">
                                                        <li class="page-item " ng-hide="paginEmployee.currentPage <= 1" ng-click="changePageEmployee(paginEmployee.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                        <li class="page-item {{paginEmployee.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPagesEmployee(EmployeeDataList)"><a class="page-link" ng-click="changePageEmployee(page)" href="">{{page}}</a></li>
                                                        <li class="page-item " ng-hide="paginEmployee.currentPage  >= paginEmployee.numPage" ng-click="changePageEmployee(paginEmployee.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
