﻿<!-- Start breadcrumb -->
<div class="breadcrumb-container ess-breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ess-breadcrumb">
            <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION'].PA_PHONE_DIRECTORY}}</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<!-- Start Header -->
<div class="ess-page-header-panel row ess-row-wrap">
    <div class="col-12 ess-page-header">
        <i class="icon icon_phone_dir_wh"></i>
        <h1 class="ess-page-header1">{{Text['APPLICATION'].PA_PHONE_DIRECTORY}}</h1>
    </div>
</div>
<div class="ess-headersub-1"></div>
<div class="ess-headersub-2"></div>
<!-- End Header -->

<div ng-controller="PhoneDirectoryContentController">
    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">
            <div class="row ess-form-control">
                <!-- Search tools -->
                <div class="col-12 ess-form-group">
                    <div class="form-group">
                        <div class="form-inline">
                            <!--<div class="col-6 col-12">  </div>-->
                            <input id="PA_599_txtSearchText" type="text" class="form-control ess-form-control" ng-model="PDCriteria.SearchText" ng-keydown="$event.keyCode === 13 && submitSearch()" placeholder="{{Text['SYSTEM']['SEARCH_WORDING']}}" />
                            <a id="PA_599_SUBMIT" nohref="" ng-click="submitSearch()" class="ess-button infobtn"><i class="fa fa-search"></i>&nbsp;{{Text['SYSTEM'].SEARCH}}</a>
                            <a id="PA_599_CLEARSUBMIT" nohref="" ng-click="clearSearchCriteria()" class="ess-button editbtn"><i class="fa fa-refresh"></i>&nbsp;{{Text['SYSTEM'].CLEAR}}</a>&nbsp;
                            <a ng-show="CentralContactVisible" id="PA_599_CENTRALCONTACT" nohref="" ng-click="ShowCompanyContent()" class="ess-button recallbtn"><i class="fa fa-tty"></i>&nbsp;{{Text[Textcategory].CENTRALCONTACT_HEADER}}</a>&nbsp;
                        </div>
                    </div>
                </div>
                <!-- Results ess-phone-dir-result-->
                <div class="col-12 ess-form-group ess-personal-info-general-frame" ng-show="PhoneDirectoryListData.length > 0">
                    <!--<div class="row col-12" ng-show="PhoneDirectoryListData.length == 0" style="place-content: center;">
                        <h3 style="color:darkslategray">{{Text[Textcategory].SEARCH_FAIL}}</h3>
                    </div>-->
                    <div class="col-12" style="display: flex; justify-content: flex-end;margin-top:10px;">
                        <!--<select class="form-control ess-form-control" ng-model="PDCriteria.LanguageCode" title="{{Text['SETTING'].LANGUAGE }}">
                            <option value="EN">{{Text['SETTING'].LANGUAGEEN}}</option>
                            <option value="TH">{{Text['SETTING'].LANGUAGETH}}</option>
                        </select>-->
                        &nbsp;<a ng-show="PhoneDirectoryListData.length > 0 && isAdmin" nohref ng-click="exportPhoneDirectoryToExcel()" class="ess-button addbtn" id="PA_599_btnExportExcel"><i class="fa fa-file-excel-o"></i> {{Text['SYSTEM'].EXCEL_BTN}} &nbsp;<span id="PA_599_ldExportExcel"></span></a>
                    </div>
                    <div class="row col-12 phone-card-element" id="all-phone-card">
                        <!-- contents -->                       
                        <div class="col-xs-12 col-xl-6 justify-content-center mb-3" ng-repeat="item in genDatas()" style="cursor:pointer;">
                            <div class="display">
                                <div class="display-item ">
                                    <div class="flippable-business-card">
                                        <div class="front">
                                            <div class="business-card" style="color:#444444">
                                                <div class="profile">
                                                    <div class="" style="align-self: center;text-align:center;">
                                                        <img class="profile-image" ng-src="{{item.ImagePath}}" loading="lazy" onerror="this.src = './images/unknown.png'; this.style='width:120px;height:120px;'" />
                                                    </div>
                                                    <div class="profile-title">
                                                        <b><span>{{item.EmployeeID}}</span></b><br />
                                                        <span>{{CurrentLanguageCode == 'TH' ? item.NameTH : item.NameEN }} {{item.NickName != "" ? "("+item.NickName+")" : ""}}</span>
                                                        <span style="font-size:14px;" ng-show="CurrentLanguageCode == 'TH'" class="alternative-name"><br />{{item.NameEN}}</span><br />
                                                        <span style="font-size:14px;">{{item.OrgName}} ({{CurrentLanguageCode == 'TH' ? item.ORG_SHORTTEXT_TH : item.ORG_SHORTTEXT_EN}})<!--&nbsp;({{item.Position}})--></span><br />
                                                        <span style="font-size:14px;">{{item.PositionName}}<!--&nbsp;({{item.Position}})--></span>
                                                        <!--<span><i class="fa fa-building"></i>{{item.OrgName}}&nbsp;({{item.OrgUnit}})</span>-->
                                                    </div>
                                                </div>
                                                <div class="info">
                                                    <div class="info-contact">
                                                        <span><i class="fa fa-mobile"></i>{{item.CELLPHONE}}</span><br />
                                                        <span><i class="fa fa-phone"></i>{{item.OFFICENUMBER}}</span><br />
                                                        <span><i class="fa fa-envelope-o"></i>{{item.MAIL}}</span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="back" ng-mouseover="getMoreInformation($index)">
                                            <div style="margin:5px;">   <img ng-src="{{CompanyLogo}}" width="100" /></div>

                                            <div style="padding:10px;"></div>
                                            <div class="row">
                                                <div class="row mx-0">
                                                    <div class="col-lg-8 col-md-8 col-sm-12" style="align-self: center;text-align:left;">
                                                        <span>{{CurrentLanguageCode == 'TH' ? item.NameTH : item.NameEN }} {{item.NickName != "" ? "("+item.NickName+")" : ""}}</span>
                                                        <span style="font-size:14px;" ng-show="CurrentLanguageCode == 'TH'" class="alternative-name"><br />{{item.NameEN}}</span><hr />
                                                        <div style="padding-top:5px; font-size:14px;">
                                                            {{item.PositionName}}&nbsp;({{item.Position}})<br />
                                                            {{item.OrgName}}&nbsp;({{item.OrgUnit}})
                                                        </div>
                                                        <!--<span><i class="fa fa-mobile"></i>&nbsp;{{item.CELLPHONE}}</span><br />
                                                        <span><i class="fa fa-phone"></i>&nbsp;{{item.OFFICENUMBER}}</span><br />
                                                        <span><i class="fa fa-envelope-o"></i>&nbsp;{{item.MAIL}}</span><br />-->
                                                        <span ng-show="item.PERSONALMAIL!=null"><i class="fa fa-envelope-o"></i>&nbsp;{{item.PERSONALMAIL}}</span><br />
                                                        <!--<span><i class="fa fa-building"></i>&nbsp;{{item.OrgName}}&nbsp;({{item.OrgUnit}})</span>-->
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <img class="qrcode-image" id="PA_599_modal_qrcode" src="{{QRCode}}" style="width:150px;height:150px" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div data-toggle="modal" data-target="#phone_card">
                        </div>-->
                        <div class="row col-12 ess-pagination-wrap" ng-show="PhoneDirectoryListData.length > 0">
                            <nav aria-label="Page navigation" class="ess-pagination-nav mx-auto">
                                <ul class="pagination ess-pagination">
                                    <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                    <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages()"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                    <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>

                </div>
                <div class="col-12 ess-document-list-item" style="border:1px #e5e5e5 solid; border-radius:5px; padding:20px; text-align:center" ng-if="PhoneDirectoryListData.length==0">
                    {{Text['SYSTEM'].NO_DATA}}
                </div>
            </div>

        </div>

    </div>
</div>