﻿<div id="poll-content">
    <!-- Start breadcrumb -->
    <div class="breadcrumb-container ess-breadcrumb-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ess-breadcrumb">
                <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
                <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['POLL'].POLLQUESTION}}</li>
            </ol>
        </nav>
    </div>
    <!-- End breadcrumb -->
    <!-- Start Header -->
    <div class="ess-page-header-panel row ess-row-wrap">
        <div class="col-12 ess-page-header">
            <i class="icon icon_announcement_wh"></i>
            <h1 class="ess-page-header1">{{Text['POLL'].POLLQUESTION}}</h1>
        </div>
    </div>
    <div class="ess-headersub-1"></div>
    <div class="ess-headersub-2"></div>
    <!-- End Header -->

    <div class="ess-wrapper" ng-controller="PollContentController">
        <!--<div class="ess-inner-wrapper"> </div>-->
        <ul class="nav nav-tabs ess-tab-document-wrap" id="essDocument" role="tablist">
            <li class="nav-item ess-tab-panel">
                <a class="nav-link ess-nav-link active" id="essPollTopic-tab" data-toggle="tab" data-target="#essPollTopic" href="" role="tab" aria-controls="essPollTopic" aria-selected="true">
                    <div class="ess-tab-link-icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
                    <span style="text-align:left">{{Text[Textcategory].POLLQUESTION}}</span>
                </a>
            </li>
            <li class="nav-item ess-tab-panel">
                <a class="nav-link ess-nav-link" id="essPollSummary-tab" data-toggle="tab" data-target="#essPollSummary" href="" role="tab" aria-controls="essPollSummary" aria-selected="false">
                    <div class="ess-tab-link-icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
                    <span style="text-align:left">{{Text[Textcategory].SUMMARYVOTE}}</span>
                </a>
            </li>
        </ul>

        <div class="tab-content ess-tab-content" id="essPollContent">
            <!-- Tab 1 -->
            <div class="tab-pane fade show active ess-tab-pane" id="essPollTopic" role="tabpanel" aria-labelledby="essPollTopic-tab">
                <div class="row ess-personal-info-general justify-content-end" style="margin:3px">
                    <a href="" ng-click="CreateNew('911','')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text[Textcategory].CREATE}}</a>
                </div>
                <div class="ess-table-container">
                    <div class="freeze scrollbar-default">
                        <table class="ess-table-default">
                            <thead>
                                <tr>
                                    <th><div class="th-text">{{Text[Textcategory].POLLQUESTION}}</div></th>
                                    <th><div class="th-text">{{Text[Textcategory].SEEN}}</div></th>
                                    <th><div class="th-text">{{Text[Textcategory].UNSEEN}}</div></th>
                                    <th><div class="th-text">{{Text[Textcategory].VOTED}}</div></th>
                                    <th><div class="th-text">{{Text[Textcategory].BEGINDATE}}</div></th>
                                    <th><div class="th-text">{{Text[Textcategory].ENDDATE}}</div></th>
                                    <th><div class="th-text">{{Text[Textcategory].LASTDAYOFSEEING}}</div></th>
                                    <th><div class="th-text">{{Text[Textcategory].EDIT}}/{{Text[Textcategory].DELETE}}</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Item in genDatas(PollListData)" ng-show="PollListData.length > 0">
                                    <td class="text-left wrapper">
                                        <div ng-if="Item.IsExpire" style="color:lightgray">{{Item.PollTopic}}</div>
                                        <div ng-if="!Item.IsExpire">{{Item.PollTopic}}</div>
                                    </td>
                                    <td class="text-center">
                                        <div ng-if="Item.IsExpire" style="color:lightgray">{{Item.Seen}}</div>
                                        <div ng-if="!Item.IsExpire">{{Item.Seen}}</div>
                                    </td>
                                    <td class="text-center">
                                        <div ng-if="Item.IsExpire" style="color:lightgray">{{Item.Unseen}}</div>
                                        <div ng-if="!Item.IsExpire">{{Item.Unseen}}</div>
                                    </td>
                                    <td class="text-center">
                                        <div ng-if="Item.IsExpire" style="color:lightgray">{{Item.Voted}}</div>
                                        <div ng-if="!Item.IsExpire">{{Item.Voted}}</div>
                                    </td>
                                    <td class="text-center">
                                        <div ng-if="Item.IsExpire" style="color:lightgray">{{(Item.BeginDate | date:"dd/MM/yyyy")}}</div>
                                        <div ng-if="!Item.IsExpire">{{(Item.BeginDate | date:"dd/MM/yyyy")}}</div>
                                    </td>
                                    <td class="text-center">
                                        <div ng-if="Item.IsExpire" style="color:lightgray">{{(Item.EndDate | date:"dd/MM/yyyy")}}</div>
                                        <div ng-if="!Item.IsExpire">{{(Item.EndDate | date:"dd/MM/yyyy")}}</div>
                                    </td>
                                    <td class="text-center">
                                        <div ng-if="Item.IsExpire" style="color:lightgray">{{(Item.LastSeenDate | date:"dd/MM/yyyy")}}</div>
                                        <div ng-if="!Item.IsExpire">{{(Item.LastSeenDate | date:"dd/MM/yyyy")}}</div>
                                    </td>
                                    <td class="text-center">
                                        <a ng-click="CreateNew('911','EDIT|'+Item.PollID + '|'+Item.RequestNo)" ng-if="Item.State == 'COMPLETED'">
                                            <div class="fa fa-pencil-square-o" style="cursor:pointer; color:royalblue" title="{{Text[Textcategory].EDIT}}"></div>
                                        </a>
                                        <!--DELETE-->
                                        <a ng-click="CreateNew('912','DELETE|'+Item.PollID)" ng-if="Item.State == 'COMPLETED' && Item.IsDelete == false">
                                            <div class="fa fa-trash-o" style="cursor:pointer;color:orangered" title="{{Text[Textcategory].DELETE}}"></div>
                                        </a>
                                    </td>
                                </tr>
                                <!--กรณีไม่มีข้อมูล-->
                                <tr ng-if="PollListData.length == 0">
                                    <td colspan="9" style=" width: 100%; text-align: center; height: 50px; padding-top: 20px;font-size:18px;">{{Text['SYSTEM'].NO_DATA}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="ess-pagination-wrap" id="paggingWidth" ng-show="PollListData.length > 0">
                        <nav class="ess-navbar">
                            <ul class="pagination">
                                <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(PollListData)"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
            <!-- end Tab 1 -->
            <!-- Tab 2 -->

            <div class="tab-pane fade ess-tab-pane" id="essPollSummary" role="tabpanel" aria-labelledby="essPollSummary-tab">
                <div class="ess-table-container">
                    <div class="freeze scrollbar-default">
                        <div class="row" ng-repeat="summary in genDatas(PollSummaryData)" ng-show="PollSummaryData.length > 0">
                            <nav class="ess-personal-info-general-hdr" style="width:100%;margin-top:10px;">
                                <a class="navbar-brand">
                                    {{summary.PollTopic}}
                                </a>
                            </nav>
                            <table class="ess-table-default">
                                <thead>
                                    <tr>
                                        <th style="width:25%"><div class="th-text">{{Text[Textcategory].SEQUENCE}}</div></th>
                                        <th style="width:25%"><div class="th-text">{{Text[Textcategory].OPTION}}</div></th>
                                        <th style="width:25%"><div class="th-text">{{Text[Textcategory].TOTALVOTE}}</div></th>
                                        <th><div class="th-text">{{Text['EXPENSE'].PERCENT}}</div></th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Item in summary.PollSummary">
                                        <td class="text-center">

                                            <div>{{Item.OptionID}}</div>
                                        </td>
                                        <td class="text-center">

                                            <div>{{Item.OptionName}}</div>
                                        </td>
                                        <td class="text-center">

                                            <div>{{Item.SummaryVote}}</div>
                                        </td>

                                        <td class="text-center">

                                            <div>{{Item.PercenVote  | number:2}}</div>
                                        </td>

                                    </tr>
                                    <!--กรณีไม่มีข้อมูล-->
                                    <tr ng-if="PollSummaryData.length == 0">
                                        <td colspan="9" style=" width: 100%; text-align: center; height: 50px; padding-top: 20px;font-size:18px;">{{Text['SYSTEM'].NO_DATA}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ess-pagination-wrap" id="paggingWidth" ng-show="PollSummaryData.length > 0">
                        <nav class="ess-navbar">
                            <ul class="pagination">
                                <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(PollSummaryData)"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>

                <!-- end Tab 2 -->
            </div>
        </div>

    </div>

</div>
