﻿<!-- Start breadcrumb -->
<div class="breadcrumb-container ess-breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ess-breadcrumb">
            <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION'].PA_RESEARCH_PATENT}}</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<!-- Start Header -->
<div class="ess-page-header-panel row ess-row-wrap">
    <div class="col-12 ess-page-header">
        <i class="icon icon_phone_dir_wh"></i>
        <h1 class="ess-page-header1">{{Text['APPLICATION'].PA_RESEARCH_PATENT}}</h1>
    </div>
</div>
<div class="ess-headersub-1"></div>
<div class="ess-headersub-2"></div>
<!-- End Header -->
<div class="ess-wrapper" ng-controller="ResearchPatentContentController">
    <ul class="nav nav-tabs ess-tab-document-wrap" id="essDocument" role="tablist">
        <li class="nav-item ess-tab-panel">
            <a class="nav-link ess-nav-link active" id="PA_611_btnResearch_Tab" data-toggle="tab" data-target="#PA_611_ResearchTab" href="" role="tab" aria-controls="PA_611_ResearchTab" aria-selected="true">
                <div class="ess-tab-link-icon"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
                <span style="text-align:left"> {{Text[Textcategory].RESEARCH_DATA}}</span>
            </a>
        </li>
        <li class="nav-item ess-tab-panel">
            <a class="nav-link ess-nav-link" id="PA_611_btnPatent_Tab" data-toggle="tab" data-target="#PA_611_PatentTab" href="" role="tab" aria-controls="PA_611_PatentTab" aria-selected="false">
                <div class="ess-tab-link-icon"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
                <span style="text-align:left"> {{Text[Textcategory].PATENT_DATA}}</span>
            </a>
        </li>
    </ul>
</div>