﻿<div ng-controller="ResultController" class="padding-breadcrumb request-background">

    <div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
    <div ng-if="document" ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
    <div ng-include="'views/common/partials/document_flow.html?t='+runtime"></div>
    <div ng-if="document.HasError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
    <div class="clearfix"></div>

</div>
