﻿<div ng-controller="RequestViewerController" class="padding-breadcrumb request-background">
    <div>
        <div>
            <div ng-include="'views/common/partials/document_action.html?t='+runtime"></div>
        </div>
    </div>

    <div ng-if="document" ng-include="getRequestViewerTemplate(runtime)"></div>
    <!--<div class="row">-->
    <div ng-if="templateControl.isNotSubEditor && document" ng-include="'views/common/partials/document_attachment_manager.html?t='+runtime"></div>
    <!--</div>-->
    <!--<div class="row">-->
    <div ng-if="document && !templateControl.isDeleteRequest && templateControl.isShowDialogComment" ng-include="'views/common/partials/document_comment.html?t='+runtime"></div>
    <!--</div>-->
    <!--<div class="row">-->
    <div ng-include="'views/common/partials/document_flow.html?t='+runtime"></div>
    <!--</div>-->

</div>
