﻿
/* console-conent*/
.console-content {
    background: white;
    margin: auto;
    margin-top: 2rem;
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
    margin-bottom: 10rem;
}

    .console-content .top-bar {
        position: relative;
        display: block;
        padding-right: 0px;
        padding-left: 0px;
        border-bottom: solid 1px #cccccc;
    }

@media only screen and (min-width: 1200px) {
    .console-content .top-bar {
        margin-top: -1rem;
        display: flex;
    }
}

.console-content .people-icon {
    width: 130px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

    .console-content .people-icon .people-icon-img {
        width: 110px;
        height: 110px;
        border: solid 1px #636363;
        background: #9fc3ff;
        overflow: hidden;
        margin: auto;
    }

        .console-content .people-icon .people-icon-img img {
            width: 100%;
            height: 100%;
        }

    .console-content .people-icon .detail {
        margin-top: 1rem;
    }

.console-content .top-button-create-request.left {
    text-align: left;
    padding-left: 0px;
}

.console-content .top-button-create-request {
    position: relative;
    font-size: 30px;
    padding: 0rem 1rem 0rem 1rem;
    text-align: right;
    width: 50%;
    height: 85px;
}

.console-content .top-button-create-request-button {
    color: #616161;
    font-size: 27px;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

    .console-content .top-button-create-request-button .fa {
        color: #77d678;
    }

    .console-content .top-button-create-request-button:hover {
        background: #e6e6e6;
        border-radius: 5px;
    }

.console-content .text-devider {
    margin-top: 20px;
    font-size: 23px;
    text-decoration: underline;
}

@media only screen and (max-width: 769px) {

    .console-content {
        margin-top: 2rem;
    }

        .console-content .people-icon {
            top: 14px;
        }

            .console-content .people-icon .people-icon-img {
                width: 60px;
                height: 60px;
            }
}

@media only screen and (max-width: 769px) {

    .console-content {
        margin-top: 2rem;
    }

        .console-content .people-icon {
            top: 14px;
        }

            .console-content .people-icon .people-icon-img {
                width: 60px;
                height: 60px;
            }
}



/*------------  Console box & button -----------------*/



.approve {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fca800+0,f9c357+100 */
    background: #fca800; /* Old browsers */
    background: -moz-linear-gradient(top, #fca800 0%, #f9c357 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fca800 0%,#f9c357 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fca800 0%,#f9c357 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca800', endColorstr='#f9c357',GradientType=0 ); /* IE6-9 */
    border-color: #e09500;
}

.recall {
    background: #30cde2; /* Old browsers */
    background: -moz-linear-gradient(top, #30cde2 1%, #90d6dd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #30cde2 1%,#90d6dd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #30cde2 1%,#90d6dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30cde2', endColorstr='#90d6dd',GradientType=0 ); /* IE6-9 */
    border-color: #24bed3;
}

.in-progress {
    background: #77d678; /* Old browsers */
    background: -moz-linear-gradient(top, #77d678 2%, #a5d3a5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #77d678 2%,#a5d3a5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #77d678 2%,#a5d3a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77d678', endColorstr='#a5d3a5',GradientType=0 ); /* IE6-9 */
    border-color: #60c661;
}

.default-type {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+2,fafafa+100 */
    background: #dddddd; /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 2%, #fafafa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #dddddd 2%,#fafafa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #dddddd 2%,#fafafa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
    border-color: #dddddd;
}

    .default-type > i {
        color: #aaa !important;
    }

.console-content .console-box {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.console-btn {
    display: inline-block;
    padding: 0.7rem;
    border-style: solid;
    border-width: 1px;
    position: relative;
    margin: 0px;
    transition: 0.2s opacity;
}

    .console-btn:not(:last-child) {
        /*border-right: 1.5px solid #FFF !important;*/
    }

    

    .console-btn:hover {
        opacity: 0.8;
    }

    .console-btn:not(:first-child) {
        margin-left: 0px;
    }

    .console-btn, .console-btn * {
        cursor: pointer;
    }

        .console-btn > div, .console-btn > i {
            display: block;
            float: left;
        }

        .console-btn > i {
            font-size: 30px;
            left: 10px;
            top: 20px;
            color: #fff;
            margin-right: 30px;
        }

        .console-btn > div {
            text-align: right;
            margin-top: 5px;
        }

            .console-btn > div > label, .console-btn > div > span {
                display: block;
                margin: 0px;
                line-height: 25px;
            }

            .console-btn > div > span {
                font-size: 40px;
            }

            .console-btn > div > label {
                font-size: 20px;
            }


div.console-box {
    display: block;
    clear: both;
    width: 100%;
}

@media only screen and (min-width: 1200px) {

    .console-create-btn {
        float: right;
    }
}

@media only screen and (min-width: 1200px) {

    /*.console-box:first-child {
        width: 66.7%;
        display: block;
        float: left;
    }

    .console-box:last-child {
        width: 33.3%;
        float: left;
        display: block;
        text-align: right;
    }*/


    .console-btn:first-child {
        border-bottom-left-radius: 5px;
    }
    .console-btn:last-child {
        border-bottom-right-radius: 5px;
    }

    .console-btn:last-child {
        border-bottom-right-radius: 5px;
    }


    .console-btn:not(:first-child) {
        margin-left: -4px;
    }
}



@media only screen and (max-width: 400px) {
    .console-btn {
        width: 100%;
    }
    .console-create-btn {
        width: 49%;
    }
}


    .console-content .console-btn {
            position:relative;
        }
        
        .console-content .internal-query {
            display:none;
        }
        .console-content .dancing-icon .internal-query {
            display: initial;
        }
        .console-content .internal-query-bottom {
            position:absolute;
            bottom:0;
            left:0;
        }
        .console-content .internal-query-top {
            position:absolute;
            top:0;
            left:0;
        }
        .console-content .dancing-icon i{
            -webkit-animation: icon-dancing 2s infinite; /* Safari 4+ */
            -moz-animation:    icon-dancing 2s infinite; /* Fx 5+ */
            -o-animation:      icon-dancing 2s infinite; /* Opera 12+ */
            animation:         icon-dancing 2s infinite; /* IE 10+, Fx 29+ */
        }
       

        @-webkit-keyframes icon-dancing {
            0%  {    color:white; }
            50% {    color:red; }
            100% {    color:white; }
        }
        @-moz-keyframes icon-dancing {
            0%  {    color:white; }
            50% {    color:red; }
            100% {    color:white; }
        }
        @-o-keyframes icon-dancing {
            0%  {    color:white; }
            50% {    color:red; }
            100% {    color:white; }
        }
        @keyframes icon-dancing {
            0%  {    color:white; }
            50% {    color:red; }
            100% {    color:white; }
        }




/*.md-button.md-icon-button {
    width: unset;
    border-radius: 0px;
}*/