﻿


.ess-pagination {
    display: block;
    width: 100%;
    text-align: center;
    /*padding: 10px;
    box-shadow: 2px 0px 10px 0px #ccc;
    border-radius: 5px;
    border: 1px solid #ddd;*/
}

    .ess-pagination > ul {
        display: block;
        width: 100%;
        text-align: center;
        list-style: none;
    }
        .ess-pagination > ul > li {
            display: inline-block;
            list-style: none;
            padding: 4px 15px;
            margin: 0px 5px;
            font-size: 22px;
            cursor: pointer;
            color: rgba(178,178,178,1);
            border-radius: 5px;
            /*transition: 0.2s background-color;*/
        }
            .ess-pagination > ul > li:hover {
                background-color: #eee;
            }
        .ess-pagination > ul > li.active {
            background-color: #0094ff;
            color: #fff;
        }