﻿
/*-------------  Override bootstrap style --------------------*/

.table > thead > tr > th, .table > tbody > tr > td {
    border: 0px;
}

.table > thead > tr {
    border-bottom: 2px solid #5a7b96;
}
.table > tbody > tr {
    border-bottom: 1px solid #5a7b96;
}

.pagination {
    margin: 0px;
    margin-top: 7px;
}
/*------------  input progress box coponent --------------------*/
.in-progress-box {
    display: block;
    padding-top: 2rem;
}



.in-progress-tb > table th, .in-progress-tb table td {
    color: #fff;
    line-height: 25px !important;
}



.in-progress-tb {
    display: block;
    padding: 0px;
    margin: 0px;
    border: 1px solid #ccc;
}

.in-progress-tb-top {
    display: block;
    padding: 0px;
    background-image: url('../../images/background/in-progress-top-bg.jpg');
    background-size: cover;
    background-position-x: right;
}

    .in-progress-tb-top > label {
        display: block;
        float: left;
        padding: 10px 15px;
        font-size: 24px;
        margin: 0px;
    }

    .in-progress-tb-top > .inprogress-search {
        display: block;
        padding: 8px 20px;
        background: rgba(100, 100, 100, 0.2);
    }



.in-progress-tb-body > table.table > thead > tr {
    background-color: #172f4b;
    color: #FFF;
    /*height: 67px !important;*/
}

    .in-progress-tb-body > table.table > thead > tr > th {
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .in-progress-tb-body > table.table > tbody > tr > td {
        font-size: 17px;
    }

@media only screen and (max-width: 799px) {
    .in-progress-tb-body > table.table > thead > tr > th:first-child {
        width: 40%;
    }

    .in-progress-tb-body > table.table .hide-mobile {
        display: none;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(5) {
        width: 45%;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(6) {
        width: 15%;
    }

    .in-progress-tb-top > .inprogress-search {
        width: 100%;
    }
}

        

@media only screen and (min-width: 800px) {
    .in-progress-tb-body > table.table > thead > tr > th:first-child {
        width: 15%;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(2) {
        width: 30%;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(3) {
        width: 10%;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(4) {
        width: 10%;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(5) {
        width: 25%;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(6) {
        width: 10%;
    }

    .in-progress-tb-top > .inprogress-search {
        width: 400px;
        float: right;
    }

    .in-progress-tb-top > label {
        float: left;
    }
}


.in-progress-tb-body > table.table > tbody > tr {
    background-color: #41586a;
    color: #FFF;
}


.in-progress-tb-bottom {
    background-color: #172f4b;
}


/*------------ Pagin  -----------------------------*/
.pagin-cbb {
    margin-top: 7px;
    height: 30px;
    padding: 3px 6px;
    width: 100px;
}

@media only screen and (max-width: 767px) {
    .pagin-cbb {
        width: 100%;
    }
}