﻿
/*#timeline .card {
    margin: 5px 0px;
    background-image: url(../../images/background/in-progress-top-bg.jpg);
    background-size: cover;
    background-position-x: right;
}

    #timeline .card h4.card-title {
        max-width: 60%;
    }

#timeline {
    padding-bottom: 50px;
}

    #timeline.timeline-left .timeline-item {
        padding-bottom: 0px;
    }*/

.travel-place-box {
    position: relative;
}

.travel-place-title {
    display: block;
    float: left;
    font-size: 25px;
    width: calc(100%-150px);
}

.travel-place-date {
    display: block;
    float: right;
    font-size: 25px;
    width: 380px;
    /*margin-right: 50px;*/
    text-align: center;
}

.travel-place-date-start > i, .travel-place-date-start > b, .travel-place-date-end > i, .travel-place-date-end > b {
    display: block;
}

.travel-place-date-start > i, .travel-place-date-end > i {
    font-size: 30px;
}

.travel-place-date-start > b, .travel-place-date-end > b {
    margin-top: -5px;
}

.travel-place-date-start {
    display: inline-block;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.travel-place-date-end {
    display: inline-block;
    margin-left: 20px;
}

.travel-place-button {
    display: block;
    clear: both;
    position: absolute;
    right: 0px;
    top: 15px;
}

    .travel-place-button > a {
        display: block;
        padding: 6px 4px;
        text-align: center;
        margin-right: -0px;
        border-radius: 0px;
    }

        .travel-place-button > a:first-child {
            margin-right: -2px;
        }

@media only screen and (max-width: 600px) {
    ul.timeline {
        padding: 0px;
        margin: 0px;
    }

    #timeline.timeline-left .timeline-line {
        left: 50%;
        margin-left: -1px;
    }

    #timeline.timeline-left .timeline-item {
        padding: 0px;
        margin-bottom: 20px;
    }

    .travel-place-title {
        float: unset;
    }

    .travel-place-date {
        width: 100%;
        font-size: 16px;
        float: unset;
        text-align: center;
        margin: 0px;
        padding-top: 15px;
    }

    .travel-place-date-start > i, .travel-place-date-end > i {
        font-size: 20px;
    }

    .travel-place-date-start > b, .travel-place-date-end > b {
        margin-top: -10px;
    }

    #timeline.timeline-left .timeline-item > .timeline-badge {
        margin-top: -13px;
    }

    .timeline-item:nth-child(even):after, .timeline-item:nth-child(even):before {
        display: none;
    }
    #timeline  {
        margin-bottom: 20px;
    }
}
