﻿ul.j-timeline {
    display: block;
    width: 100%;
    position: relative;
    padding: 0px 20px;
}

    ul.j-timeline:before {
        top: 20px;
        bottom: 20px;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #cccccc;
        left: 360px;
        margin-left: -1.5px;
    }

    ul.j-timeline:after {
        display: block;
        content: " ";
        clear: both;
    }

    ul.j-timeline > li {
        display: block;
        position: relative;
        width: 100%;
        padding: 20px;
    }

        ul.j-timeline > li.ver-line:before {
            left: 280px;
            width: 70px;
            position: absolute;
            content: " ";
            height: 2px;
            margin-top: -1px;
            background-color: #eee;
            top: 50%;
        }

        ul.j-timeline > li:after {
            display: block;
            content: " ";
            clear: both;
        }

        ul.j-timeline > li > div.date-period {
            display: block;
            position: absolute;
            border: 1px solid #ecf3f7;
            /* border-radius: 10px; */
            text-align: center;
            padding: 10px;
            width: 280px;
            background-color: #f9fcfe;
            top: 50%;
            margin-top: -27.5px;
        }

            ul.j-timeline > li > div.date-period > label, ul.j-timeline > li > div.date-period > i {
                display: inline-block;
            }

            ul.j-timeline > li > div.date-period > label {
                font-size: 18px;
                font-weight: 100;
                margin: 0px;
                color: #888;
            }

            ul.j-timeline > li > div.date-period > i {
                font-size: 16px;
                margin: 0px 15px;
                color: #8ed1e7;
            }

        ul.j-timeline > li > div.tranvel-type {
            box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 340px;
            background-color: #999999;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            position: absolute;
            margin-top: -25px;
            margin-left: -25px;
            transition: 0.2s width, 0.2s height, 0.2s margin-top, 0.2s margin-left, 0.2s font-size, 0.2s line-height;
        }

            ul.j-timeline > li > div.tranvel-type.tranvel-type-hover:hover {
                width: 60px;
                height: 60px;
                margin-top: -30px;
                margin-left: -30px;
                font-size: 2.4em;
                line-height: 60px;
            }

            ul.j-timeline > li > div.tranvel-type.travel-end {
                background-color: #66bb6a;
            }

            ul.j-timeline > li > div.tranvel-type.c-fa-plane-departure {
                background-color: #8ed1e7;
            }

            ul.j-timeline > li > div.tranvel-type.c-fa-car {
                background-color: #fcb24b;
            }


        ul.j-timeline > li > div.location-box {
            display: block;
            position: relative;
            float: left;
            text-align: left;
            padding: 10px 20px;
            background-color: #fff;
            left: 370px;
            min-width: 300px;
            padding-bottom: 40px;
            min-height: 100px;
            padding-right: 25px;
            box-shadow: 2px 2px 5px 0px #ccc;
            border-right: 3px solid #0ba6ea;
            max-width: 600px;
        }


            ul.j-timeline > li > div.location-box:before {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: -13px;
                width: 0;
                height: 0;
                content: '';
                border-top: 12px solid transparent;
                border-right: 12px solid #0ba6ea;
                border-bottom: 12px solid transparent;
                margin-top: -12px;
            }

            ul.j-timeline > li > div.location-box > div {
                color: #17ace6;
            }

                ul.j-timeline > li > div.location-box > div > i {
                    color: #888;
                }

                ul.j-timeline > li > div.location-box > div.button-box {
                    font-size: 18px;
                    display: block;
                    position: absolute;
                    right: 10px;
                    bottom: 5px;
                }

                    ul.j-timeline > li > div.location-box > div.button-box > i {
                        font-size: 18px;
                        cursor: pointer;
                        opacity: 0.7;
                        transition: 0.2s opacity, 0.2s font-size;
                    }

                        ul.j-timeline > li > div.location-box > div.button-box > i:hover {
                            opacity: 1;
                            font-size: 25px;
                        }

                        ul.j-timeline > li > div.location-box > div.button-box > i:not(:last-child) {
                            margin-right: 7px;
                        }

                        ul.j-timeline > li > div.location-box > div.button-box > i.fa-edit {
                            color: orange;
                        }

                        ul.j-timeline > li > div.location-box > div.button-box > i.fa-trash-alt {
                            color: red;
                        }
