﻿<form name="ContForm">
    <div class="-col_centered font-editor">
        <div class="form-group row" ng-show="{{ ShowEmployeeID }}">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].EmployeeID }}
                <span class="ico_inputordie" ng-hide="ContData.EmployeeID.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <input type="text" disabled="disabled" class="btn form-control" value="{{ ContData.EmployeeID }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].FullName }}
                <span class="ico_inputordie" ng-hide="ContData.Name.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <input type="text" disabled="disabled" class="btn form-control" value="{{ ContData.Name }}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].CommunicationType }}
                <span class="ico_inputordie" ng-hide="ContData.CategoryCode.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <select class="form-control" ng-model="ContData.CategoryCode" ng-disabled="EditMode" name="CommunicationType">
                    <option ng-repeat="x in SubType" value="{{ x.ObjectID }}">{{ x.AlternativeShortName }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">
                {{ Text[PATextcategory].Detail }}
                <span class="ico_inputordie" ng-hide="ContData.DataText.trim().length > 0"></span>
            </label>
            <div class="col-sm-6 detaildate_leave">
                <input type="text" class="btn form-control" value="{{ ContData.DataText }}" ng-model="ContData.DataText" ng-trim="false" required />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[PATextcategory].BeginDate }}</label>
            <div class="col-sm-6 detaildate_leave">
                <datepicker callback-on-change="setSelectedBeginDate(newDate)" date-max-limit="{{ Date(); }}" date-format="d/M/yyyy" date-set="{{ ContData.BeginDate }}">
                    <input class="form-control clickable datepicker" type="text" ng-disabled="{{ !CanEditPeriod }}" placeholder="" readonly />
                </datepicker>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label -settxt-right ng-binding">{{ Text[PATextcategory].EndDate }}</label>
            <div class="col-sm-6 detaildate_leave">
                <datepicker callback-on-change="setSelectedEndDate(newDate)" date-min-limit="{{ ContData.BeginDate }}" date-format="d/M/yyyy" date-set="{{ ContData.EndDate }}" date-max-limit="9999-12-31">
                    <input class="form-control clickable datepicker" type="text" ng-disabled="{{ !CanEditPeriod }}" placeholder="" readonly />
                </datepicker>
            </div>
            <div class="col-sm-2 detaildate_leave">
                <div class="checkbox" style="margin-top: 10px;">
                    <input type="checkbox" ng-checked="{{ NoSpecify.val == true }}" ng-model="NoSpecify.val" ng-change="onCheckBoxChange();" />
                    <label>{{ Text[PATextcategory].NoSpecify }}</label>
                </div>
            </div>
        </div>
        <div class="-pad10"></div>
    </div>
</form>
<style>
    .waring-validate {
        border-color: #a94442;
    }

    input.datepicker[readonly][disabled] {
        background-color: #eee;
        opacity: .65;
    }

    .form-control[disabled] {
        opacity: .65;
    }
</style>