﻿

input.g-datepicker:read-only {
    background-color: #fff;
    cursor: pointer;
}


div.datepicker-g {
    z-index: 100;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

    div.datepicker-g.show {
        display: block;
    }

div.datepicker-g-dialog {
    display: block;
    position: absolute;
    width: 360px;
    border: 1px solid #ccc;
    background-color: #fff;
    top: 40%;
    left: 50%;
    margin-left: -175px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 12px 15px 0px;
}

    div.datepicker-g-dialog > .title, div.datepicker-g-dialog > .body, div.datepicker-g-dialog > .footer {
        display: block;
        position: relative;
    }

    div.datepicker-g-dialog > .title {
        padding: 24px 24px 20px 24px;
        font-size: 20px;
        font-weight: 600;
        color: #555;
    }

        div.datepicker-g-dialog > .title > i {
            position: absolute;
            right: 25px;
            top: 20px;
            font-size: 24px;
            cursor: pointer;
        }

    div.datepicker-g-dialog > .body {
        padding: 0 24px;
    }

        div.datepicker-g-dialog > .body > input, div.datepicker-g-dialog > .body > select {
            display: inline-block;
            border-radius: 0px;
            border: 1px solid #ddd;
        }

            div.datepicker-g-dialog > .body > input::placeholder {
                font-weight: lighter;
                color: #ccc;
            }

        div.datepicker-g-dialog > .body > .day {
            width: 50px;
        }

        div.datepicker-g-dialog > .body > .month {
            width: 150px;
        }

        div.datepicker-g-dialog > .body > .year {
            width: 100px;
        }

        div.datepicker-g-dialog > .body > .error {
            display: block;
            font-weight: 100;
            color: #ff6666;
            font-size: 15px !important;
            margin-top: 5px;
            margin-bottom: 0px;
        }


    div.datepicker-g-dialog > .footer {
        padding: 24px 24px 16px 24px;
        text-align: right;
    }

        div.datepicker-g-dialog > .footer > button {
            border: none;
            background-color: #fff;
            font-size: 14px;
            color: #888;
        }

            div.datepicker-g-dialog > .footer > button.ok {
                color: #00a9ff;
            }
