﻿
/*-------------- Desktop  -------------------------*/

.item-flow {
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid 2px #133a49;
    font-size: 23px;
}

    .item-flow.active-bar {
        background: #cfe3f9;
    }

    .item-flow .image-item {
        background: #a3c4ea;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1rem;
        color: white;
    }

    .item-flow.active-bar .image-item {
        background-color: #326477;
    }

.line-flow-current {
    position: absolute;
    height: 5px;
    width: 100%;
    top: 0;
}

    .line-flow-current.bottom {
        position: absolute;
        height: 5px;
        width: 100%;
        bottom: 0;
        z-index: 0;
    }

/*@media only screen and (max-width: 764px) {
    .item-flow {
        height: 165px;
        font-size: 18px;
    }

        .item-flow .item-detail {
            width: 100%;
        }

    .flow-sub-detail {
        margin-top: 0.5rem;
    }

    .flow-main-detail {
        width: 100%;
    }
}

.line-flow-current {
    position: absolute;
    height: 5px;
    width: 100%;
    top: 0;
}

    .line-flow-current.bottom {
        position: absolute;
        height: 5px;
        width: 100%;
        bottom: 0;
        z-index: 0;
    }*/



/*-------------- Mobile  -------------------------*/

@media only screen and (max-width: 764px) {
    .item-flow {
        height: unset;
        padding: 10px;
        background-color: #fafafa;
        color: #555;
    }

    .flow-sub-detail {
        display: block;
        margin:auto;
        font-size: 20px;
        margin-bottom: 10px;
    }

    div.flow-main-detail > div.ag-flex-row > div.image-item {
        height: 30px;
        width: 30px;
        border: 2px solid #fff;
    }

    div.action-date {
        display: block;
        margin: auto;
        font-size: 20px;
    }





    .doc-flow-active-bar {
        background: linear-gradient(-45deg, #fafafa, #fff6ee, #ffe8d4, #ffd8b7);
        background-size: 400% 400%;
        -webkit-animation: Gradient 1s ease infinite;
        -moz-animation: Gradient 1s ease infinite;
        animation: Gradient 1s ease infinite;
    }



    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }
}


div.ag-flex-row {
    font-size: 14px;
    text-align: center;
}