﻿



@media only screen and (max-width: 768px) {

    .-mobile-mt-15 {
        margin-top: 15px;
    }

    .-mobile-mt-30 {
        margin-top: 30px;
    }

    .-mobile-mt-50 {
        margin-top: 50px;
    }

    .-mobile-plr-0 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .-mobile-info-label {
        color: #B2B2B2;
    }

    .-mobile-info-detail {
        color: #289efe;
        margin-bottom: 10px;
    }

    .-mobile-text-center {
        text-align: center;
    }

    .-mobile-text-right {
        text-align: right;
    }


    .-mobile-allowance-accommodation {
        font-weight: normal;
        color: #333;
    }

        .-mobile-allowance-accommodation div.-mobile-allowance-accommodation-label {
            color: #B2B2B2;
        }

        .-mobile-allowance-accommodation .-mobile-allowance-accommodation-cash-advance {
            color: #289efe;
        }

            .-mobile-allowance-accommodation .-mobile-allowance-accommodation-cash-advance > input
                , .-mobile-allowance-accommodation .-mobile-allowance-accommodation-cash-advance > label
            , .-mobile-allowance-accommodation .-mobile-allowance-accommodation-cash-advance > div {
                display: inline-block;
            }

    .-mobile-pt-60 {
        padding-top: 60px;
    }

}





/*travelexpenseoersonalcashadvance*/
