﻿li.plant-item > div {
    display: block;
    float: left;
    text-align: left;
}

    li.plant-item > div.plant-code {
        width: 150px;
    }

    li.plant-item > div.plant-name {
        width: 300px;
        text-align: left;
    }

    li.plant-item > div.io {
        width: 200px;
        text-align: center;
    }

    li.plant-item > div.cost-center {
        width: 200px;
        text-align: center;
    }

    li.plant-item > div.delete {
        width: 20px;
        text-align: center;

        font-size: 20px;
        font-weight: bold;
    }


