﻿
/*@ by Jirawat Jannet 2018-09-12*/

div.summary-box {
    display: block;
    background-color: rgba(40,158,254,.1);
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 20px;
    margin: 10px;
    color: #289efe;
}

    div.summary-box label.summary-label {
        text-align: left;
        font-size: 20px;
        color: #888;
    }

    div.summary-box div.summary-price {
        text-align: right;
    }

        div.summary-box div.summary-price > label.summary-price-label {
            font-weight: bold;
            margin-right: 10px;
        }