﻿<div id="main-content">
    <div class="page-body">
        <!-- Start breadcrumb -->
        <div class="breadcrumb-container ess-breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST'].HOME}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION'].OM_COMPANY_BUDGET}}</li>
                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
        <!-- Start Header -->
        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].OM_COMPANY_BUDGET}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>
        <!-- End Header -->

        <div class="ess-wrapper" ng-controller="CompanyBudgetContent" ng-init="init();">

            <div class="ess-inner-wrapper">
                <!--Search Content-->
                <div align="center" class="row ess-report-summary ess-document-tab-content-search justify-content-center">
                    <div class="form-group form-check col-md-1">
                        <input class="form-check-input" type="checkbox" id="chkAllPeriod" ng-model="AllPeriod" ng-change="SetIsAllPeriod()">
                        <span class="font-weight-bold" for="chkAllPeriod">
                            All Period
                        </span>

                    </div>
                    <div align="left" class="form-group col-md-2">
                        <span class="font-weight-bold">As of date </span>
                        <input ng-disabled="AllPeriod" type="text" class="form-control" id="txtAsOfDate" ng-model="CurrentAsOfDate" value="{{getDateFormate(CurrentAsOfDate)}}" maxlength="10" autocomplete="off" my-date-picker>
                    </div>
                    <div align="left" class="form-group col-md-3">
                        <span class="font-weight-bold">Org Level</span>
                        <multiple-autocomplete style="box-shadow:none !important; border:0px !important" ng-model="LevelSelected" placeholder="Select Level" object-property="Description" suggestions-arr="optionLevel">
                        </multiple-autocomplete>
                    </div>
                    <div align="left" class="form-group col-md-3">
                        <span class="font-weight-bold">Org Unit</span>
                        <multiple-autocomplete style="box-shadow:none !important; border:0px !important" ng-model="UnitSelected" placeholder="Select Unit" object-property="Description" suggestions-arr="optionUnit">
                        </multiple-autocomplete>
                    </div>
                    <div align="left" class="d-flex align-items-center">
                        <a id="TM_1102_btnGetMonthlyTimesheet" href="" class="ess-button searchbtn" ng-click="GetDataContent()"><i class="fa fa-search"></i>&nbsp;{{Text['BUTTON'].SEARCH}}</a>&nbsp;
                        <a id="TM_1102_btnClearInput" href="" class="ess-button editbtn" ng-click="ResetDataContent()"><i class="fa fa-refresh"></i>&nbsp;{{Text['BUTTON'].RESET}}</a>

                    </div>
                </div>
                <!--<div class="row">
                    Type : {{AllPeriod}}<br />
                    Level Value : {{LevelSelected}}<br />
                    Unit Value : {{UnitSelected}}<br />
                    AsOfDate : {{AsOfDate}}
                </div>-->
                <!--Data Content-->
                <div class="row ess-personal-info-general justify-content-end" style="margin:10px">
                    <a href="" ng-click="CreateNew('1101','01')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].CREATE_ORG}}</a>
                </div>
                <div class="tab-content ess-tab-content-pa">
                    <div class="ess-personal-info-data">
                        <div class="freeze scrollbar-default">
                            <table class="ess-table-default">
                                <tr>
                                    <th ng-click="changeSorting('UniCode')">
                                        {{Text['OM_UNIT'].UNIT_CODE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('StartDate')">
                                        {{Text['OM_UNIT'].START_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('EndDate')">
                                        {{Text['OM_UNIT'].END_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('Abbr')">
                                        {{Text['OM_UNIT'].ABBR}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('OrganizationUnit')">
                                        {{Text['OM_UNIT'].ORGANIZATIONAL_UNIT}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('CostCenter')">
                                        {{Text['OM_UNIT'].COST_CENTER}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('CostCenterName')">
                                        {{Text['OM_UNIT'].COST_CENTER_NAME}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('LevelCode')">
                                        {{Text['OM_UNIT'].LEVEL_CODE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('Level')">
                                        {{Text['OM_UNIT'].LEVEL}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                </tr>
                                <tr ng-repeat="data in genDatas(OrganizationUnitDataList) | orderBy:sort.column:sort.descending" data-target="#detailDataModal" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewDetailData(data)">
                                    <td>{{data.UnitCode}}</td>
                                    <td>{{getDateFormate(data.StartDate)}}</td>
                                    <td>{{getDateFormate(data.EndDate)}}</td>
                                    <td>{{data.Abbr}}</td>
                                    <td>{{data.OrganizationUnit}}</td>
                                    <td>{{data.CostCenter}}</td>
                                    <td>{{data.CostCenterName}}</td>
                                    <td>{{data.LevelCode}}</td>
                                    <td>{{data.Level}}</td>
                                </tr>
                                <tr ng-show="!OrganizationUnitDataList||OrganizationUnitDataList.length==0">
                                    <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                </tr>
                            </table>

                            <div class="ess-pagination-wrap" id="paggingWidth" ng-show="OrganizationUnitDataList.length > 0">
                                <nav class="ess-navbar">
                                    <ul class="pagination">
                                        <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                        <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(OrganizationUnitDataList)"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                        <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Modal Content-->
                <div class="ess-inner-wrapper"></div>
                <div class="ess-personal-info-general">
                    <div class="modal fade" id="detailDataModal" role="dialog">
                        <div class="modal-dialog  modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>{{Text['OM_UNIT'].ORG_UNIT_DETAIL}}</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        <!--<i class="fa fa-window-close" aria-hidden="true"></i>-->
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row ess-personal-info-general justify-content-start" style="margin:10px">
                                        <a href="" ng-click="CreateNew('1103','')" class="ess-button cancelbtn" style="margin:10px 0px"><i class="fa fa-trash"></i> {{Text['BUTTON'].PERMANENT_DELETE}}</a>&nbsp;
                                        <a href="" ng-click="CreateNew('1104','')" class="ess-button viewbtn" style="margin:10px 0px"><i class="fa fa-eye-slash"></i> {{Text['BUTTON'].INACTIVE_UNIT}}</a>
                                    </div>
                                    <div class="ess-personal-info-general-frame">
                                        <div style="margin-bottom:5px"></div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].UNIT_CODE}}</span>
                                                <div class="ess-personal-info-data">
                                                    {{OrgDetail.UnitCode}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].START_DATE}}</span>
                                                <div class="ess-personal-info-data">
                                                    {{getDateFormate(OrgDetail.StartDate)}}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].END_DATE}}</span>
                                                <div class="ess-personal-info-data">
                                                    {{getDateFormate(OrgDetail.EndDate)}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].UNIT_SHORT_NAME}} (TH)</span>
                                                <div class="ess-personal-info-data">
                                                    xxxx
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].UNIT_SHORT_NAME}} (EN)</span>
                                                <div class="ess-personal-info-data">
                                                    xxxxx
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].UNIT_NAME}} (TH)</span>
                                                <div class="ess-personal-info-data">
                                                    xxxx
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].UNIT_NAME}} (EN)</span>
                                                <div class="ess-personal-info-data">
                                                    xxxxx
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].LEVEL}}</span>
                                                <div class="ess-personal-info-data">
                                                    xxxxx
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].COST_CENTER}}</span>
                                                <div class="ess-personal-info-data">
                                                    {{OrgDetail.CostCenter}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].HEAD_UNIT_COST}}</span>
                                                <div class="ess-personal-info-data">
                                                    xxxxx
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].PRIORITY}}</span>
                                                <div class="ess-personal-info-data">
                                                    xxxxx
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <!-- Relate with รหัสหน่วยงานผู้บังคับบัญชา -->
                                                <table class="ess-table-default">
                                                    <tr>
                                                        <td>{{Text['OM_UNIT'].UNIT_LEVEL}} 1 </td>
                                                        <td>Academic Com (100001:COM)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{Text['OM_UNIT'].UNIT_LEVEL}} 2</td>
                                                        <td>HR Com (100002:COM)</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="" ng-click="CreateNew('1101','02')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle" aria-hidden="true"></i> Copy/New</a>&nbsp;
                                        <a href="" ng-click="CreateNew('1101','03')" class="ess-button editbtn" style="margin:10px 0px"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>&nbsp;
                                        <a href="" ng-click="CreateNew('1102','')" class="ess-button cancelbtn" style="margin:10px 0px"><i class="fa fa-minus-circle" aria-hidden="true"></i> Delete</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
