﻿<div id="main-content">
    <div class="page-body">
        <!-- Start breadcrumb -->
        <div class="breadcrumb-container ess-breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST'].HOME}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION'].OM_UNIT}}</li>
                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
        <!-- Start Header -->
        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].OM_UNIT}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>
        <!-- End Header -->

        <div class="ess-wrapper" ng-controller="OrganizationContent" ng-init="init();">
            <div class="ess-inner-wrapper">
                <!--Search Content-->
                <div align="center" class="row ess-report-summary ess-document-tab-content-search justify-content-center">
                    <div align="left" class="form-group form-inline col-md-12">
                        <span class="font-weight-bold">{{Text[Textcategory].ASOF}}&nbsp;:&nbsp;</span>
                        <input ng-disabled="AllPeriod" type="text" class="form-control" id="txtAsOfDate" ng-model="CurrentAsOfDate" value="{{getDateFormate(CurrentAsOfDate)}}" ng-change="dateChange()" maxlength="10" autocomplete="off" my-date-picker>
                        &nbsp;&nbsp;<input class="form-check-input" type="checkbox" id="chkAllPeriod" ng-model="AllPeriod" ng-change="SetIsAllPeriod()">
                        <span class="font-weight-bold">&nbsp;{{Text[Textcategory].ALLPERIOD}}</span>
                    </div>
                    <div align="left" class="form-group col-md-4">
                        <span class="font-weight-bold">{{Text[Textcategory].LEVEL_OF_ORG}}</span>
                        <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                               ng-model="LevelSelected"
                                               placeholder="Select Level"
                                               object-property="DLL_DATA"
                                               suggestions-arr="OrganizationLevelList"
                                               ng-click="completedSelectLevel($event)">
                        </multiple-autocomplete>
                    </div>
                    <div align="left" class="form-group col-md-4">
                        <span class="font-weight-bold">{{Text[Textcategory].ORGANIZATIONUNIT}}</span>
                        <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                               ng-model="UnitSelected"
                                               placeholder="Select Unit"
                                               object-property="DLL_DATA"
                                               suggestions-arr="OrganizationList"
                                               ng-click="reloadOrganization()">
                        </multiple-autocomplete>
                    </div>
                    <div align="left" class="d-flex align-items-center col-md-4">
                        <a id="TM_1100_btnSearch" href="" class="ess-button searchbtn" ng-click="GetDataContent()"><i class="fa fa-search"></i>&nbsp;{{Text['BUTTON'].SEARCH}}&nbsp;<span id="loading_search_1100"></span></a>&nbsp;
                        <a id="TM_1100_btnClear" href="" class="ess-button editbtn" ng-click="ResetDataContent()"><i class="fa fa-refresh"></i>&nbsp;{{Text['BUTTON'].RESET}}</a>
                    </div>
                </div>
                <!--Data Content-->
                <div class="row ess-personal-info-general justify-content-end" style="margin:10px">
                    <a href="" ng-click="CreateNew('1101','')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].CREATE_ORG}}</a>
                </div>
                <div class="tab-content ess-tab-content-pa">
                    <div class="ess-personal-info-data">
                        <div class="freeze scrollbar-default">
                            <table class="ess-table-default">
                                <tr>
                                    <th ng-click="changeSorting('UniCode')">
                                        {{Text['OM_UNIT'].UNIT_CODE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('StartDate')">
                                        {{Text['OM_UNIT'].START_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('EndDate')">
                                        {{Text['OM_UNIT'].END_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('Abbr')">
                                        {{Text['OM_UNIT'].ABBR}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('OrganizationUnit')">
                                        {{Text['OM_UNIT'].ORGANIZATIONAL_UNIT}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('CostCenter')">
                                        {{Text['OM_UNIT'].COST_CENTER}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('CostCenterName')">
                                        {{Text['OM_UNIT'].COST_CENTER_NAME}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('LevelCode')">
                                        {{Text['OM_UNIT'].LEVEL_CODE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                    <th ng-click="changeSorting('Level')">
                                        {{Text['OM_UNIT'].LEVEL}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                    </th>
                                </tr>
                                <tr ng-repeat="data in genDatas(OrganizationUnitDataList) | orderBy:sort.column:sort.descending" data-target="#OrganizationModal" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewDetailData(data)">
                                    <td class="text-center">{{data.OrganizationID}}</td>
                                    <td class="text-center">{{getDateFormate(data.BeginDate)}}</td>
                                    <td class="text-center">{{getDateFormate(data.EndDate)}}</td>
                                    <td class="text-left">{{ profile.Language == 'EN' ? data.ShortNameEN : data.ShortNameTH }}</td>
                                    <td class="text-left">{{ profile.Language == 'EN' ? data.FullNameEN : data.FullNameTH }}</td>
                                    <td class="text-left">{{data.CostCenterID}}</td>
                                    <td class="text-center">{{ profile.Language == 'EN' ? data.CostCenterNameEN : data.CostCenterName }}</td>
                                    <td class="text-center">{{data.OrganizationLevelID}}</td>
                                    <td class="text-left">{{ profile.Language == 'EN' ? data.OrganizationLevelNameEN : data.OrganizationLevelName}}</td>
                                </tr>
                                <tr ng-show="!OrganizationUnitDataList||OrganizationUnitDataList.length==0">
                                    <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                </tr>
                            </table>
                            <div class="ess-pagination-wrap" id="paggingWidth" ng-show="OrganizationUnitDataList.length > 0">
                                <nav class="ess-navbar">
                                    <ul class="pagination">
                                        <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                        <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(OrganizationUnitDataList)"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                        <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Modal Content-->
                <div class="ess-inner-wrapper"></div>
                <div class="ess-personal-info-general">
                    <div class="modal fade" id="OrganizationModal" role="dialog">
                        <div class="modal-dialog  modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>{{Text['OM_UNIT'].ORG_UNIT_DETAIL}}</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        <!--<i class="fa fa-window-close" aria-hidden="true"></i>-->
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row ess-personal-info-general justify-content-start" style="margin:10px">
                                        <div class="form-group col-md-6 ess-personal-info-general justify-content-start">
                                            <a href="" id="OM_110_btnPermanentDelete" ng-click="directToRequest('1103')" class="ess-button cancelbtn" style="margin:10px 0px"><i class="fa fa-trash"></i> {{buttonText('1103')}}</a>&nbsp;
                                            <a href="" id="OM_110_btnInactive" ng-click="directToRequest('1104')" class="ess-button viewbtn" style="margin:10px 0px"><i class="fa fa-eye-slash"></i> {{buttonText('1104')}}</a>&nbsp;
                                        </div>

                                        <div class="form-group col-md-6 ess-personal-info-general justify-content-end">
                                            <a href="" id="OM_110_btnSplit" ng-click="directToRequest('1105')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{buttonText('1105')}}</a>&nbsp;
                                            <a href="" id="OM_110_btnEdit" ng-click="directToRequest('1101')" class="ess-button editbtn" style="margin:10px 0px"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{buttonText('1101')}}</a>&nbsp;
                                            <a href="" id="OM_110_btnDelete" ng-click="directToRequest('1102')" class="ess-button cancelbtn" style="margin:10px 0px"><i class="fa fa-minus-circle" aria-hidden="true"></i> {{buttonText('1102')}}</a>
                                        </div>
                                    </div>
                                    <div class="ess-personal-info-general-frame">
                                        <div style="margin-bottom:5px"></div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].UNIT_CODE}}</span>
                                                <div class="ess-personal-info-data">
                                                    {{OrgDetail.OrganizationID}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].START_DATE}}</span>
                                                <div class="ess-personal-info-data">
                                                    {{getDateFormate(OrgDetail.BeginDate)}}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].END_DATE}}</span>
                                                <div class="ess-personal-info-data">
                                                    {{getDateFormate(OrgDetail.EndDate)}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].UNIT_SHORT_NAME}} (TH)</span>
                                                <div class="ess-personal-info-data">
                                                    {{OrgDetail.ShortNameTH}}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].UNIT_SHORT_NAME}} (EN)</span>
                                                <div class="ess-personal-info-data">
                                                    {{OrgDetail.ShortNameEN}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].UNIT_NAME}} (TH)</span>
                                                <div class="ess-personal-info-data">
                                                    {{OrgDetail.FullNameTH}}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].UNIT_NAME}} (EN)</span>
                                                <div class="ess-personal-info-data">
                                                    {{OrgDetail.FullNameEN}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].LEVEL}}</span>
                                                <div class="ess-personal-info-data">
                                                    {{OrgDetail.OrganizationLevelID}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].COST_CENTER}}</span>
                                                <div class="ess-personal-info-data">
                                                    {{OrgDetail.CostCenterID}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <span class="font-weight-bold">{{Text['OM_UNIT_MANAGEMENT'].HEAD_ORG}}</span>
                                                <div class="ess-personal-info-data">
                                                    {{ !OrgDetail.HeadOfOrganizationID ? '-' : OrgDetail.HeadOfOrganizationID}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <span class="font-weight-bold">{{Text['OM_UNIT'].PRIORITY}}</span>
                                                <div class="ess-personal-info-data">
                                                    {{OrgDetail.OrderNo}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <table class="ess-table-default">
                                                    <tr ng-repeat="level in OrgLevelByCriteria">
                                                        <td class="text-center">{{level.split(' : ')[0]}}</td>
                                                        <td>{{level.split(' : ')[1]}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="visibility: hidden">
                    <div class="md-dialog-container" id="myStaticDialog" style="z-index:9999">
                        <md-dialog>
                            <md-dialog-content style="padding:30px;">
                                {{warningText}}
                            </md-dialog-content>
                            <md-dialog-actions>
                                <md-button ng-click="close()" class="md-primary">
                                    {{Text['SYSTEM'].BUTTON_OK}}
                                </md-button>
                            </md-dialog-actions>
                        </md-dialog>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>