﻿<!doctype html>
<html class="no-js" lang="" ng-app="DESS">
<head>
    <title>D-HR</title>
    <!-- add http-equiv="Expires" content="-1" in meta for reload content auto not required ctrl+f5 ps. maybe affect to performance -->
    <meta charset="UTF-8" http-equiv="Expires" content="-1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="images/favicon/dess_icon_cycle_1.png">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <link href="main-ui/css/vote.css" rel="stylesheet" />
    <link href="main-ui/css/tooltip.css" rel="stylesheet" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="main-ui/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="main-ui/css/circle.css" rel="stylesheet" />
    <link href="main-ui/css/progressbar.css" rel="stylesheet" />
    <link href="css/ess.css" rel="stylesheet" />
    <link href="css/share.css" rel="stylesheet" />
    <link href="css/ess-create-leave.css" rel="stylesheet" />
    <link href="css/ess-mainpage.css" rel="stylesheet" />
    <link href="css/ess-document-info.css" rel="stylesheet" />
    <link href="css/ess-personal-info.css" rel="stylesheet" />
    <link href="css/loader.css" rel="stylesheet" />
    <link href="css/ess-summary-ot.css" rel="stylesheet" />
    <link href="css/ess-work-schedule.css" rel="stylesheet" />
    <link href="css/ess-timesheet.css" rel="stylesheet" />
    <link href="css/ess-phone-directory.css" rel="stylesheet" />
    <link href="css/ess-organization.css" rel="stylesheet" />
    <link href="fullcalendar/main.min.css" rel="stylesheet" />
    <link href="css/w3.css" rel="stylesheet" />
    <link href="slick/slick.css" rel="stylesheet" />
    <link href="slick/css/slick.css" rel="stylesheet" />
    <link href="slick/slick-theme.css" rel="stylesheet" />
    <link href="js/select2/css/select2.min.css" rel="stylesheet" />
    <link href="css/angular-material/angular-material.min_1.1.8.css" rel="stylesheet" />
    <link href="bootstrap-datepicker_v19/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="css/multipleselect/multiple-select.min.css" rel="stylesheet" />
    <link href="main-ui/css/main-custom.css" rel="stylesheet" />
    <script src="js/modernizr.min.js"></script>
</head>

<body class="ess" ng-controller="MainController">
    <div class="ess ess-body" ng-show="PositionSelected">
        <div class="ess-topheader-wrap">
            <div ng-if="Text" ng-include="'views/common/partials/heading.html'"></div>
            <div ng-if="Text" ng-include="'views/common/partials/menu.html'"></div>
        </div>
        <div id="main-content">
            <div class="ess ess-page-body">
                <div ng-if="Text && SystemInitialReady" ng-view></div>
            </div>
        </div>
        <div class="cs-loader" id="loader" ng-show=" !Text || !SystemInitialReady || loader.enable || loader.childRequestEnable">
            <div class="spinner ng-scope">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <a nohref role="button" ng-click="topFunction()" id="dess_ontopButton">
            <div class="text-right">
                <i class="icon icon_gototop"></i>
            </div>
        </a>
        <footer id="indexFooter" class="py-3" style="background-color:#ffffff">
            <div align="center">
                <a href="{{Text['URLLINKS'].FACEBOOK}}" target="_blank" class="btn btn-light"><i class="fa fa-facebook"></i></a>
                <a href="{{Text['URLLINKS'].ORGANIZATION}}" target="_blank" class="btn btn-light"><i class="fa fa-globe"></i></a>
                <p class="m-0 text-center" style="color:#4b4b4b">©Copyright 2019 PTT Digital Solutions Company Limited. All Right Reserved. Version : {{CurrentVersion}}</p>
            </div>
        </footer>
    </div>
    <!--<div class="ess ess-body" ng-show="!PositionSelected && !loader.enable">
        <div ng-show="Text" ng-include="'views/common/partials/switchPosition.html'"></div>
    </div>-->

    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/number/jquery.number.js"></script>
    <script src="js/datatables/jquery.dataTables.min.js"></script>
    <script src="app/notification.js"></script>
    <script src="app/codova-events.js"></script>
    <script src="js/selectize/selectize.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap/util.js"></script>
    <script src="js/bootstrap/tab.js"></script>
    <script src="js/bootstrap/modal.js"></script>
    <script src="js/bootstrap/dropdown.js"></script>
    <script src="js/bootstrap/collapse.js"></script>
    <script src="js/bootstrap/tooltip.js"></script>
    <script src="js/bootstrap/popover.js"></script>
    <script src="js/select2/js/select2.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="jquery-freeze-table/freeze-table.min.js"></script>
    <script type="text/javascript" src="js/vendors/moment.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- modal bootstrap -->
    <script src="js/ui-bootstrap-tpls-2.0.0.min.js"></script>
    <!-- date & calendar -->
    <script src="fullcalendar/main.min.js"></script>
    <script src="fullcalendar/bootstrap/main.min.js"></script>
    <script src="fullcalendar/daygrid/main.min.js"></script>
    <script src="fullcalendar/interaction/main.min.js"></script>
    <script src="bootstrap-datepicker_v19/js/bootstrap-datepicker.js"></script> <!-- TM using now --added by Mr.Chamrat -->
    <script src="bootstrap-datepicker_v19/locales/bootstrap-datepicker.th.min.js"></script>
    <!-- multiple-select -->
    <script src="js/multipleselect/multiple-select.min.js"></script>
    <!-- angular material -->
    <script src="js/angular-material/angular-animate.min.js"></script>
    <script src="js/angular-material/angular-aria.min.js"></script>
    <script src="js/angular-material/angular-messages.min.js"></script>
    <script src="js/angular-material/angular-material.min1.1.8.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/angular-datepicker-edited.js?v=dess0001"></script>
    <script src="js/angular-base64-upload.js"></script>
    <script src="js/selectize/angular-selectize.js"></script>
    <script src="js/datatables/angular-datatables.min.js"></script>
    <script src="js/ui-select/select.min.js"></script>
    <script src="css/ckeditor/ckeditor.js"></script>
    <script src="css/ckeditor/angular-ckeditor.min.js"></script>
    <script src="js/bootstrap-daterangepicker/angular-daterangepicker.js"></script>
    <script src="app/app.js?v=dess0001"></script>
    <script src="app/route.js?v=dess0001"></script>
    <script src="app/authentication.js?v=dess0001"></script>
    <script src="app/MainController.js?v=dess0001"></script>
    <!--#region App  -->
    <script src="app/filters/GeneralFilter.js?v=dess0001"></script>
    <script src="app/directives/custom-date-picker.js"></script>
    <script src="app/directives/treeView.js"></script>
    <!--Box-->
    <script src="app/controllers/wf/BoxContentController.js?v=dess0001"></script>
    <script src="app/controllers/common/MenuController.js?v=dess0001"></script>
    <script src="app/controllers/common/partials/BarProfileController.js?v=dess0001"></script>
    <script src="app/controllers/common/ActionInsteadOfController.js?v=dess0001"></script>
    <script src="app/controllers/common/BoxController.js?v=dess0001"></script>
    <script src="app/controllers/common/ByPassTicketController.js?v=dess0001"></script>
    <script src="app/controllers/common/ContentController.js?v=dess0001"></script>
    <script src="app/controllers/common/MenuController.js?v=dess0001"></script>
    <script src="app/controllers/common/RequestController.js?v=dess0001"></script>
    <script src="app/controllers/common/RequestSupportController.js?v=dess0001"></script>
    <script src="app/controllers/common/ResultController.js?v=dess0001"></script>
    <script src="app/controllers/common/SettingController.js?v=dess0001"></script>
    <!--OM-->
    <script src="app/controllers/hr/om/OrganizationContent.js"></script>
    <script src="app/controllers/hr/om/PositionContent.js"></script>
    <script src="app/controllers/hr/om/CompanyContent.js"></script>
    <script src="app/controllers/hr/om/CompanyBudgetContent.js"></script>




    <!--OM Request-->
    <script src="app/controllers/hr/om/requesttype/OrganizationEditor.js"></script>
    <script src="app/controllers/hr/om/requesttype/OrganizationViewer.js"></script>
    <script src="app/controllers/hr/om/requesttype/OrganizationDeleteEditor.js"></script>
    <script src="app/controllers/hr/om/requesttype/OrganizationDeleteViewer.js"></script>
    <script src="app/controllers/hr/om/requesttype/OrganizationInactiveEditor.js"></script>
    <script src="app/controllers/hr/om/requesttype/OrganizationInactiveViewer.js"></script>
    <script src="app/controllers/hr/om/requesttype/OrganizationPermanentDeleteEditor.js"></script>
    <script src="app/controllers/hr/om/requesttype/OrganizationPermanentDeleteViewer.js"></script>
    <script src="app/controllers/hr/om/requesttype/PositionEditor.js"></script>
    <script src="app/controllers/hr/om/requesttype/PositionViewer.js"></script>
    <script src="app/controllers/hr/om/requesttype/PositionDeleteEditor.js"></script>
    <script src="app/controllers/hr/om/requesttype/PositionDeleteViewer.js"></script>
    <script src="app/controllers/hr/om/requesttype/PositionInactiveEditor.js"></script>
    <script src="app/controllers/hr/om/requesttype/PositionInactiveViewer.js"></script>
    <script src="app/controllers/hr/om/requesttype/PositionPermanentDeleteEditor.js"></script>
    <script src="app/controllers/hr/om/requesttype/PositionPermanentDeleteViewer.js"></script>
    <script src="app/controllers/hr/om/requesttype/OrganizationSplitEditor.js"></script>
    <script src="app/controllers/hr/om/requesttype/OrganizationSplitViewer.js"></script>
    <script src="app/controllers/hr/om/requesttype/PositionSplitEditor.js"></script>
    <script src="app/controllers/hr/om/requesttype/PositionSplitViewer.js"></script>
    <script src="app/controllers/hr/om/requesttype/PositionDotedEditor.js"></script>
    <script src="app/controllers/hr/om/requesttype/PositionDotedViewer.js"></script>
    <!--WF-->
    <script src="app/controllers/wf/Setting/UserRoleSetting.js"></script>
    <script src="app/controllers/wf/Setting/RoleSettingController.js"></script>
    <!--Common-->
    <script src="app/controllers/common/UploadPhotoEmployeeController.js"></script>
    <!--PA-->
    <script src="app/controllers/hr/pa/PersonalInformationContentController.js"></script>
    <script src="app/controllers/hr/pa/PersonalQualificationContentController.js"></script>
    <script src="app/controllers/hr/pa/PersonalSecretContentController.js"></script>
    <script src="app/controllers/hr/pa/PersonalConfidentialContentController.js"></script>
    <script src="app/controllers/hr/pa/PersonalCorporateContent.js"></script>

    <!--PA Request-->
    <script src="app/controllers/hr/pa/requesttype/EducationEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationWorkHistoryEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationWorkHisotryViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationTrainingEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationTraningViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationDeleteEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationDeleteViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationWorkHistoryDeleteEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationWorkHisotryDeleteViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationTrainingDeleteEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationTraningDeleteViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationAcademicWorkMemberEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationAcademicWorkMemberViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationAcademicWorkMemberDeleteEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/EducationAcademicWorkMemberDeleteViewer.js"></script>


    <script src="app/controllers/hr/pa/requesttype/PersonalInfEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalInfViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalAddressEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalAddressViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalFamilyEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalFamilyViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalContractEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalContractViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalImportantDocumentEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalImportantDocumentViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalShirtSizeEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/PersonalShirtSizeViewer.js"></script>

    <script src="app/controllers/hr/pa/requesttype/ConfidentialAssessmentEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/ConfidentialAssessmentViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/ConfidentialHealthCheckInfEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/ConfidentialHealthCheckInfViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/ConfidentialInfoEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/ConfidentialInfoViewer.js"></script>
    <script src="app/controllers/hr/pa/requesttype/ConfidentialPenaltyEditor.js"></script>
    <script src="app/controllers/hr/pa/requesttype/ConfidentialPenaltyViewer.js"></script>


    <!--Report-->
    <!--<script src="app/controllers/hr/Report/ReportCheckInCheckOutController.js"></script>
    <script src="app/controllers/hr/Report/ReportFingerScanController.js"></script>
    <script src="app/controllers/hr/Report/ReportLeaveController.js"></script>-->
    <!--WF-->
    <script src="js/guidejs/guide.js"></script>
    <!--<script src="app/controllers/common/partials/SwitchPositionController.js"></script>-->
    <!--<script src="app/controllers/wf/Setting/UserRoleSetting.js"></script>
    <script src="app/controllers/wf/Setting/UserRoleSettingEditorController.js"></script>
    <script src="js/angular-tour/angular-tour-tpls.js"></script>

    -->
    <!--#endregion -->
    <!-- new css/js -->
    <script src="js/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="css/sweetalert2.min.css">

    <script>
        checkAuthorize();
        setUpPushNotification();
    </script>
</body>
</html>
