﻿
.page {
    margin: 0 auto;
    padding: 0.5em;
    background-color: #ffffff;
    border-radius: 4px;
}

.page-link {
    padding: 10px !important;
}

    .page-link:hover {
        background-color: #3F1E70 !important;
    }

.custom-page {
    margin: 0 auto;
    background-image: url("../../main-ui/clockinout_bg.jpg");
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.navbar-custom {
    background-color: #3F1E70;
    color: #ffffff;
}


.carousel {
    border-radius: 4px;
    background-color: #ffffff;
}

.carousel-caption {
    top: 0 !important;
    left: 3% !important;
    right: 10% !important;
    z-index: 10 !important;
    padding-bottom: 10%;
}

    .carousel-caption a:link, a:visited {
        color: #41be77;
    }

    .carousel-caption a:visited {
        color: #41be77;
    }

    .carousel-caption a:hover {
        color: #ffffff !important;
    }

.caption {
    margin: 5%;
    color: #ffffff;
    z-index: -1;
}

.carousel-indicators {
    z-index: 10 !important;
}

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

    .carousel-item img {
        padding: 1rem;
    }

.carousel-panel,
.carousel-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    color: #ffffff;
    background-color: rgba(30,80,110,.45);
}

/*.carousel-panel {
    background-color: rgba(30,80,110,.45);
}*/


.carousel-control-prev,
.carousel-control-next {
    align-items: bottom;
}

.carousel-control-prev, .carousel-control-next {
    width: 10% !important;
}





/*.responsive-calendar-placeholder {
}*/

.ess-work-calendar-datename-sun {
    color: rgba(238, 28, 36, 0.6);
}

.badge-off {
    color: #ffffff;
    background-color: #5a318f !important;
}

.badge-leave {
    color: #ffffff;
    background-color: #00c379 !important;
}

.responsive-calendar-modal {
    background-color: #1d86c8;
    color: white;
    padding: 1em;
}

.responsive-calendar .controls {
    text-align: center;
}

    .responsive-calendar .controls a {
        cursor: pointer;
        color: red;
    }

    .responsive-calendar .controls h4 {
        display: inline;
    }

.responsive-calendar .day-headers,
.responsive-calendar .days {
    font-size: 0;
}

.responsive-calendar .day {
    display: inline-block;
    position: relative;
    font-size: 14px;
    width: 14.285714285714286%;
    text-align: center;
}

    .responsive-calendar .day.currentday {
        background-color: #eee;
    }

    .responsive-calendar .day a {
        color: #000000;
        display: block;
        cursor: pointer;
        padding: 20% 0 20% 0;
    }

        .responsive-calendar .day a:hover {
            background-color: #eee;
            text-decoration: none;
        }

    .responsive-calendar .day.header {
        border-bottom: 1px gray solid;
    }

    .responsive-calendar .day.active a {
        background-color: #1d86c8;
        color: #ffffff;
    }

        .responsive-calendar .day.active a:hover {
            /*background-color: #36a0e2;*/
            background-color: #cccccc;
            border-radius: 50%;
        }

    .responsive-calendar .day.active .not-current {
        background-color: #8fcaef;
        color: #ffffff;
    }

        .responsive-calendar .day.active .not-current:hover {
            background-color: #bcdff5;
        }

    .responsive-calendar .day.not-current a {
        color: #ddd;
    }

    .responsive-calendar .day .badge {
        position: absolute;
        top: 2px;
        right: 0px;
        z-index: 1;
    }

    .responsive-calendar .day .leave {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 1;
    }

    .responsive-calendar .day .off {
        position: absolute;
        top: 2px;
        right: 16px;
        z-index: 1;
    }

    .responsive-calendar .day .hol {
        position: absolute;
        top: 2px;
        right: 30px;
        z-index: 1;
    }

.leaveDetail {
    list-style-type: none;
    padding-left: 10px;
    font-size: 14px;
}

.columns {
    color: #ffffff;
    float: left;
    width: 14.25%;
    padding: 5px;
}

.clocktime {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: rgba(30,80,110,.45);
    border-radius: 4px;
    height: 140px;
}

    .clocktime:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.3)
    }



    .clocktime .header.current {
        font-size: 18px;
        font-weight: bold;
        background-color: rgba(63, 30, 112,.45);
    }

    .clocktime .header.unCurrent {
        /*font-size: 18px;
        font-weight: bold;
        background-color: rgba(63, 30, 112,.45);*/
        border-bottom: 2px groove #ffffff;
    }

    .clocktime li {
        padding: 20px;
        /*padding-top:20px;
        padding-bottom:10px;*/
        text-align: center;
    }

    .clocktime .grey {
        background-color: #eee;
    }

/*.clocktime.current {
        font-weight: bold;
    }*/

@media only screen and (max-width: 600px) {
    .columns {
        width: 50%;
    }
}


@media (max-width: 420px) {
    .custom-page {
        margin: 0 auto;
        background: url("../../main-ui/clockinout_bg.jpg");
        background-repeat: round;
    }

    .accept {
        padding-bottom: 30px;
    }

    .responsive-calendar .day {
        display: inline-block;
        position: relative;
        font-size: 14px;
        width: 14.285714285714286%;
        text-align: center;
    }

        .responsive-calendar .day a {
            color: #000000;
            display: block;
            cursor: pointer;
            padding: 30% 0 20% 0;
        }

    .responsive-calendar-placeholder {
        font-size: 14px;
    }

    .navbar-brand {
        font-size: 0.9rem !important;
    }

    .carousel-panel,
    .carousel-overlay {
        position: initial;
        top: 0;
        right: 0;
        bottom: 0;
        left: 40%;
        width: 100%;
    }

    .carousel-panel {
        background-color: rgba(30,80,110,.45);
    }

    .carousel-item img {
        padding: 0px;
    }

    .carousel-caption {
        position: static !important;
        font-size: 80%;
        right: 10%;
        bottom: 0px;
        left: 10%;
        z-index: 10;
        padding: 10px 5px 30px 5px;
        background-color: rgba(30,80,110,.45);
        width: 100%;
    }

    .responsive-calendar .day .badge {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
    }

    .responsive-calendar .day .leave {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
    }

    .responsive-calendar .day .off {
        position: absolute;
        top: 0px;
        right: 15px;
        z-index: 1;
    }

    .responsive-calendar .day .hol {
        position: absolute;
        top: 0px;
        right: 30px;
        z-index: 1;
    }
}


.caldera-forms-modal {
    color: white;
    background-color: #d65b5b;
    border: 1px solid #d65b5b;
    border-radius: 5px 0px 0px 5px;
    height: 40px;
    width: 137px;
    position: fixed;
    z-index: 999999;
    float: right;
    right: -101px;
    bottom: 2%;
    transition: right 0.3s;
}

    .caldera-forms-modal:hover {
        right: 0%
    }


#slideout {
    position: fixed;
    top: 40px;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#slideout_inner {
    position: fixed;
    top: 40px;
    left: -250px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#slideout:hover {
    left: 250px;
}

    #slideout:hover #slideout_inner {
        left: 0;
    }

.form-item-container .list-inline input {
    border: 0px solid;
    width: 95%;
}

.list-inline {
    margin-left: 0px;
}

.autocomplete-list, .form-item-container, .form-item-container .list-inline input {
    box-shadow: none;
}

.form-item-container {
    padding: 0px;
    border-radius: 10px;
}

    /*.form-item-container .list-inline li {
        width: 90%
    }*/

        .form-item-container .list-inline li span {
            border: 0px;
            background: #e1e5ea;
            padding: 2px;
        }
.body-detail{
    border: 1px solid rgb(229, 229, 229);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}