﻿

.progressbar {
    margin: 0;
    padding: 0;
    counter-reset: step;
}

    .progressbar li {
        list-style-type: none;
        width: calc(100% / var(--step));
        float: left;
        font-size: 14px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #7d7d7d;
    }

        .progressbar li:before {
            width: 30px;
            height: 30px;
            content: counter(step);
            counter-increment: step;
            line-height: 30px;
            border: 2px solid #7d7d7d; /*เส้นรอบวงกลม*/
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: #c2c2c2;
            color: white; /*text ในวงกลม*/
        }

        .progressbar li:after {
            width: 100%;
            height: 2px;
            content: '';
            position: absolute;
            background-color: #7d7d7d;
            top: 15px;
            left: -50%;
            z-index: -1;
        }

        .progressbar li:first-child:after {
            content: none;
        }

        .progressbar li.active {
            color: white;
        }

        .progressbar li.done {
            color: white;
        }

        .progressbar li.active:before {
            border-color: #55c03d;
            background-color: #55c03d;
            animation: CurrentProgress 1s infinite;
            /* font-family: 'FontAwesome';
            content: "\f00c";*/
        }

        .progressbar li.done:before {
            border-color: #55c03d;
            background-color: #55c03d;
       
             font-family: 'FontAwesome';
            content: "\f00c";
        }

        .progressbar li.active + li:after {
            background-color: #7d7d7d;
        }

        .progressbar li.done + li:after {
            background-color: #55c03d;
        }

@keyframes CurrentProgress {
    from {
        background-color: #c2c2c2;
    }

    to {
        background-color: #55c03d;
    }
}
