﻿<!DOCTYPE html>
<html lang="en">

<head>
    <title>D-ESS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="icon" sizes="100x50" href="images/icons/ess.png">
    <script src="../../js/jquery-3.5.1.js"></script>

    <!-- Nattawat S. Added 2019-07-26 -->


    <link href="../../css/ess.css" rel="stylesheet" />
    <link href="../../css/bootstrap.base.css" rel="stylesheet" />
    <link href="../../css/share.css" rel="stylesheet" />
    <link href="../../css/ess-login.css" rel="stylesheet" />

    <script src="../../js/modernizr.min.js"></script>
    <script src="../../js/aes.js"></script>

    <script type="text/javascript">
        window.localStorage.removeItem("com.pttdigital.dess.authorizeUser");
        window.localStorage.removeItem("com.pttdigital.dess.announcement");
        window.localStorage.removeItem('com.pttdigital.dess.menu');

        $(document).ready(function () {
            var _originalSize = $(window).width() + $(window).height()
            $(window).resize(function () {
                if ($(window).width() + $(window).height() != _originalSize) {
                    console.log("keyboard show up");
                    $(".copyright_footer").addClass("hidefooter");
                    $(".logo_left").addClass("hidefooter");
                    $(".login_logo_header").addClass("hidefooter");
                } else {
                    $(".copyright_footer").removeClass("hidefooter");
                    $(".logo_left").removeClass("hidefooter");
                    $(".login_logo_header").removeClass("hidefooter");
                }
            });
        });

    </script>
</head>
<body ng-app="LoginApp" ng-controller="CompanyController" class="ess" style="background: url('../../images/dess-background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="ess-body">
        <div class="mid-class" id="main-content">
            <!--<div class="page-body"></div>-->
            <div style="margin:0px 0px 0px 20em">
            </div>
            <div class="art-right-w3ls">
                <div title="{{Environment}}">
                    <div ng-if="event.isEvent">
                        <div ng-include="'event.html'" style=" position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #e6e6e6; z-index: 3;"></div>
                    </div>
                    <div ng-if="!event.isEvent">
                        <div ng-if="CompanyList">
                            <div id="ErrorMessage" class="alert alert-danger" style="visibility:hidden;text-align:center;">
                            </div>
                            <!--login form-->
                            <div class="letter-w3ls">
                                <form ng-submit="RegisterADdminBypass()" method="post">

                                    <div class="row">
                                        <div class="col-12">
                                            <label style="color:#fff;text-shadow: 1px 1px #e7e7e7;">User Name</label><input autocomplete="off" type="text" class="form-control" id="CORE_txtInputAccount" maxlength="200" placeholder="Username" value="">
                                            <label style="color:#fff;text-shadow: 1px 1px #e7e7e7;">E-mail</label><input autocomplete="off" class="form-control" id="CORE_txtInputEmail" maxlength="255" placeholder="E-mail">
                                        </div>
                                    </div>

                                    <div class="form-left-to-w3l" ng-show="CompanyCodeDefault==''">
                                        <div class="form-group" ng-if="CompanyList">
                                            <label style="color:#fff;text-shadow: 1px 1px #e7e7e7;">Company</label><br />
                                            <!--<select id="inputCompany" name="essCompany" class="form-control" ng-init="selCompany = CompanyList[CompanyIndexSel]" ng-model="selCompany" ng-options="c.Name for c in CompanyList track by c.CompanyCode">
                                                <option value="">Select Company...</option>
                                            </select>-->
                                            <!--{{companySelectedList}}-->
                                            <label style="color:#fff;" ng-repeat="Companylist in companySelectedList">
                                                <input id="CORE_cbInputCompany{{$index}}" type="checkbox" ng-model="Companylist.Selected" value="{{Companylist.CompanyCode}}"> {{Companylist.CompanyName}}&nbsp;
                                            </label>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" id="__RequestVerificationToken" name="__RequestVerificationToken" value="{{requestVerificationToken}}" />
                                    </div>
                                    <div class="btnn">
                                        <button id="CORE_btnSubmit" type="submit" style="height:45px;">Submit  <img id="login_loader" style="display:none;width:20px;height:20px;" src="../../images/loader_signin.gif" /></button>
                                    </div>



                                </form>
                                <div class="clear"></div>
                            </div>
                            <!-- Button trigger modal -->
                            <!--//login form-->
                            <!--<a class="close" href="#">&times;</a>-->

                        </div>
                    </div>
                </div>

            </div>

            <div class="art-left-w3ls">
                <div align="center">
                    <div style="margin-right:40px;display:inline-block"><img src="../../images/icons/ess.png" /></div><div ng-hide="CompanyLogo==''" style="display:inline-block"><img src="{{CompanyLogo}}" /><br /></div>
                    <div style="color:#1b1464;font-size:22px;font-weight:bold"> Employee Self Service</div>
                    <div style="color:#1b1464;font-size:22px;font-weight:bold"> Register</div>
                </div>
            </div>


        </div>

        <div class="bottem-wthree-footer">
            <div align="center">
                <p>
                    © Copyright 2019 PTT Digital Solutions Company Limited. All Right Reserved.
                </p>
            </div>
        </div>
    </div>


    <!-- Modal -->


    <div class="modal fade" id="CORE_divErrorModal" tabindex="-1" aria-labelledby="Error" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cuation!</h5>
                    <button id="CORE_btnClose"type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p ng-bind="danger"></p>
                </div>
                <div class="modal-footer">
                    <button id="CORE_btnModalClose"type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="../../text/javascript" src="js/vendors/bootstrap.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/angular-route.min.js"></script>
    <script src="../../app/app.js?v=dxcare0002"></script>
    <script src="../../app/route.js?v=dxcare0002"></script>
    <script src="../../app\controllers\bypass\BypassController.js?v=dxcare0002"></script>
    <script src="../../js/select2/js/select2.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../../js/bootstrap/util.js"></script>
    <script src="../../js/bootstrap/tab.js"></script>
    <script src="../../js/bootstrap/modal.js"></script>
    <script src="../../js/bootstrap/dropdown.js"></script>
    <script src="../../js/bootstrap/collapse.js"></script>
    <script src="../../js/bootstrap/tooltip.js"></script>
    <script src="../../js/bootstrap/popover.js"></script>
    <script src="../../js/select2/js/select2.min.js"></script>
    <script src="../../js/slick.min.js"></script>
    <script src="../../js/bxslider/jquery.bxslider.min.js"></script>
    <script src="../../js/app.js?v=1563723353"></script>
</body>
</html>