﻿.ess-organization-detail-group {
    display: inline-flex;
    margin-bottom: 15px;
}

    .ess-organization-detail-group .ess-organization-label {
        font-weight: bolder;
        font-size: 16px;
        max-width: 40%;
        min-width: 40%;
        white-space: break-spaces;
    }

.ess-org-sibling-information {
    cursor: pointer;
    font-size: 20px;
    color: gray;
}

    .ess-org-sibling-information:hover {
        color: cyan;
    }

.ess-icon-element-in-textbox {
    z-index: 1;
    pointer-events: none;
    position: absolute;
    right: 30px;
    bottom: 10px;
    font-size: 20px;
}

.ess-last-org-item{
    background-color: #76ffff;
}

.inputInvalid {
    border: solid 1px red;
}