﻿
.ess-report-summary {
    background: #fff;
    border: 1px solid #e8e7e7;
    border-radius: 10px;
    padding: 21px 0 23px;
    margin: 5px 0 16px
}

.ess-report-pa-quali {
    background: #fff;
    border: 1px solid #8C8B8B;
    border-radius: 10px 10px 0 0;
    padding: 21px 0 23px;
    margin: 5px 0 16px;
    text-align: center;
}

.tabcontent-pa {
    display: none;
}

.ess-report-summary-data {
    border-right: 1px solid #e8e7e7;
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.ess-report-summary-hdr {
    display: flex;
    align-items: center;
    justify-content: center
}

.ess-report-summary-label {
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    padding-top: 5px
}

.ess-report-summary-value {
    font-size: 48px;
    text-align: center;
    padding: 11px 0 4px
}

    .ess-report-summary-value.ess-report-summary-value-gery {
        color: #b7b7b7
    }

    .ess-report-summary-value.ess-report-summary-value-green {
        color: #39b54a
    }

.ess-report-summary-value-red {
    color: #ee4536
}

.ess-report-summary-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px
}

    .ess-report-summary-unit .icon {
        margin: 0 5px
    }

    .ess-report-summary-unit .ess-report-summary-unit-caption {
        font-size: 12px
    }

.ess-table-style1.ess-report-table tbody {
    border: 1px solid #e3e0e0
}

    .ess-table-style1.ess-report-table tbody tr:nth-child(2n) {
        background-color: #fff
    }

.ess-table-style1.ess-report-table tr {
    border-bottom: 1px solid #999999
}

.ess-table-style1.ess-report-table td {
    padding: 21px 15px 27px;
    vertical-align: top;
    white-space: nowrap;
    font-size: 20px
}

.ess-table-style1.ess-report-table .ess-report-date {
    font-size: 30px
}

.ess-table-style1.ess-report-table .ess-report-timetype {
    font-size: 20px
}

.ess-table-style1.ess-report-table .ess-report-clockin {
    font-size: 30px
}

.ess-table-style1.ess-report-table .ess-report-clockout {
    font-size: 30px
}

.ess-table-style1.ess-report-table .ess-report-status {
    color: #39b54a;
    padding-top: 31px;
    font-size: 20px
}

.ess-table-style1.ess-report-table .ess-report-clockicon {
    padding-top: 36px
}

.ess-table-style1.ess-report-table .ess-report-check {
    padding-top: 36px
}

.ess-table-style1.ess-report-table .ess-report-remark, .ess-table-style1.ess-report-table .ess-report-timetype {
    padding-top: 33px
}

.ess-table-style1.ess-report-table .ess-report-redflag {
    color: #ee4536
}

    .ess-table-style1.ess-report-table .ess-report-redflag .icon {
        filter: hue-rotate(180deg) saturate(300)
    }

.ess-table-style1.ess-report-table .ess-report-data {
    padding: 0
}

.ess-table-style1.ess-report-table.ess-report-table2 tr.ess-time-card-hdr {
    border: 0
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-time-card, .ess-table-style1.ess-report-table.ess-report-table2 .ess-time-stamp {
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px 11px 60px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockin, .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockout {
    font-size: 20px;
    padding-top: 33px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-data {
    border-left: 1px solid #999;
    padding-left: 40px
}

.ess-table-style1.ess-report-table.ess-report-table2 th.ess-report-data {
    padding-left: 55px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-date {
    padding-left: 60px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-acccept {
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-off {
    background: #f9fafa
}

.ess-table-style1.ess-report-table .ess-report-table2-inside {
    margin: 21px 0 28px
}

    .ess-table-style1.ess-report-table .ess-report-table2-inside tbody, .ess-table-style1.ess-report-table .ess-report-table2-inside tr {
        border: 0;
        background-color: transparent !important
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside td {
        padding: 0 15px 2px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clocktime {
        font-size: 30px;
        width: 200px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockplace {
        padding-top: 12px;
        width: 250px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockstatus {
        padding-top: 12px;
        width: 300px;
        color: #39b54a
    }

.ess-table-style1.ess-report-table.ess-report-table-sum tbody {
    border: 0
}

    .ess-table-style1.ess-report-table.ess-report-table-sum tbody tr:last-child {
        border: 0
    }

/*.ess-report-summary-data-row {
    padding-top: 24px;
    padding-bottom: 24px
}*/

.ess-report-summary-data {
    padding-top: 0;
    border-left: 1px solid #e5e5e5;
    border-right: 0
}

.ess-report-summary-label {
    font-size: 20px
}

.ess-report-summary-value {
    font-size: 30px
}


.ess-report-summary-hdr {
    align-items: flex-start;
    padding-top: 31px
}

.ess-leave-summary-box .ess-report-summary-data:nth-child(odd) {
    border: 0
}

.ess-table-style1.ess-report-table .ess-report-date, .ess-table-style1.ess-report-table .ess-report-clockin, .ess-table-style1.ess-report-table .ess-report-clockout {
    font-size: 20px
}

.ess-table-style1.ess-report-table .ess-report-remark, .ess-table-style1.ess-report-table .ess-report-timetype {
    padding-top: 21px
}

.ess-table-style1.ess-report-table .ess-report-clockicon {
    padding-top: 25px
}

.ess-report-summary-data:nth-child(odd) {
    border: 0
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-date {
    padding-left: 12px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockin, .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockout {
    padding-top: 21px
}


.ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockstatus, .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockplace {
    padding-top: 0
}

.ess-table-container.ess-report-table-border-radius {
    border-radius: 10px;
    border: 1px solid #ecebeb;
    padding-bottom: 10px;
    background-color: #fff;
}


.ess-report_employee .ess-personal-info-general-leftnav {
    padding-top: 0
}

.ess-report_employee .ess-personal-info-general-panel .ess-collapse-data-panel {
    padding-bottom: 0
}

.ess-report-employee-general.ess-report-employee-general .ess-personal-info-general-pict {
    float: left
}

.ess-report-employee-general.ess-report-employee-general .ess-personal-info-general-data-main, .ess-report-employee-general.ess-report-employee-general .ess-report-employee-duration-panel {
    float: right
}

/*.ess-report-employee-header-label {
    font-size: 24px;
    line-height: 1.5;
    padding-top: 5px
}
*/
/*.ess-report-employee-name {
    font-size: 24px;
    line-height: 1.3;
    padding-top: 20px
}
*/
.ess-report-employee-id {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

    .ess-report-employee-id .ess-report-employee-id-label {
        font-size: 20px;
        padding: 6px 20px;
        border-left: 1px solid #a9a9aa
    }

    .ess-report-employee-id .ess-report-employee-id-value {
        font-size: 30px
    }

.ess-report-employee-position {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 3px
}

.ess-report-employee-level {
    font-size: 24px
}

.ess-report-employee-unit-panel {
    padding-top: 23px;
    border-bottom: 1px solid #c2c2c2;
    margin-right: 0;
    padding-bottom: 32px
}

.ess-report-employee-unit {
    font-size: 20px;
    display: flex
}

    .ess-report-employee-unit .ess-iconwrap {
        width: 25px
    }

    .ess-report-employee-unit .ess-datawrap {
        width: calc( 100% - 25px )
    }

.ess-report-employee-duration {
    padding-top: 32px
}

    .ess-report-employee-duration .ess-personal-info-panel-wrap {
        padding-left: 5%;
        padding-right: 5px;
        border-right: 1px solid #c2c2c2
    }

        .ess-report-employee-duration .ess-personal-info-panel-wrap:last-child {
            border: 0
        }

        .ess-report-employee-duration .ess-personal-info-panel-wrap:first-child {
            padding-left: 0
        }

.ess-personal-info-card.ess-report-employee-agecard {
    padding-top: 9px;
    padding-bottom: 0;
    border-top: 0
}

.ess-report-employee-subhdr {
    display: flex;
    align-items: center;
    font-size: 20px
}

.ess-report-employee-datapanel {
    width: 97%;
    padding-right: 3%;
    align-items: flex-start;
    padding-top: 30px;
    /*padding-bottom: 28px;*/
    border-top: 1px solid #c2c2c2
}

    .ess-report-employee-datapanel:first-child {
        border-top: 0
    }

.ess-report-employee-date {
    display: flex;
    align-items: center;
    padding-bottom: 10px
}

    .ess-report-employee-date .ess-report-employee-datadate {
        /*font-size: 30px;*/
        line-height: 1.3
    }

    .ess-report-employee-date .ess-iconwrap {
        margin: 0 10px
    }

.ess-report-employee-detail {
    /*font-size: 20px*/
}

    .ess-report-employee-detail .ess-report-employee-maindetail {
        /*font-size: 30px;*/
        line-height: 1.3;
        padding-bottom: 14px
    }

.ess-report-employee-hdr-row {
    border-top: 1px solid #c0c0c0;
    padding-top: 10px
}

.ess-report-employee-totaldate {
    text-align: center;
    /*font-size: 20px*/
}

.ess-report-employee-totaldate-value {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 5px
}

.ess-personal-info-panel.ess-report-employee-panel {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px
}

    .ess-personal-info-panel.ess-report-employee-panel .ess-personal-info-label-panel {
        justify-content: center
    }

    .ess-personal-info-panel.ess-report-employee-panel .ess-personal-info-label {
        font-size: 20px;
        text-align: center
    }

.ess-report-employee-databox {
    padding: 0 10% 0 10%
}

.ess-report-employee-data {
    font-size: 20px
}

.ess-report-employee-item {
    border-right: 1px solid #c2c2c2
}

    .ess-report-employee-item:last-child {
        border-right: 0
    }

.ess-report-employee-year {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center
}

.ess-personal-info-panel-wrap.ess-report-employee-evaluate {
    padding-top: 40px;
    padding-bottom: 40px
}
.ess-report-employee-evaluate {
    padding-top: 40px;
}


