* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

.ess-topheader-wrap {
    background-color: #fff
}

.ess-header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 8px;
    border-bottom: 1px solid #d3d6da
}

.ess-primary-navigation {
    display: flex;
    align-items: center
}

    .ess-primary-navigation .ess-menu {
        padding: 20px 22px 10px 11px
    }

    .ess-primary-navigation .ess-logowrap {
        display: flex;
        align-items: center;
        border-left: 1px solid #666;
        padding: 0 0 4px 17px;
        margin-top: 4px
    }

.ess-content-header-panel {
    display: flex;
    align-items: center
}

    .ess-content-header-panel .ess-nav {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0 0 0 33px;
        justify-content: flex-end
    }

    .ess-content-header-panel .ess-nav-link {
        padding: 0;
        color: #7f7f7f
    }

    .ess-content-header-panel .font-size-smaller, .ess-content-header-panel .font-size-normal, .ess-content-header-panel .font-size-bigger {
        line-height: 12px;
        padding: 0 5px;
        color: #7f7f7f
    }

        .ess-content-header-panel .font-size-smaller a, .ess-content-header-panel .font-size-normal a, .ess-content-header-panel .font-size-bigger a {
            color: #7f7f7f
        }

        .ess-content-header-panel .font-size-smaller.active, .ess-content-header-panel .font-size-normal.active, .ess-content-header-panel .font-size-bigger.active {
            color: #000
        }

            .ess-content-header-panel .font-size-smaller.active a, .ess-content-header-panel .font-size-normal.active a, .ess-content-header-panel .font-size-bigger.active a {
                color: #000
            }

    .ess-content-header-panel .font-size-smaller {
        font-size: 15px
    }

    .ess-content-header-panel .font-size-normal {
        font-size: 18px
    }

    .ess-content-header-panel .font-size-bigger {
        font-size: 22px
    }

    .ess-content-header-panel .dropdown-toggle {
        font-size: 13px
    }

        .ess-content-header-panel .dropdown-toggle:after {
            border: none;
            background: url("../images/icons/select-arrow.svg") no-repeat center center;
            width: 19px;
            height: 19px;
            display: inline-block;
            vertical-align: inherit;
            background-size: cover;
            vertical-align: middle;
            margin-left: 10px;
            position: relative;
            bottom: 10px
        }

        .ess-content-header-panel .dropdown-toggle .ess-nav-link-user {
            padding-right: 15px
        }

    .ess-content-header-panel .mobile-menu .menu-settings {
        display: none
    }

.ess-nav-inbox {
    display: flex;
    margin: 0;
    padding: 0
}

.ess-nav-item-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: #8d8d8d;
    width: 100%
}

    .ess-nav-item-user .ess-userimg {
        width: 43px;
        height: 43px;
        display: block;
        border-radius: 100%
    }

        .ess-nav-item-user .ess-userimg img {
            border-radius: 100%;
            width: 100%;
            height: auto
        }

    .ess-nav-item-user .ess-nav-item-userimg {
        width: 43px
    }

    .ess-nav-item-user .ess-nav-item-userdata {
        width: calc( 100% - 43px );
        padding: 5px 9px 0 9px;
        margin-left: 8px
    }

        .ess-nav-item-user .ess-nav-item-userdata.show {
            background-color: #fff;
            position: relative;
            border-radius: 8px 8px 0 0;
            box-shadow: 0px -2px 12px -7px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-menu.show {
            background: #fff;
            transform: none !important;
            left: 0 !important;
            right: 0 !important;
            top: unset !important;
            border-radius: 0 0 10px 10px;
            border: 0;
            margin: 0 !important;
            min-width: 154px;
            box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-item {
            color: #737373;
            padding: 5px 10px;
            display: flex;
            align-items: center
        }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item .dropdown-icon {
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center
            }

           /* .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus {
                color: #fff;
                text-decoration: none;
                background-color: #18baec
            }*/

                .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover .dropdown-icon .icon, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus .dropdown-icon .icon {
                    filter: brightness(300)
                }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:first-child, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:last-child {
                border-radius: 0
            }

        .ess-nav-item-user .ess-nav-item-userdata .ess-nav-item-userdata-line {
            margin: 6px 0
        }

    .ess-nav-item-user .ess-nav-link-hello {
        font-size: 18px;
        line-height: 1.1;
        display: block;
        color: #8d8d8d
    }

    .ess-nav-item-user .ess-nav-link {
        display: flex;
        align-items: flex-end
    }

.ess-nav-item {
    color: #7f7f7f;
    min-height: 50px;
    display: flex;
    align-items: center
}

    .ess-nav-item.ess-user-topbar {
        justify-content: flex-end;
        padding: 0
    }

    .ess-nav-item.ess-nav-date .font-size-label {
        font-size: 15px
    }

    .ess-nav-item.ess-nav-cta-box {
        align-items: flex-end;
        min-height: 51px;
        padding: 0;
        position: relative
    }

    .ess-nav-item.ess-kvis-icon {
        margin-top: 7px;
        padding: 0 27px;
        border-left: 1px solid #666
    }

.ess-nav-cta {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px
}

    .ess-nav-cta .ess-nav-cta-icon {
        display: block;
        line-height: 0
    }

    .ess-nav-cta .ess-nav-approve-qty {
        position: absolute;
        right: 10px;
        top: 0;
        background-color: #ff1d25;
        display: inline-block;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        line-height: 1.4;
        padding: 0 6px
    }

.ess .mainnavbar {
    position: absolute;
    width: 100%;
    top: 75px;
    z-index: 200;
    background: #f9f9f9;
    box-shadow: none
}

.ess .mainnavbar-close {
    position: absolute;
    top: -58px;
    left: 22px;
    background: #fff;
    padding: 10px
}

.ess .form-control:focus, .ess .ess-form-control:focus {
    box-shadow: unset
}

.ess .form-control, .ess .ess-form-control {
    border-radius: 0;
    font-size: 16px;
    font-family: kanit;
    color: #8d8d8d
}
/*
.ess .select2-container--default .select2-selection--single {
    border-color: #9f9f9f;
    border-radius: 10px;
    line-height: 2;
    height: 30px;
    color: #7d7d7d
}

    .ess .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 2;
        color: #7d7d7d
    }

    .ess .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-width: 7px 5px 0 5px;
        left: 50%;
        margin-left: -7px;
        margin-top: -2px
    }

.ess .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 5px 7px 5px
}*/

.ess .topnav-menu {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    box-shadow: 0 20px 10px 5px rgba(0,0,0,0.2);
    position: relative;
    padding: 0
}

    .ess .topnav-menu .topnav-menu-home-wrap {
        display: flex;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.1)
    }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-home {
            padding: 19px 20px 0
        }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-document .topnav-menu-list-inner {
            background-color: #f7f7f7
        }

    .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
        padding: 0
    }

    .ess .topnav-menu .topnav-menu-document {
        border-left: 2px solid #eaeaea;
        width: 186px
    }

    .ess .topnav-menu .topnav-menu-homelink, .ess .topnav-menu .topnav-menu-switch {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 16px
    }

    .ess .topnav-menu .topnav-menu-homelink-label {
        padding-top: 10px;
        font-size: 12px
    }

    .ess .topnav-menu .topnav-menu-headerlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: normal;
        padding: 17px 5%;
        border-bottom: 0;
        text-align: center
    }

        .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
            margin-top: 16px;
            color: #4B4B4B
        }

            .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link.topnav-menu-homelink {
                margin-top: 0
            }

    .ess .topnav-menu .topnav-menu-linklist {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
        border-top: 2px dotted #ccc
    }

        .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem {
            font-size: 12px;
            padding: 0;
            line-height: 1.3;
            border-bottom: 2px dotted #ccc
        }

            .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link {
                padding: 7px 5px 7px 10px;
                display: flex;
                justify-content: space-between
            }

                /*.ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link:hover {*/
                    /*background-color: #592f91;*/
                    /*background-color: #56cbf2;
                    color: #290460
                }*/

                .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link .topnav-menu-link-qty {
                    background-color: #ee4536;
                    padding: 0 3px;
                    text-align: center;
                    color: #fff;
                    border-radius: 20px;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 1.4;
                    padding: 0 3px;
                    min-width: 22px;
                    display: block
                }

    .ess .topnav-menu .topnav-menu-subheaderlink {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px 8px 15px
    }

    .ess .topnav-menu .topnav-menu-list-inner {
        margin: 0 3px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 60%
    }

    .ess .topnav-menu .topnav-menu-list2 {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%
    }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
            width: 25%
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner .topnav-menu-link-icon {
                display: flex;
                height: 48px
            }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink {
            background-color: #fff;
            margin: 0 10px 10px;
            height: calc(100% - 10px);
            justify-content: flex-start
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink:hover {
                background-color: transparent
            }

    .ess .topnav-menu .topnav-menu-list-inner .collapse, .ess .topnav-menu .topnav-menu-list-inner .collapsing, .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: block;
        height: 100%
    }

.ess-breadcrumb {
    padding: 7px 76px;
    margin: 0;
    font-size: 12px
}

    .ess-breadcrumb a {
        color: rgba(83,83,83,0.7) !important
    }

.mainnavbar-collapse.collapsing .slick-slider {
    visibility: hidden
}

.mainnavbar-collapse.collapse.show .slick-slider {
    visibility: visible
}

.topnav-slide-wrap {
    width: calc( 100% - 400px );
    margin: 20px auto
}

.topnav-slide .slick-slide {
    margin: 0
}

.topnav-slide .slick-prev, .topnav-slide .slick-next {
    color: #fff;
    width: 30px;
    height: 30px
}

.topnav-slide .slick-next {
    right: -25px
}

    .topnav-slide .slick-next::before {
        content: "\e900";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-prev {
    left: -40px
}

    .topnav-slide .slick-prev::before {
        content: "\e901";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-active {
    opacity: 1
}

@media (max-width: 1448px) {
    .ess-overall-nav .ess-overall-box-datagroup {
        width: auto;
        min-width: unset
    }
}

@media (max-width: 1140px) {
    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%
        }
}

@media (max-width: 1110px) {
    .ess .mainnavbar {
        top: 80px
    }

    .ess .mainnavbar-close {
        top: -64px;
        left: 23px
    }
}

@media (max-width: 1086px) {
    .ess-overall-nav .ess-overall-box {
        flex-direction: row;
        flex-wrap: nowrap
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        padding: 5px 20px
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: 135px;
        padding: 0;
        text-align: right
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: calc( 100% - 135px)
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        width: 100%;
        min-width: unset;
        max-width: unset
    }
}

@media (max-width: 1024px) {
    .ess .mainnavbar-close {
        top: -64px;
        left: 8px
    }

    .ess-dropdown-hover:hover > .dropdown-menu {
        transform: translate3d(0, 27px, 0px);
        position: absolute;
        top: 0
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ess .topnav-menu {
        padding: 18px 0 10px
    }

    .ess-content-header-panel .sp-user-topbar {
        flex-basis: unset;
        flex-grow: 0
    }

    .ess-row-wrap {
        padding-left: 5px;
        padding-right: 5px
    }

    .ess-header-wrap {
        padding: 8px 5px 17px
    }

    .ess-breadcrumb {
        padding: 6px 15px 7px
    }

    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 826px) {
    .ess .mainnavbar {
        top: 90px
    }

    .ess .mainnavbar-close {
        top: -67px;
        left: 8px
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 40%
    }

        .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 {
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 .topnav-menu-list2-inner {
                width: 50%
            }
}

@media (max-width: 767px) {
    .ess .mainnavbar {
        top: 52px
    }

    .ess .mainnavbar-close {
        top: -48px;
        left: 2px
    }

    .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
        min-height: unset
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: none;
        height: 0
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapsing {
        height: 0
    }

    .ess .topnav-menu {
        padding-left: 0;
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc( 100vh - 54px);
        padding-right: 0
    }

        .ess .topnav-menu .topnav-menu-home-wrap {
            flex-direction: column
        }

        .ess .topnav-menu .topnav-menu-list-inner {
            margin: 0 5px
        }

        .ess .topnav-menu .topnav-menu-linklist {
            margin: 0 15px 20px
        }

        .ess .topnav-menu .topnav-slide-wrap {
            margin-top: 0
        }

        .ess .topnav-menu .topnav-menu-box {
            border-top: 0;
            padding-left: 0;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink {
                border-bottom: 0;
                padding-left: 20px
            }

                .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink .topnav-menu-link {
                    margin-top: 0;
                    padding: 0 15px 15px
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-document {
                border-left: 0;
                border-top: 1px solid #eaeaea
            }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-home {
                border: 0;
                width: 100%;
                display: flex;
                justify-content: center
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
                    border: 0
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-list {
                margin: 0
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-list .topnav-menu-list-inner {
                    margin: 0
                }

        .ess .topnav-menu .topnav-menu-box2 {
            margin-top: 10px;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink {
                padding: 20px 5px
            }

                .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink .topnav-menu-link {
                    padding: 0 10px 0
                }

    .ess .topnav-menu-linklist {
        padding-left: 35px
    }

    .ess .mainnavbar-collapse .ess-header-wrap {
        padding: 10px 10px
    }

    .ess .topnav-slide-wrap {
        width: 100%
    }

    .ess-footer {
        margin-top: 0
    }

    .ess-top-header {
        display: none
    }

    .ess-primary-navigation {
        flex-basis: 40%;
        padding-top: 0
    }

        .ess-primary-navigation .ess-menu {
            padding: 0 20px 0 0
        }

    .ess-content-header-panel {
        margin-top: 0
    }

    .ess-content-header-panel {
        display: flex;
        justify-content: flex-end;
        width: 100%
    }

    .ess-content-header-panel {
        position: relative;
        flex-basis: 55%
    }

        .ess-content-header-panel .mobile-menu .menu-settings {
            display: flex;
            justify-content: flex-end
        }

        .ess-content-header-panel .ess-nav {
            position: absolute;
            z-index: 100;
            background-color: #fff;
            padding: 10px;
            display: none
        }

            .ess-content-header-panel .ess-nav .ess-nav-item {
                border: 0;
                width: 100%;
                order: 2;
                min-height: 35px
            }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-nav-cta-box {
                    width: 40%
                }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata {
                    display: block;
                    padding-left: 10px
                }

                    .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata .dropdown-toggle {
                        margin-left: 0
                    }

        .ess-content-header-panel .collapsing.ess-nav {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            right: 0;
            width: 240px;
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            top: 38px
        }

        .ess-content-header-panel .collapse.show.ess-nav {
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            position: absolute;
            flex-direction: column;
            display: flex;
            right: 0;
            width: 300px;
            top: 38px
        }

    .ess-header-wrap {
        padding: 5px 10px 0
    }

    .ess-breadcrumb {
        padding: 5px 10px
    }

    .ess-page-header-panel {
        padding-bottom: 5px
    }

        .ess-page-header-panel .ess-page-header {
            padding: 0 0 10px
        }

        .ess-page-header-panel .ess-page-header-element {
            padding: 0
        }

    .ess-doc-num-box {
        padding: 0
    }

    .ess-tab-section-content {
        padding: 0
    }

    .ess-overall-nav .ess-overall-box {
        width: 100%;
        padding: 5px 0
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: 100%
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }

    .ess-overall-nav .ess-overall-cta {
        text-align: center
    }

    .ess-tab .ess-tab-panel {
        width: auto;
        height: 100%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
    .ess-personal-info-sub-hdr {
        font-size: 20px;
        line-height: 1;
        padding-bottom: 10px;
        padding-top: 10px;
    }

}

@media (max-width: 575px) {
    .ess-page-header-panel .ess-page-header-element {
        justify-content: center
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }
}

@media (max-width: 542px) {
    .ess-tab .ess-tab-panel {
        margin: 0
    }
}

@media (max-width: 490px) {
    .ess-tab-evoluation-wrap {
        padding: 0 1px
    }

    .ess-tab .ess-tab-panel {
        width: 100%;
        margin: 0
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%;
            margin-top: -5px;
            background-color: #fff
        }
}

@media (max-width: 459px) {
    .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
        width: 50%
    }

    .ess-primary-navigation .ess-logowrap {
        padding: 0 0 4px 0
    }

        .ess-primary-navigation .ess-logowrap .icon.ess-logo {
            width: 72px;
            height: 27px
        }

    .ess-primary-navigation .ess-menu {
        padding: 0 10px 0 0
    }
}

.ess-footer {
    text-align: center;
    padding: 50px 0 40px
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

.ess-topheader-wrap {
    background-color: #fff
}

.ess-header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 8px;
    border-bottom: 1px solid #d3d6da
}

.ess-primary-navigation {
    display: flex;
    align-items: center
}

    .ess-primary-navigation .ess-menu {
        padding: 20px 22px 10px 11px
    }

    .ess-primary-navigation .ess-logowrap {
        display: flex;
        align-items: center;
        border-left: 1px solid #666;
        padding: 0 0 4px 17px;
        margin-top: 4px
    }

.ess-content-header-panel {
    display: flex;
    align-items: center
}

    .ess-content-header-panel .ess-nav {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0 0 0 33px;
        justify-content: flex-end
    }

    .ess-content-header-panel .ess-nav-link {
        padding: 0;
        color: #7f7f7f
    }

    .ess-content-header-panel .font-size-smaller, .ess-content-header-panel .font-size-normal, .ess-content-header-panel .font-size-bigger {
        line-height: 12px;
        padding: 0 5px;
        color: #7f7f7f
    }

        .ess-content-header-panel .font-size-smaller a, .ess-content-header-panel .font-size-normal a, .ess-content-header-panel .font-size-bigger a {
            color: #7f7f7f
        }

        .ess-content-header-panel .font-size-smaller.active, .ess-content-header-panel .font-size-normal.active, .ess-content-header-panel .font-size-bigger.active {
            color: #000
        }

            .ess-content-header-panel .font-size-smaller.active a, .ess-content-header-panel .font-size-normal.active a, .ess-content-header-panel .font-size-bigger.active a {
                color: #000
            }

    .ess-content-header-panel .font-size-smaller {
        font-size: 15px
    }

    .ess-content-header-panel .font-size-normal {
        font-size: 18px
    }

    .ess-content-header-panel .font-size-bigger {
        font-size: 22px
    }

    .ess-content-header-panel .dropdown-toggle {
        font-size: 13px
    }

        .ess-content-header-panel .dropdown-toggle:after {
            border: none;
            background: url("../images/icons/select-arrow.svg") no-repeat center center;
            width: 19px;
            height: 19px;
            display: inline-block;
            vertical-align: inherit;
            background-size: cover;
            vertical-align: middle;
            margin-left: 10px;
            position: relative;
            bottom: 10px
        }

        .ess-content-header-panel .dropdown-toggle .ess-nav-link-user {
            padding-right: 15px
        }

    .ess-content-header-panel .mobile-menu .menu-settings {
        display: none
    }

.ess-nav-inbox {
    display: flex;
    margin: 0;
    padding: 0
}

.ess-nav-item-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: #8d8d8d;
    width: 100%
}

    .ess-nav-item-user .ess-userimg {
        width: 43px;
        height: 43px;
        display: block;
        border-radius: 100%
    }

        .ess-nav-item-user .ess-userimg img {
            border-radius: 100%;
            width: 100%;
            height: auto
        }

    .ess-nav-item-user .ess-nav-item-userimg {
        width: 43px
    }

    .ess-nav-item-user .ess-nav-item-userdata {
        width: calc( 100% - 43px );
        padding: 5px 9px 0 9px;
        margin-left: 8px
    }

        .ess-nav-item-user .ess-nav-item-userdata.show {
            background-color: #fff;
            position: relative;
            border-radius: 8px 8px 0 0;
            box-shadow: 0px -2px 12px -7px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-menu.show {
            background: #fff;
            transform: none !important;
            left: 0 !important;
            right: 0 !important;
            top: unset !important;
            border-radius: 0 0 10px 10px;
            border: 0;
            margin: 0 !important;
            min-width: 154px;
            box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-item {
            color: #737373;
            padding: 5px 10px;
            display: flex;
            align-items: center
        }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item .dropdown-icon {
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center
            }

            /*.ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus {
                color: #fff;
                text-decoration: none;
                background-color: #18baec
            }*/

                .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover .dropdown-icon .icon, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus .dropdown-icon .icon {
                    filter: brightness(300)
                }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:first-child, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:last-child {
                border-radius: 0
            }

        .ess-nav-item-user .ess-nav-item-userdata .ess-nav-item-userdata-line {
            margin: 6px 0
        }

    .ess-nav-item-user .ess-nav-link-hello {
        font-size: 18px;
        line-height: 1.1;
        display: block;
        color: #8d8d8d
    }

    .ess-nav-item-user .ess-nav-link {
        display: flex;
        align-items: flex-end
    }

.ess-nav-item {
    color: #7f7f7f;
    min-height: 50px;
    display: flex;
    align-items: center
}

    .ess-nav-item.ess-user-topbar {
        justify-content: flex-end;
        padding: 0
    }

    .ess-nav-item.ess-nav-date .font-size-label {
        font-size: 15px
    }

    .ess-nav-item.ess-nav-cta-box {
        align-items: flex-end;
        min-height: 51px;
        padding: 0;
        position: relative
    }

    .ess-nav-item.ess-kvis-icon {
        margin-top: 7px;
        padding: 0 27px;
        border-left: 1px solid #666
    }

.ess-nav-cta {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px
}

    .ess-nav-cta .ess-nav-cta-icon {
        display: block;
        line-height: 0
    }

    .ess-nav-cta .ess-nav-approve-qty {
        position: absolute;
        right: 10px;
        top: 0;
        background-color: #ff1d25;
        display: inline-block;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        line-height: 1.4;
        padding: 0 6px
    }

.ess .mainnavbar {
    position: absolute;
    width: 100%;
    top: 75px;
    z-index: 200;
    background: #f9f9f9;
    box-shadow: none
}

.ess .mainnavbar-close {
    position: absolute;
    top: -58px;
    left: 22px;
    background: #fff;
    padding: 10px
}

.ess .form-control:focus, .ess .ess-form-control:focus {
    box-shadow: unset
}

.ess .form-control, .ess .ess-form-control {
    border-radius: 0;
    font-size: 16px;
    font-family: kanit;
    color: #8d8d8d
}
/*
.ess .select2-container--default .select2-selection--single {
    border-color: #9f9f9f;
    border-radius: 10px;
    line-height: 2;
    height: 30px;
    color: #7d7d7d
}

    .ess .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 2;
        color: #7d7d7d
    }

    .ess .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-width: 7px 5px 0 5px;
        left: 50%;
        margin-left: -7px;
        margin-top: -2px
    }

.ess .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 5px 7px 5px
}
*/
.ess .topnav-menu {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    box-shadow: 0 20px 10px 5px rgba(0,0,0,0.2);
    position: relative;
    padding: 0
}

    .ess .topnav-menu .topnav-menu-home-wrap {
        display: flex;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.1)
    }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-home {
            padding: 19px 20px 0
        }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-document .topnav-menu-list-inner {
            background-color: #f7f7f7
        }

    .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
        padding: 0
    }

    .ess .topnav-menu .topnav-menu-document {
        border-left: 2px solid #eaeaea;
        width: 186px
    }

    .ess .topnav-menu .topnav-menu-homelink, .ess .topnav-menu .topnav-menu-switch {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 16px
    }

    .ess .topnav-menu .topnav-menu-homelink-label {
        padding-top: 10px;
        font-size: 12px
    }

    .ess .topnav-menu .topnav-menu-headerlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: normal;
        padding: 17px 5%;
        border-bottom: 0;
        text-align: center
    }

        .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
            margin-top: 16px;
            color: #4B4B4B
        }

            .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link.topnav-menu-homelink {
                margin-top: 0
            }

    .ess .topnav-menu .topnav-menu-linklist {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
        border-top: 2px dotted #ccc
    }

        .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem {
            font-size: 12px;
            padding: 0;
            line-height: 1.3;
            border-bottom: 2px dotted #ccc
        }

            .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link {
                padding: 7px 5px 7px 10px;
                display: flex;
                justify-content: space-between
            }

                /*.ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link:hover {*/
                    /*background-color: #592f91;*/
                    /*background-color: #56cbf2;
                    color: #290460
                }*/

                .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link .topnav-menu-link-qty {
                    background-color: #ee4536;
                    padding: 0 3px;
                    text-align: center;
                    color: #fff;
                    border-radius: 20px;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 1.4;
                    padding: 0 3px;
                    min-width: 22px;
                    display: block
                }

    .ess .topnav-menu .topnav-menu-subheaderlink {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px 8px 15px
    }

    .ess .topnav-menu .topnav-menu-list-inner {
        margin: 0 3px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 60%
    }

    .ess .topnav-menu .topnav-menu-list2 {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%
    }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
            width: 25%
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner .topnav-menu-link-icon {
                display: flex;
                height: 48px
            }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink {
            background-color: #fff;
            margin: 0 10px 10px;
            height: calc(100% - 10px);
            justify-content: flex-start
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink:hover {
                background-color: transparent
            }

    .ess .topnav-menu .topnav-menu-list-inner .collapse, .ess .topnav-menu .topnav-menu-list-inner .collapsing, .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: block;
        height: 100%
    }

.ess-breadcrumb {
    padding: 7px 76px;
    margin: 0;
    font-size: 12px
}

    .ess-breadcrumb a {
        color: rgba(83,83,83,0.7) !important
    }

.mainnavbar-collapse.collapsing .slick-slider {
    visibility: hidden
}

.mainnavbar-collapse.collapse.show .slick-slider {
    visibility: visible
}

.topnav-slide-wrap {
    width: calc( 100% - 400px );
    margin: 20px auto
}

.topnav-slide .slick-slide {
    margin: 0
}

.topnav-slide .slick-prev, .topnav-slide .slick-next {
    color: #fff;
    width: 30px;
    height: 30px
}

.topnav-slide .slick-next {
    right: -25px
}

    .topnav-slide .slick-next::before {
        content: "\e900";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-prev {
    left: -40px
}

    .topnav-slide .slick-prev::before {
        content: "\e901";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-active {
    opacity: 1
}

@media (max-width: 1448px) {
    .ess-overall-nav .ess-overall-box-datagroup {
        width: auto;
        min-width: unset
    }
}

@media (max-width: 1140px) {
    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%
        }
}

@media (max-width: 1110px) {
    .ess .mainnavbar {
        top: 80px
    }

    .ess .mainnavbar-close {
        top: -64px;
        left: 23px
    }
}

@media (max-width: 1086px) {
    .ess-overall-nav .ess-overall-box {
        flex-direction: row;
        flex-wrap: nowrap
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        padding: 5px 20px
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: 135px;
        padding: 0;
        text-align: right
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: calc( 100% - 135px)
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        width: 100%;
        min-width: unset;
        max-width: unset
    }
}

@media (max-width: 1024px) {
    .ess .mainnavbar-close {
        top: -64px;
        left: 8px
    }

    .ess-dropdown-hover:hover > .dropdown-menu {
        transform: translate3d(0, 27px, 0px);
        position: absolute;
        top: 0
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ess .topnav-menu {
        padding: 18px 0 10px
    }

    .ess-content-header-panel .sp-user-topbar {
        flex-basis: unset;
        flex-grow: 0
    }

    .ess-row-wrap {
        padding-left: 5px;
        padding-right: 5px
    }

    .ess-header-wrap {
        padding: 8px 5px 17px
    }

    .ess-breadcrumb {
        padding: 6px 15px 7px
    }

    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 826px) {
    .ess .mainnavbar {
        top: 90px
    }

    .ess .mainnavbar-close {
        top: -67px;
        left: 8px
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 40%
    }

        .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 {
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 .topnav-menu-list2-inner {
                width: 50%
            }
}

@media (max-width: 767px) {
    .ess .mainnavbar {
        top: 52px
    }

    .ess .mainnavbar-close {
        top: -48px;
        left: 2px
    }

    .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
        min-height: unset
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: none;
        height: 0
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapsing {
        height: 0
    }

    .ess .topnav-menu {
        padding-left: 0;
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc( 100vh - 54px);
        padding-right: 0
    }

        .ess .topnav-menu .topnav-menu-home-wrap {
            flex-direction: column
        }

        .ess .topnav-menu .topnav-menu-list-inner {
            margin: 0 5px
        }

        .ess .topnav-menu .topnav-menu-linklist {
            margin: 0 15px 20px
        }

        .ess .topnav-menu .topnav-slide-wrap {
            margin-top: 0
        }

        .ess .topnav-menu .topnav-menu-box {
            border-top: 0;
            padding-left: 0;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink {
                border-bottom: 0;
                padding-left: 20px
            }

                .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink .topnav-menu-link {
                    margin-top: 0;
                    padding: 0 15px 15px
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-document {
                border-left: 0;
                border-top: 1px solid #eaeaea
            }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-home {
                border: 0;
                width: 100%;
                display: flex;
                justify-content: center
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
                    border: 0
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-list {
                margin: 0
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-list .topnav-menu-list-inner {
                    margin: 0
                }

        .ess .topnav-menu .topnav-menu-box2 {
            margin-top: 10px;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink {
                padding: 20px 5px
            }

                .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink .topnav-menu-link {
                    padding: 0 10px 0
                }

    .ess .topnav-menu-linklist {
        padding-left: 35px
    }

    .ess .mainnavbar-collapse .ess-header-wrap {
        padding: 10px 10px
    }

    .ess .topnav-slide-wrap {
        width: 100%
    }

    .ess-footer {
        margin-top: 0
    }

    .ess-top-header {
        display: none
    }

    .ess-primary-navigation {
        flex-basis: 40%;
        padding-top: 0
    }

        .ess-primary-navigation .ess-menu {
            padding: 0 20px 0 0
        }

    .ess-content-header-panel {
        margin-top: 0
    }

    .ess-content-header-panel {
        display: flex;
        justify-content: flex-end;
        width: 100%
    }

    .ess-content-header-panel {
        position: relative;
        flex-basis: 55%
    }

        .ess-content-header-panel .mobile-menu .menu-settings {
            display: flex;
            justify-content: flex-end
        }

        .ess-content-header-panel .ess-nav {
            position: absolute;
            z-index: 100;
            background-color: #fff;
            padding: 10px;
            display: none
        }

            .ess-content-header-panel .ess-nav .ess-nav-item {
                border: 0;
                width: 100%;
                order: 2;
                min-height: 35px
            }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-nav-cta-box {
                    width: 40%
                }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata {
                    display: block;
                    padding-left: 10px
                }

                    .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata .dropdown-toggle {
                        margin-left: 0
                    }

        .ess-content-header-panel .collapsing.ess-nav {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            right: 0;
            width: 240px;
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            top: 38px
        }

        .ess-content-header-panel .collapse.show.ess-nav {
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            position: absolute;
            flex-direction: column;
            display: flex;
            right: 0;
            width: 300px;
            top: 38px
        }

    .ess-header-wrap {
        padding: 5px 10px 0
    }

    .ess-breadcrumb {
        padding: 5px 10px
    }

    .ess-page-header-panel {
        padding-bottom: 5px
    }

        .ess-page-header-panel .ess-page-header {
            padding: 0 0 10px
        }

        .ess-page-header-panel .ess-page-header-element {
            padding: 0
        }

    .ess-doc-num-box {
        padding: 0
    }

    .ess-tab-section-content {
        padding: 0
    }

    .ess-overall-nav .ess-overall-box {
        width: 100%;
        padding: 5px 0
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: 100%
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }

    .ess-overall-nav .ess-overall-cta {
        text-align: center
    }

    .ess-tab .ess-tab-panel {
        width: auto;
        height: 100%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 575px) {
    .ess-page-header-panel .ess-page-header-element {
        justify-content: center
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }
}

@media (max-width: 542px) {
    .ess-tab .ess-tab-panel {
        margin: 0
    }
}

@media (max-width: 490px) {
    .ess-tab-evoluation-wrap {
        padding: 0 1px
    }

    .ess-tab .ess-tab-panel {
        width: 100%;
        margin: 0
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%;
            margin-top: -5px;
            background-color: #fff
        }
}

@media (max-width: 459px) {
    .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
        width: 50%
    }

    .ess-primary-navigation .ess-logowrap {
        padding: 0 0 4px 0
    }

        .ess-primary-navigation .ess-logowrap .icon.ess-logo {
            width: 72px;
            height: 27px
        }

    .ess-primary-navigation .ess-menu {
        padding: 0 10px 0 0
    }
}

.ess-footer {
    text-align: center;
    padding: 50px 0 40px
}

.ess {
    /*background: #fff url(../images/ess-bg.png)*/
}

    .ess .ess-form-group .ess-form-group-label {
        font-size: 16px
    }

    .ess .ess-form-group .ess-form-control {
        border: 1px solid #9f9f9f;
        border-radius: 10px;
        font-size: 16px;
        color: #4b4b4b
    }

    .ess .ess-form-group .ess-selectbox .select2-container {
        width: 100% !important
    }

    .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single {
        height: 38px
    }

        .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-size: 16px;
            line-height: 2.3
        }

        .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 38px
        }

    .ess .ess-form-group .ess-formgroup-calendar {
        display: flex;
        align-items: center
    }

        .ess .ess-form-group .ess-formgroup-calendar .btn-icon {
            margin: 0 0 0 5px
        }

    .ess .ess-document-action-radio {
        margin-right: 20px
    }

    .ess .ess-form-help {
        color: #8f8f8f;
        line-height: 1.3;
        padding-top: 5px;
        font-size: 14px
    }

    .ess .datepicker .datepicker-days .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-days .table-condensed th {
            width: 28px;
            height: 28px;
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-days .table-condensed td {
            width: 30px;
            height: 30px;
            font-size: 18px;
            margin: 5px
        }

        .ess .datepicker .datepicker-days .table-condensed thead tr:nth-child(2) {
            position: relative
        }

            .ess .datepicker .datepicker-days .table-condensed thead tr:nth-child(2):after {
                content: '';
                height: 1px;
                background: #d5d5d5;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -6px
            }

        .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1), .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1) {
            color: #ee1c24
        }

            .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1).old, .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1).new, .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1).old, .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1).new {
                color: #999
            }

    .ess .datepicker .datepicker-months .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-months .table-condensed th {
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-months .table-condensed td {
            font-size: 16px;
            margin: 5px
        }

            .ess .datepicker .datepicker-months .table-condensed td .month {
                width: 48px;
                height: 48px;
                line-height: 48px
            }

    .ess .datepicker .datepicker-centuries .table-condensed, .ess .datepicker .datepicker-decades .table-condensed, .ess .datepicker .datepicker-years .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-centuries .table-condensed th, .ess .datepicker .datepicker-decades .table-condensed th, .ess .datepicker .datepicker-years .table-condensed th {
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-centuries .table-condensed td, .ess .datepicker .datepicker-decades .table-condensed td, .ess .datepicker .datepicker-years .table-condensed td {
            font-size: 16px;
            margin: 5px
        }

            .ess .datepicker .datepicker-centuries .table-condensed td .century, .ess .datepicker .datepicker-centuries .table-condensed td .decade, .ess .datepicker .datepicker-centuries .table-condensed td .year, .ess .datepicker .datepicker-decades .table-condensed td .century, .ess .datepicker .datepicker-decades .table-condensed td .decade, .ess .datepicker .datepicker-decades .table-condensed td .year, .ess .datepicker .datepicker-years .table-condensed td .century, .ess .datepicker .datepicker-years .table-condensed td .decade, .ess .datepicker .datepicker-years .table-condensed td .year {
                width: 48px;
                height: 48px;
                line-height: 48px
            }

    /*.ess .datepicker table tr td.active.active, .ess .datepicker table tr td.active.disabled, .ess .datepicker table tr td.active.disabled.active, .ess .datepicker table tr td.active.disabled.disabled, .ess .datepicker table tr td.active.disabled:active, .ess .datepicker table tr td.active.disabled:hover, .ess .datepicker table tr td.active.disabled:hover.active, .ess .datepicker table tr td.active.disabled:hover.disabled, .ess .datepicker table tr td.active.disabled:hover:active, .ess .datepicker table tr td.active.disabled:hover:hover, .ess .datepicker table tr td.active.disabled:hover[disabled], .ess .datepicker table tr td.active.disabled[disabled], .ess .datepicker table tr td.active:active, .ess .datepicker table tr td.active:hover, .ess .datepicker table tr td.active:hover.active, .ess .datepicker table tr td.active:hover.disabled, .ess .datepicker table tr td.active:hover:active, .ess .datepicker table tr td.active:hover:hover, .ess .datepicker table tr td.active:hover[disabled], .ess .datepicker table tr td.active[disabled] {
        background: #39b54a;
        border-radius: 100%;
        color: #fff
    }

    .ess .datepicker table tr td span.active.active, .ess .datepicker table tr td span.active.disabled, .ess .datepicker table tr td span.active.disabled.active, .ess .datepicker table tr td span.active.disabled.disabled, .ess .datepicker table tr td span.active.disabled:active, .ess .datepicker table tr td span.active.disabled:hover, .ess .datepicker table tr td span.active.disabled:hover.active, .ess .datepicker table tr td span.active.disabled:hover.disabled, .ess .datepicker table tr td span.active.disabled:hover:active, .ess .datepicker table tr td span.active.disabled:hover:hover, .ess .datepicker table tr td span.active.disabled:hover[disabled], .ess .datepicker table tr td span.active.disabled[disabled], .ess .datepicker table tr td span.active:active, .ess .datepicker table tr td span.active:hover, .ess .datepicker table tr td span.active:hover.active, .ess .datepicker table tr td span.active:hover.disabled, .ess .datepicker table tr td span.active:hover:active, .ess .datepicker table tr td span.active:hover:hover, .ess .datepicker table tr td span.active:hover[disabled], .ess .datepicker table tr td span.active[disabled] {
        background: #39b54a;
        border-radius: 100%;
        color: #fff
    }*/

    .ess .datepicker table tr td.day.focused, .ess .datepicker table tr td.day:hover, .ess .datepicker table tr td span.focused, .ess .datepicker table tr td span:hover {
        border-radius: 100%
    }

.ess-page-header2 {
    font-size: 30px;
    padding: 20px 50px 7px
}

.ess-wrapper {
    padding: 10px 30px;
}
.ess-wrapper-pa {
    padding: 0px 11px 0px 20px;
}

.ess-button-align-right {
    text-align: right;
}
.ess-tab-document-wrap .ess-badge {
    border-radius: 50px;
    padding: .25em .8em;
    position: absolute;
    right: 4px;
    top: -5px;
    font-size: 10px;
    font-weight: normal
}

.ess-note {
    color: #0884f4;
    display: flex;
    align-items: center;
    font-size: 14px
}

    .ess-note .icon {
        margin-right: 5px
    }

.ess-tab-content {
    background: #fbfbfb;
    border-top: 3px solid #fff;
    padding: 0 26px 25px
}

.ess-tab-content-pa {
    background: #fbfbfb;
    border-top: 10px solid #fff;
    padding: 0 0px 0px
}


.ess-document-tab-content-search .ess-document-tab-content-filter {
    display: flex;
    padding-top: 2px
}

    .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data {
        width: 230px
    }

        .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container {
            width: 100% !important
        }

        .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container--default .select2-selection--single {
            width: 100%;
            height: 32px
        }

            .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 2.35
            }

    .ess-document-tab-content-search .ess-document-tab-content-filter .form-inline .ess-label {
        color: #363636;
        font-size: 16px;
        padding-right: 16px
    }

.ess-login-detail {
    padding-top: 16px
}

    .ess-login-detail .ess-login-as {
        color: #636363;
        font-size: 16px
    }

    .ess-login-detail .ess-document-total {
        text-align: right;
        color: #636363;
        font-size: 16px
    }

.ess-document-tab-filter-total {
    font-size: 11px;
    color: #006dc1;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.ess-document-tab-filter {
    padding-top: 19px
}

.ess-document-tab-filter-dropdown .ess-document-tab-filter-btn, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled):active, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled).active {
    border: 1px solid #c1c0c0;
    background-color: #faf9f9;
    color: #8d8d8d;
    padding: 0 12px
}

    .ess-document-tab-filter-dropdown .ess-document-tab-filter-btn .ess-document-tab-filter-btn-span, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled):active .ess-document-tab-filter-btn-span, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled).active .ess-document-tab-filter-btn-span {
        padding: 0 11px
    }

.ess-document-tab-filter-panel {
    display: flex
}

.ess-document-tab-filter-action-panel {
    margin-left: 5px
}

.ess-document-tab-filter-action {
    margin: 0 4px
}

.ess-document-tab-filter-action-item {
    display: inline-block;
    border: 1px solid #c1c0c0;
    background-color: #fff;
    border-radius: 6px;
    padding: 0 6px;
    line-height: 1.62
}

.ess .btn.show > .btn-secondary.dropdown-toggle:focus {
    background-color: #faf9f9;
    color: #8d8d8d;
    box-shadow: 0 0 0 1px rgba(130,138,145,0.5)
}

.ess .dropdown-menu {
    border-radius: 0 0 12px 12px;
    border: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)
}

    .ess .dropdown-menu a {
        color: #737373
    }

.ess .dropdown-item:hover, .ess .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #18baec
}

.ess-tab-section-bar {
    display: flex;
    align-items: center;
    padding: 14px 29px
}

    .ess-tab-section-bar .icon {
        margin-right: 16px
    }

    .ess-tab-section-bar .ess-tab-section-bar-hdr {
        width: calc( 100% - 36px );
        font-size: 30px
    }

.ess-tab-section-bar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    text-align: right
}

.ess-collapse-data-panel {
    border-top: 1px solid #c2c2c2;
    padding: 13px 20px 20px 20px
}

    .ess-collapse-data-panel .ess-document-tab-content-search {
        padding-top: 0
    }

.ess-sub-hdr {
    font-size: 20px;
    padding: 9px 0
}

.ess-report-summary {
    background: #fff;
    border: 1px solid #e8e7e7;
    border-radius: 10px;
    padding: 21px 0 23px;
    margin: 5px 0 16px
}

.ess-report-pa-quali {
    background: #fff;
    border: 1px solid #8C8B8B;
    border-radius: 10px 10px 0 0;
    padding: 21px 0 23px;
    margin: 5px 0 16px;
    text-align: center;
}

.tabcontent-pa {
    display: none;
}

.ess-report-summary-data {
    border-right: 1px solid #e8e7e7;
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.ess-report-summary-hdr {
    display: flex;
    align-items: center;
    justify-content: center
}

.ess-report-summary-label {
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    padding-top: 5px
}

.ess-report-summary-value {
    font-size: 48px;
    text-align: center;
    padding: 11px 0 4px
}

    .ess-report-summary-value.ess-report-summary-value-gery {
        color: #b7b7b7
    }

    .ess-report-summary-value.ess-report-summary-value-green {
        color: #39b54a
    }

.ess-report-summary-value-red {
    color: #ee4536
}

.ess-report-summary-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px
}

    .ess-report-summary-unit .icon {
        margin: 0 5px
    }

    .ess-report-summary-unit .ess-report-summary-unit-caption {
        font-size: 12px
    }

/*
.ess-report-summary-data-row {
    padding-top: 24px;
    padding-bottom: 24px
}*/

.ess-report-summary-data {
    padding-top: 0;
    border-left: 1px solid #e5e5e5;
    border-right: 0
}

.ess-report-summary-label {
    font-size: 20px
}

.ess-report-summary-value {
    font-size: 20px
}


.ess-table-container.ess-report-table-border-radius {
    border-radius: 10px;
    border: 1px solid #ecebeb;
    padding-bottom: 10px;
    background-color: #fff
}


.ess-iconwrap {
    margin: 0 10px
}

.ess-uploader-container {
    text-align: center;
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    margin: 0 0 25px
}


@media (max-width: 1024px) {
    .ess-wrapper {
        padding: 11px 15px
    }

    .ess-wrapper-pa {
        padding: 11px 15px
    }

    .ess-document-list .ess-document-list-item {
        flex-wrap: wrap
    }

    .ess-document-list .ess-document-list-item-type-wrap {
        width: 100%;
        padding-top: 0;
        justify-content: space-between
    }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-type {
            margin: 0;
            display: flex;
            align-items: center
        }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-doctype-wrap {
            margin: 18px
        }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-num-wrap {
            margin: 18px 5px
        }

    .ess-document-list .ess-document-list-item-detail-wrap {
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
        margin-bottom: 20px
    }

    .ess-document-list .ess-document-list-item-creator-wrap {
        width: 50%;
        border-left: 0
    }

    .ess-document-list .ess-document-list-item-status-wrap {
        width: 50%;
        padding-left: 3%
    }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp {
            padding-top: 30px
        }

    .ess-tab-document-wrap .ess-nav-link {
        padding: 10px 0;
        min-width: unset
    }

    .ess-tab-document-wrap .ess-tab-panel {
        width: 25%
    }
}

@media (max-width: 767px) {
    .ess-wrapper {
        padding: 10px 5px
    }

    .ess-wrapper-pa {
        padding: 10px 5px
    }

    .ess-leave-summary .ess-tab-content {
        padding: 0 10px 25px
    }

    .ess-document-list .ess-document-list-item-creator-wrap {
        width: 100%;
        padding-top: 5px
    }

    .ess-document-list .ess-document-list-item-status-wrap {
        width: 100%;
        border-left: 0;
        border-top: 1px solid #e5e5e5;
        margin-top: 20px;
        padding-top: 20px
    }

    .ess-tab-document-wrap .ess-nav-link {
        margin-right: 0
    }

    .ess-login-detail .ess-document-total {
        padding-top: 10px
    }

    .ess-report-summary-hdr {
        align-items: flex-start;
        padding-top: 31px
    }

    .ess-leave-summary-box .ess-report-summary-data:nth-child(odd) {
        border: 0
    }

    .ess-table-style1.ess-report-table .ess-report-date, .ess-table-style1.ess-report-table .ess-report-clockin, .ess-table-style1.ess-report-table .ess-report-clockout {
        font-size: 20px
    }

    .ess-table-style1.ess-report-table .ess-report-remark, .ess-table-style1.ess-report-table .ess-report-timetype {
        padding-top: 21px
    }

    .ess-table-style1.ess-report-table .ess-report-clockicon {
        padding-top: 25px
    }

    .ess-report-summary-data:nth-child(odd) {
        border: 0
    }

    .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-date {
        padding-left: 12px
    }

    .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockin, .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockout {
        padding-top: 21px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clocktime {
        font-size: 20px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockstatus, .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockplace {
        padding-top: 0
    }

    .ess-table-style1.ess-report-table .ess-report-status {
        padding-top: 21px
    }

    .ess-table-style1.ess-report-table .ess-report-check {
        padding-top: 26px;
        padding-bottom: 0
    }

    .ess-personal-info-general-data-right .ess-personal-info-edit-row {
        padding-bottom: 76px;
        text-align: center;
    }
}

@media (max-width: 670px) {
    .ess-tab-document-wrap {
        flex-direction: column
    }

        .ess-tab-document-wrap .ess-nav-link.active {
            border-color: #d6d7d8
        }

            .ess-tab-document-wrap .ess-nav-link.active::after {
                background-color: transparent
            }

        .ess-tab-document-wrap .ess-tab-panel {
            width: 100%
        }

    .ess-personal-info-general-data-right .ess-personal-info-edit-row {
        padding-bottom: 76px;
        text-align: right
    }

    .ess-personal-info-general .ess-personal-info-edit-row {
        /*position: absolute;*/
        z-index: 2;
        right: 30px;
        top: 55px;
    }
}

@media (max-width: 960px) {
    .ess-tab-personal-wrap {
        flex-direction: column
    }


        .ess-tab-personal-wrap .ess-tab-panel {
            width: 100%
        }
}

@media (max-width: 1350px) {
    .ess-personal-info-card {
        max-width: 90%;
        padding-right: 0
    }

    .ess-personal-info-general-data-right .ess-personal-info-edit-row {
        padding-bottom: 76px;
        text-align: right;
    }
}

@media (max-width: 1024px) {
    .ess-report-employee-id {
        display: block
    }

        .ess-report-employee-id .ess-report-employee-id-label {
            border: 0;
            padding: 6px 0
        }

    .ess-report-employee-name {
        padding-top: 0;
        font-size: 28px
        /*font-size: 40px*/
    }

    .ess-report-employee-unit-panel {
        border-bottom: 0
    }

    .ess-report-employee-duration-panel {
        border-top: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        padding-bottom: 10px
    }

    .ess-personal-info-card.ess-report-employee-agecard {
        padding-left: 0;
        max-width: 100%
    }

    .ess-report-employee-age {
        justify-content: flex-end;
        text-align: right
    }

        .ess-report-employee-age .ess-personal-info-label-panel {
            display: block;
            text-align: right
        }

    .ess-personal-info-text-center {
        padding-bottom: 76px;
        text-align: right;
    }

    .ess-personal-info-general .ess-personal-info-edit-row {
        /*position: absolute;*/
        z-index: 2;
        right: 30px;
        top: 55px;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .ess-personal-info-general-data-right .ess-personal-info-panel-wrap .ess-personal-info-panel-s {
        width: calc( 100% / 3);
        max-width: calc( 100% / 3)
    }

    .ess-personal-info-text-center {
        padding-bottom: 76px;
        text-align: right;
    }

    .ess-personal-info-general .ess-personal-info-edit-row {
        position: absolute !important;
        z-index: 2;
        right: 30px;
        top: 55px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ess-personal-info-general-data-right .ess-personal-info-edit-row {
        padding-bottom: 20px
    }

    .ess-collapse-data-panel-hdr .ess-personal-info-panel-wrap .ess-personal-info-panel-s {
        width: 100%;
        max-width: 100%
    }

    .ess-personal-info-general-panel .ess-personal-info-panel-wrap {
        /*padding-left: 30px*/
    }

    .ess-personal-info-general-panel .ess-personal-info-panel-s {
        width: 210px;
        max-width: 210px
    }

    .ess-personal-info-general-panel {
        padding-right: 0
    }

    .ess-report-employee-databox {
        padding: 30px 0 0 0
    }

    .ess-report-employee-item {
        border-right: 0;
        border-left: 1px solid #c2c2c2
    }

        .ess-report-employee-item:first-child, .ess-report-employee-item:last-child {
            border-left: 0
        }

    .ess-personal-info-text-center {
        padding-bottom: 76px;
        text-align: right;
    }

    .ess-personal-info-general .ess-personal-info-edit-row {
        position: absolute !important;
        z-index: 2;
        right: 30px;
        top: 55px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ess-personal-info-general-data-right .ess-personal-info-panel-wrap .ess-personal-info-panel-s {
        width: calc( 100% / 5);
        max-width: calc( 100% / 5)
    }

    .ess-personal-info-data-attached {
        display: flex;
        flex-wrap: wrap
    }

        .ess-personal-info-data-attached .ess-personal-info-datalist {
            width: 45%;
            margin: 0 5% 0 0
        }

    .ess-personal-info-card.ess-personal-info-card-attached {
        max-width: 100%;
        padding-right: 0
    }

    .ess-personal-info-text-center {
        padding-bottom: 76px;
        text-align: right;
    }
}

@media (max-width: 767px) {
    .ess-inner-wrapper {
        padding: 30px 0px !important;
    }

    .ess-inner-tab-personal {
        padding: 0px 0px !important;
    }






    .ess-personal-info-general-panel {
        padding-left: 15px
    }

    .ess-personal-info-general {
        flex-direction: column
    }

        .ess-personal-info-general .ess-personal-info-general-pict {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            border-bottom: 0px;
            border-right: 0px;
        }

        .ess-personal-info-general .ess-personal-info-general-data {
            width: 100%
        }

    .ess-personal-info-panel-wrap .ess-personal-info-panel-s {
        width: calc( 100% / 3 );
        max-width: calc( 100% / 3 )
    }

    .ess-personal-info-general-panel .ess-collapse-data-panel-hdr .ess-personal-info-panel-wrap .ess-personal-info-panel-s {
        width: 100%;
        max-width: 100%
    }

    .ess-personal-info-general-panel .ess-personal-info-panel-15x {
        width: 100%
    }

    .ess-personal-info-general-panel .ess-personal-info-panel-wrap .ess-personal-info-panel-s {
        width: 50%;
        max-width: 50%
    }

    .ess-personal-info-general-panel .ess-personal-info-panel-wrap {
        /*padding-left: 20px;*/
        padding-right: 20px
    }

    .ess-report-employee-general {
        margin: 0
    }

    .ess-report-employee-duration-panel .ess-personal-info-panel-wrap {
        padding-left: 0;
        border: 0
    }

        .ess-report-employee-duration-panel .ess-personal-info-panel-wrap .ess-personal-info-panel-s {
            width: auto;
            max-width: unset
        }

    .ess-personal-info-panel-wrap.ess-report-employee-duration-wrap {
        border: 0
    }

        .ess-personal-info-panel-wrap.ess-report-employee-duration-wrap .ess-personal-info-panel-s {
            width: 50%
        }

    .ess-personal-info-card.ess-report-employee-agecard .row {
        margin: 0
    }

    .ess-personal-info-card.ess-report-employee-agecard .ess-personal-info-panel-s {
        width: 100%;
        max-width: unset;
        margin-top: 15px;
        margin-bottom: 15px
    }

    .ess-report-employee-age {
        text-align: left
    }

        .ess-report-employee-age .ess-personal-info-label-panel {
            text-align: left
        }

    .ess-report-employee-totaldate-value, .ess-report-employee-detail .ess-report-employee-maindetail, .ess-report-employee-date .ess-report-employee-datadate {
        /*font-size: 25px*/
    }

    .ess-report-employee-totaldate {
        text-align: left;
        margin-bottom: 15px
    }

    .ess-report-employee-item {
        border-right: 0;
        border-top: 1px solid #c2c2c2;
        padding-bottom: 30px;
        padding-top: 20px
    }

        .ess-report-employee-item:first-child {
            border-top: 0
        }

    .ess-personal-info-text-center {
        padding-bottom: 10px;
        text-align: center;
    }

    .ess-personal-info-general .ess-personal-info-edit-row {
        position: relative !important;
        z-index: 2;
        right: 10px;
    }

    .ess-personal-info .ess-personal-info-general .ess-personal-info-edit-row {
        position: relative;
        z-index: 2;
        right: 10px;
    }
}

@media (min-width: 992px) {
    .ess-personal-info-text-center {
        padding-bottom: 76px;
        text-align: right;
    }

    .ess-personal-info-text-center-no-botton {
        text-align: right;
    }
}

@media (max-width: 480px) {
    .ess-personal-info-panel-wrap .ess-personal-info-panel-s {
        width: calc( 100% / 2 );
        max-width: calc( 100% / 2 )
    }

    .ess-personal-info-general-panel .ess-personal-info-panel-wrap .ess-personal-info-panel-s {
        width: 100%;
        max-width: 100%
    }

    .ess-personal-info-text-center {
        padding-bottom: 10px;
        text-align: center;
    }

    .ess-personal-info-text-center-no-botton {
        text-align: center;
    }
}

@media (max-width: 375px) {
    .ess-personal-info-general {
        flex-direction: column;
    }

    .ess-personal-info-edit-row {
        position: relative;
        z-index: 2;
        right: 10px;
        padding-top: 10px;
    }

    .ess-personal-info-text-center {
        padding-bottom: 10px;
        text-align: center;
    }

    .ess-personal-info-text-center-no-botton {
        text-align: center;
    }
}

/*.ess-personal-info .ess-search-box {
    margin-top: 17px;
    padding-left: 20px;
    padding-top: 17px
}*/

.ess-personal-info .ess-collapse-wrap {
    border-radius: 10px
}

.ess-personal-info .ess-showhide-detail-button .ess-tab-section-bar {
    border-radius: 10px 10px 0 0;
    padding: 18px 29px 13px
}

.ess-personal-info .ess-showhide-detail-button .ess-btn-showhide-detail.collapsed .ess-tab-section-bar {
    border-radius: 10px
}

.ess-inner-wrapper {
    background-color: #fbfbfb;
    border-radius: 10px;
    margin-top:30px;
    padding: 20px;
}

.ess-inner-tab-personal {
    background-color: #fbfbfb;
    border-radius: 0 0 10px 10px;
    margin-top: 0px;
    padding: 20px;
}

.ess-personal-info-general {
    display: flex
}

.ess-personal-info-box {
    background: #fff;
    border: 2px solid #e9e9e9;
    padding: 30px 25px;
    margin-bottom: 10px;
}

.ess-personal-info-general .ess-personal-info-general-pict img {
    width: 90%;
    max-width: 320px;
    height: auto
}

.ess-personal-info-general .ess-personal-info-general-data {
    display: flex
}

.ess-personal-info-general-pict {
    padding-right: 0
}

topnav-menu-personal {
    margin-left: 64px;
    width: 256px;
}


.ess-personal-info-panel {
    padding-bottom: 17px
}

    .ess-personal-info-panel .ess-personal-info-label-panel {
        display: flex;
        align-items: center;
        padding-bottom: 10px
    }

    .ess-personal-info-panel .ess-personal-info-label {
        font-size: 12px;
        line-height: 1.3
    }

    .ess-personal-info-panel .ess-personal-info-icon {
        min-width: 24px;
        display: flex;
        align-items: center
    }

    .ess-personal-info-panel .ess-personal-info-data {
        font-size: 30px;
        line-height: 1.3
    }

.ess-personal-info-panel-s {
    /*padding-bottom: 17px*/
}

    .ess-personal-info-panel-s .ess-personal-info-label-panel {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        font-weight: bold;
    }

    .ess-personal-info-panel-s .ess-personal-info-label {
        font-size: 16px;
        font-weight: bold;
    }

    .ess-personal-info-panel-s .ess-personal-info-data {
        font-size: 16px;
        line-height: 1.3
    }

.ess-personal-info-panel-wrap {
    display: flex;
    flex-wrap: wrap
}

    .ess-personal-info-panel-wrap .ess-personal-info-panel-s {
        width: 124px;
        max-width: 124px
    }

.ess-personal-info-general-data-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

/*.ess-personal-info-general-data-right .ess-personal-info-edit-row {
    padding-bottom: 76px;
    text-align: right
}*/

.ess-collapse-data-panel-hdr {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 18px;
    padding-left: 0
}

    .ess-collapse-data-panel-hdr .icon {
        margin-right: 8px
    }

.ess-personal-info-address {
    border-top: 1px solid #c0c0c0;
    padding-top: 19px;
    margin-top: 27px
}

.ess-personal-info-general-panel {
    padding-left: 0
}

    .ess-personal-info-general-panel .ess-personal-info-panel-wrap {
        padding-left: 65px;
    }

        .ess-personal-info-general-panel .ess-personal-info-panel-wrap.ess-personal-info-panel-wrap-tax {
            padding-left: 35px
        }

            .ess-personal-info-general-panel .ess-personal-info-panel-wrap.ess-personal-info-panel-wrap-tax .ess-personal-info-label {
                font-size: 18px
            }

    .ess-personal-info-general-panel .ess-collapse-data-panel {
        /*padding-bottom: 44px;*/
        padding-left: 0;
        padding-right: 0
    }

        .ess-personal-info-general-panel .ess-collapse-data-panel .ess-personal-info-list .ess-personal-info-row {
            border-top: 1px solid #c0c0c0;
            padding-top: 20px;
            margin-top: 30px
        }

            .ess-personal-info-general-panel .ess-collapse-data-panel .ess-personal-info-list .ess-personal-info-row:first-child {
                border-top: 0;
                padding-top: 0;
                margin-top: 0
            }

    .ess-personal-info-general-panel .ess-personal-info-panel-2x {
        width: 360px
    }

    .ess-personal-info-general-panel .ess-personal-info-panel-15x {
        width: 200px
    }

    .ess-personal-info-general-panel .ess-personal-info-panel-s {
        width: 175px;
        max-width: 175px
    }

    .ess-personal-info-general-panel .ess-personal-info-panel-2s {
        width: 190px;
        max-width: 190px
    }

.ess-personal-info-panel-s.ess-personal-info-panel-s-auto {
    width: auto;
    max-width: unset
}

.ess-personal-info-general-leftnav {
    padding-top: 10px
}

.ess-personal-info-card {
    border-top: 1px solid #c0c0c0;
    padding: 20px 20px 12px;
    max-width: 320px
}

    .ess-personal-info-card .ess-personal-info-edit-row {
        margin-bottom: 0px
    }

        .ess-personal-info-card .ess-personal-info-edit-row .ess-personal-info-edit {
            display: flex;
            align-items: center;
            justify-content: flex-end
        }

        .ess-personal-info-card .ess-personal-info-edit-row .ess-edit-link {
            display: flex
        }

.ess-personal-info-card-hdr {
    font-size: 16px;
    padding-bottom: 20px;
}

.ess-personal-info-datalist {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-bottom: 13px
}

    .ess-personal-info-datalist .ess-iconbox {
        width: 40px
    }

    .ess-personal-info-datalist.ess-personal-info-skilllist {
        flex-direction: column;
        align-items: flex-start
    }

        .ess-personal-info-datalist.ess-personal-info-skilllist .icon {
            margin-top: 8px
        }

    .ess-personal-info-datalist .ess-del-link {
        display: flex;
        flex-grow: 3;
        justify-content: flex-end
    }

.ess-personal-info-datalist-data {
    width: calc( 100% - 40px );
    word-break: break-all;
    line-height: 1.2
}

.ess-personal-info-edit .ess-page-header-panel {
    background: transparent;
    padding-bottom: 2px
}

    .ess-personal-info-edit .ess-page-header-panel .ess-page-header .ess-page-header1 {
        color: #363636;
        display: flex;
        align-items: center
    }

        .ess-personal-info-edit .ess-page-header-panel .ess-page-header .ess-page-header1 .small {
            font-size: 12px;
            padding-left: 3%;
            margin-top: 6px
        }

.ess-personal-info-edit .ess-inner-wrapper {
    margin-top: 0
}

.ess-edit-personal-info-pict-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    line-height: 1.3
}

.ess-edit-personal-info-pict-ltxt {
    font-size: 20px
}

.ess-personal-info-edit-panel {
    background: #fff;
   /* border: 1px solid #e9e9e9;*/
    padding: 30px 25px;
    margin-bottom: 10px
}

.ess-personal-Edication-edit-panel {
    background: #fff;
     border: 1px solid #e9e9e9;
    padding: 30px 25px;
    margin-bottom: 10px
}

.ess-personal-info-attached-noted {
    font-size: 14px
}

.ess-report_employee .ess-personal-info-general-leftnav {
    padding-top: 0
}

.ess-report_employee .ess-personal-info-general-panel .ess-collapse-data-panel {
    padding-bottom: 0
}

.ess-report-employee-general.ess-report-employee-general .ess-personal-info-general-pict {
    float: left
}

.ess-report-employee-general.ess-report-employee-general .ess-personal-info-general-data-main, .ess-report-employee-general.ess-report-employee-general .ess-report-employee-duration-panel {
    float: right
}

.ess-personal-info-general-data-cv-main {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 15px;
}

.ess-report-employee-header-label {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 5px
}

.ess-report-employee-name {
    font-size: 20px;
    line-height: 1.3;
    padding-top: 20px
}

.ess-report-employee-id {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

    .ess-report-employee-id .ess-report-employee-id-label {
        font-size: 20px;
        padding: 6px 20px;
        border-left: 1px solid #a9a9aa
    }

    .ess-report-employee-id .ess-report-employee-id-value {
        font-size: 30px
    }

.ess-report-employee-position {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 3px
}

.ess-report-employee-level {
    font-size: 24px
}

.ess-report-employee-unit-panel {
    padding-top: 23px;
    border-bottom: 1px solid #c2c2c2;
    margin-right: 0;
    padding-bottom: 32px
}

.ess-report-employee-unit {
    font-size: 20px;
    display: flex
}

    .ess-report-employee-unit .ess-iconwrap {
        width: 25px
    }

    .ess-report-employee-unit .ess-datawrap {
        width: calc( 100% - 25px )
    }

.ess-report-employee-duration {
    padding-top: 32px
}

    .ess-report-employee-duration .ess-personal-info-panel-wrap {
        padding-left: 5%;
        padding-right: 5px;
        border-right: 1px solid #c2c2c2
    }

        .ess-report-employee-duration .ess-personal-info-panel-wrap:last-child {
            border: 0
        }

        .ess-report-employee-duration .ess-personal-info-panel-wrap:first-child {
            padding-left: 0
        }

.ess-personal-info-card.ess-report-employee-agecard {
    padding-top: 9px;
    padding-bottom: 0;
    border-top: 0
}

.ess-report-employee-subhdr {
    display: flex;
    align-items: center;
    font-size: 20px
}

.ess-report-employee-datapanel {
    width: 97%;
    padding-right: 3%;
    align-items: flex-start;
    padding-top: 30px;
    /*padding-bottom: 28px;*/
    border-top: 1px solid #c2c2c2
}

    .ess-report-employee-datapanel:first-child {
        border-top: 0
    }

.ess-report-employee-date {
    display: flex;
    align-items: center;
    padding-bottom: 10px
}

    .ess-report-employee-date .ess-report-employee-datadate {
        /*font-size: 30px;*/
        line-height: 1.3
    }

    .ess-report-employee-date .ess-iconwrap {
        margin: 0 10px
    }

.ess-report-employee-detail {
    /*font-size: 20px*/
}

    .ess-report-employee-detail .ess-report-employee-maindetail {
        /*font-size: 30px;*/
        line-height: 1.3;
        padding-bottom: 14px
    }

.ess-report-employee-hdr-row {
    border-top: 1px solid #c0c0c0;
    padding-top: 10px
}

.ess-report-employee-totaldate {
    text-align: center;
    /*font-size: 20px*/
}

.ess-report-employee-totaldate-value {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 5px
}

.ess-personal-info-panel.ess-report-employee-panel {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px
}

    .ess-personal-info-panel.ess-report-employee-panel .ess-personal-info-label-panel {
        justify-content: center
    }

    .ess-personal-info-panel.ess-report-employee-panel .ess-personal-info-label {
        font-size: 20px;
        text-align: center
    }

.ess-report-employee-databox {
    padding: 0 10% 0 10%
}

.ess-report-employee-data {
    font-size: 20px
}

.ess-report-employee-item {
    border-right: 1px solid #c2c2c2
}

    .ess-report-employee-item:last-child {
        border-right: 0
    }

.ess-report-employee-year {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center
}

.ess-personal-info-panel-wrap.ess-report-employee-evaluate {
    /*padding-left: 0;*/
    padding-top: 40px;
    padding-bottom: 40px
}

.ess-personal-sub-add {
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ess-personal-info-sub-hdr {
    font-size: 24px;
    line-height: 1;
    padding-bottom: 10px;
    padding-top: 10px;
}

table.ess-personal-info-attachement-remark td {
    vertical-align: top;
}

.ess-personal-info-general {
    display: flex;
    position: relative;
}

.ess-personal-info-general-frame {
    border: 1px solid #e5e5e5;
    /*border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;*/
}

.ess-personal-info-general .ess-personal-info-edit-row {
    position: absolute;
    z-index: 2;
    right: 30px;
    /*top: 55px;*/
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    /*border-radius: 0 0 10px 10px;*/
}

.ess-notfound-text {
    font-size: 20px;
    color: darkgray;
    text-align: center;
}

.ess-personal-eval-text-center {
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
}

.ess-personal-eval-number-center{
    text-align: right;
    font-size: 16px;
    margin-bottom: 10px;
}

.ess-report-employee-evaluate {
    padding-top: 40px;
}