﻿

/* -------------  date-picker-box  --------------------*/

.date-picker-box {
    display: inline-block;
    margin: 0px 10px;
    border: 1px solid #289efe;
    width: 250px;
    font-size: 18px;
}
    .date-picker-box > .date-picker-title {
        display: block;
        width: 100%;
        padding: 8px;
        background-color: #e8f6ff;
        border-bottom: 1px solid #d2edff;
        text-align: center;
    }
    .date-picker-box > .date-picker-value {
        display: block;
        width: 100%;
        background-color: #fff;
    }
    .date-picker-box > .date-picker-value input {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        border: none;
        font-size: 16px;
    }
