﻿<div ng-controller="HotelViewController" class="padding-breadcrumb" ng-init="init()" ng-show="hotelList.length>0">
    <!-- action -->

    <div class="body_content">
        <div class="bar_expandlist">
            <div class="row contentBody forheight leaveBlock_detail">
                <div class="bar_expandlist accordion-toggle" data-toggle="collapse2" data-parent="#accordion" ng-init="HotelViewController_expeanded = false;" ng-click="HotelViewController_expeanded =!HotelViewController_expeanded">
                    <div class="row bar_expand-status">
                        <div class="bar_statusword">
                            <a href="#">Hotel List{{Text['COMMON'].HOTEL}}</a>
                        </div>
                        <div class="bar_right-icon">
                            <span class="icon-arrow_line_down" ng-show="HotelViewController_expeanded"></span>
                            <span class="icon-arrow_line_up" ng-show="!HotelViewController_expeanded"></span>
                        </div>
                    </div>
                </div>
                <div class=" panel-collapse collapse in" style="background:white;">
                    <div class="leavetableBlock leavetableBlock_create">
                        <div class="row itemlist_block " style=" padding: 1rem;">
                            <!-- Duo display: Desktop, Moblie -->
                            <div layout="column" layout-padding="10px" style=" padding-bottom: 0; overflow-x: scroll; margin-bottom: 20px; background: #f7f7f7;">
                                <div class="table-column-name row-items hidden-xs" layout="row">
                                    <div layout="row" layout-align="center center" ng-repeat="ch in column_header">
                                        <span>{{ch}}</span>
                                    </div>
                                    <!--<div layout="row" layout-align="center center" style="min-width:120px;">

                                    </div>-->
                                </div>
                                <div class="bar_expandlist mo-duo" style="padding: 0px; margin-bottom: 10px; " ng-repeat="r in hotelList">
                                    <div class="bar_expand-status mo-duo visible-xs">
                                        <div class="bar_left-icon mo-duo " style="height:35.1px;">
                                            <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                        </div>
                                        <div class="bar_statusword">
                                            <a href="#" class="ng-binding" style=" font-size: 16px;">{{r.EmployeeID+':'+r.Name}} : {{r.Detail}} </a>
                                        </div>
                                        <!--<div class="exman-res_icoaction" ng-hide="data.Readonly">
                                            <a ng-click="removAt_list_perd_rows($index)" style="width: 37px; " class="btn no-radius ico_lightaction action-del"><span class="icon-x_large"></span></a>
                                        </div>-->
                                    </div>
                                    <div class="bar_expand-expandDetail mo-duo">
                                        <div style="background:#f7f7f7;">
                                            <!--Repeat Data here -->
                                            <div class="row-items" style=" padding-top: 0; padding-left: 0; padding-bottom: 0; position: relative;" layout="row" layout-padding="30px;">
                                                <div style=" height: 100%; position: absolute; background: rgba(255, 255, 255, 0); z-index: 1; "></div>
                                                <div layout="column">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{column_header[0]}}</span>
                                                    </div>
                                                    <span class="aligm-res-ctrl">{{r.EmployeeID}}</span>
                                                </div>
                                                <div layout="column">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{column_header[1]}}</span>
                                                    </div>
                                                    <span class="aligm-res-ctrl">{{r.Name}}</span>
                                                </div>
                                                <div layout="column">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{column_header[2]}}</span>
                                                    </div>
                                                    <span class="aligm-res-ctrl">{{r.BeginDate | date:'d/M/yyyy H:mm'}} {{Text['SYSTEM']['TIME_O']}}</span>
                                                </div>
                                                <div layout="column">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{column_header[3]}}</span>
                                                    </div>
                                                    <span class="aligm-res-ctrl">{{r.EndDate | date:'d/M/yyyy H:mm'}} {{Text['SYSTEM']['TIME_O']}}</span>
                                                </div>
                                                <div layout="column">
                                                    <div class="visible-xs table-column-name">
                                                        <span>{{column_header[4]}}</span>
                                                    </div>
                                                    <span class="aligm-res-ctrl left">{{r.BookingDesc}}</span>
                                                </div>
                                                <!--<div class="hidden-xs" layout="row" layout-align="center start" style="min-width:120px;" ng-hide="data.Readonly">
                                                    <a ng-click="removAt_list_perd_rows($index)" style="width: 37px; height: 37px;" class="btn no-radius ico_lightaction action-del"><span class="icon-x_large"></span></a>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bar_bottom -->
</div>

<style>
    .table-column-name span {
        font-family: rsu_l;
        font-size: 16px;
        border: none;
        color: #7F7F7F;
    }

    .row-items > div {
        min-width: 20%;
    }

    .aligm-res-ctrl {
        text-align: center;
        font-size: 15px;
    }

    .aligm-res-ctrl.left {
        text-align: left;
    }

    .bar_expand-status.mo-duo {
        background: #f7f7f7 !important;
        max-width: 486px;
    }

        .bar_expand-status.mo-duo span, .bar_expand-status.mo-duo a {
            color: black;
        }

    .box-perdiem {
        background: #f7f7f7;
    }

    .bar_left-icon.mo-duo {
        background: #E5E5E5;
    }

        .bar_left-icon.mo-duo:hover {
            background: #CBCBCB !important;
        }
    /*not moblie */
    @media only screen and (min-width: 769px) {
        .bar_expand-expandDetail.mo-duo {
            background: #E5E5E5;
            display: block !important;
        }
    }
    /*moblie*/
    @media only screen and (max-width: 769px) {
        .bar_expand-expandDetail.mo-duo {
            max-width: 486px;
        }

        .box-perdiem {
            background: white;
        }

        .row-items {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            box-sizing: border-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
        }

        .aligm-res-ctrl {
            text-align: start;
        }
    }
</style>