﻿
<div id="pollvote-content" ng-controller="VoteContentController" ng-init="init();">
    <div ng-if="PollToVoteData.length > 0">
        <div style="position:fixed;bottom:50%; margin-left:50px">
            <div class="vote" ng-click="OpenModal();">
                <div class="tooltip">{{Text[Textcategory].NOTIFICATION}}</div>
                <div class="intro-banner-vdo-play-btn pinkBg">                    
                    <i class="fa fa-bell" style="color:#ffffff;font-size:24px;" aria-hidden="true"></i>
                    <span class="ripple pinkBg"></span>
                    <span class="ripple pinkBg"></span>
                    <span class="ripple pinkBg"></span>
                </div>
            </div>
            <!--</a>-->
        </div>
        <!-- Modal -->
        <div class="modal fade" id="ViewPollVoteModal" aria-hidden="true" data-backdrop="false" aria-labelledby="staticBackdropLabel">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">{{Text[Textcategory].POLLQUESTION}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="max-height: calc(100vh - 250px);overflow-y: auto;">
                        <div class="ess-collapse-wrap ess-collapse-leavereport ess-leave-summary-sickdoctor" ng-repeat="poll in PollToVoteData">
                            <div class="ess-showhide-detail-button">
                                <a class="ess-btn-showhide-detail row mx-0" data-toggle="collapse" data-target="#{{poll.PollID}}" href="" role="button" aria-expanded="true" aria-controls="{{poll.PollID}}">
                                    <div class="col-12 ess-tab-section-bar1">
                                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>&nbsp;&nbsp; <span class="h5 font-weight-bold mt-2" ng-if="poll.PollTopic!=null">{{poll.PollTopic}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="collapse" id="{{poll.PollID}}" style="overflow-x:auto">
                                <div class="card">
                                    <div class="card-body">
                                        <div ng-repeat="Option in poll.PollOption">
                                            <div class="text-left" style="font-size:14px;margin:10px;">
                                                <input  ng-disabled="poll.PollOption[0].OptionIDSelect!=0" class="radio-btn" type="radio" name="{{poll.PollID}}" id="{{poll.PollID}}{{Option.OptionID}}" value="{{Option}}" ng-model="$parent.Option" ng-checked="Option.OptionID==Option.OptionIDSelect" />
                                                <label class="label" for="{{poll.PollID}}{{Option.OptionID}}">{{Option.OptionName}}</label>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-info" ng-disabled="poll.PollOption[0].OptionIDSelect!=0" name="{{poll.PollID}}" id="d-{{poll.PollID}}" ng-click="Voted(Option,poll.PollID);">{{Text[Textcategory].VOTE}}</button>
                                        </div>
                                    </div>
                                    <div class="card-header">
                                        <h4 class="text-left">  {{Text[Textcategory].VOTERESULT}}</h4>
                                    </div>
                                    <div class="card-body">
                                        <div ng-repeat="pollsum in poll.PollSummary">
                                            <div class="text-left" style="font-size:14px;margin:10px;">
                                                <span class="Name">{{pollsum.OptionName}}</span>
                                                <div class=progress>
                                                    <div class="progress-bar progress-bar-striped" ng-style="{width: pollsum.PercenVote + '%'}">{{pollsum.PercenVote | number:2}}%</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12" style="padding:20px; text-align:center" ng-if="poll.PollSummary.length==0">
                                            {{Text['SYSTEM'].NO_DATA}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="CloseModal();">{{Text['SYSTEM'].CANCEL}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->

    </div>
</div>




