﻿<div class="ess-wrapper" ng-controller="ProfileController">
    <div class="ess-inner-wrapper">
        <div class="row">
            <div align="center" class="col-md-5 col-lg-3 ess-personal-info-general-pict" style="margin-top:30px;padding-left:20px;">
                <img ng-src="{{UserImg}}" onerror="this.src = './images/unknown.png'" style="border:1px solid #e5e5e5;width:300px;height:300px;" />
            </div>
            <div class="col-md-7 col-lg-8 ess-personal-info-general-data-main" style="margin-top:30px;padding-left:20px; ">
                <ul class="list-group list-group-flush rounded">
                    <li class="list-group-item">{{Text[Textcategory].NAME}}&nbsp;:&nbsp;<span ng-bind-html="createHtml(profile.Name)"></span></li>
                    <li class="list-group-item">{{Text['SYSTEM'].EMPLOYEE_ID}}&nbsp;:&nbsp;{{ profile.EmployeeID }}</li>
                    <li class="list-group-item">
                        <div class="ess-table-container">
                            <div class="ess-report-table-border">
                                <div class="freeze scrollbar-default">
                                    <div ng-show="profile.AllPosition.length >0">
                                        <table class="ess-table-default">
                                            <thead>
                                                <tr>
                                                    <th style="width:20%"><div class="th-text">{{Text['SYSTEM']['POSITIONID']}}</div></th>
                                                    <th style="width:35%"><div class="th-text">{{Text['SYSTEM']['POSITION']}}</div></th>
                                                    <th style="width:35%"><div class="th-text">{{Text['SYSTEM']['ORGANIZATION']}}</div></th>
                                                    <th style="width:10%"><div class="th-text">{{Text['SYSTEM']['SELECT']}}</div></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="p in profile.AllPosition">
                                                    <td style="text-align:center">{{p.ObjectID}}</td>
                                                    <td style="text-align:left"><span ng-bind-html="profile.Language=='EN' ? p.TextEn : p.Text"></span></td>
                                                    <td style="text-align:left"><span ng-bind-html="getOrgByPositionBelongTo(p.ObjectID)"></span></td>
                                                    <td style="text-align:center">
                                                        <a id="CORE_1_setPosition{{$index}}" href="" ng-click="setPosition(p.ObjectID,p.Text);">
                                                            <span ng-show="p.ObjectID == PositionID"><i class="icon icon_checkbox"></i></span>
                                                            <span ng-show="p.ObjectID != PositionID"><i class="icon icon_uncheckbox"></i></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-show="profile.AllPosition.length == 0">
                                        <div style="text-align: center;">{{Text['SYSTEM']['NO_DATA']}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="text-body">{{Text['SYSTEM'].ORGANIZATION}} :</span> 
                        <span class="text-black-50" ng-bind-html="createHtml(getOrgByPositionBelongTo(profile.PositionID))"></span>
                        <!--<span class="text-black-50" ng-bind-html="createHtml(Orgsettings.OrgUnitShortText)"></span>-->
                    </li>
                    <li class="list-group-item"><span class="text-body">{{Text['SYSTEM'].COMPANY}} :</span> <span class="text-black-50" ng-bind-html="createHtml( profile.Language == 'EN' ? companyNameEN : companyNameTH )"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

