﻿<md-dialog aria-label="Confirm dialog">
    <form ng-cloak>
        <md-dialog-content>

            <div>
                <!--<div class="ess-page-header-panel">-->
                <div class="">
                    <div class="ess-page-header">
                        <h5 style="margin:20px">{{params.name}}</h5>
                    </div>
                    <hr style="margin:5px;" />
                </div>
                <div class="row">
                    <md-input-container class="md-block">
                        <div class="span_name" style="margin:0px 20px;">{{params.placeholder}}</div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" style="margin-bottom:5px;">
            <a href="" ng-click="cancel(false)" class="ess-button cancelbtn">{{params.cancel}}</a>
            <a href="" ng-click="save(true)" class="ess-button submitbtn">{{params.confirm}}</a>
        </md-dialog-actions>
    </form>
</md-dialog>
