﻿<md-dialog md-theme="default" class="error-dialog">
    <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_63">
        <!--<h2 class="md-title">{{title}}</h2>-->
        <div class="md-dialog-content-body ng-scope" ng-bind-html="trustAsHtmlContent(message)">
            <!--{{message}}-->



        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <button class="md-primary md-confirm-button md-button md-autofocus md-ink-ripple md-default-theme" autofocus
                type="button" ng-click="hide()">
            OK
        </button>
    </md-dialog-actions>
</md-dialog>



<style>

    #link-error-detail-box-for-show {
        color: red;
        font-weight: bold;
        cursor: pointer;
    }

    #error-detail-box-for-show {
        display: none;
        padding: 15px;
        background-color: #fff;
        border: 1px dashed red;
        overflow: auto;
        max-height: 330px;
        margin: 0px;
        margin-top: 20px;
    }
</style>