﻿<md-dialog md-theme="default" class="info-dialog">
    <md-dialog-content class="md-dialog-content" role="document" tabindex="-1" id="dialogContent_63">
        <!--<h2 class="md-title">{{title}}</h2>-->
        <div class="md-dialog-content-body ng-scope" style="" ng-bind-html="message">
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <button class="md-primary md-confirm-button md-button md-autofocus md-ink-ripple md-default-theme" autofocus
                type="button" ng-click="hide()">
            OK
        </button>
    </md-dialog-actions>
</md-dialog>