﻿html, div, span, input, select, textarea, p, a, li, button {
    font-family: rsu_l;
}

label {
    font-weight:normal;
}

.checkbox label {
    cursor:default;
}

.loginPage .loginBlock .loginBlockin {
    margin:auto;
}
.contentBodyin {
    overflow-y:auto;
}
.mainBlock .contentBlock {
    height:auto;
    background-color:#fff;
}
.nav-panel_list.forscroll {
    height: auto;
    overflow: visible;
    position: relative;
}
div.menu a {
    display:block;
}
.clickable  {
    cursor:pointer;
}
.clickable:hover {
    cursor:pointer;
}
.unclickable {
    cursor:default;
}
.unclickable:hover {
    cursor:default;
}
.mainNav .navBlock .nav_b2 {
    height:auto;
}
.eventnone {
    pointer-events:auto!important;
}
.breadcrumb2 {
    background-color: #f5f5f5;
    border-radius: 4px;
    list-style: outside none none;
    margin-top:-20px;
    margin-bottom: 10px;
    padding: 8px 15px;
}
.profilebar-id {
    width:120px;
}
.btn-profile {
    display:block;
    padding:0 5px 5px 5px;
}
.text-center {
    text-align:center;
}
.text-right {
    text-align:right;
}
.text-center > img.img-profile {
    display: block;
    margin: auto;
}
/* loader */
.cs-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
    background: rgba(33, 33, 33, .7);
    z-index:9999;
    /*visibility:hidden;*/
    /*display:none;*/
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  /*width: calc(100% - 200px);*/
  width:100%;
  color: #0472CC;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 26px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
/* end loader */

.content-border-top {
    border-top:solid 1px #cbcbcb;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

/* profile */
.navProfileCenter {
    text-align:center;
    background-color:white;
    padding-top:20px;
    padding-bottom:60px;
    font-family:rsu_r;
}
.nav-profileBar .profilebar-hamburger {
    margin-top: 0.2rem;
}

/* calendar datepicker */
._720kb-datepicker-calendar-day._720kb-datepicker-active, ._720kb-datepicker-calendar-day:hover {
    background: #138EFA none repeat scroll 0 0;
    color:#fff;
}
.datepick i._720kb-datepicker-calendar-header-closed-pagination,
.datepick i._720kb-datepicker-calendar-header-opened-pagination {
    color:rgba(0, 0, 0, 0.4);
    position:static;
}
.datepicker {
    cursor: pointer;
    z-index: 2;
}
._720kb-datepicker-calendar {
    top:38px;
}
input.datepicker[readonly] {
    background-color: #fff;
    opacity: 1;
}

.leaveitem-day_mod {
    width: 50% !important;
}

.task_inner {
    margin-bottom:0px
}

/* fix ios safari mobile */
.forsearch,
.itemfyi-icon,
.bar_left-icon, 
.bar_right-icon,
.itemin_btn,
.item-editstatus,
.leaveitem-icon,
.leaveitem-icon span {
    cursor: pointer;
}

.forReload {
    font-size:20px; padding-top:5px;
}

.breadcrumb.clickable {
    margin-bottom: 10px;
    padding: 0;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

/* document flow */
.bar_bottom-expandDetail {
    display:none;
}
.bar_bottom-expandlist .bar_bottomlist .bar_bottom-status.active-bar {
    background-color:#0fcaa4;
}
.bar_bottom-expandlist .bar_bottomlist .bar_bottom-status.active-bar .bar_left-icon:hover,
.bar_bottom-expandlist .bar_bottomlist .bar_bottom-status.active-bar .bar_left-icon:active,
.bar_bottom-expandlist .bar_bottomlist .bar_bottom-status.active-bar .bar_right-icon:hover,
.bar_bottom-expandlist .bar_bottomlist .bar_bottom-status.active-bar .bar_right-icon:active {
    background-color: #09b895;
}
.bar_bottom-expandlist .bar_bottom-status.active-bar .bar_right-icon {
    display:block;
}
.bar_bottom-status.active-bar .bar_left-icon,
.bar_bottom-status.active-bar .bar_statusword,
.bar_bottom-status.active-bar .bar_right-icon {
    color:#fff;
    border-color:#fff;
}
.bar_bottom-expandlist .bar_bottom-expandDetail.active-bar {
    background-color: rgba(15, 202, 164, 0.1);
}
.bar_bottom-expandlist .bar_right-icon.visible {
    display:block;
    color:#fff;
    background-color: #0fcaa4;
    border-left: 1px solid #fff;
}
.bar_bottom-expandlist .bar_right-icon.visible:hover,
.bar_bottom-expandlist .bar_right-icon.visible:active {
    background-color: #09b895;
}

.body_content {
    margin-bottom:10px;
}

.body_content .itemlist_block {
    padding-bottom: 2.5%;
}

.bar_title .back-icon {
    padding-top:1px;
    float:left;
}
.bar_title .back-text {
    padding-left:10px;
    float:left;
}

/* Setting Page */
.setting-body {
    background-color:#fff;
    padding-bottom:20px;
}
.setting-body select {
    padding:5px 15px 5px 5px;
}
.setting-body blockquote {
    margin: 10px 20px 0 20px;
    padding: 10px 0 10px 15px;
    border: none;
}
.setting-body blockquote select,
.setting-body blockquote label,
.setting-body blockquote span {
    font-family: rsu_r;
    font-size: 22px;
    font-weight:normal;
}
.setting-body blockquote input,
.setting-body blockquote select {
    margin: 12px 0 12px 20px;
}

/* Request Form */
.mainBlock .leaveBlock_detail .contentBodyin {
    padding-top:40px;
}
.leaveBlock_detail .body_content .itemlist_block {
    min-height:inherit;
    padding: 15px 0 0 0;
}
.itemlist_block .itemin_btn {
    margin-right:5px;
    margin-bottom:10px;
    padding:10px 0 6px 0;
    float:left;
    width:66px;
    text-align:center;
}
.itemlist_block p {
    margin:6px 0 0 0;
}
.leaveBlock_detail .col-md-12 {
    padding:0 7px;
}

/* action instead of */
.action-instead-of {
    background-color: #0fcaa4;
}
.action-instead-of .bar_statusword {
    font-size:16px;
    padding-right:0;
    margin-right:0;
}

.contentBodyin .bar_title .dropdown>.btn-default option{
    color: black;
}

/* fix background color on mobile screen */
@media only screen and (max-width : 992px) {
    .mainBlock {
        background-color:#fff;
    }
}
/*@media only screen and (max-width : 992px) {
    .fix-bg-mobile {
        background-color:#fff!important;
    }
}*/
/* fix background color on desktop screen */
/*@media only screen and (min-width : 992px) {
    .fix-bg-desktop {
        height:100vh!important;
    }
}*/



.styled-select {
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }

.styled-select select {
    padding: 12px;
    border: 0 none;
    font-size: 16px;
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    outline: none;
}
.styled-select select option {
    color:black;
}
.styled-select:after {
    font-family: 'Glyphicons Halflings';
    content: "";
    background-color: #289efe;
    color: white;
    padding: 15px 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    border-left: 1px solid;
}
.absence_date{
    float:right;
}

.leavetableBlock{
    font-family: rsu_l;
}

.bar-content .bar_title .bar_left.bar_left_single_line {
    margin-top:4px;
}

.btn.dropdown-toggle,
.btn.dropdown-toggle:active {
    background-color:#fff;
}

/* menu */
.menu-head {
    color:#bbb;
}
.menu-head:hover {
    background-color:#fff;
}
.taskactive .menu-head {
    color:#289efe;
}

/* Timesheet */
.detail_item-tableBlock .detail_item-table tr td.normalday {
    background-color:#fff!important;
    color:#000!important;
}
.detail_item-tableBlock .detail_item-table tr td.sumcol,
.detail_item-tableBlock .detail_item-table tr th.sumcol {
    background-color:#E9F5FF!important;
    color:#289efe!important;
}
.detail_item-tableBlock .detail_item-table tfoot tr.itemtable-highlight td.normalday,
.detail_item-tableBlock .detail_item-table thead tr.itemtable-highlight th.normalday {
    background-color:transparent!important;
    color:#289efe!important;
}
.detail_item-tableBlock .detail_item-table tr td.normalday.row-abs {
    background-color:#F2F2F2!important;
    color:#000!important;
}
.detail_item-tableBlock .detail_item-table tr td.normalday.row-ts {
    background-color:#fff!important;
    color:#000!important;
}
.detail_item-tableBlock .detail_item-table tr td.normalday.row-pm {
    background-color:#C0F7EB!important;
    color:#000!important;
}
.detail_item-tableBlock .detail_item-table tr td.holiday {
    background-color:#FFECEB!important;
    color:#fbb03b!important;
}
.detail_item-tableBlock .detail_item-table tfoot tr.itemtable-highlight td.holiday,
.detail_item-tableBlock .detail_item-table thead tr.itemtable-highlight th.holiday {
    background-color:transparent!important;
    color:#fbb03b!important;
}
.row-abs {
    background-color:#F2F2F2!important;
}
.row-ts {
    background-color:#fff!important;
}
row-pm {
    background-color:#C0F7EB!important;
}

.contentBlock {
    min-height:100%;
}

.contentBodyin .bar_title .dropdown > .btn-default {
    color:#000;
    background-color:#fff;
    padding: 2px 10px 2px 2px;
}

.input-group-addon,
.input-group-addon span,
.itemlist .form-control,
.itemlist .btn {
    font-size:17px;
}

input.datepicker {
    font-family:rsu_l,sans-serif;
}

/* custom checkbox, radio button */
.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}
.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.checkbox-custom-label, .radio-custom-label {
    position: relative;
}
.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    margin-top:-3px;
    text-align: center;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
    /*background: rebeccapurple;*/
    background-color:#FF9933;
    box-shadow: inset 0px 0px 0px 3px #fff;
}
.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}
.radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff;
}
.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
    outline: none; /* focus style */
}

.mainNav {
    pointer-events: none;
}
div.navBlock {
    pointer-events: auto;
}

/* round image */
.profile_img {
    border-radius: 50%;
    max-height: 70px;
    max-width: 70px;
    overflow: hidden;
    position: relative;
    transform: translate(0px, -5%);
    margin:0 auto;
}

.profile_img img.profile-img {
    margin:-5px auto 0 auto;
}

.profile_position {
    min-height:40px;
    margin-top: -10px;
    margin-bottom: 5px;
}

/* datatables */
.dataTables_wrapper{
    padding:0.5rem 0;
}

/* white bg on mobile */
@media screen and (max-width: 768px) {
    .contentBody {
        background-color: #fff;
    }
}

.-marbtm5 {
    margin-bottom:5px;
}
.-marbtm10 {
    margin-bottom:10px;
}
.-marbtm20 {
    margin-bottom:20px;
}
.-padtb15{
    padding:15px 0 15px 0;
}
.btn-new{
    margin:0;
    padding:9px 12px 9px 10px;
    display:inline-block;
}
.btn-top-right{
    color:#FF443F;
    background-color: rgba(255,68,63,.1);
    top: 0px;
    right:0px;
    padding:15px;
    position:absolute;
}
.btn-bottom-right{
    color:#289efe;
    background-color: rgba(40,158,255,.1);
    bottom:0px;
    right:0px;
    padding:15px;
    position:absolute;
}
.font-table{
    font-size:16px;
}
.-bg-gray{
    background:#cccccc;
}
.font-editor label,.font-editor button{
    font-size:20px!important;
}

 .table-has-action {
     margin-bottom:0;
 }
 .no-border-right{
     border-right: 0px!important;
 }

.ui-select-toggle.btn-default[disabled],
.ui-select-toggle.btn-default[disabled]:hover,
.ui-select-toggle.btn-default[disabled]:focus {
     background-color:#EEE;
     opacity: 1
}
.ui-select-toggle.btn-default:hover,
.ui-select-toggle.btn-default:focus {
    background-color:#FFF;
}
.ui-select-toggle {
    overflow:hidden;
    text-overflow:ellipsis;
}



.ActionColorOrange {
    color: #82E0AA !important;
    font-weight: bold !important;
}

.-txt-orange{
font-size: 25px !important;
color: #1A5276 !important;
}

.bar_search{
    background-color: #1A5276 !important;
}

.forsearch_active{
    background-color: #1A5276 !important;
}



.MainDocPage .itemlist {
    width:100%;
}
.item-btn {
    white-space: normal;
}

.profile_position {
    padding: 12px 5px 3px 12px;
}
.profile_position .profile_position-detail {
    width:100%;
    font-size:17px;
}

@media screen and (min-width: 436px) {
    .menu-right-border {
        border-right:1px solid #CCC;
    }
}

.-txt-bold {
    font-weight: bold;
}

.-padtb10 {
    padding: 10px 0 10px 0;
}

table td.money {
    text-align: right;
}

.expense-attachment input[type="file"],
.document-attachment input[type="file"] {
    font-size:16px;
}

td.mix_datetime datepicker {
    width:100px;
}
td.mix_datetime input,
td.mix_datetime select,
td.mix_datetime input.form-control,
td.mix_datetime select.form-control,
td.mix_datetime datepicker {
    display:inline-block;
    /*float:left;*/
}

.disable-black[disabled],
input.disable-black[disabled] {
    color:#333;
    opacity: 1
}