﻿

div.doc-comment-box {
    display: block;
    width: 100%;
}

div.doc-comment-item {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid #EFEFEF;
    background-color: #f7f7f7;
    position: relative;
    padding-left: 50px;
}

    div.doc-comment-item > i.icn {
        position: absolute;
        font-size: 20px;
        left: 15px;
        top: 20px;
    }

    div.doc-comment-item > div.doc-comment-info, div.doc-comment-item > label.doc-comment-txt {
        display: block;
        margin-bottom: 0px;
    }

    div.doc-comment-item > div.doc-comment-info {
        margin-bottom: 10px;
    }

        div.doc-comment-item > div.doc-comment-info > label {
            display: inline-block;
            font-size: 14px;
            margin-right: 15px;
            color: #aaa;
        }

            div.doc-comment-item > div.doc-comment-info > label > i {
                margin-right: 5px;
                color: #bbb;
            }



    /* last item style */


    div.doc-comment-item > i.btn-collapse {
        position: absolute;
        font-size: 30px;
        right: 0px;
        top: 0px;
        background-color: rgba(255,68,63,.5);
        color: #fff;
        padding: 2px 20px;
        border-bottom-left-radius: 5px;
    }

    div.doc-comment-item.last {
        background: rgba(255,68,63,.1) !important;
        border-color: rgba(255,68,63,.5);
    }

        div.doc-comment-item.last > i.icn {
            color: rgba(255,68,63,.5);
        }

        div.doc-comment-item.last > div.doc-comment-info > label {
            color: #888;
        }

            div.doc-comment-item.last > div.doc-comment-info > label > i {
                color: rgba(255,68,63,.5);
            }



/*  display or hide */


div.doc-comment-box > div.doc-comment-item {
    display: none;
}

div.doc-comment-box.show > div.doc-comment-item, div.doc-comment-box > div.doc-comment-item.last {
    display: block;
}