﻿
div.organization-box {
    display: block;
    position: relative;
    width: 100%;
    background-color: #FFF;
    /*border: 1px solid #ccc;*/
    margin-bottom: 10px;
    box-shadow: 0px 0px 7px #ccc;
    background-color: #fefefe;
    border: 2px solid #fefefe;
}

    div.organization-box.organization-maximum {
        background-color: var(--main-color);
        border: 2px solid var(--main-color);
    }

    div.organization-box > div.organization-img {
        display: block;
        float: left;
        width: 150px;
        height: 150px;
        background-size: cover;
        border: 1px solid #efefef;
        background-position: top;
    }


div.organization-box-detail {
    float: left;
    padding-left: 20px;
    color: #333;
    padding: 15px;
    padding-left: 25px;
}

div.organization-box.organization-maximum > div.organization-box-detail {
    color: #fff;
}

div.organization-box-detail > label.organization-name {
    font-size: 20px;
    font-weight: bold;
}

        div.organization-box-detail > label.organization-name > i {
            margin-right: 15px;
        }

    div.organization-box-detail > div.organization-info {
        font-size: 18px;
    }

        div.organization-box-detail > div.organization-info > label.organization-info-title {
            font-weight: bold;
            width: 150px;
        }


@media screen and (max-width: 700px) {
    div.organization-box > div.organization-img, div.organization-box-detail {
        float: unset;
        margin-left: auto;
        margin-right: auto;
    }
    div.organization-box-detail {
        text-align: center;
    }
        div.organization-box-detail > div.organization-info > label.organization-info-title {
            width: unset;
            margin-right: 20px;
        }
}