﻿
.contentPagination {
    display: block;
    text-align: center;
    background-color: #fff;
    padding: 20px;
}


.contentPagein {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #B2B2B2;
    padding: 10px;
    /*box-shadow: 0 0px 5px 0 rgba(0,0,0,.2);
    border-radius: 10px;*/
}

    .contentPagein .page-prev {
        display: inline-block;
        vertical-align: middle;
        float: left;
    }

    .contentPagein .page-pagenum {
        vertical-align: sub;
        display: inline-block;
    }

    .contentPagein .page-next {
        display: inline-block;
        vertical-align: middle;
        float: right;
    }

    .contentPagein li {
        display: inline-block;
        padding: 0 10px;
        font-size: 16px;
    }

    .contentPagein .pageactive {
        background-color: #289efe;
        color: #fff;
        font-weight: bold;
        cursor: default;
        border-radius: 5px;
    }

    .contentPagein a {
        color: #B2B2B2;
    }

        .contentPagein a:hover {
            color: #289efe;
        }
