﻿
.profile-detail {
    padding-left: 10%;
    padding-right: 10%;
}

.profile-image {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image > div {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    background-size: cover;
    height: 150px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: top;
    max-width: unset;
    box-shadow: 0px 0px 5px 1px #ccc;
}


.profile > .background-filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    bottom: 0px;
    background: rgba(37, 33, 33, 0.18);
    text-align: center;
    overflow-y: auto;
}

.profile-detail .form-group > label {
    font-weight: bold;
}

.profile .dialog {
    position: absolute;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    transform: translate(-50%, 0);
    left: 50% !important;
    z-index: 71;
    background: white;
    padding: 15px;
    border-radius: 10px;
    top: 20px;
}

.profile .clost-btn {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 999;
}

@media(max-width:764px) {
    .profile .dialog {
        top: 0;
        width: 100%;
        max-width: 100%;
        min-height: 100vh;
        border-radius: 0;
    }

    .profile .profile_img {
        width: 100px;
        height: 100px;
    }
}

@media(min-width:765px) {
    .profile .dialog.dialog-lg, .profile .dialog.dialog-md {
        width: 70%;
        max-width: 650px;
        height: unset;
    }

    .profile .profile_img {
        width: 170px;
        height: 170px;
    }
}

@media(min-width:1024px) {
    .profile .dialog.dialog-lg {
        width: 960px;
        max-width: 960px;
    }
}