﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
<form name="validateForm" novalidate>
    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">
            <div ng-controller="AddressEditorController">
                <div class="ess-tab-section-bar1">
                    <div class="ess-personal-info-sub-hdr">{{ADDRESSTYPE[AddrType]}}</div><!--{{AddrType}}ng-show="AddrNew.AddressType == AddrType"-->
                </div>
                <div class="row my-3" ng-show="AddrType == '002'">
                    <div class="col-md-3 col-12">
                        <label class="checkboxcontainer mb-0">
                            {{ Text[PATextcategory].COPYFROMHOMEADDRESS }}
                            <input id="PA_602_chkCopyHomeAddress" type="checkbox" name="checkbox2" ng-click="CopyHomeAddress('001')">
                            <span class="checkboxmark"></span>
                        </label>
                    </div>
                </div>
                <div class="ess-personal-info-edit-panel p-1" ng-repeat="AddrNew in PersonalAddr">
                    <div class="row mx-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;">
                            <div class="row p-0 m-0">
                                <div class="col-lg-6 col-xl-6 col-md-6 col-xs-12 col-sm-12 p-1" ng-repeat="item in PAConfiguration|filter: { FieldName: 'AddressNo' }" ng-if="item.FieldName=='AddressNo' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[PATextcategory].NO}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.AddressNo.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.AddressNo.$error.pattern">{{Text['SYSTEM'].PATTERN_DEFAULT}}</span>
                                    </div>
                                    <input id="PA_602_txtAddressNo" ng-disabled="!item.IsEditable" class="form-control ess-form-control" type="text" value="{{ AddrNew.AddressNo }}" ng-model="AddrNew.AddressNo" ng-trim="false" name="AddressNo" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                </div>
                                <div class="ol-lg-6 col-xl-6 col-md-6 col-xs-12 col-sm-12 p-1" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Building' }" ng-if="item.FieldName=='Building' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[PATextcategory].BUILDING}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Building.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Building.$error.pattern">{{Text['SYSTEM'].PATTERN_DEFAULT}}</span>
                                    </div>
                                    <input id="PA_602_txtBuilding" ng-disabled="!item.IsEditable" class="form-control ess-form-control" type="text" value="{{ AddrNew.Building }}" ng-model="AddrNew.Building" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                </div>
                            </div>
                            <div class="row p-0 m-0">
                                <div class="col-lg-6 col-xl-6 col-md-6 col-xs-12 col-sm-12 p-1" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Moo' }" ng-if="item.FieldName=='Moo' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[PATextcategory].MOO}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Moo.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Moo.$error.pattern">{{Text['SYSTEM'].PATTERN_NUMBER}}</span>
                                    </div>
                                    <input id="PA_602_txtMoo" ng-disabled="!item.IsEditable" class="form-control ess-form-control" type="text" value="{{AddrNew.Moo}}" ng-model="AddrNew.Moo" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                                </div>
                                <div class="ol-lg-6 col-xl-6 col-md-6 col-xs-12 col-sm-12 p-1" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Soi' }" ng-if="item.FieldName=='Soi' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[PATextcategory].SOI}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Soi.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Soi.$error.pattern">{{Text['SYSTEM'].PATTERN_DEFAULT}}</span>
                                    </div>
                                    <input id="PA_602_txtSoi" ng-disabled="!item.IsEditable" class="form-control ess-form-control" type="text" value="{{ AddrNew.Soi }}" ng-model="AddrNew.Soi" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                </div>
                            </div>
                            <div class="row p-0 m-0">
                                <div class="col-lg-6 col-xl-6 col-md-6 col-xs-12 col-sm-12 p-1" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Street' }" ng-if="item.FieldName=='Street' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[PATextcategory].STREET}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Street.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Street.$error.pattern">{{Text['SYSTEM'].PATTERN_DEFAULT}}</span>
                                    </div>
                                    <input id="PA_602_txtStreet" ng-disabled="!item.IsEditable" class="form-control ess-form-control" type="text" value="{{ AddrNew.Street }}" ng-model="AddrNew.Street" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                </div>
                                <div class="col-lg-6 col-xl-6 col-md-6 col-xs-12 col-sm-12 p-1" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Country' }" ng-if="item.FieldName=='Country' && item.IsVisible">
                                    <span class="ess-personal-info-label">{{Text[PATextcategory].COUNTRY}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.Country.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.Country.$error.pattern">{{Text['SYSTEM'].PATTERN_DEFAULT}}</span>
                                    <!--<input id="PA_602_txtCountry" value="{{TEXTCOUNTRY[AddrNew.Country]}}"
                                    class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                    style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                     required="" aria-invalid="true" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">-->
                                    <input id="PA_602_txtCountry" ng-disabled="!item.IsEditable" class="form-control ess-form-control" type="hidden" value="{{ AddrNew.Country }}" ng-model="AddrNew.Country" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    <select id="PA_602_ddlCountry" class="form-control ess-form-control" ng-model="AddrNew.Country" ng-change="checkSelectedCountry(AddrNew.Country)" placeholder="">
                                        <option value="">-</option>
                                        <option value="{{item.CountryCode}}" ng-repeat="item in Country">{{item.CountryName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row p-0 m-0">
                                <div class="col-lg-6 col-xl-6 col-md-6 col-xs-12 col-sm-12 p-1" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Province' }" ng-if="item.FieldName=='Province' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[PATextcategory].PROVINCE}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Province.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Province.$error.pattern">{{Text['SYSTEM'].PATTERN_DEFAULT}}</span>
                                    </div>
                                    <!--<input id="PA_602_txtProvince" ng-disabled="!item.IsEditable" value="{{AddrNew.Province}}" ng-model="AddrNew.Province"
                                    class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                    style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                    autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">-->
                                    <input id="PA_602_txtProvince" ng-disabled="!item.IsEditable" class="form-control ess-form-control" type="hidden" value="{{ AddrNew.Province }}" ng-model="AddrNew.Province" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    <select id="PA_602_ddlProvince" class="form-control ess-form-control" ng-disabled="!item.IsEditable||isDisabled" ng-model="AddrNew.Province" ng-change="getDistrictProvince(AddrNew.Province)">
                                        <option value="">-</option>
                                        <option value="{{item.ProvinceCode}}" ng-repeat="item in MasterProvince">{{item.ProvinceName}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-md-6 col-xs-12 col-sm-12 p-1" ng-repeat="item in PAConfiguration|filter: { FieldName: 'District' }" ng-if="item.FieldName=='District' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[PATextcategory].DISTRICT}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.District.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.District.$error.pattern">{{Text['SYSTEM'].PATTERN_DEFAULT}}</span>
                                    </div>
                                    <!--<input id="PA_602_txtDistrict" ng-disabled="!item.IsEditable" value="{{AddrNew.District}}" ng-model="AddrNew.District"
                                    class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                    style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                    autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">-->
                                    <input id="PA_602_txtDistrict" ng-disabled="!item.IsEditable" class="form-control ess-form-control" type="hidden" value="{{ AddrNew.District }}" ng-model="AddrNew.District" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    <select id="PA_602_ddlDistrict" class="form-control ess-form-control" ng-disabled="!item.IsEditable||isDisabled" ng-model="AddrNew.District" ng-change="getSubDistrict(AddrNew.Province, AddrNew.District, AddrNew.AddressType)" placeholder="">
                                        <option value="">-</option>
                                        <option value="{{itemd.code}}" ng-repeat="itemd in districtData">{{itemd.district}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row p-0 m-0">
                                <div class="col-lg-6 col-xl-6 col-md-6 col-xs-12 col-sm-12 p-1" ng-repeat="item in PAConfiguration|filter: { FieldName: 'SubDistrict' }" ng-if="item.FieldName=='SubDistrict' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[PATextcategory].SUBDISTRICT}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.SubDistrict.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.SubDistrict.$error.pattern">{{Text['SYSTEM'].PATTERN_DEFAULT}}</span>
                                    </div>
                                    <!--<input id="PA_602_txtSubdistrict" ng-disabled="!item.IsEditable" value="{{AddrNew.Subdistrict}}" ng-model="AddrNew.Subdistrict"
                                    class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                    style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                    autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">-->
                                    <input id="PA_602_txtSubdistrict" ng-disabled="!item.IsEditable" class="form-control ess-form-control" type="hidden" value="{{ AddrNew.Subdistrict }}" ng-model="AddrNew.Subdistrict" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    <select id="PA_602_ddlSubdistrictt" class="form-control ess-form-control" ng-disabled="!item.IsEditable||isDisabled" ng-model="AddrNew.Subdistrict" ng-change="getPostCode(AddrNew.Subdistrict,AddrNew.AddressType)" placeholder="">
                                        <option value="">-</option>
                                        <option value="{{itemd.code}}" ng-repeat="itemd in subDistrictData">{{itemd.subdistrict}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-xl-6 col-md-6 col-xs-12 col-sm-12 p-1" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Postcode' }" ng-if="item.FieldName=='Postcode' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[PATextcategory].POSTCODE}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Postcode.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Postcode.$error.pattern">{{Text['SYSTEM'].PATTERN_DEFAULT}}</span>
                                    </div>
                                    <input id="PA_602_txtPostcode" ng-disabled="!item.IsEditable" class="form-control ess-form-control" type="text" value="{{ AddrNew.Postcode }}" ng-model="AddrNew.Postcode" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                </div>
                            </div>
                            <div class="row p-0 m-0">
                                <div class="ol-lg-6 col-xl-6 col-md-6 col-xs-12 col-sm-12 p-1" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Telephone' }" ng-if="item.FieldName=='Telephone' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[PATextcategory].TELEPHONE}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Telephone.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Telephone.$error.pattern">{{Text['SYSTEM'].PATTERN_DEFAULT}}</span>
                                    </div>
                                    <input id="PA_602_txtTelephone" ng-disabled="!item.IsEditable" class="form-control ess-form-control" type="text" value="{{ AddrNew.Telephone }}" ng-model="AddrNew.Telephone" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>