﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>

<div class="page-body" ng-controller="CommunicationDataViewerController">
    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{ Text[PATextcategory].ContactData }}</div>
            </div>
            <div class="ess-personal-info-edit-panel">
                <div class="row mx-0">
                    <div class="row mx-0">
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'MobilePhone'}" ng-show="item.IsVisible && item.FieldName=='MobilePhone'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[CONTACTcategory].TELEPHONE_MOBILE}}</span>
                            </div>
                            <div ng-show="ContData.MobilePhone!=ContDataNew.MobilePhone"><span class="red_text"><strike>{{ContData.MobilePhone}}</strike></span></div>
                            <div ng-show="ContData.MobilePhone!=ContDataNew.MobilePhone"><span class="blue_text">{{ContDataNew.MobilePhone}}</span></div>
                            <div ng-show="ContData.MobilePhone==ContDataNew.MobilePhone">{{ContDataNew.MobilePhone}}</div>
                            <div ng-show="!ContDataNew.MobilePhone">-</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'HomePhone'}" ng-show="item.IsVisible && item.FieldName=='HomePhone'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[CONTACTcategory].TELEPHONE_HOME}}</span>
                            </div>
                            <div ng-hide="ContData.HomePhone==ContDataNew.HomePhone"><span class="red_text"><strike>{{ContData.HomePhone}}</strike></span></div>
                            <div ng-hide="ContData.HomePhone==ContDataNew.HomePhone"><span class="blue_text">{{ContDataNew.HomePhone}}</span></div>
                            <div ng-show="ContData.HomePhone==ContDataNew.HomePhone">{{ContDataNew.HomePhone}}</div>
                            <div ng-show="!ContDataNew.HomePhone">-</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'WorkPlace'}" ng-show="item.IsVisible && item.FieldName=='WorkPlace'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[CONTACTcategory].TELEPHONE_OFFICE}}</span>
                            </div>
                            <div ng-hide="ContData.WorkPlace==ContDataNew.WorkPlace"><span class="red_text"><strike>{{ContData.WorkPlace}}</strike></span></div>
                            <div ng-hide="ContData.WorkPlace==ContDataNew.WorkPlace"><span class="blue_text">{{ContDataNew.WorkPlace}}</span></div>
                            <div ng-show="ContData.WorkPlace==ContDataNew.WorkPlace">{{ContDataNew.WorkPlace}}</div>
                            <div ng-show="!ContDataNew.WorkPlace">-</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'Email'}" ng-show="item.IsVisible && item.FieldName=='Email'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[CONTACTcategory].EMAIL}}</span>
                            </div>
                            <div ng-hide="ContData.Email==ContDataNew.Email"><span class="red_text"><strike>{{ContData.Email}}</strike></span></div>
                            <div ng-hide="ContData.Email==ContDataNew.Email"><span class="blue_text">{{ContDataNew.Email}}</span></div>
                            <div ng-show="ContData.Email==ContDataNew.Email">{{ContDataNew.Email}}</div>
                            <div ng-show="!ContDataNew.Email">-</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'PrivateEmail'}" ng-show="item.IsVisible && item.FieldName=='PrivateEmail'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[CONTACTcategory].PRIVATEMAIL}}</span>
                            </div>
                            <div ng-hide="ContData.PrivateEmail==ContDataNew.PrivateEmail"><span class="red_text"><strike>{{ContData.PrivateEmail}}</strike></span></div>
                            <div ng-hide="ContData.PrivateEmail==ContDataNew.PrivateEmail"><span class="blue_text">{{ContDataNew.PrivateEmail}}</span></div>
                            <div ng-show="ContData.PrivateEmail==ContDataNew.PrivateEmail">{{ContDataNew.PrivateEmail}}</div>
                            <div ng-show="!ContDataNew.PrivateEmail">-</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'LineID'}" ng-show="item.IsVisible && item.FieldName=='LineID'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[CONTACTcategory].LINE}}</span>
                            </div>
                            <div ng-hide="ContData.LineID==ContDataNew.LineID"><span class="red_text"><strike>{{ContData.LineID}}</strike></span></div>
                            <div ng-hide="ContData.LineID==ContDataNew.LineID"><span class="blue_text">{{ContDataNew.LineID}}</span></div>
                            <div ng-show="ContData.LineID==ContDataNew.LineID">{{ContDataNew.LineID}}</div>
                            <div ng-show="!ContDataNew.LineID">-</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'PersonOfEmergency'}" ng-show="item.IsVisible && item.FieldName=='PersonOfEmergency'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[CONTACTcategory].PERSONOFEMERGENCY}}</span>
                            </div>
                            <div ng-hide="ContData.PersonOfEmergency==ContDataNew.PersonOfEmergency"><span class="red_text"><strike>{{ContData.PersonOfEmergency}}</strike></span></div>
                            <div ng-hide="ContData.PersonOfEmergency==ContDataNew.PersonOfEmergency"><span class="blue_text">{{ContDataNew.PersonOfEmergency}}</span></div>
                            <div ng-show="ContData.PersonOfEmergency==ContDataNew.PersonOfEmergency">{{ContDataNew.PersonOfEmergency}}</div>
                            <div ng-show="!ContDataNew.PersonOfEmergency">-</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'PhoneOfEmergency'}" ng-show="item.IsVisible && item.FieldName=='PhoneOfEmergency'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[CONTACTcategory].PHONEOFEMERGENCY}}</span>
                            </div>
                            <div ng-hide="ContData.PhoneOfEmergency==ContDataNew.PhoneOfEmergency"><span class="red_text"><strike>{{ContData.PhoneOfEmergency}}</strike></span></div>
                            <div ng-hide="ContData.PhoneOfEmergency==ContDataNew.PhoneOfEmergency"><span class="blue_text">{{ContDataNew.PhoneOfEmergency}}</span></div>
                            <div ng-show="ContData.PhoneOfEmergency==ContDataNew.PhoneOfEmergency">{{ContDataNew.PhoneOfEmergency}}</div>
                            <div ng-show="!ContDataNew.PhoneOfEmergency">-</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'PrimaryWebsite'}" ng-show="item.IsVisible && item.FieldName=='PrimaryWebsite'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[CONTACTcategory].PRIMARYWEBSITE}}</span>
                            </div>
                            <div ng-hide="ContData.PrimaryWebsite==ContDataNew.PrimaryWebsite"><strike><a style="color:red !important" href="" ng-click="openUrl(ContData.PrimaryWebsite)">{{ContData.PrimaryWebsite}}</a></strike></div>
                            <div ng-hide="ContData.PrimaryWebsite==ContDataNew.PrimaryWebsite"><a style="color:blue !important" href="" ng-click="openUrl(ContDataNew.PrimaryWebsite)">{{ContDataNew.PrimaryWebsite}}</a></div>
                            <div ng-show="ContData.PrimaryWebsite==ContDataNew.PrimaryWebsite"><a href="" ng-click="openUrl(ContDataNew.PrimaryWebsite)">{{ContDataNew.PrimaryWebsite}}</a></div>
                            <div ng-show="!ContDataNew.PrimaryWebsite">-</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'SecondaryWebsite'}" ng-show="item.IsVisible && item.FieldName=='SecondaryWebsite'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[CONTACTcategory].SECONDARYWEBSITE}}</span>
                            </div>
                            <div ng-hide="ContData.SecondaryWebsite==ContDataNew.SecondaryWebsite"><strike><a style="color:red !important"  href="" ng-click="openUrl(ContData.SecondaryWebsite)">{{ContData.SecondaryWebsite}}</a></strike></div>
                            <div ng-hide="ContData.SecondaryWebsite==ContDataNew.SecondaryWebsite"><a style="color:blue !important"  href="" ng-click="openUrl(ContDataNew.SecondaryWebsite)">{{ContDataNew.SecondaryWebsite}}</a></div>
                            <div ng-show="ContData.SecondaryWebsite==ContDataNew.SecondaryWebsite"><a href="" ng-click="openUrl(ContDataNew.SecondaryWebsite)">{{ContDataNew.SecondaryWebsite}}</a></div>
                            <div ng-show="!ContDataNew.SecondaryWebsite">-</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









