﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="ConfidentialHealthCheckInfEditor" ng-init="init();">
            <div>
                <a href="" class="ess-btn-showhide-detail" data-toggle="collapse"
                   data-target="#AddressDetails" role="button" aria-expanded="true"
                   aria-controls="AddressDetails">
                    <div class="col-12 ess-tab-section-education-bar">
                        <div class="ess-tab-section-bar-hdr">
                            {{Text['APPGROUP'].TabConfidentialHCI}}
                        </div>
                        <div class="flex text-right">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
                <div class="collapse show body-detail mb-2" id="AddressDetails">
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
