﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="ConfidentialAssessmentViewer">
            <div class="ess-tab-section-education-bar">
                <div class="ess-personal-info-sub-hdr">{{Text['APPGROUP'].TabConfidentialAssessment}}</div>
            </div>

            <div class="ess-personal-info-edit-panel">
                <div class="row mt-3">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="p">
                            <div class="">
                                <span class="font-weight-bold">{{Text['PA_PERSONAL'].Number}}</span>
                            </div>
                            <div class="">
                                <p>{{Confidential.evaluationTime}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <div class="">
                                <span class="font-weight-bold">{{Text['PA_PERSONAL'].AssessmentYear}}</span>
                            </div>
                            <div class="">
                                <p>{{Confidential.period}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="p">
                            <div class="">
                                <span class="font-weight-bold">{{Text['PA_PERSONAL'].StartDate}}</span>
                            </div>
                            <div class="">
                                <p>{{getDateFormat(Confidential.BeginDate)}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <div class="">
                                <span class="font-weight-bold">{{Text['PA_PERSONAL'].EndDate}}</span>
                            </div>
                            <div class="">
                                <p>{{getDateFormat(Confidential.EndDate)}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="p">
                            <div class="">
                                <span class="font-weight-bold">{{Text['PA_PERSONAL'].AssessmentScore}}</span>
                            </div>
                            <div class="">
                                <p>{{Confidential.score}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <div class="">
                                <span class="font-weight-bold">{{Text['PA_PERSONAL'].GroupAverage}}</span>
                            </div>
                            <div class="">
                                <p>{{Confidential.average}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="p">
                            <div class="">
                                <span class="font-weight-bold">{{Text['PA_PERSONAL'].SalaryIncreasePercentage}}</span>
                            </div>
                            <div class="">
                                <p>{{Confidential.upSalaryPercentage}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <div class="">
                                <span class="font-weight-bold">{{Text['PA_PERSONAL'].Total}}</span>
                            </div>
                            <div class="">
                                <p>{{Confidential.variableBonus}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="p">
                            <div class="">
                                <span class="font-weight-bold">{{Text['PA_PERSONAL'].SalaryIncrease}}</span>
                            </div>
                            <div class="">
                                <p>{{Confidential.increaseSalary}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <div class="">
                                <span class="font-weight-bold">{{Text['PA_PERSONAL'].PrizeMoney}}</span>
                            </div>
                            <div class="">
                                <p>{{Confidential.compenAmount}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div>

            </div>
        </div>
    </div>
