﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="ConfidentialInfoEditor" ng-init="init();">
            <div>
                <a href="" class="ess-btn-showhide-detail" data-toggle="collapse"
                   data-target="#AddressDetails" role="button" aria-expanded="true"
                   aria-controls="AddressDetails">
                    <div class="col-12 ess-tab-section-education-bar">
                        <div class="ess-tab-section-bar-hdr">
                            {{Text['APPGROUP'].PERSONALINFO}}
                        </div>
                        <div class="flex text-right">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
                <div class="collapse show body-detail mb-2" id="AddressDetails">
                    <div class="row mt-3">
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="p">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].StartDate}}</span>
                                </div>
                                <div style="position: relative; height: auto; overflow: hidden;">
                                    <input maxlength="10" [(ngModel)]="ConvertDate(document.Additional.Confidential.startDate)" value="{{ConvertDate(document.Additional.Confidential.startDate)}}" type="text" ng-required="{{item.IsRequired}}" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                    <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].EndDate}}</span>
                                </div>
                                <div style="position: relative; height: auto; overflow: hidden;">
                                    <input maxlength="10" [(ngModel)]="ConvertDate(document.Additional.Confidential.endDate)" value="{{ConvertDate(document.Additional.Confidential.endDate)}}" type="text" ng-required="{{item.IsRequired}}" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                    <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].DateOfBirth}}</span>
                                </div>
                                <div style="position: relative; height: auto; overflow: hidden;">
                                    <input maxlength="10" [(ngModel)]="ConvertDate(document.Additional.Confidential.birthDate)" value="{{ConvertDate(document.Additional.Confidential.birthDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                    <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].BloodType}}</span>
                                </div>
                                <select class="form-control ess-form-control" ng-model="document.Additional.Confidential.bloodGrpValue" >
                                    <option value="">-</option>
                                    <option value="{{item.DLL_VALUE}}" ng-repeat="item in BloodList">{{item.DLL_DATA}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="p">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].IDCard}}</span>
                                </div>
                                <div class="">
                                    <input ng-model="document.Additional.Confidential.idCard" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].TaxIdentificationNumber}}</span>
                                </div>
                                <div class="">
                                    <input ng-model="document.Additional.Confidential.taxId" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                    </div>
                </div>
            </div>

            <div>
                <a href="" class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#PrefigDetails" role="button" aria-expanded="true" aria-controls="PrefigDetails">
                    <div class="col-12 ess-tab-section-education-bar">
                        <div class="ess-tab-section-bar-hdr">
                            {{Text['PA_CORPARATE_MANAGEMENT'].Importantdate}}
                        </div>
                        <div class="flex text-right">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
                <div class="collapse show body-detail mb-2" id="PrefigDetails">
                    <div class="row mt-3 mb-3">
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="p">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].Retirement}}</span>
                                </div>
                                <div class="">
                                    <div ng-show="true">{{period}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
