﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div class="page-body" ng-controller="DocumentDataViewerController">
    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['ACTION'].EDIT_DATA}} {{DocumentTypeText}}</div>
            </div>
            <div class="ess-personal-info-edit-panel">
                <div class="row mx-0" ng-if="document.Additional.DocumentData.DocumentType=='01'">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'LicenseID' }" ng-show="item.FieldName=='LicenseID' && item.IsVisible">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].LicenseID}}</span>
                        </div>
                        <div ng-hide="DocumentData_OLD.DocumentNo==DocumentData.DocumentNo"><span class="red_text"><strike>{{DocumentData_OLD.DocumentNo}}</strike></span></div>
                        <div ng-hide="DocumentData_OLD.DocumentNo==DocumentData.DocumentNo"><span class="blue_text">{{DocumentData.DocumentNo}}</span></div>
                        <div ng-show="DocumentData_OLD.DocumentNo==DocumentData.DocumentNo">{{DocumentData.DocumentNo}}</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'LicenceIssueDate' }" ng-show="item.FieldName=='LicenceIssueDate' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].LicenceIssueDate}}</span></div>
                        <div ng-hide="DocumentData_OLD.IssueDate==DocumentData.IssueDate"><span class="red_text"><strike>{{getDateFormate(DocumentData_OLD.IssueDate)}}</strike></span></div>
                        <div ng-hide="DocumentData_OLD.IssueDate==DocumentData.IssueDate"><span class="blue_text">{{getDateFormate(DocumentData.IssueDate)}}</span></div>
                        <div ng-show="DocumentData_OLD.IssueDate==DocumentData.IssueDate">{{getDateFormate(DocumentData.IssueDate)}}</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'LicenceExpiredDate' }" ng-show="item.FieldName=='LicenceExpiredDate' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].LicenceExpiredDate}}</span></div>
                        <div ng-hide="DocumentData_OLD.ExpiredDate==DocumentData.ExpiredDate"><span class="red_text"><strike>{{getDateFormate(DocumentData_OLD.ExpiredDate)}}</strike></span></div>
                        <div ng-hide="DocumentData_OLD.ExpiredDate==DocumentData.ExpiredDate"><span class="blue_text">{{getDateFormate(DocumentData.ExpiredDate)}}</span></div>
                        <div ng-show="DocumentData_OLD.ExpiredDate==DocumentData.ExpiredDate">{{getDateFormate(DocumentData.ExpiredDate)}}</div>
                    </div>
                </div>
                <div class="row mx-0" ng-if="document.Additional.DocumentData.DocumentType=='02'">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'PassportNo' }" ng-show="item.FieldName=='PassportNo' && item.IsVisible">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].PassportNo}}</span>
                        </div>
                        <div ng-hide="DocumentData_OLD.DocumentNo==DocumentData.DocumentNo"><span class="red_text"><strike>{{DocumentData_OLD.DocumentNo}}</strike></span></div>
                        <div ng-hide="DocumentData_OLD.DocumentNo==DocumentData.DocumentNo"><span class="blue_text">{{DocumentData.DocumentNo}}</span></div>
                        <div ng-show="DocumentData_OLD.DocumentNo==DocumentData.DocumentNo">{{DocumentData.DocumentNo}}</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'PassportExpiredDate' }" ng-show="item.FieldName=='PassportExpiredDate' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].PassportExpiredDate}}</span></div>
                        <div ng-hide="DocumentData_OLD.ExpiredDate==DocumentData.ExpiredDate"><span class="red_text"><strike>{{getDateFormate(DocumentData_OLD.ExpiredDate)}}</strike></span></div>
                        <div ng-hide="DocumentData_OLD.ExpiredDate==DocumentData.ExpiredDate"><span class="blue_text">{{getDateFormate(DocumentData.ExpiredDate)}}</span></div>
                        <div ng-show="DocumentData_OLD.ExpiredDate==DocumentData.ExpiredDate">{{getDateFormate(DocumentData.ExpiredDate)}}</div>
                    </div>
                </div>
                <div class="row mx-0" ng-if="document.Additional.DocumentData.DocumentType=='03'">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'WorkpermitNo' }" ng-show="item.FieldName=='WorkpermitNo' && item.IsVisible">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].WorkpermitNo}}</span>
                        </div>
                        <div ng-hide="DocumentData_OLD.DocumentNo==DocumentData.DocumentNo"><span class="red_text"><strike>{{DocumentData_OLD.DocumentNo}}</strike></span></div>
                        <div ng-hide="DocumentData_OLD.DocumentNo==DocumentData.DocumentNo"><span class="blue_text">{{DocumentData.DocumentNo}}</span></div>
                        <div ng-show="DocumentData_OLD.DocumentNo==DocumentData.DocumentNo">{{DocumentData.DocumentNo}}</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'WorkpermitExpiredDate' }" ng-show="item.FieldName=='WorkpermitExpiredDate' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].WorkpermitExpiredDate}}</span></div>
                        <div ng-hide="DocumentData_OLD.ExpiredDate==DocumentData.ExpiredDate"><span class="red_text"><strike>{{getDateFormate(DocumentData_OLD.ExpiredDate)}}</strike></span></div>
                        <div ng-hide="DocumentData_OLD.ExpiredDate==DocumentData.ExpiredDate"><span class="blue_text">{{getDateFormate(DocumentData.ExpiredDate)}}</span></div>
                        <div ng-show="DocumentData_OLD.ExpiredDate==DocumentData.ExpiredDate">{{getDateFormate(DocumentData.ExpiredDate)}}</div>
                    </div>
                </div>
                <div class="row mx-0" ng-if="document.Additional.DocumentData.DocumentType=='51'">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'VisaNonBNo' }" ng-show="item.FieldName=='VisaNonBNo' && item.IsVisible">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].VisaNonBNo}}</span>
                        </div>
                        <div ng-hide="DocumentData_OLD.DocumentNo==DocumentData.DocumentNo"><span class="red_text"><strike>{{DocumentData_OLD.DocumentNo}}</strike></span></div>
                        <div ng-hide="DocumentData_OLD.DocumentNo==DocumentData.DocumentNo"><span class="blue_text">{{DocumentData.DocumentNo}}</span></div>
                        <div ng-show="DocumentData_OLD.DocumentNo==DocumentData.DocumentNo">{{DocumentData.DocumentNo}}</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'VisaNonBExpiredDate' }" ng-show="item.FieldName=='VisaNonBExpiredDate' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].VisaNonBExpiredDate}}</span></div>
                        <div ng-hide="DocumentData_OLD.ExpiredDate==DocumentData.ExpiredDate"><span class="red_text"><strike>{{getDateFormate(DocumentData_OLD.ExpiredDate)}}</strike></span></div>
                        <div ng-hide="DocumentData_OLD.ExpiredDate==DocumentData.ExpiredDate"><span class="blue_text">{{getDateFormate(DocumentData.ExpiredDate)}}</span></div>
                        <div ng-show="DocumentData_OLD.ExpiredDate==DocumentData.ExpiredDate">{{getDateFormate(DocumentData.ExpiredDate)}}</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'VisaNonBNoOfEntry' }" ng-show="item.FieldName=='VisaNonBNoOfEntry' && item.IsVisible">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].VisaNonBNoOfEntry}}</span>
                        </div>
                        <div ng-hide="DocumentData_OLD.ValidityOfEntry==DocumentData.ValidityOfEntry"><span class="red_text"><strike>{{ValidityOfEntryText_OLD}}</strike></span></div>
                        <div ng-hide="DocumentData_OLD.ValidityOfEntry==DocumentData.ValidityOfEntry"><span class="blue_text">{{ValidityOfEntryText}}</span></div>
                        <div ng-show="DocumentData_OLD.ValidityOfEntry==DocumentData.ValidityOfEntry">{{ValidityOfEntryText}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>