﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <h2 class="text-center" style="color:red"><b>{{Text['PA_EDUCATION_MANAGEMENT'].WORKHISDELETE_REQUEST}}</b></h2>
    </div>
</div>
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="EducationWorkHistoryDeleteEditorController" ng-init="init();">
            <div class="ess-tab-section-education-bar">
                <div class="ess-personal-info-sub-hdr">{{Text['PA_EDUCATION_MANAGEMENT'].WORKHISTORY}}</div>
            </div>

            <div class="ess-personal-info-edit-panel">
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BeginDate'}" ng-show="item.FieldName=='BeginDate' && item.CategoryName=='Education' && item.IsVisible">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].WorkhisBeginDate}}</span>
                            <span class="ess-required-filed" ng-show="item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                        </div>
                        <div style="position: relative; height: auto; overflow: hidden;">
                            <input id="TM_1701_txtBeginDate" maxlength="10" ng-model="document.Additional.WorkHistory.BeginDate" value="{{getDateFormat(document.Additional.WorkHistory.BeginDate)}}" type="text" ng-required="{{item.IsRequired}}" class="form-control" name="start" setMonthDatePicker="10" ng-disabled="isNotAllowEdit" my-date-picker />
                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                        </div>



                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].WorkhisEndDate}}</span>
                        </div>

                        <div style="position: relative; height: auto; overflow: hidden;">
                            <input id="PA_2201_txtEndDate" maxlength="10" ng-model="document.Additional.WorkHistory.EndDate" value="{{getDateFormat(document.Additional.WorkHistory.EndDate)}}" type="text" ng-required="{{item.IsRequired}}" class="form-control" name="start" setMonthDatePicker="10" ng-disabled="isNotAllowEdit" my-date-picker />
                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                        </div>

                       
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].COMPANY}}</span>
                        </div>
                        <input id="PA_2201_txtPositionNameTH" ng-model="document.Additional.WorkHistory.EmployerName" class="form-control" type="text" value="" ng-trim="false" ng-disabled="isNotAllowEdit" autocomplete="off" />
                        
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].POSITIONANDTYPE}}</span>
                        </div>
                        <input id="PA_2201_txtPositionNameTH" ng-model="document.Additional.WorkHistory.Position" class="form-control" type="text" value="" ng-trim="false" ng-disabled="isNotAllowEdit" autocomplete="off" />
                    </div>
                   
                    
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].INDUSTRY}}</span>
                        </div>
                        <select id="PA_2201_txtBandValue" class="form-control ess-form-control" ng-model="document.Additional.WorkHistory.BuValue" ng-disabled="isNotAllowEdit">
                            <option value="">-</option>
                            <option value="{{item.DLL_VALUE}}" ng-repeat="item in BussinessList">{{item.DLL_DATA}}</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].COUNTRY}}</span>
                        </div>
                        <select id="PA_2201_txtBandValue" class="form-control ess-form-control" ng-model="document.Additional.WorkHistory.WorkCountryValue" ng-disabled="isNotAllowEdit">
                            <option value="">-</option>
                            <option value="{{item.DLL_VALUE}}" ng-repeat="item in CountryList">{{item.DLL_DATA}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
