﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="EducationAcademicWorkMemberViewerController" ng-init="init();">
            <div align="center" class="row ess-document-tab-content-search justify-content-center">
                <div align="right" style="margin-top:8px;" class="col-md-4">
                    <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].ACADEMICWORKTYPE}}</span>
                </div>
                <div align="left" class="form-group col-md-4">
                    <select id="PA_2201_txtBandValue" class="form-control ess-form-control" ng-model="document.Additional.Academicworkmember.SubtypeValue" ng-disabled="IsDisable">
                        <option value="">All</option>
                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in SubTypeList">{{item.DLL_DATA}}</option>
                    </select>
                </div>
                <div align="right" class="col-md-4">

                </div>
            </div>
            <div class="ess-tab-section-education-bar">
                <div class="ess-personal-info-sub-hdr">{{Text['PA_EDUCATION_MANAGEMENT'].ACADEMICWORKMEMBER}}</div>
            </div>
            <div class="ess-personal-info-edit-panel">
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].WorkhisBeginDate}}</span>
                        </div>
                        <div style="position: relative; height: auto; overflow: hidden;">
                            <p>{{getDateFormat(document.Additional.Academicworkmember.BeginDate)}}</p>

                        </div>



                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].WorkhisEndDate}}</span>
                        </div>

                        <div style="position: relative; height: auto; overflow: hidden;">
                            <p>{{getDateFormat(document.Additional.Academicworkmember.EndDate)}}</p>

                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].TITLE}}</span>
                        </div>
                        <p>{{TitleLabelText.DLL_DATA}}</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].USERROLE}}</span>
                        </div>
                        <p>{{UserroleLabelText.DLL_DATA}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
