﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <h2 class="text-center" style="color:red"><b>{{Text['PA_EDUCATION_MANAGEMENT'].DELETE_REQUEST}}</b></h2>
    </div>
</div>
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="EducationDeleteEditorController" ng-init="init()">
            <div class="ess-tab-section-education-bar">
                <div class="ess-personal-info-sub-hdr">{{Text['PA_EDUCATION_MANAGEMENT'].EDUCATION}}</div>
            </div>

            <div class="ess-personal-info-edit-panel">
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BeginDate'}" ng-show="item.FieldName=='BeginDate' && item.CategoryName=='Education' && item.IsVisible">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].BEGIN_DATE}}</span>
                            <span class="ess-required-filed" ng-show="item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                        </div>



                        <div style="position: relative; height: auto; overflow: hidden;">
                            <input id="TM_1701_txtBeginDate" maxlength="10" ng-model="EducationData.BeginDate" value="{{getDateFormat(EducationData.BeginDate)}}" type="text" ng-required="{{item.IsRequired}}"  class="form-control" name="start" setMonthDatePicker="10" ng-disabled="isNotAllowEdit" my-date-picker />
                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                        </div>



                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].END_DATE}}</span>
                        </div>

                        <div style="position: relative; height: auto; overflow: hidden;">
                            <input id="PA_2201_txtEndDate" maxlength="10" ng-model="EducationData.EndDate" value="{{getDateFormat(EducationData.EndDate)}}" type="text" ng-required="{{item.IsRequired}}"  class="form-control" name="start" setMonthDatePicker="10" ng-disabled="isNotAllowEdit" my-date-picker />
                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                        </div>


                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].EDUCATION_LEVEL}}</span>
                        </div>
                        <select id="PA_2201_txtEducationLevelValue" class="form-control ess-form-control"  ng-model="EducationData.EducationLevelCode" ng-change="EducationMainMajor()" ng-disabled="isNotAllowEdit">
                            <option value="">-</option>
                            <option value="{{item.DLL_VALUE}}" ng-repeat="item in EducationLevelList">{{item.DLL_DATA}}</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].CERTIFICATE}}</span>
                        </div>
                        <select id="PA_2201_txtBandValue" class="form-control ess-form-control" ng-model="EducationData.CertificateCode" ng-disabled="isNotAllowEdit">
                            <option value="">-</option>
                            <option value="{{item.DLL_VALUE}}" ng-repeat="item in QualificationList">{{item.DLL_DATA}}</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].MAJOR}}</span>
                        </div>
                        <select id="PA_2201_txtBandValue" class="form-control ess-form-control" ng-model="EducationData.Branch1"  ng-change="ChangeMinor()" ng-disabled="isNotAllowEdit">
                            <option value="">-</option>
                            <option value="{{item.DLL_VALUE}}" ng-repeat="item in MainMajorList">{{item.DLL_DATA}}</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].MINOR}}</span>
                        </div>
                        <select id="PA_2201_txtBandValue" class="form-control ess-form-control" ng-model="EducationData.Branch2" ng-disabled="isNotAllowEdit">
                            <option value="">-</option>
                            <option value="{{item.DLL_VALUE}}" ng-repeat="item in MinorList">{{item.DLL_DATA}}</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].INSTITUTION}}</span>
                        </div>
                        <select id="PA_2201_txtBandValue" class="form-control ess-form-control" ng-model="EducationData.InstituteCode" ng-disabled="isNotAllowEdit">
                            <option value="">-</option>
                            <option value="{{item.DLL_VALUE}}" ng-repeat="item in InstituteList">{{item.DLL_DATA}}</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].COUNTRY}}</span>
                        </div>
                        <select id="PA_2201_txtBandValue" class="form-control ess-form-control" ng-model="EducationData.CountryCode" ng-disabled="isNotAllowEdit">
                            <option value="">-</option>
                            <option value="{{item.DLL_VALUE}}" ng-repeat="item in CountryList">{{item.DLL_DATA}}</option>
                        </select>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].HONOR}}</span>
                        </div>
                        <select id="PA_2201_txtBandValue" class="form-control ess-form-control" ng-model="EducationData.HonorCode" ng-disabled="isNotAllowEdit">
                            <option value="">-</option>
                            <option value="{{item.DLL_VALUE}}" ng-repeat="item in DegreeList">{{item.DLL_DATA}}</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].GRADE}}</span>
                        </div>
                        <input id="PA_2201_txtPositionNameTH" ng-model="EducationData.Grade"  class="form-control" type="text" value="" ng-trim="false" autocomplete="off" ng-disabled="isNotAllowEdit"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
