﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper" ng-controller="FamilyDataEditorController">
    <form name="validateForm" novalidate>
        <div class="ess-inner-wrapper">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text[Textcategory].FAMILY}}</div>
            </div>
            <div class="ess-personal-info-edit-panel">
                <div class="row mb-4" style="border-bottom:1px solid #e5e5e5;margin-bottom:10px;margin-top:10px;"><span style="font-size:20px;font-weight:bold">{{Text[Textcategory].FAMILYDATA}}</span></div>
                <div class="row ess-personal-info-general">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'FamilyMember' }" ng-if="item.FieldName=='FamilyMember' && item.IsVisible && item.CategoryName=='Family'">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text[Textcategory].FAMILYMEMBER}}</span>
                            <span class="ess-required-filed" ng-show="validateForm.FamilyMember.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div class="ess-selectbox">
                                <input id="PA_604_txtFamilyMember" ng-disabled="!IsNewFamilyMember" value="{{document.Additional.FamilyData.FamilyMember}}" ng-model="document.Additional.FamilyData.FamilyMember"
                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                       style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                       autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                <select id="PA_604_ddlFamilyMember" class="form-control ess-form-control" ng-disabled="!IsNewFamilyMember"
                                        ng-model="document.Additional.FamilyData.FamilyMember" placeholder="">
                                    <option value="">-</option>
                                    <option value="{{item.Key}}" ng-repeat="item in FamilyMember">{{item.Description}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s">
                    </div>
                </div>
                <div class="row ess-personal-info-general">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'TitleName' }" ng-if="item.FieldName=='TitleName' && item.IsVisible && item.CategoryName=='Family'">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text[Textcategory].TITLENAME}}</span>
                            <span class="ess-required-filed" ng-show="validateForm.TitleName.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div class="ess-selectbox">
                                <input id="PA_604_txtTitleName" ng-disabled="!item.IsEditable" value="{{document.Additional.FamilyData.TitleName}}" ng-model="document.Additional.FamilyData.TitleName"
                                       class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                       style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                       autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                <select id="PA_604_ddlTitleName" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                        ng-model="document.Additional.FamilyData.TitleName" placeholder="">
                                    <option value="">-</option>
                                    <option value="{{ti.Key}}" ng-repeat="ti in Title">{{ti.Description}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s">
                    </div>
                </div>
                <div class="row ess-personal-info-general">
                    <div class="row mx-0">
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig| filter:{ FieldName:'Name'}" ng-if="item.FieldName=='Name' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].NAME}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.Name.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <input id="PA_604_txtName" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" value="{{document.Additional.FamilyData.Name}}" ng-model="document.Additional.FamilyData.Name" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig| filter:{ FieldName:'Surname'}" ng-if="item.FieldName=='Surname' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].SURNAME}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.Surname.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <input id="PA_604_txtSurname" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" value="{{document.Additional.FamilyData.Surname}}" ng-model="document.Additional.FamilyData.Surname" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig| filter:{ FieldName:'Sex'}" ng-if="item.FieldName=='Sex' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].SEX}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.Sex.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div class="ess-selectbox">
                                    <input id="PA_604_txtSex" ng-disabled="!item.IsEditable&&!IsNewFamilyMember" value="{{document.Additional.FamilyData.Sex}}" ng-model="document.Additional.FamilyData.Sex"
                                           class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                           style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                           autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                    <select id="PA_604_ddlSex" class="form-control ess-form-control" ng-disabled="!item.IsEditable&&!IsNewFamilyMember"
                                            ng-model="document.Additional.FamilyData.Sex" placeholder="">
                                        <option value="">-</option>
                                        <option value="{{g.Key}}" ng-repeat="g in Gender">{{g.Description}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig| filter:{ FieldName:'BirthDate'}" ng-if="item.FieldName=='BirthDate' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].BIRTHDATE}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.BirthDate.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div style="position: relative; height: 50px; overflow: hidden;">
                                    <input id="PA_604_txtBirthDate" ng-disabled="!item.IsEditable&&!IsNewFamilyMember" class="form-control" maxlength="10" value="{{getDateFormate(document.Additional.FamilyData.BirthDate)}}" ng-model="document.Additional.FamilyData.BirthDate" ng-change="calculateAge(document.Additional.FamilyData.BirthDate)" type="text" my-date-picker name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                    <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig| filter:{ FieldName:'BirthPlace'}" ng-if="item.FieldName=='BirthPlace' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].BIRTHPLACE}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.BirthPlace.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div class="ess-selectbox">
                                    <input id="PA_604_txtBirthPlace" ng-disabled="!item.IsEditable" value="{{document.Additional.FamilyData.BirthPlace}}" ng-model="document.Additional.FamilyData.BirthPlace"
                                           class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                           style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                           autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                    <select id="PA_604_ddlBirthPlace" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                            ng-model="document.Additional.FamilyData.BirthPlace" placeholder="">

                                        <option value="">-</option>
                                        <option value="{{po.ProvinceCode}}" ng-repeat="po in Province">{{po.ProvinceName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig| filter:{ FieldName:'Age'}" ng-if="item.FieldName=='Age' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].AGE}} ({{Text[Textcategory].YEAR}} )</span>
                                <span class="ess-required-filed" ng-show="validateForm.Age.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <input id="PA_604_txtAge" ng-disabled="!item.IsEditable&&!IsNewFamilyMember" type="text" class="form-control ess-form-control" value="{{document.Additional.FamilyData.Age}}" ng-model="document.Additional.FamilyData.Age" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig| filter:{ FieldName:'CityOfBirth'}" ng-if="item.FieldName=='CityOfBirth' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].COUNTRYBIRTH}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.CityOfBirth.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div class="ess-selectbox">
                                    <input id="PA_604_txtCityOfBirth" ng-disabled="!item.IsEditable" value="{{document.Additional.FamilyData.CityOfBirth}}" ng-model="document.Additional.FamilyData.CityOfBirth"
                                           class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                           style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                           autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                    <select id="PA_604_ddlCityOfBirth" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                            ng-model="document.Additional.FamilyData.CityOfBirth" placeholder="">

                                        <option value="">-</option>
                                        <option value="{{co.CountryCode}}" ng-repeat="co in Country">{{co.CountryName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig| filter:{ FieldName:'Nationality'}" ng-if="item.FieldName=='Nationality' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].NATIONALITY}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.Nationality.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div class="ess-selectbox">
                                    <input id="PA_604_txtNationality" ng-disabled="!item.IsEditable" value="{{document.Additional.FamilyData.Nationality}}" ng-model="document.Additional.FamilyData.Nationality"
                                           class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                           style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                           autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                    <select id="PA_604_ddlNationality" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                            ng-model="document.Additional.FamilyData.Nationality" placeholder="">

                                        <option value="">-</option>
                                        <option value="{{na.NationalityKey}}" ng-repeat="na in Nationality">{{na.NationalityName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig| filter:{ FieldName:'MaritalStatus'}" ng-if="document.Additional.FamilyData.FamilyMember=='01' && document.Additional.FamilyData.Dead=='' && item.FieldName=='MaritalStatus' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].MARITALSTATUS}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.MaritalStatus.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div class="ess-selectbox">
                                    <input id="PA_604_txtMaritalStatus" ng-disabled="!item.IsEditable" value="{{document.Additional.FamilyData.MaritalStatus}}" ng-model="document.Additional.FamilyData.MaritalStatus"
                                           class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                           style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                           autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                    <select id="PA_604_ddlMaritalStatus" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                            ng-model="document.Additional.FamilyData.MaritalStatus" placeholder="" ng-change="selectedEffectiveDate()">
                                        <option value="">-</option>
                                        <option value="{{items.Key}}" ng-repeat="items in MaritalStatus">{{items.Description}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig| filter:{ FieldName:'Since'}" ng-if="document.Additional.FamilyData.FamilyMember=='01' && document.Additional.FamilyData.Dead=='' && item.FieldName=='Since' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].SINCE}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.Since.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div style="position: relative; height: 50px; overflow: hidden;">
                                <input id="PA_604_txtEffectiveDate" ng-disabled="!item.IsEditable" class="form-control" maxlength="10" value="{{getDateFormate(EffectiveDate)}}" ng-model="EffectiveDate" ng-change="selectedEffectiveDate()" type="text" my-date-picker name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig| filter:{ FieldName:'Dead'}" ng-if="item.FieldName=='Dead' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].DEADSTATUS}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div class="radio radio-inline">
                                    <input id="PA_604_rbdAlive" ng-disabled="!item.IsEditable" type="radio" value="" ng-model="document.Additional.FamilyData.Dead" ng-change="setMarital()" />
                                    <label for="PA_604_rbdAlive" class="black-color">{{ Text[Textcategory].DEADSTATUS0 }}</label>
                                    <input id="PA_604_rbdDeal" ng-disabled="!item.IsEditable" type="radio" value="X" ng-model="document.Additional.FamilyData.Dead" ng-change="setMarital()" />
                                    <label for="PA_604_rbdDeal" class="black-color">{{ Text[Textcategory].DEADSTATUS1}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig| filter:{ FieldName:'PassAwayDate'}" ng-if="(document.Additional.FamilyData.Dead=='X') && item.FieldName=='PassAwayDate' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].DEADDATE}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.PassAwayDate.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div style="position: relative; height: 50px; overflow: hidden;">
                                <input id="PA_604_txtPassAwayDate" ng-disabled="!item.IsEditable" class="form-control" maxlength="10" value="{{getDateFormate(PassAwayDate)}}" ng-model="PassAwayDate" ng-change="selectedPassAwayDate()" type="text" my-date-picker name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" autocomplete="off">
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'TelephoneNo' }" ng-if="item.FieldName=='TelephoneNo' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].TELEPHONENO}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.TelephoneNo.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <input id="PA_604_txtTelephoneNo" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" value="{{document.Additional.FamilyData.TelephoneNo}}" ng-model="document.Additional.FamilyData.TelephoneNo" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'IDCard' }" ng-if="item.FieldName=='IDCard' && item.IsVisible && item.CategoryName=='Family'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].PERSONAL_ID}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.IDCard.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <input id="PA_604_txtIDCard" ng-disabled="!item.IsEditable&&!IsNewFamilyMember" type="text" class="form-control ess-form-control" value="{{IDCard}}" ng-change="selectedIDCard()" ng-model="IDCard" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-4" style="border-bottom:1px solid #e5e5e5;margin-bottom:10px;margin-top:10px;"><span style="font-size:20px;font-weight:bold">{{Text[Textcategory].CURRENTADDRESS}}</span></div>
                <div class="row ess-personal-info-general">
                    <div class="row mx-0">
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'AddressNo' }" ng-if="item.FieldName=='AddressNo' && item.IsVisible && item.CategoryName=='FamilyAddress'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].ADDRESSNO}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.AddressNo.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <input id="PA_604_txtAddress" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" value="{{document.Additional.FamilyData.Address}}" ng-model="document.Additional.FamilyData.Address" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'Building' }" ng-if="item.FieldName=='Building' && item.IsVisible && item.CategoryName=='FamilyAddress'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].BUILDING}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.Building.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <input id="PA_604_txtBuilding" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" value="{{document.Additional.FamilyData.Building}}" ng-model="document.Additional.FamilyData.Building" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'Moo' }" ng-if="item.FieldName=='Moo' && item.IsVisible && item.CategoryName=='FamilyAddress'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].MOO}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.Moo.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.Moo.$error.pattern">{{Text['SYSTEM'].PATTERN_NUMBER}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <input id="PA_604_txtMoo" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" value="{{document.Additional.FamilyData.Moo}}" ng-model="document.Additional.FamilyData.Moo" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'Soi' }" ng-if="item.FieldName=='Soi' && item.IsVisible && item.CategoryName=='FamilyAddress'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].SOI}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.Soi.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <input id="PA_604_txtSoi" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" value="{{document.Additional.FamilyData.Soi}}" ng-model="document.Additional.FamilyData.Soi" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'Street' }" ng-if="item.FieldName=='Street' && item.IsVisible && item.CategoryName=='FamilyAddress'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].STREET}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.Street.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <input id="PA_604_txtStreet" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" value="{{document.Additional.FamilyData.Street}}" ng-model="document.Additional.FamilyData.Street" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'Country' }" ng-if="item.FieldName=='Country' && item.IsVisible && item.CategoryName=='FamilyAddress'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].COUNTRY}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.Country.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div class="ess-selectbox">
                                    <input id="PA_604_txtCountry" ng-disabled="!item.IsEditable" value="{{document.Additional.FamilyData.Country}}" ng-model="document.Additional.FamilyData.Country"
                                           class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                           style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                           autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                    <select id="PA_604_ddlCountry" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                            ng-model="document.Additional.FamilyData.Country" placeholder="" ng-change="checkSelectedCountry($index)">

                                        <option value="">-</option>
                                        <option value="{{co.CountryCode}}" ng-repeat="co in Country">{{co.CountryName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'City' }" ng-if="item.FieldName=='City' && item.IsVisible && item.CategoryName=='FamilyAddress'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].PROVINCE}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.City.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div class="ess-selectbox">
                                    <input id="PA_604_txtCity" ng-disabled="!item.IsEditable||isDisabled" value="{{document.Additional.FamilyData.City}}" ng-model="document.Additional.FamilyData.City"
                                           class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                           style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                           autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                    <select id="PA_604_ddlCity" class="form-control ess-form-control" ng-disabled="!item.IsEditable||isDisabled" ng-model="document.Additional.FamilyData.City" placeholder="" ng-change="DistrictByCode(document.Additional.FamilyData.City)">

                                        <option value="">-</option>
                                        <option value="{{po.ProvinceCode}}" ng-repeat="po in Province">{{po.ProvinceName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'District' }" ng-if="item.FieldName=='District' && item.IsVisible && item.CategoryName=='FamilyAddress'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].DISTRICT}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.District.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div class="ess-selectbox">
                                    <input id="PA_604_txtDistrict" ng-disabled="!item.IsEditable||isDisabled" value="{{document.Additional.FamilyData.District}}" ng-model="document.Additional.FamilyData.District"
                                           class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                           style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                           autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                    <select id="PA_604_ddlDistrict" class="form-control ess-form-control" ng-disabled="!item.IsEditable||isDisabled" ng-model="document.Additional.FamilyData.District" ng-change="SubDistrictByCode(document.Additional.FamilyData.City,document.Additional.FamilyData.District)" placeholder="">
                                        <option value="">-</option>
                                        <option value="{{di.code }}" ng-repeat="di in districtData">{{di.district}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'SubDistrict' }" ng-if="item.FieldName=='SubDistrict' && item.IsVisible && item.CategoryName=='FamilyAddress'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].SUBDISTRICT}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.SubDistrict.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div class="ess-selectbox">
                                    <input id="PA_604_txtSubdistrictCode" ng-disabled="!item.IsEditable||isDisabled" value="{{document.Additional.FamilyData.SubdistrictCode}}" ng-model="document.Additional.FamilyData.SubdistrictCode"
                                           class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                           style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                           autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                    <select id="PA_604_ddlSubdistrictCode" class="form-control ess-form-control" ng-disabled="!item.IsEditable||isDisabled"
                                            ng-model="document.Additional.FamilyData.SubdistrictCode" ng-change="PostCodeByCode(document.Additional.FamilyData.SubdistrictCode)" placeholder="">
                                        <option value="">-</option>
                                        <option value="{{su.code}}" ng-repeat="su in subDistrictData">{{su.subdistrict}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in FamilyConfig|filter: { FieldName: 'Postcode' }" ng-if="item.FieldName=='Postcode' && item.IsVisible && item.CategoryName=='FamilyAddress'">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].POSTCODE}}</span>
                                <span class="ess-required-filed" ng-show="validateForm.Postcode.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <input id="PA_604_txtPostcode" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" value="{{document.Additional.FamilyData.Postcode}}" ng-model="document.Additional.FamilyData.Postcode" ng-trim="false" autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" maxlength="10" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
