﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>

<div class="ess-wrapper" ng-controller="FamilyDataViewerController">
    <div class="ess-inner-wrapper">
        <div class="ess-tab-section-bar1">
            <div class="ess-personal-info-sub-hdr">{{Text[Textcategory].FAMILY}}</div>
        </div>
        <div class="ess-personal-info-edit-panel">
            <div class="row mb-4" style="border-bottom:1px solid #e5e5e5;margin-bottom:10px;margin-top:10px;"><span style="font-size:20px;font-weight:bold">{{Text[Textcategory].FAMILYDATA}}</span></div>

            <div class="row mx-0">
                <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'FamilyMember' }" ng-if="fa.FieldName=='FamilyMember' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].FAMILYMEMBER}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.FamilyMember != FamilyData.FamilyMember"><span class="red_text"><strike>{{FamilyMemberText_OLD}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.FamilyMember != FamilyData.FamilyMember"><span class="blue_text">{{FamilyMemberText}}</span></div>
                        <div ng-show="FamilyData_OLD.FamilyMember == FamilyData.FamilyMember">{{FamilyMemberText}}</div>
                        <div ng-show="!FamilyData.FamilyMember">-</div>
                    </div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'TitleName' }" ng-if="fa.FieldName=='TitleName' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].TITLENAME}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.TitleName != FamilyData.TitleName"><span class="red_text"><strike>{{TitleNameText_OLD}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.TitleName != FamilyData.TitleName"><span class="blue_text">{{TitleNameText}}</span></div>
                        <div ng-show="FamilyData_OLD.TitleName == FamilyData.TitleName">{{TitleNameText}}</div>
                        <div ng-show="!FamilyData.TitleName">-</div>
                    </div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Name' }" ng-if="fa.FieldName=='Name' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].NAME}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.Name != FamilyData.Name"><span class="red_text"><strike>{{FamilyData_OLD.Name}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.Name != FamilyData.Name"><span class="blue_text">{{FamilyData.Name }}</span></div>
                        <div ng-show="FamilyData_OLD.Name == FamilyData.Name">{{FamilyData.Name}}</div>
                        <div ng-show="!FamilyData.Name">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Surname' }" ng-if="fa.FieldName=='Surname' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].SURNAME}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.Surname != FamilyData.Surname"><span class="red_text"><strike>{{FamilyData_OLD.Surname}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.Surname != FamilyData.Surname"><span class="blue_text">{{FamilyData.Surname }}</span></div>
                        <div ng-show="FamilyData_OLD.Surname == FamilyData.Surname">{{FamilyData.Surname}}</div>
                        <div ng-show="!FamilyData.Surname">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Sex' }" ng-if="fa.FieldName=='Sex' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].SEX}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.Sex != FamilyData.Sex"><span class="red_text"><strike>{{SexText_OLD}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.Sex != FamilyData.Sex"><span class="blue_text">{{SexText}}</span></div>
                        <div ng-show="FamilyData_OLD.Sex == FamilyData.Sex">{{SexText}}</div>
                        <div ng-show="!FamilyData.Sex">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'BirthDate' }" ng-if="fa.FieldName=='BirthDate' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].BIRTHDATE}}</span></div>
                    <div class="ess-personal-info-data">
                        <!--OLD-{{FamilyData_OLD.BirthDate}}/NEW-{{FamilyData.BirthDate}}-->
                        <div ng-show="FamilyData_OLD.BirthDate != FamilyData.BirthDate"><span class="red_text"><strike>{{getDateFormate(FamilyData_OLD.BirthDate)}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.BirthDate != FamilyData.BirthDate"><span class="blue_text">{{getDateFormate(FamilyData.BirthDate)}}</span></div>
                        <div ng-show="FamilyData_OLD.BirthDate == FamilyData.BirthDate">{{getDateFormate(FamilyData.BirthDate)}}</div>
                        <div ng-show="!FamilyData.BirthDate">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'BirthPlace' }" ng-if="fa.FieldName=='BirthPlace' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].BIRTHPLACE}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.BirthPlace != FamilyData.BirthPlace"><span class="red_text"><strike>{{BirthPlaceText_OLD}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.BirthPlace != FamilyData.BirthPlace"><span class="blue_text">{{BirthPlaceText}}</span></div>
                        <div ng-show="FamilyData_OLD.BirthPlace == FamilyData.BirthPlace">{{BirthPlaceText}}</div>
                        <div ng-show="!FamilyData.BirthPlace">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Age' }" ng-if="fa.FieldName=='Age' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].AGE}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.Age != FamilyData.Age"><span class="red_text" ng-show="FamilyData_OLD.Age"><strike>{{FamilyData_OLD.Age}} {{Text[Textcategory].YEAR}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.Age != FamilyData.Age"><span class="blue_text">{{FamilyData.Age}} {{Text[Textcategory].YEAR}}</span></div>
                        <div ng-show="FamilyData_OLD.Age == FamilyData.Age">{{FamilyData.Age}} {{Text[Textcategory].YEAR}}</div>
                        <div ng-show="!FamilyData.Age">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'CityOfBirth' }" ng-if="fa.FieldName=='CityOfBirth' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].COUNTRYBIRTH}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.CityOfBirth != FamilyData.CityOfBirth"><span class="red_text"><strike>{{CityOfBirthText_OLD}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.CityOfBirth != FamilyData.CityOfBirth"><span class="blue_text">{{CityOfBirthText}}</span></div>
                        <div ng-show="FamilyData_OLD.CityOfBirth == FamilyData.CityOfBirth">{{CityOfBirthText}}</div>
                        <div ng-show="!FamilyData.CityOfBirth">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Nationality' }" ng-if="fa.FieldName=='Nationality' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].NATIONALITY}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.Nationality != FamilyData.Nationality"><span class="red_text"><strike>{{NationalityText_OLD}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.Nationality != FamilyData.Nationality"><span class="blue_text">{{NationalityText}}</span></div>
                        <div ng-show="FamilyData_OLD.Nationality == FamilyData.Nationality">{{NationalityText}}</div>
                        <div ng-show="!FamilyData.Nationality">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'MaritalStatus' }" ng-if="(document.Additional.FamilyData.FamilyMember=='01') &&(document.Additional.FamilyData.MaritalStatus!='004') && fa.FieldName=='MaritalStatus' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].MARITALSTATUS}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.MaritalStatus != FamilyData.MaritalStatus"><span class="red_text"><strike>{{MaritalStatusText_OLD}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.MaritalStatus != FamilyData.MaritalStatus"><span class="blue_text">{{MaritalStatusText}}</span></div>
                        <div ng-show="FamilyData_OLD.MaritalStatus == FamilyData.MaritalStatus">{{MaritalStatusText}}</div>
                        <div ng-show="!FamilyData.MaritalStatus">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Since' }" ng-if="(document.Additional.FamilyData.FamilyMember=='01') &&(document.Additional.FamilyData.MaritalStatus!='004') && fa.FieldName=='Since' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].SINCE}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.EffectiveDate != FamilyData.EffectiveDate"><span class="red_text"><strike>{{getDateFormate(FamilyData_OLD.EffectiveDate)}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.EffectiveDate != FamilyData.EffectiveDate"><span class="blue_text">{{getDateFormate(FamilyData.EffectiveDate)}}</span></div>
                        <div ng-show="FamilyData_OLD.EffectiveDate == FamilyData.EffectiveDate">{{getDateFormate(FamilyData.EffectiveDate)}}</div>
                        <div ng-show="!FamilyData.EffectiveDate">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Dead' }" ng-if="fa.FieldName=='Dead' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].DEADSTATUS}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.Dead != FamilyData.Dead"><span class="red_text" ng-show="FamilyData_OLD.Dead!='-'"><strike>{{DeadText_OLD}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.Dead != FamilyData.Dead"><span class="blue_text">{{DeadText}}</span></div>
                        <div ng-show="FamilyData_OLD.Dead == FamilyData.Dead">{{DeadText}}</div>
                        <div ng-show="FamilyData.Dead==null">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'PassAwayDate' }" ng-if="(document.Additional.FamilyData.Dead=='X') && fa.FieldName=='PassAwayDate' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].DEADDATE}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.PassAwayDateEffectiveDate != FamilyData.PassAwayDateEffectiveDate"><span class="red_text"><strike>{{getDateFormate(FamilyData_OLD.PassAwayDateEffectiveDate)}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.PassAwayDateEffectiveDate != FamilyData.PassAwayDateEffectiveDate"><span class="blue_text">{{getDateFormate(FamilyData.PassAwayDateEffectiveDate)}}</span></div>
                        <div ng-show="FamilyData_OLD.PassAwayDateEffectiveDate == FamilyData.PassAwayDateEffectiveDate">{{getDateFormate(FamilyData.PassAwayDateEffectiveDate)}}</div>
                        <div ng-show="!FamilyData.PassAwayDateEffectiveDate">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'TelephoneNo' }" ng-if="fa.FieldName=='TelephoneNo' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].TELEPHONENO}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.TelephoneNo != FamilyData.TelephoneNo"><span class="red_text"><strike>{{FamilyData_OLD.TelephoneNo}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.TelephoneNo != FamilyData.TelephoneNo"><span class="blue_text">{{FamilyData.TelephoneNo}}</span></div>
                        <div ng-show="FamilyData_OLD.TelephoneNo == FamilyData.TelephoneNo">{{FamilyData.TelephoneNo}}</div>
                        <div ng-show="!FamilyData.TelephoneNo">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'IDCard' }" ng-if="fa.FieldName=='IDCard' && fa.IsVisible && fa.CategoryName=='Family'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].PERSONAL_ID}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="IDCard_OLD != IDCard"><span class="red_text"><strike>{{IDCard_OLD}}</strike></span></div>
                        <div ng-show="IDCard_OLD != IDCard"><span class="blue_text">{{IDCard}}</span></div>
                        <div ng-show="IDCard_OLD == IDCard">{{IDCard}}</div>
                        <div ng-show="!IDCard">-</div>
                    </div>
                </div>
            </div>

            <div class="row mb-4" style="border-bottom:1px solid #e5e5e5;margin-bottom:10px;margin-top:10px;"><span style="font-size:20px;font-weight:bold">{{Text[Textcategory].CURRENTADDRESS}}</span></div>
            <div class="row mx-0">
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'AddressNo' }" ng-if="fa.FieldName=='AddressNo' && fa.IsVisible && fa.CategoryName=='FamilyAddress'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].ADDRESSNO}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.Address != FamilyData.Address"><span class="red_text"><strike>{{FamilyData_OLD.Address}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.Address != FamilyData.Address"><span class="blue_text">{{FamilyData.Address}}</span></div>
                        <div ng-show="FamilyData_OLD.Address == FamilyData.Address">{{FamilyData.Address}}</div>
                        <div ng-show="!FamilyData.Address">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Building' }" ng-if="fa.FieldName=='Building' && fa.IsVisible && fa.CategoryName=='FamilyAddress'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].BUILDING}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.Building != FamilyData.Building"><span class="red_text"><strike>{{FamilyData_OLD.Building}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.Building != FamilyData.Building"><span class="blue_text">{{FamilyData.Building}}</span></div>
                        <div ng-show="FamilyData_OLD.Building == FamilyData.Building">{{FamilyData.Building}}</div>
                        <div ng-show="!FamilyData.Building">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Moo' }" ng-if="fa.FieldName=='Moo' && fa.IsVisible && fa.CategoryName=='FamilyAddress'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].MOO}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.Moo != FamilyData.Moo"><span class="red_text"><strike>{{FamilyData_OLD.Moo}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.Moo != FamilyData.Moo"><span class="blue_text">{{FamilyData.Moo}}</span></div>
                        <div ng-show="FamilyData_OLD.Moo == FamilyData.Moo">{{FamilyData.Moo}}</div>
                        <div ng-show="!FamilyData.Moo">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Soi' }" ng-if="fa.FieldName=='Soi' && fa.IsVisible && fa.CategoryName=='FamilyAddress'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].SOI}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.Soi != FamilyData.Soi"><span class="red_text"><strike>{{FamilyData_OLD.Soi}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.Soi != FamilyData.Soi"><span class="blue_text">{{FamilyData.Soi}}</span></div>
                        <div ng-show="FamilyData_OLD.Soi == FamilyData.Soi">{{FamilyData.Soi}}</div>
                        <div ng-show="!FamilyData.Soi">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Street' }" ng-if="fa.FieldName=='Street' && fa.IsVisible && fa.CategoryName=='FamilyAddress'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].STREET}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.Street != FamilyData.Street"><span class="red_text"><strike>{{FamilyData_OLD.Street}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.Street != FamilyData.Street"><span class="blue_text">{{FamilyData.Street}}</span></div>
                        <div ng-show="FamilyData_OLD.Street == FamilyData.Street">{{FamilyData.Street}}</div>
                        <div ng-show="!FamilyData.Street">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'SubDistrict' }" ng-if="fa.FieldName=='SubDistrict' && fa.IsVisible && fa.CategoryName=='FamilyAddress'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].SUBDISTRICT}}</span></div>
                    <div class="ess-personal-info-data">
                        <div class="ess-personal-info-data">
                            <div ng-show="FamilyData_OLD.SubdistrictCode != FamilyData.SubdistrictCode"><span class="red_text"><strike>{{SubDistrictText_OLD}}</strike></span></div>
                            <div ng-show="FamilyData_OLD.SubdistrictCode != FamilyData.SubdistrictCode"><span class="blue_text">{{SubDistrictText}}</span></div>
                            <div ng-show="FamilyData_OLD.SubdistrictCode == FamilyData.SubdistrictCode">{{SubDistrictText}}</div>
                            <div ng-show="!FamilyData.SubdistrictCode">-</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'District' }" ng-if="fa.FieldName=='District' && fa.IsVisible && fa.CategoryName=='FamilyAddress'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].DISTRICT}}</span></div>
                    <div class="ess-personal-info-data">
                        <div class="ess-personal-info-data">
                            <div ng-show="FamilyData_OLD.District != FamilyData.District"><span class="red_text"><strike>{{DistrictText_OLD}}</strike></span></div>
                            <div ng-show="FamilyData_OLD.District != FamilyData.District"><span class="blue_text">{{DistrictText}}</span></div>
                            <div ng-show="FamilyData_OLD.District == FamilyData.District">{{DistrictText}}</div>
                            <div ng-show="!FamilyData.District">-</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'City' }" ng-if="fa.FieldName=='City' && fa.IsVisible && fa.CategoryName=='FamilyAddress'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].PROVINCE}}</span></div>
                    <div class="ess-personal-info-data">
                        <div class="ess-personal-info-data">
                            <div ng-show="FamilyData_OLD.City != FamilyData.City"><span class="red_text"><strike>{{CityText_OLD}}</strike></span></div>
                            <div ng-show="FamilyData_OLD.City != FamilyData.City"><span class="blue_text">{{CityText}}</span></div>
                            <div ng-show="FamilyData_OLD.City == FamilyData.City">{{CityText}}</div>
                            <div ng-show="!FamilyData.City">-</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Country' }" ng-if="fa.FieldName=='Country' && fa.IsVisible && fa.CategoryName=='FamilyAddress'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].COUNTRY}}</span></div>
                    <div class="ess-personal-info-data">
                        <div class="ess-personal-info-data">
                            <div ng-show="FamilyData_OLD.Country != FamilyData.Country"><span class="red_text"><strike>{{CountryText_OLD}}</strike></span></div>
                            <div ng-show="FamilyData_OLD.Country != FamilyData.Country"><span class="blue_text">{{CountryText}}</span></div>
                            <div ng-show="FamilyData_OLD.Country == FamilyData.Country">{{CountryText}}</div>
                            <div ng-show="!FamilyData.Country">-</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="fa in FamilyConfig|filter: { FieldName: 'Postcode' }" ng-if="fa.FieldName=='Postcode' && fa.IsVisible && fa.CategoryName=='FamilyAddress'">
                    <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].POSTCODE}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="FamilyData_OLD.Postcode != FamilyData.Postcode"><span class="red_text"><strike>{{FamilyData_OLD.Postcode}}</strike></span></div>
                        <div ng-show="FamilyData_OLD.Postcode != FamilyData.Postcode"><span class="blue_text">{{FamilyData.Postcode}}</span></div>
                        <div ng-show="FamilyData_OLD.Postcode == FamilyData.Postcode">{{FamilyData.Postcode}}</div>
                        <div ng-show="!FamilyData.Postcode">-</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>











