﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="PersonalInfEditor" ng-init="init();">
            <div>
                <a href="" class="ess-btn-showhide-detail" data-toggle="collapse"
                   data-target="#AddressDetails" role="button" aria-expanded="true"
                   aria-controls="AddressDetails">
                    <div class="col-12 ess-tab-section-education-bar">
                        <div class="ess-tab-section-bar-hdr">
                            {{Text['APPGROUP'].TabSecretInfo}}
                        </div>
                        <div class="flex text-right">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
                <div class="collapse show body-detail mb-2" id="AddressDetails">
                    <div class="row mt-xl-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-5 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].StartDate}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <input maxlength="10" [(ngModel)]="getDateFormat(document.Additional.Personal.startDate)" value="{{getDateFormat(document.Additional.Personal.startDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                    <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-3 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].EndDate}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <input maxlength="10" [(ngModel)]="getDateFormat(document.Additional.Personal.endDate)" value="{{getDateFormat(document.Additional.Personal.endDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                    <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-xl-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-5 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].PREFIX_INFO}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control ess-form-control" ng-model="document.Additional.Personal.inameTextTH">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in PrefixList ">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-3 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].FNAME}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-model="document.Additional.Personal.fname" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-xl-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-5 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].MNAME}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-model="document.Additional.Personal.mname" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-3 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].LNAME}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-model="document.Additional.Personal.lname" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-xl-3 mb-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-5 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].NNAME}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-model="document.Additional.Personal.nickName" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a href="" class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#PrefigDetails" role="button" aria-expanded="true" aria-controls="PrefigDetails">
                    <div class="col-12 ess-tab-section-education-bar">
                        <div class="ess-tab-section-bar-hdr">
                            {{Text['SYSTEM'].PREFIX_INFO}}
                        </div>
                        <div class="flex text-right">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
                <div class="collapse show body-detail mb-2" id="PrefigDetails">
                    <div class="row mt-xl-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-5 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].TANUNDON}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control ess-form-control" ng-model="document.Additional.Personal.iname1Value">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in TanundonList ">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-3 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].PREFIX_INFO_SUB}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control ess-form-control" ng-model="document.Additional.Personal.iname3Value">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in SubprefixList ">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-xl-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-5 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].MILITARY_RANK}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control ess-form-control" ng-model="document.Additional.Personal.iname2Value">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in MilitaryList">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-3 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].MEDICAL_RANK}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control ess-form-control" ng-model="document.Additional.Personal.iname5Value">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in MedicalList">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-xl-3 mb-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-5 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].Academic_Position}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control ess-form-control" ng-model="document.Additional.Personal.iname2Value">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in AcademicList">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-3 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].NAME_DISPLAY}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-model="document.Additional.Personal.fullName" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a href="" class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#ENNameDetails" role="button" aria-expanded="true" aria-controls="ENNameDetails">
                    <div class="col-12 ess-tab-section-education-bar">
                        <div class="ess-tab-section-bar-hdr">
                            {{Text['SYSTEM'].EN_NAME_INFO}}
                        </div>
                        <div class="flex text-right">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
                <div class="collapse show body-detail mb-2" id="ENNameDetails">
                    <div class="row mt-xl-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-5 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].PREFIX_INFO}} ({{Text['PA_INFO'].EN}})</span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-model="document.Additional.Personal.inameTextEN" class="form-control disableInput" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-3 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].FNAME}} ({{Text['PA_INFO'].EN}})</span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-model="document.Additional.Personal.fnameEn" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-xl-3 mb-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-5 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].MNAME}} ({{Text['PA_INFO'].EN}})</span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-model="document.Additional.Personal.mnameEn" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-3 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].LNAME}} ({{Text['PA_INFO'].EN}})</span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-model="document.Additional.Personal.lnameEn" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a href="" class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#PersonalDetails" role="button" aria-expanded="true" aria-controls="PersonalDetails">
                    <div class="col-12 ess-tab-section-education-bar">
                        <div class="ess-tab-section-bar-hdr">
                            {{Text['PA_PERSONAL'].Detail}}
                        </div>
                        <div class="flex text-right">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
                <div class="collapse show body-detail mb-2" id="PersonalDetails">
                    <div class="row mt-xl-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-5 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].SEX}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <input ng-model="document.Additional.Personal.sexTextTH" class="form-control disableInput" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-3 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].MARITAL_STATUS}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control ess-form-control" ng-model="document.Additional.Personal.maritalStatusValue">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in MaritalList">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-xl-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-5 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].Nationality}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control ess-form-control" ng-model="document.Additional.Personal.nationalityValue">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in NationalityList">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-3 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].Domicile}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control ess-form-control" ng-model="document.Additional.Personal.provinceBirthCode">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in ProvinceList">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-xl-3 mb-3">
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-5 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].CountryOfBirth}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control ess-form-control" ng-model="document.Additional.Personal.countryBirthValue">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in CountryList">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="mt-xl-2 col-sm-3 text-xl-right">
                                    <span class="font-weight-bold">{{Text['PA_INFO'].Religion}}</span>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control ess-form-control" ng-model="document.Additional.Personal.religionValue">
                                        <option value="">-</option>
                                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in ReligionList">{{item.DLL_DATA}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
