﻿
<div ng-controller="PopupSearchController"  ng-init="init();">
    <div class="ess-personal-info-general">
        <div class="ess-inner-wrapper">
            <div class="modal fade" id="detailDataModal" role="dialog">
                <div class="modal-dialog modal-xl">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header ess-tab-personal-modal">
                            <h3>ค้นหาพนักงาน</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">



                                <div align="left" class="form-group col-md-2">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeUnitLevel}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important" ng-model="LevelSelected" placeholder="-" object-property="DLL_DATA" suggestions-arr="LevelList" ng-click="GetOrgUnit()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeUnit}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important" ng-model="UnitSelected" placeholder="-" object-property="DLL_DATA" suggestions-arr="UnitList" ng-click="GetPosition()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSePosition}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                                           ng-model="PositionSelected"
                                                           placeholder="-"
                                                           object-property="DLL_DATA"
                                                           suggestions-arr="PositionList">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeEmployee}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                                           ng-model="PositionSelected"
                                                           placeholder="-"
                                                           object-property="DLL_DATA"
                                                           suggestions-arr="PositionList">
                                    </multiple-autocomplete>
                                </div>
                                <div align="right" class="d-flex align-items-center">
                                    <a id="TM_1102_btnGetMonthlyTimesheet" href="" class="ess-button searchbtn" ng-click="GetDataContent()"><i class="fa fa-search"></i>&nbsp;{{Text['BUTTON'].SEARCH}}</a>&nbsp;

                                </div>


                            </div>


                            <div class="">
                                <div class="">
                                    <div class="ess-personal-info-data">
                                        <div class="freeze scrollbar-default">
                                            <table class="ess-table-default">
                                                <tr>

                                                    <th ng-click="changeSorting('EndDate')">
                                                        {{Text['APPGROUP'].PaDestblSeEmployeeID}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('Abbr')">
                                                        {{Text['APPGROUP'].PaDestblSeName}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('OrganizationUnit')">
                                                        {{Text['APPGROUP'].PaDestblSePosition}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('CostCenter')">
                                                        {{Text['APPGROUP'].PaDestblSeUnit}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>


                                                </tr>
                                                <!--<tr ng-repeat="data in genDatas(OrganizationUnitDataList) | orderBy:sort.column:sort.descending" data-target="#detailDataModal" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewDetailData(data)">
                                            <td>{{data.UnitCode}}</td>
                                            <td>{{getDateFormate(data.StartDate)}}</td>
                                            <td>{{getDateFormate(data.EndDate)}}</td>
                                            <td>{{data.Abbr}}</td>
                                            <td>{{data.OrganizationUnit}}</td>
                                            <td>{{data.CostCenter}}</td>
                                            <td>{{data.CostCenterName}}</td>
                                            <td>{{data.LevelCode}}</td>
                                            <td>{{data.Level}}</td>
                                            </tr>-->
                                                <tr align="center" ng-show="!OrganizationUnitDataList||OrganizationUnitDataList.length==0">
                                                    <td colspan="9">{{Text['SYSTEM'].NO_DATA}}</td>
                                                </tr>
                                            </table>

                                            <div class="ess-pagination-wrap" id="paggingWidth" ng-show="OrganizationUnitDataList.length > 0">
                                                <nav class="ess-navbar">
                                                    <ul class="pagination">
                                                        <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                        <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(OrganizationUnitDataList)"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                                        <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<style>
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .announceCheckmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .announceCheckmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .announceCheckmark {
        background-color: #808080;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .announceCheckmark::after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .announceCheckmark::after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .announceCheckmark::after {
        left: 10px;
        top: 5px;
        width: 5px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>