﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<form name="validateForm" novalidate>
    <div class="ess-wrapper">
        <div class="ess-inner-wrapper" ng-controller="ResearchPatentEditorController">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['ACADEMICINFO'].SearchAcademic}}</div>
            </div>
            <div class="collapse show active">
                <div class="ess-collapse-data-panel">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ess-search-box text-right">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="ess-search-box text-right">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="ess-form-label">{{Text['ACADEMICINFO'].AcademicType}}</div>
                        </div>
                        <div class="col-lg-3">
                            <input id="PA_612_txtAcademicType" value="AcademicTypeSelected" ng-disabled="!IsNewData"
                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                   style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" aria-invalid="true" autocomplete="off">
                            <select id="PA_612_ddlAcademicType" class="form-control ess-form-control" ng-disabled="isHaveDOINo&&!isNewData" ng-model="AcademicTypeSelected" ng-change="updateAcademicTypeSelected()">
                                <option value="">-</option>
                                <option value="{{item.AcademicSubTypeKey}}" ng-repeat="item in AcademicSubTypeList">{{item.Description}}</option>
                            </select>
                        </div>
                    </div>
                    <div style="margin-top:10px"></div>
                    <div ng-show="AcademicTypeSelected!=''">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="ess-search-box text-right">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="ess-form-label">
                                    {{Text['ACADEMICINFO'].DOINo}}
                                    <span class="ess-required-filed">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <input id="PA_612_txtDOINoForSearch" class="form-control ess-form-control" type="text" value="{{DOINoForSearch}}" ng-model="DOINoForSearch" ng-trim="false" autocomplete="off" maxlength="50" ng-disabled="isHaveDOINo" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-2"></div>
                            <div ng-show="IsNewData">
                                <div id="PA_612_btnSubmitSearchAcademic" href="" class="ess-button submitbtn" ng-click="getAcademicDataByDOI(AcademicTypeSelected)"><i class="fa fa-search"></i>&nbsp;{{Text['SYSTEM'].SEARCH}}</div>&nbsp;
                                <div id="PA_612_btnClearSearchAcademic" href="" class="ess-button editbtn" ng-click="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;{{Text['SYSTEM'].CLEAR}}</div>
                            </div>
                            <!--doi.org/10.1145/3406601.3406603 (Publications)<br />  doi.org/10.1145/3406601.3406602 (Patent)-->
                        </div>
                    </div>

                </div>
            </div>

            <div style="margin-top:20px"></div>
            <div ng-hide="AcademicData==null">
                <div class="col-12 ess-tab-section-bar1">
                    <div class="ess-tab-section-bar-hdr">{{Text['ACADEMICINFO'].AcademicDetail}}</div>
                </div>
                <div class="ess-collapse-data-panel">
                    <div class="row">
                        <div class="col-12" style="margin-left:20px;margin-top:10px;">
                            <div class="row mx-0" ng-show="isHaveDOINo">
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].AcademicType}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class=""><span class="ess-personal-info-data">{{AcademicData.SubTypeNameTH}}</span></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'DOINo' }" ng-show="item.FieldName=='DOINo' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].DOINo}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.DOINo.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-personal-info-data">
                                            <div class=""><span class="ess-personal-info-data">{{AcademicData.DOI}}</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'Title' }" ng-show="item.FieldName=='Title' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].Title}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Title.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_612_txtTitle" class="form-control ess-form-control" ng-disabled="!item.IsEditable" type="text" value="{{ AcademicData.Title}}" ng-model="AcademicData.Title" ng-trim="false" autocomplete="off" name="Title" ng-required="{{item.IsRequired}}" maxlength="150" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'PatentSubType' }" ng-show="item.FieldName=='PatentSubType' && item.IsVisible && AcademicTypeSelected=='2'">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].PatentSubType}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.PatentSubType.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_612_txtPatentSubType" value="AcademicTypeSelected" ng-disabled="!item.IsEditable"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" name="PatentSubType"
                                               style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" aria-invalid="true" autocomplete="off">

                                        <select id="PA_612_ddlPatentSubType" class="form-control ess-form-control" ng-disabled="!item.IsEditable" ng-model="AcademicData.CategoryValue">
                                            <option value="">-</option>
                                            <option value="{{item.AcademicCategoryTypeKey}}" ng-repeat="item in AcademicCategoryTypeList">{{item.Description}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'YearOfPublic' }" ng-show="item.FieldName=='YearOfPublic' && item.IsVisible && AcademicTypeSelected=='1'">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].YearOfPublic}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.YearOfPublic.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.YearOfPublic.$error.pattern">{{Text['SYSTEM'].PATTERN_NUMBER}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_612_txtYearOfPublic" class="form-control ess-form-control" ng-disabled="!item.IsEditable" type="text" value="{{ AcademicData.YearOfPublic}}" ng-model="AcademicData.YearOfPublic" ng-trim="false" autocomplete="off" name="YearOfPublic" ng-required="{{item.IsRequired}}" maxlength="4" ng-pattern="/^[0-9]*$/" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'Journal' }" ng-show="item.FieldName=='Journal' && item.IsVisible && AcademicTypeSelected=='1'">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].Journal}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Journal.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_612_txtJournal" class="form-control ess-form-control" ng-disabled="!item.IsEditable" type="text" value="{{ AcademicData.Journal}}" ng-model="AcademicData.Journal" ng-trim="false" autocomplete="off" name="Journal" ng-required="{{item.IsRequired}}" maxlength="100" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'ImpactFactor' }" ng-show="item.FieldName=='ImpactFactor' && item.IsVisible && AcademicTypeSelected=='1'">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].ImpactFactor}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.ImpactFactor.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.ImpactFactor.$error.pattern">{{Text['SYSTEM'].PATTERN_NUMBER}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_612_txtImpactFactor" class="form-control ess-form-control" ng-disabled="!item.IsEditable" type="text" value="{{ AcademicData.ImpactFactor}}" ng-model="AcademicData.ImpactFactor" ng-trim="false" autocomplete="off" name="ImpactFactor" ng-required="{{item.IsRequired}}" maxlength="5" ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/"  />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'SubmittedDate' }" ng-show="item.FieldName=='SubmittedDate' && item.IsVisible && AcademicTypeSelected=='2'">
                                    <div class=""><span class="ess-personal-info-label">{{Text['ACADEMICINFO'].SubmittedDate}}</span></div>
                                    <div class="ess-personal-info-data">
                                        <div style="position: relative; height: 50px; overflow: hidden;">
                                            <input id="PA_612_txtSubmittedDate" ng-disabled="!item.IsEditable" class="form-control" maxlength="10" value="{{getDateFormate(AcademicData.SubmittedDate)}}" ng-model="AcademicData.SubmittedDate" ng-change="SetBetweenDate('START',AcademicData.SubmittedDate,AcademicData.GrantedDate)" type="text" my-date-picker>
                                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'GrantedDate' }" ng-show="item.FieldName=='GrantedDate' && item.IsVisible && AcademicTypeSelected=='2'">
                                    <div class=""><span class="ess-personal-info-label">{{Text['ACADEMICINFO'].GrantedDate}}</span></div>
                                    <div class="ess-personal-info-data">
                                        <div style="position: relative; height: 50px; overflow: hidden;">
                                            <input id="PA_612_txtGrantedDate" ng-disabled="!item.IsEditable" class="form-control" maxlength="10" value="{{getDateFormate(AcademicData.GrantedDate)}}" ng-change="SetBetweenDate('END',AcademicData.SubmittedDate,AcademicData.GrantedDate)" ng-model="AcademicData.GrantedDate" type="text" my-date-picker>
                                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s"></div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'Author' }" ng-show="item.FieldName=='Author' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].Author}}</span>
                                        <span class="ess-required-filed" ng-show="item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <table class="ess-table-default">
                                            <tr>
                                                <th>{{Text['SYSTEM'].EMPLOYEE_ID}}</th>
                                                <th>{{Text['REPORT_LEAVE'].EMPLOYEENAME}}</th>
                                                <th>{{Text['APPLICATION'].USER_ROLE}}</th>
                                            </tr>
                                            <tr ng-repeat="mem in AcademicMemberData">
                                                <td>{{mem.EmployeeID}}</td>
                                                <td>{{mem.FullNameTH}}</td>
                                                <td>
                                                    <input id="PA_612_txtAcademicRole_{{$index}}" value="mem.RoleValue"
                                                           class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" name="AcademicRole_{{$index}}"
                                                           style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" aria-invalid="true" autocomplete="off">
                                                    <select id="PA_612_ddlAcademicRole_{{$index}}" class="form-control ess-form-control" ng-disabled="mem.EmployeeID!=requesterData.EmployeeID" ng-model="mem.RoleValue" ng-change="updateAcademicRole(mem)">
                                                        <option value="">-</option>
                                                        <option value="{{item.AcademicRoleKey}}" ng-repeat="item in AcademicRoleList">{{item.Description}}</option>
                                                    </select>
                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'RefAuthor' }" ng-show="item.FieldName=='RefAuthor' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].RefAuthor}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.RefAuthor.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <textarea id="PA_612_txtRefAuthor" name="RefAuthor" rows="5" class="form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" ng-disabled="!item.IsEditable" ng-model="AcademicData.RefAuthor" aria-invalid="false" style="" ng-required="{{item.IsRequired}}"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'Attachment' }" ng-show="item.FieldName=='Attachment' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].Attachment}}</span>
                                    </div>

                                    <div class="ess-uploader-filelist ess-table-container ess-table-container-style2 mb-3 mt-3">
                                        <table class="ess-table-default">
                                            <thead>
                                                <tr>
                                                    <th class="th-table"><div class="th-text">{{Text['SYSTEM']['ATTACHMENT_TITLE']}}</div></th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <div class="attachment" ng-repeat="attachment in AcademicAttachments" ng-show="!attachment.IsDelete">
                                            <div class="attachment-icon"><i class="fa fa-files-o" aria-hidden="true"></i></div>
                                            <div class="attachment-detail">
                                                <div class="detail-filename">{{attachment.FileName}}</div>
                                                <div class="detail-filetype">{{attachment.FileType}}</div>
                                            </div>
                                            <div class="attachment-download" ng-hide="isEditor">
                                                <a href="" class="ess-btn-l-icon ess-btn-downloadfile" ng-click="getAcademicFileFromPath(attachment)" ng-if="!attachment.IsDelete && attachment.FileID > -1">
                                                    <i class="fa fa-download" style="cursor:pointer;" title="Download File"></i>

                                                </a>
                                            </div>
                                            <div class="attachment-delete" ng-show="isEditor">
                                                <a id="CORE_btnFileIDisMoreThanZero{{$index}}" ng-if="!attachment.IsDelete && attachment.FileID > -1" href="" ng-click="deleteFileAttach($index)" class="delete"><i class="fa fa-trash-o" style="cursor:pointer; color:orangered"></i></a>
                                                <a id="CORE_btnFileIDisLessThanZero{{$index}}" ng-if="!attachment.IsDelete && attachment.FileID == -1" href="" ng-click="deleteFileAttach($index)" class="delete"><i class="fa fa-trash-o" style="cursor:pointer; color:orangered"></i></a>
                                            </div>
                                        </div>

                                        <div ng-show="AcademicAttachments.length <= 0" class="ess-table-data-notfound">
                                            {{Text['SYSTEM']['NOATTACHMENT']}}
                                        </div>
                                    </div>
                                    <div class="ess-uploader-container" style="position:relative;" ng-show="isEditor">
                                        <input style="position:absolute; width: 100%;height: 100%;z-index: 3;opacity: 0;" type="file" id="CORE_document-attachment-file-input" ng-model="formInput.file" on-after-validate="onAfterValidateAcademicFunc" base-sixty-four-input>
                                        <i class="fa fa-plus-circle"></i> <input style="background-color:#f1f1f1; border:none ; text-align:center" type="text" readonly="" placeholder="{{Text['SYSTEM']['ATTACHMENT_UPLOAD']}}">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
