﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper" ng-controller="ResearchPatentViewerController">
        <div class="ess-tab-section-bar1">
            <div class="ess-personal-info-sub-hdr">{{Text['APPLICATION'].PA_INFO_EDUCATION}}</div>
        </div>
        <div class="ess-personal-info-edit-panel">
            <div class="row mx-0">
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;">
                    <div class="">
                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].AcademicType}}</span>
                    </div>
                    <div class="ess-personal-info-data">
                        <div class=""><span class="ess-personal-info-data">{{AcademicData.SubTypeNameTH}}</span></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'DOINo' }" ng-show="item.FieldName=='DOINo' && item.IsVisible">
                    <div class="">
                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].DOINo}}</span>
                    </div>
                    <div class="ess-personal-info-data">
                        <div class=""><span class="ess-personal-info-data">{{AcademicData.DOI}}</span></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'Title' }" ng-show="item.FieldName=='Title' && item.IsVisible">
                    <div class="">
                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].Title}}</span>
                    </div>
                    <div class="ess-personal-info-data">
                        <div ng-show="AcademicData_OLD.Title != AcademicData.Title"><span class="red_text"><strike>{{AcademicData_OLD.Title}}</strike></span></div>
                        <div ng-show="AcademicData_OLD.Title != AcademicData.Title"><span class="blue_text">{{AcademicData.Title}}</span></div>
                        <div ng-show="AcademicData_OLD.Title == AcademicData.Title">{{AcademicData.Title}}</div>
                        <div ng-show="!AcademicData.Title">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'PatentSubType' }" ng-show="item.FieldName=='PatentSubType' && item.IsVisible && AcademicTypeSelected=='2'">
                    <div class="">
                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].PatentSubType}}</span>
                        <span class="ess-required-filed" ng-show="validateForm.PatentSubType.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                    </div>
                    <div class="ess-personal-info-data">
                        <div ng-show="AcademicData_OLD.CategoryValue != AcademicData.CategoryValue"><span class="red_text"><strike>{{AcademicData_OLD.CategoryNameTH}}</strike></span></div>
                        <div ng-show="AcademicData_OLD.CategoryValue != AcademicData.CategoryValue"><span class="blue_text">{{AcademicData.CategoryNameTH}}</span></div>
                        <div ng-show="AcademicData_OLD.CategoryValue == AcademicData.CategoryValue">{{AcademicData.CategoryNameTH}}</div>
                        <div ng-show="!AcademicData.CategoryValue">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'YearOfPublic' }" ng-show="item.FieldName=='YearOfPublic' && item.IsVisible && AcademicTypeSelected=='1'">
                    <div class="">
                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].YearOfPublic}}</span>
                        <span class="ess-required-filed" ng-show="validateForm.YearOfPublic.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                    </div>
                    <div class="ess-personal-info-data">
                        <div ng-show="AcademicData_OLD.YearOfPublic != AcademicData.YearOfPublic"><span class="red_text"><strike>{{AcademicData_OLD.YearOfPublic}}</strike></span></div>
                        <div ng-show="AcademicData_OLD.YearOfPublic != AcademicData.YearOfPublic"><span class="blue_text">{{AcademicData.YearOfPublic}}</span></div>
                        <div ng-show="AcademicData_OLD.YearOfPublic == AcademicData.YearOfPublic">{{AcademicData.YearOfPublic}}</div>
                        <div ng-show="!AcademicData.YearOfPublic">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'Journal' }" ng-show="item.FieldName=='Journal' && item.IsVisible && AcademicTypeSelected=='1'">
                    <div class="">
                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].Journal}}</span>
                        <span class="ess-required-filed" ng-show="validateForm.Journal.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                    </div>
                    <div class="ess-personal-info-data">
                        <div ng-show="AcademicData_OLD.Journal != AcademicData.Journal"><span class="red_text"><strike>{{AcademicData_OLD.Journal}}</strike></span></div>
                        <div ng-show="AcademicData_OLD.Journal != AcademicData.Journal"><span class="blue_text">{{AcademicData.Journal}}</span></div>
                        <div ng-show="AcademicData_OLD.Journal == AcademicData.Journal">{{AcademicData.Journal}}</div>
                        <div ng-show="!AcademicData.Journal">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'ImpactFactor' }" ng-show="item.FieldName=='ImpactFactor' && item.IsVisible && AcademicTypeSelected=='1'">
                    <div class="">
                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].ImpactFactor}}</span>
                        <span class="ess-required-filed" ng-show="validateForm.ImpactFactor.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                    </div>
                    <div class="ess-personal-info-data">
                        <div ng-show="AcademicData_OLD.ImpactFactor != AcademicData.ImpactFactor"><span class="red_text"><strike>{{AcademicData_OLD.ImpactFactor}}</strike></span></div>
                        <div ng-show="AcademicData_OLD.ImpactFactor != AcademicData.ImpactFactor"><span class="blue_text">{{AcademicData.ImpactFactor}}</span></div>
                        <div ng-show="AcademicData_OLD.ImpactFactor == AcademicData.ImpactFactor">{{AcademicData.ImpactFactor}}</div>
                        <div ng-show="!AcademicData.ImpactFactor">-</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'SubmittedDate' }" ng-show="item.FieldName=='SubmittedDate' && item.IsVisible && AcademicTypeSelected=='2'">
                    <div class=""><span class="ess-personal-info-label">{{Text['ACADEMICINFO'].SubmittedDate}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="AcademicData_OLD.SubmittedDate != AcademicData.SubmittedDate"><span class="red_text"><strike>{{getDateFormate(AcademicData_OLD.SubmittedDate)}}</strike></span></div>
                        <div ng-show="AcademicData_OLD.SubmittedDate != AcademicData.SubmittedDate"><span class="blue_text">{{getDateFormate(AcademicData.SubmittedDate)}}</span></div>
                        <div ng-show="AcademicData_OLD.SubmittedDate == AcademicData.SubmittedDate">{{getDateFormate(AcademicData.SubmittedDate)}}</div>
                        <div ng-show="!AcademicData.SubmittedDate">-</div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'GrantedDate' }" ng-show="item.FieldName=='GrantedDate' && item.IsVisible && AcademicTypeSelected=='2'">
                    <div class=""><span class="ess-personal-info-label">{{Text['ACADEMICINFO'].GrantedDate}}</span></div>
                    <div class="ess-personal-info-data">
                        <div ng-show="AcademicData_OLD.GrantedDate != AcademicData.GrantedDate"><span class="red_text"><strike>{{getDateFormate(AcademicData_OLD.GrantedDate)}}</strike></span></div>
                        <div ng-show="AcademicData_OLD.GrantedDate != AcademicData.GrantedDate"><span class="blue_text">{{getDateFormate(AcademicData.GrantedDate)}}</span></div>
                        <div ng-show="AcademicData_OLD.GrantedDate == AcademicData.GrantedDate">{{getDateFormate(AcademicData.GrantedDate)}}</div>
                        <div ng-show="!AcademicData.GrantedDate">-</div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'RefAuthor' }" ng-show="item.FieldName=='RefAuthor' && item.IsVisible">
                    <div class="">
                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].RefAuthor}}</span>
                        <span class="ess-required-filed" ng-show="validateForm.RefAuthor.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                    </div>
                    <div class="ess-personal-info-data">
                        <div ng-show="AcademicData_OLD.RefAuthor != AcademicData.RefAuthor"><span class="red_text"><strike>{{AcademicData_OLD.RefAuthor}}</strike></span></div>
                        <div ng-show="AcademicData_OLD.RefAuthor != AcademicData.RefAuthor"><span class="blue_text">{{AcademicData.RefAuthor}}</span></div>
                        <div ng-show="AcademicData_OLD.RefAuthor == AcademicData.RefAuthor">{{AcademicData.RefAuthor}}</div>
                        <div ng-show="!AcademicData.RefAuthor">-</div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'Author' }" ng-show="item.FieldName=='Author' && item.IsVisible">
                    <div class="">
                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].Author}}</span>
                    </div>
                    <div class="col-lg-8 ess-personal-info-data">
                        <table class="ess-table-default">
                            <tr>
                                <th>{{Text['SYSTEM'].EMPLOYEE_ID}}</th>
                                <th>{{Text['REPORT_LEAVE'].EMPLOYEENAME}}</th>
                                <th>{{Text['APPLICATION'].USER_ROLE}}</th>
                            </tr>
                            <tr ng-repeat="mem in AcademicMemberData">
                                <td>{{mem.EmployeeID}}</td>
                                <td>{{mem.FullNameTH}}</td>
                                <td>{{mem.RoleNameTH}}</td>

                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in AcademicConfig|filter: { FieldName: 'Attachment' }" ng-show="item.FieldName=='Attachment' && item.IsVisible">
                    <div class="">
                        <span class="ess-personal-info-label">{{Text['ACADEMICINFO'].Attachment}}</span>
                    </div>
                    <div class="col-lg-8 ess-personal-info-data">
                        <table class="ess-table-default">
                            <tr>
                                <th>{{Text['SYSTEM'].ATTACHMENT_TITLE}}</th>
                                <th>{{Text['SYSTEM'].DOWNLOAD}}</th>
                            </tr>
                            <tr ng-repeat="attachment in AcademicAttachments">
                                <td>{{attachment.FileName}}</td>
                                <td class="text-center">
                                    <a href="" ng-click="downloadAcademicFile(attachment)">
                                        <i class="fa fa-download" style="cursor:pointer;" title="Download File"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>