﻿
<div id="main-content">
    <div class="page-body">
        <div class="breadcrumb-container ess-breadcrumb-container" ng-controller="RequestViewerController">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li class="breadcrumb-item ess-breadcrumb-item"><a id="RPT_1203_btnGoToHome" ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION']['TM_REPORT_LEAVE']}}</li>
                </ol>
            </nav>
        </div>
        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].TM_REPORT_LEAVE}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>

        <div class="ess-wrapper" ng-controller="ReportLeaveController">
            <div class="ess-inner-wrapper">
                <div class="row ess-document-tab-content-search">
                    <div class="col-md-2">
                        <label for="">{{Text[Textcategory].SELECT_DATE}}</label>
                    </div>
                    <div class="col-md-5 form-inline pa-search-form mb-2">
                        <div class="col-sm-5">
                            <div style="position: relative; height: 50px;">
                                <input placeholder="{{Text['TM_LEAVE'].START}}" id="RPT_1203_txtSelectDateToReport_start" class="form-control text-center" maxlength="10" ng-change="checkStartDate()" ng-model="StartDate" type="text" my-date-picker>
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                        <div class="col-sm-1 text-center"><i class="icon icon-right-green mx-0 p-0"></i></div>
                        <div class="col-sm-5">
                            <div style="position: relative; height: 50px;">
                                <input placeholder="{{Text['TM_LEAVE'].END}}" id="RPT_1203_txtSelectDateToReport_end" class="form-control text-center" maxlength="10" ng-model="EndDate" ng-change="checkEndDate()" type="text" my-date-picker>
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ess-document-tab-content-search mb-0">
                    <div class="col-md-2">
                        <label for="">{{Text[Textcategory].ORG_NAME}}</label>
                    </div>
                    <tree-view checkbox click="myClick(node)" model="nodes" my-directive-fn="controllerFunction"></tree-view>
                </div>
                <div class="row mt-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-0">
                        <a id="RPT_1203_btnSubmitSearch" href="" class="ess-button submitbtn" ng-click="GetReportLeave()"><i class="fa fa-search"></i>&nbsp;{{Text[Textcategory].BTN_REPORT}}</a>&nbsp;&nbsp;
                        <a id="RPT_1203_btnClearSearchCriteria" href="" class="ess-button editbtn" ng-click="ClearData()"><i class="fa fa-refresh"></i>&nbsp;{{Text[Textcategory].BTN_CLEAR}}</a>
                    </div>
                </div>
                <div class="col-12 justify-content-end text-right px-0 pb-1">
                    <span id="exportLeaveStatus" class="text-info pr-2"></span>
                    <button  id="RPT_1203_btnExportLeaveReportToExcel" ng-show="ReportLeave.length > 0" type="button" ng-click="getExportLeave()" class="btn btn-outline-info btn-sm"><i class="fa fa-print" aria-hidden="true"></i> Export To Excel</button>
                </div>
                <div class="mt-2">
                    <div class="ess-table-container">
                        <!--<div class="ess-report-table-border">  </div>-->
                        <!--freeze -->
                        <!--<div class="freeze table-responsive" style="height:500px;">-->
                        <div class="freeze scrollbar-default">
                            <table class="ess-table-default">
                                <thead>
                                    <tr>
                                        <th class="text-left" style="width: 50px;">{{Text[Textcategory].NO}}</th>
                                        <th class="text-left" style="width: 100px;">{{Text[Textcategory].EMPLOYEEID}}</th>
                                        <th class="text-left px-5" style="width: 250px;">{{Text[Textcategory].EMPLOYEENAME}}</th>
                                        <th class="text-center" title="{{Text['LEAVEQUOTATYPE'][header.id]}}" ng-repeat="header in headerColumn">
                                            <div class="th-text">
                                                <span class="verticalText">
                                                    {{subStringText(Text['LEAVEQUOTATYPE'][header.id])}}<br/>
                                                    {{searchText(Text['LEAVEQUOTATYPE'][header.id])}}
                                                </span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="sumLeave.length > 0">
                                        <td class="text-center font-weight-bold" colspan="3">{{Text[Textcategory].LEAVE_TOTAL}}</td>
                                        <td class="text-center font-weight-bold" ng-repeat="total in sumLeave track by $index">{{total | number:'2'}}</td>
                                    </tr>
                                    <tr ng-repeat="content in ReportLeave">
                                        <td class="text-center">{{$index+1}}</td>
                                        <td class="text-center">{{content.EmployeeID}}</td>
                                        <td class="text-left">{{content.Name}}</td>
                                        <td class="text-center" ng-repeat="column in oLeaveGroupSetting">
                                            {{content[column.LeaveTypeGroup] | number:'2'}}
                                        </td>
                                    </tr>
                                    <tr ng-show="sumLeave.length > 0">
                                        <td class="text-center font-weight-bold" colspan="3">{{Text[Textcategory].LEAVE_TOTAL}}</td>
                                        <td class="text-center font-weight-bold" ng-repeat="total in sumLeave track by $index">{{total | number:'2'}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>




