﻿
<div id="main-content">
    <div class="page-body">
        <!-- Start breadcrumb -->
        <div class="breadcrumb-container ess-breadcrumb-container" ng-controller="RequestViewerController">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li class="breadcrumb-item ess-breadcrumb-item"><a id="RPT_1202_btnGoToHome" ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION']['TM_REPORT_FINGER_SCAN']}}</li>
                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
        <!-- Start Header -->
        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].TM_REPORT_FINGER_SCAN}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>
        <!-- End Header -->
        <div class="ess-wrapper">
            <div class="ess-wrapper" ng-controller="ReportFingerScanController">
                <div class="ess-inner-wrapper">
                    <div class="ess-search-box">
                        <div class="ess-form-label">{{Text['HRPAPERSONALDATA'].PERSONAL_VIEW}}</div>
                        <div class="ess-form input-group ess-form-search">
                            <input type="text" class="form-control form-control-search" id="RPT_1202_txtFormSearch" placeholder="กรอกรหัสหรือชื่อที่ต้องการ">
                            <button class="btn btn-search" type="button" id="button-addon2"><i class="icon icon_search_blue"></i></button>
                        </div>
                    </div>

                    <div style="margin-top:20px;">
                        <div ng-repeat="item in ReportFinger">
                            <div class="ess-collapse-wrap">
                                <div class="ess-showhide-detail-button">
                                    <a id="RPT_1202_btnEmployee{{item.EmployeeID}}_Tab" class="ess-btn-showhide-detail" data-toggle="collapse" href="" data-target="#RPT_1202_tabEmployee{{item.EmployeeID}}" role="button" aria-expanded="true" aria-controls="RPT_1202_tabEmployee{{item.EmployeeID}}">
                                        <div class="col-12 ess-tab-section-bar1">
                                            <div class="ess-tab-section-bar-hdr">{{item.EmployeeID}} : {{item.EmployeeName}}</div>
                                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="collapse show" id="RPT_1202_tabEmployee{{item.EmployeeID}}">
                                    <div class="ess-collapse-data-panel">
                                        <div class="ess-table-container">
                                            <div class="ess-report-table-border">
                                                <div class="freeze scrollbar-default">
                                                    <table class="ess-table-default">
                                                        <thead>
                                                            <tr>
                                                                <th><div class="th-text">{{Text[Textcategory].DATE}}</div></th>
                                                                <th><div class="th-text">{{Text[Textcategory].ON_DUTY}}</div></th>
                                                                <th><div class="th-text">{{Text[Textcategory].OFF_DUTY}}</div></th>
                                                                <th><div class="th-text">{{Text[Textcategory].CLOCK_IN}}</div></th>
                                                                <th><div class="th-text">{{Text[Textcategory].CLOCK_OUT}}</div></th>
                                                                <th><div class="th-text">{{Text[Textcategory].NORMAL}}</div></th>
                                                                <th><div class="th-text">{{Text[Textcategory].REALTIME}}</div></th>
                                                                <th><div class="th-text">{{Text[Textcategory].LATE}}</div></th>
                                                                <th><div class="th-text">{{Text[Textcategory].EARLY}}</div></th>
                                                                <th><div class="th-text">{{Text[Textcategory].ABSEND}}</div></th>
                                                                <th><div class="th-text">{{Text[Textcategory].OT_TIME}}</div></th>
                                                                <th><div class="th-text">{{Text[Textcategory].WORK_TIME}}</div></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="content in item.content">
                                                                <td>{{content.date | date:'dd/MM/yyyy'}}</td>
                                                                <td class="text-center">{{content.On_Duty}}</td>
                                                                <td class="text-center">{{content.Off_Duty}}</td>
                                                                <td class="text-center">{{content.Clock_In}}</td>
                                                                <td class="text-center">{{content.Clock_Out}}</td>
                                                                <td class="text-center">{{content.Normal}}</td>
                                                                <td class="text-center">{{content.RealTime}}</td>
                                                                <td class="text-center">{{content.Late}}</td>
                                                                <td class="text-center">{{content.Early}}</td>
                                                                <td class="text-center">{{content.Absend}}</td>
                                                                <td class="text-center">{{content.OT_Time}}</td>
                                                                <td class="text-center">{{content.Work_Time}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




