﻿
<div id="main-content">
    <div class="page-body">
        <!-- Start breadcrumb -->
        <div class="breadcrumb-container ess-breadcrumb-container" ng-controller="RequestViewerController">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li class="breadcrumb-item ess-breadcrumb-item"><a id="RPT_1201_btnGoToHome" ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION']['TIME_REPORT']}}</li>
                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
        <!-- Start Header -->
        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].TM_REPORT_CHECKINCHECKOUT}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>
        <!-- End Header -->

        <div class="ess-wrapper" ng-controller="ReportCheckInCheckOutController" ng-init="init();">
            <div class="ess-inner-wrapper">
                <div class="ess-showhide-detail-button">
                    <a id="RPT_1201_btnEssCheckinOutReport_Tab" class="ess-btn-showhide-detail" data-toggle="collapse" href="" data-target="#RPT_1201_tabEssCheckinOutReport" role="button" aria-expanded="true" aria-controls="RPT_1201_tabEssCheckinOutReport">
                        <div class="col-12 ess-tab-section-bar1">
                            <div class="ess-tab-section-bar-hdr">{{Text[Textcategory].REPORT}}</div>
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="collapse show" id="RPT_1201_tabEssCheckinOutReport">
                    <div class="ess-collapse-data-panel">
                        <div class="row px-0">
                            <div class="col-md-5 form-inline pa-search-form px-0">
                                <div class="form-group ess-form-group col-sm-6 col-lg-auto px-0">
                                    <label for="RPT_1201_txtSelectDateToReport">{{Text[Textcategory].SELECT_DATE}} : &nbsp;</label>
                                    <div style="position: relative; height: 50px; overflow: hidden;">
                                        <input id="RPT_1201_txtSelectDateToReport" class="form-control text-center" maxlength="10" ng-model="DateSelect" ng-change="GetCheckInCheckOut()" type="text" my-date-picker>
                                        <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--2-->

                        <div class="row border-radius-light-10 p-2 my-3">
                            <!-- box 1 -->
                            <div class="col-sm-12 col-md-4 col-xl-4 col-lg-4 border-left-gray border-right-gray">
                                <div class="row mt-4">
                                    <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
                                        <div class="text-center mt-1 h5 font-weight-bold">{{Text[Textcategory].EMPLOYEE_WORK}}</div>
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-1 my-1 h2 font-weight-bold"><span class="text-purple h1 font-weight-bold">{{SumEmployeeInWork}}</span><span class="text-purple-light mx-1">/</span><span class="text-purple-light">{{SumNumberOfEmployee}}</span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
                                        <div class="text-center mt-1 h5 font-weight-bold">{{Text[Textcategory].TEMPORARY_WORK}}</div>
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-1 my-1 h2 font-weight-bold"><span class="text-purple h1 font-weight-bold">{{SumTemporaryInWork}}</span><span class="text-purple-light mx-1">/</span><span class="text-purple-light">{{SumNumberOfTemporary}}</span></div>
                                        </div>
                                        <div class="d-md-none d-lg-none d-xl-none border-bottom-gray pt-0 mt-1 mb-2"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- box 2 -->
                            <div class="col-sm-12 col-md-3 col-xl-3 col-lg-3 border-left-gray border-right-gray">
                                <div class="row">
                                    <!--<div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                        <div class="text-center mt-1 h6 font-weight-bold">{{Text[Textcategory].ATTENDANCETYPE}}</div>
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-0 my-0 h4 font-weight-bold">
                                                <span ng-if="SumAttendance !== 0" class="text-purple">{{SumAttendance}}</span>
                                                <span ng-if="SumAttendance === 0" class="text-purple-light">{{SumAttendance}}</span>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="text-center mt-1 h6 font-weight-bold">{{Text[Textcategory].ATTENDANCETYPE}}</div> <!--ATTENDANCE-->
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-0 my-0 h4 font-weight-bold">
                                                <span ng-if="SumAttendance !== 0" class="text-purple">{{SumAttendance}}</span>
                                                <span ng-if="SumAttendance === 0" class="text-purple-light">{{SumAttendance}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="text-center mt-1 h6 font-weight-bold">{{Text[Textcategory].WORK_AT_HOME}}</div> <!--WORK AT HOME-->
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-0 my-0 h4 font-weight-bold">
                                                <span ng-if="SumWorkAtHome !== 0" class="text-purple">{{SumWorkAtHome}}</span>
                                                <span ng-if="SumWorkAtHome === 0" class="text-purple-light">{{SumWorkAtHome}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-12 col-lg-12 d-none d-md-block d-lg-block d-xl-block border-bottom-gray pt-0 mt-1 mb-2"></div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="text-center mt-1 h6 font-weight-bold">{{Text[Textcategory].OFF}}</div> <!--HOLIDAY-->
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-0 my-0 h4 font-weight-bold">
                                                <span ng-if="SumOFF !== 0" class="text-purple">{{SumOFF}}</span>
                                                <span ng-if="SumOFF === 0" class="text-purple-light">{{SumOFF}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="text-center mt-1 h6 font-weight-bold">{{Text[Textcategory].SUBSTITUTE}}</div>
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-0 my-0 h4 font-weight-bold">
                                                <span ng-if="SumSubstitute !== 0" class="text-purple">{{SumSubstitute}}</span>
                                                <span ng-if="SumSubstitute === 0" class="text-purple-light">{{SumSubstitute}}</span>
                                            </div>
                                        </div>
                                        <div class="d-md-none d-lg-none d-xl-none border-bottom-gray mt-1 mb-2"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- box 3 -->
                            <div class="col-sm-12 col-md-3 col-xl-3 col-lg-3 border-left-gray border-right-gray">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="text-center mt-1 h6 font-weight-bold">{{Text[Textcategory].LEAVETYPE_02}}</div> <!--SILK_LEAVE-->
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-0 my-0 h4 font-weight-bold">
                                                <span ng-if="SumSickLeave !== 0" class="text-purple">{{SumSickLeave}}</span>
                                                <span ng-if="SumSickLeave === 0" class="text-purple-light">{{SumSickLeave}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="text-center mt-1 h6 font-weight-bold">{{Text[Textcategory].LEAVETYPE_03}}</div> <!--LEAVE-->
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-0 my-0 h4 font-weight-bold">
                                                <span ng-if="SumLeave !== 0" class="text-purple">{{SumLeave}}</span>
                                                <span ng-if="SumLeave === 0" class="text-purple-light">{{SumLeave}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-12 col-lg-12 d-none d-md-block d-lg-block d-xl-block border-bottom-gray pt-0 mt-1 mb-2"></div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="text-center mt-1 h6 font-weight-bold">{{Text[Textcategory].LEAVETYPE_01}}</div> <!--VACATION-->
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-0 my-0 h4 font-weight-bold">
                                                <span ng-if="SumVacation !== 0" class="text-purple">{{SumVacation}}</span>
                                                <span ng-if="SumVacation === 0" class="text-purple-light">{{SumVacation}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="text-center mt-1 h6 font-weight-bold">{{Text[Textcategory].LEAVETYPE_99}}</div> <!--OTHER LEAVE-->
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-0 my-0 h4 font-weight-bold">
                                                <span ng-if="SumMaternityLeave !== 0" class="text-purple">{{SumMaternityLeave}}</span>
                                                <span ng-if="SumMaternityLeave === 0" class="text-purple-light">{{SumMaternityLeave}}</span>
                                            </div>
                                        </div>
                                        <div class="d-md-none d-lg-none d-xl-none border-bottom-gray mt-1 mb-2"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- box 4 -->
                            <div class="col-sm-12 col-md-2 col-xl-2 col-lg-2 border-left-gray border-right-gray">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="text-center mt-1 h6 font-weight-bold">{{Text[Textcategory].CLOCKINLATE}}</div>
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-0 my-0 h4 font-weight-bold">
                                                <span ng-if="SumLate !== 0" class="text-red">{{SumLate}}</span>
                                                <span ng-if="SumLate === 0" class="text-red-light">{{SumLate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                                        <div class="text-center mt-1 h6 font-weight-bold">{{Text[Textcategory].CLOCKOUTEARLY}}</div>
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-0 my-0 h4 font-weight-bold">
                                                <span ng-if="SumEarly !== 0" class="text-red">{{SumEarly}}</span>
                                                <span ng-if="SumEarly === 0" class="text-red-light">{{SumEarly}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-12 col-lg-12 d-none d-md-block d-lg-block d-xl-block border-bottom-gray pt-0 mt-1 mb-2"></div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                        <div class="text-center mt-1 h6 font-weight-bold">{{Text[Textcategory].CLOCKNONWORK}}</div>
                                        <div class="ess-report-summary-value-box">
                                            <div class="text-center py-0 my-0 h4 font-weight-bold">
                                                <span ng-if="SumNonwork !== 0" class="text-red">{{SumNonwork}}</span>
                                                <span ng-if="SumNonwork === 0" class="text-red-light">{{SumNonwork}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ess-collapse-wrap my-2">
                            <div class="ess-showhide-detail-button">
                                <a id="RPT_1201_btnOpenEmployee_Tab" class="ess-btn-showhide-detail row mx-0" data-toggle="collapse" data-target="#RPT_1201_tabEmployee" href="" role="button" aria-expanded="true" aria-controls="RPT_1201_tabEmployee-label">
                                    <div class="col-12 col-md-12 ess-tab-section-bar1">
                                        <div class="ess-tab-section-bar-hdr font-weight-bold">{{Text[Textcategory].EMPLOYEE_WORK}} </div>
                                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="collapse show" id="RPT_1201_tabEmployee">
                                <div class="row ess-personal-info-general ess-personal-info-general-frame">
                                    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 ess-personal-info-general-data-main">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 mt-1">
                                                <div class="ess-table-container">
                                                    <div class="freeze scrollbar-default">
                                                        <table class="ess-table-default">
                                                            <thead>
                                                                <tr>
                                                                    <th class="th-table"><div class="th-text text-center">{{Text[Textcategory].NO}}</div></th>
                                                                    <th class="th-table"><div class="th-text text-center">{{Text[Textcategory].EMPLOYEE_ID}}</div></th>
                                                                    <th class="th-table"><div class="th-text">{{Text[Textcategory].NAME}}</div></th>
                                                                    <th class="th-table"><div class="th-text">{{Text[Textcategory].WORKTIME}}</div></th>
                                                                    <th class="th-table"><div class="th-text">{{Text[Textcategory].CHECK_IN}}</div></th>
                                                                    <th class="th-table"><div class="th-text">{{Text[Textcategory].CHECK_OUT}}</div></th>
                                                                    <th class="th-table"><div class="th-text">{{Text[Textcategory].REMARK}}</div></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in DataCheckInCheckOut | filter:{ EmployeeType: 'EMPLOYEE' }">
                                                                    {{item}}
                                                                    <td class="h6 text-center">{{$index + 1}}</td>
                                                                    <td class="h6 text-center">{{item.EmployeeID}}</td>
                                                                    <td class="h6">{{item.Name}}</td>
                                                                    <td class="h6 text-center">{{item.Type}}</td>
                                                                    <td class="h6 text-center">{{getTimeFormate(item.ClockIn)}}</td>
                                                                    <td class="h6 text-center">{{getTimeFormate(item.ClockOut)}}</td>
                                                                    <td class="h6">{{item.Remark}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div><!--end table-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ess-collapse-wrap my-2">
                            <div class="ess-showhide-detail-button">
                                <a id="RPT_1201_btnTEMPORARY_WORK_Tab" class="ess-btn-showhide-detail row mx-0" data-toggle="collapse" data-target="#RPT_1201_tabTEMPORARY_WORK" href="" role="button" aria-expanded="true" aria-controls="RPT_1201_tabTEMPORARY_WORK">
                                    <div class="col-12 col-md-12 ess-tab-section-bar1">
                                        <div class="ess-tab-section-bar-hdr font-weight-bold">{{Text[Textcategory].TEMPORARY_WORK}} </div>
                                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="collapse show" id="RPT_1201_tabTEMPORARY_WORK">
                                <div class="row ess-personal-info-general ess-personal-info-general-frame">
                                    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 ess-personal-info-general-data-main">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 mt-1">
                                                <div class="ess-table-container">
                                                        <div class="freeze scrollbar-default">
                                                            <table class="ess-table-default">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="th-table"><div class="th-text text-center">{{Text[Textcategory].NO}}</div></th>
                                                                        <th class="th-table"><div class="th-text text-center">{{Text[Textcategory].EMPLOYEE_ID}}</div></th>
                                                                        <th class="th-table"><div class="th-text">{{Text[Textcategory].NAME}}</div></th>
                                                                        <th class="th-table"><div class="th-text">{{Text[Textcategory].WORKTIME}}</div></th>
                                                                        <th class="th-table"><div class="th-text">{{Text[Textcategory].CHECK_IN}}</div></th>
                                                                        <th class="th-table"><div class="th-text">{{Text[Textcategory].CHECK_OUT}}</div></th>
                                                                        <th class="th-table"><div class="th-text">{{Text[Textcategory].REMARK}}</div></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="item in DataCheckInCheckOut | filter: { EmployeeType: 'TEMPORARY' }">
                                                                        {{item}}
                                                                        <td class="h6 text-center">{{$index + 1}}</td>
                                                                        <td class="h6 text-center">{{item.EmployeeID}}</td>
                                                                        <td class="h6">{{item.Name}}</td>
                                                                        <td class="h6 text-center">{{item.Type}}</td>
                                                                        <td class="h6 text-center">{{getTimeFormate(item.ClockIn)}}</td>
                                                                        <td class="h6 text-center">{{getTimeFormate(item.ClockOut)}}</td>
                                                                        <td class="h6">{{item.Remark}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    
                                                </div><!--end table-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="ess-table-container">
                            <div class="ess-report-table-border">
                                <div class="freeze scrollbar-default">
                                    <table class="ess-table-default">
                                        <thead>
                                            <tr class="ess-table-header">
                                                <th class="th-table"><div class="th-text p-0">{{Text[Textcategory].NO}}</div></th>
                                                <th class="th-table"><div class="th-text">{{Text[Textcategory].EMPLOYEE_ID}}</div></th>
                                                <th class="th-table"><div class="th-text">{{Text[Textcategory].NAME}}</div></th>
                                                <th class="th-table"><div class="th-text">{{Text[Textcategory].WORKTIME}}</div></th>
                                                <th class="th-table"><div class="th-text">{{Text[Textcategory].CHECK_IN}}</div></th>
                                                <th class="th-table"><div class="th-text">{{Text[Textcategory].CHECK_OUT}}</div></th>
                                                <th class="th-table"><div class="th-text">{{Text[Textcategory].REMARK}}</div></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in DataCheckInCheckOut | filter: { EmployeeType: 'TEMPORARY' }">
                                                {{item}}
                                                <td class="h6 text-center">{{$index + 1}}</td>
                                                <td class="h6 text-center">{{item.EmployeeID}}</td>
                                                <td class="h6">{{item.Name}}</td>
                                                <td class="h6 text-center">{{item.Type}}</td>
                                                <td class="h6 text-center">{{getTimeFormate(item.ClockIn)}}</td>
                                                <td class="h6 text-center">{{getTimeFormate(item.ClockOut)}}</td>
                                                <td class="h6">{{item.Remark}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>-->
                        <!-- End content in  collapse-data-panel -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




