﻿<div id="main-content">
    <div class="page-body">
        <div class="breadcrumb-container ess-breadcrumb-container" ng-controller="RequestViewerController">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION']['ROLE_SETTING']}}</li>
                </ol>
            </nav>
        </div>
        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].ROLE_SETTING}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>
        <div class="ess-wrapper" ng-controller="RoleSettingController">
            <div class="ess-inner-wrapper">

                <div class="container mb-4">
                    <div class="col-12">
                        <fieldset class="border">
                            <legend class="text-left" style="text-align-last: center;width:250px;">{{Text[Textcategory].SELECT_EMPLOYEE}}</legend>
                            <div class="row col-12">
                                <div class="col-md-9 col-12">
                                    <div style="position:relative;">
                                        <md-autocomplete class="blocked-cross-btn" theme="bootstrap" style="font-size:16px;"
                                                         ng-click="tryToSelect_orgunit(ap_pdr_text.orgunit,-1)"
                                                         ng-blur="checkText_orgunit(ap_pdr_text.orgunit,-1)"
                                                         ng-disabled="isEnableControl"
                                                         md-no-cache="true"
                                                         md-search-text="ap_pdr_text.orgunit"
                                                         md-selected-item-change="selectedItemOrgUnitChange(item,-1)"
                                                         md-items="item in querySearchOrgUnit(ap_pdr_text.orgunit,-1)"
                                                         md-item-text="item.EmployeeID + ' : ' + item.Name + '(' + item.OrgUnit + ':' + item.Text + ')'"
                                                         md-min-length="0"
                                                         placeholder="{{ Text[Textcategory].SEARCH_PLACEHOLDER }}">
                                            <md-item-template>
                                                <span md-highlight-text="ap_pdr_text.orgunit" md-highlight-flags="^i">{{item.EmployeeID}} : {{item.Name}} ({{item.OrgUnit}}:{{item.Text}})</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No states matching "{{ap_pdr_text.orgunit}}" was found.
                                            </md-not-found>
                                        </md-autocomplete>
                                        <i class="caret pull-right" style=" position: absolute; right: 12px; top: 20px;color:black;"></i>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12" style="text-align-last: center;"><a href="" class="ess-button btn btn-success" ng-click="AddNewRole()"><i class="fa fa-plus-circle"></i> {{Text[Textcategory].ADD_EMPLOYEE_ROLE}}</a></div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div style="margin:5px;"></div>
                <div class="row justify-content-center mb-4" align="center">
                    <div class="ess-table-container">
                        <div class="col-9 justify-content-start">
                            <h3>{{Text[Textcategory].TABLE_HEADER}}</h3>
                        </div>
                        <div class="freeze scrollbar-default">
                            <table class="ess-table-default">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="min-width:100px"><div class="th-text">{{Text[Textcategory].EMPLOYEEID}}</div></th>
                                        <th class="text-center" style="min-width:200px"><div class="th-text">{{Text[Textcategory].EMPLOYEENAME}}</div></th>
                                        <th class="text-center" style="min-width:50px" ng-repeat="column in mRoleSetting"><div class="th-text">{{Text[Textcategory][column.RoleName]}}</div></th><!--'USERROLENAME' -->
                                        <th class="text-center" style="min-width:50px"><div class="th-text">{{Text['SYSTEM'].DELETE}}</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in DataAdmin" ng-show="!item.FlagDelete">
                                        <td class="ess-report-data"><div ng-show="item.EmployeeID">{{item.EmployeeID}}</div></td>
                                        <td class="ess-report-data">{{item.EmployeeName}}</td>
                                        <td class="ess-report-data text-center" ng-repeat="col in mRoleSetting">
                                            <div>
                                                <input type="checkbox" ng-checked="item[col.RoleName]" ng-click="ItemChange(item,col.RoleName)" />
                                            </div>
                                        </td>
                                        <td class="ess-report-data text-center"><a href="" ng-show="iShowDelete" ng-click="DeleteRole(item)"><i class="fa fa-trash-o" style="cursor:pointer; color:orangered"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 justify-content-end" style="margin-top:5px;">
                        <a href="" class="ess-button submitbtn" style="border-color: blue;" ng-click="SaveRoleSetting()"><i class="fa fa-floppy-o"></i>&nbsp;{{Text[Textcategory].BUTTON_SAVE_ROLE}}</a>
                    </div>
                </div>

                <div class="container">
                    <div class="col-12">
                        <fieldset class="border">
                            <legend class="text-left" style="text-align-last: center;">{{Text['SYSTEM'].REMARK}}</legend>
                            <table class="ess-table-note">
                                <tr ng-repeat="column in mRoleSetting" ng-show="Text['ROLE_SETTING_REMARK'][column.RoleName]">
                                    <td width="150px">{{Text['USERROLENAME'][column.RoleName]}}</td>
                                    <td>
                                        {{Text['ROLE_SETTING_REMARK'][column.RoleName]}}
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<style>
    fieldset {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    legend {
        width: 150px;
        padding: 10px 20px;
    }
</style>
