﻿<div class="main-content">
    <div class="page-body">
        <div class="breadcrumb-container ess-breadcrumb-container" ng-controller="RequestViewerController">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li id="CORE_407_btnOpenViewContent"class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION']['USER_ROLE_SETTNG']}}</li>
                </ol>
            </nav>
        </div>

        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].USER_ROLE_SETTNG}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>
        <div class="ess-wrapper" ng-controller="UserRoleSettingController" ng-init="init()">
            <div class="row">
                <div class="col-2">
                    <label for="">{{Text['SYSTEM'].SEARCH}}</label>
                </div>
                <div class="col-6">
                    <div style="position:relative;">
                        <md-autocomplete id="CORE_407_btnSelectOrgUnit"class="blocked-cross-btn" theme="bootstrap" style="font-size:16px;"
                                         ng-click="tryToSelect_orgunit(ap_pdr_text.orgunit,-1)"
                                         ng-blur="checkText_orgunit(ap_pdr_text.orgunit,-1)"
                                         ng-disabled="isEnableControl"
                                         md-no-cache="true"
                                         md-search-text="ap_pdr_text.orgunit"
                                         md-selected-item-change="selectedItemOrgUnitChange(item,-1)"
                                         md-items="item in querySearchOrgUnit(ap_pdr_text.orgunit,-1)"
                                         md-item-text="item.EmployeeID + ' : ' + item.Name + '(' + item.OrgUnit + ':' + item.Text + ')'"
                                         md-min-length="0"
                                         placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                            <md-item-template>
                                <span md-highlight-text="ap_pdr_text.orgunit" md-highlight-flags="^i">{{item.EmployeeID}} : {{item.Name}} ({{item.OrgUnit}}:{{item.Text}})</span>
                            </md-item-template>
                            <md-not-found>
                                No states matching "{{ap_pdr_text.orgunit}}" was found.
                            </md-not-found>
                        </md-autocomplete>
                        <i class="caret pull-right" style=" position: absolute; right: 12px; top: 20px;color:black;"></i>
                    </div>
                </div>
                <div class="col-2">
                    <a id="CORE_407_btnCreateNew"href="" class="btn" style="border-color: green;" ng-click="CreateNew()"><i class="fa fa-plus-circle"></i>&nbsp;{{Text[Textcategory].BTN_ADD_EDIT}}</a>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="ess-table-container">
                    <!--<div class="ess-report-table-border">  </div>-->
                        <div class="freeze scrollbar-default">
                            <table class="ess-table-default">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="min-width:100px"><div class="th-text">{{Text[Textcategory].EMPLOYEEID}}</div></th>
                                        <th class="text-center" style="min-width:200px"><div class="th-text">{{Text[Textcategory].EMPLOYEENAME}}</div></th>
                                        <th class="text-center" style="min-width:200px"><div class="th-text">{{Text[Textcategory].COMPANYCODE}}</div></th>
                                        <th class="text-center" style="min-width:200px"><div class="th-text">{{Text[Textcategory].USER_ROLE}}</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in documents">
                                        <td class="ess-report-data text-center">{{item.EmployeeID}}</td>
                                        <td class="ess-report-data">{{item.Name}}</td>
                                        <td class="ess-report-data text-center">{{item.CompanyCode}}</td>
                                        <td class="ess-report-data">{{item.Description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>